<!-- @format -->

<ng-container *ngIf="!!post">
	<div
		class="flex h-full w-window max-w-full flex-col items-start justify-start space-y-4 px-4"
	>
		<header
			class="flex w-full flex-col items-start justify-start border-b border-base-content/20"
		>
			<div class="mt-4 flex" *ngIf="authUser?.id === post.user.id && post.id">
				<a
					class="btn-primary btn"
					aria-label="Settings"
					[routerLink]="['/edit', post.id]"
				>
					Edit
				</a>
			</div>
			<div class="flex w-full gap-4 py-4">
				<img
					class="rounded-box aspect-square h-20 w-20 cursor-pointer object-cover sm:h-44 sm:w-44"
					loading="lazy"
					width="256"
					height="256"
					*ngIf="!!post.image"
					[ngSrc]="post.image"
					[alt]="post.name"
				/>
				<div
					class="flex w-full flex-col space-y-4 overflow-hidden"
					[ngClass]="!!post.image ? 'col-span-9' : 'col-span-12'"
				>
					<div class="flex flex-col">
						<h2 class="truncate text-2xl font-bold text-base-content">
							{{ post.name }}
						</h2>
						<span class="text-sm text-base-content/40">
							{{ post.category.name }}
						</span>
					</div>
					<p class="alert inline">
						{{ post.description }}
					</p>
				</div>
			</div>
		</header>
		<!-- prettier-ignore -->
		<article
			class="prose h-full w-full max-w-full overflow-hidden"
			[innerHTML]="post?.markdown || 'No post markdown' | markdown | sanitizer : 'html'"
		></article>
		<footer
			class="flex w-full flex-col items-start justify-start space-y-4 border-t border-base-content/20 empty:invisible"
		>
			<div
				class="flex items-center justify-start space-x-4 py-4"
				*ngIf="authUser?.id !== post.user.id"
			>
				<a
					class="btn-link btn-circle btn"
					appAvatar
					[routerLink]="[post.user | userUrl]"
					[attr.aria-label]="post.user.name"
					[title]="post.user.name"
					[appUser]="post.user"
				>
				</a>
				<div class="flex flex-col items-start justify-start">
					<a
						class="link"
						[routerLink]="[post.user | userUrl]"
						[attr.aria-label]="post.user.name"
						[title]="post.user.name"
					>
						{{ post.user.name }}
					</a>
					<time
						class="text-sm text-base-content/50"
						[attr.datetime]="post.createdAt | dayjs : 'format' : 'YYYY-M-D'"
					>
						published {{ post.createdAt | dayjs : "fromX" }}
					</time>
				</div>
			</div>
		</footer>
	</div>
</ng-container>
