.form-control {
  @apply block
  w-full
  text-secondary-1
  border-primary-4
  disabled:cursor-not-allowed
  disabled:opacity-50
  placeholder-secondary-2
  focus:ring
  focus:ring-blue-400
  focus:ring-opacity-30
  focus:border-info-1
  rounded-md;

  &.ng-touched.ng-invalid {
    @apply
    border-red-400
    focus:ring-red-400
    focus:ring-opacity-30
    focus:border-red-400;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-transition-delay: 1000000000s;
    transition-delay: 1000000000s;
  }
}

.form-control-toggle {
  input[type="checkbox"]:checked ~ .dot {
    @apply translate-x-full;
  }
}
