@use "sass:math";

.markdown-html {
  img {
    @apply block w-full rounded-md;
  }

  p {
    @apply text-secondary-1 overflow-hidden overflow-ellipsis mb-4;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-secondary-1 font-bold mb-4;
  }

  a {
    @apply text-info-1 hover:brightness-125 underline;

    &[href*='//']
    {
      &::after {
        @apply mx-1;

        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(129, 140, 248)' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
      }
    }
  }

  blockquote {
    @apply bg-primary-1 rounded-md p-4 mb-4;

    p {
      @apply text-secondary-1 m-0;
    }
  }

  pre {
    @apply flex rounded-md overflow-auto bg-primary-1 border border-primary-4 rounded-md px-4 mb-4;
  }

  hr {
    @apply my-4;
  }

  .youtube-iframe {
    @apply relative overflow-hidden w-full;

    padding: percentage(math.div(9, 16)) 0 0 0;

    iframe {
      @apply absolute inset-0 w-full h-full rounded-md;
    }
  }

  .github-iframe {
    @apply relative;

    iframe {
      width: calc(100% - 1px);
    }
  }
}
