<!-- @format -->

<ng-container>
	<header
		class="navbar rounded-box border border-base-content/20 bg-base-100 shadow-xl"
	>
		<div class="navbar-start">
			<div class="dropdown">
				<label class="btn btn-ghost btn-circle" tabindex="0">
					<button
						class="block fill-current p-2"
						type="button"
						aria-label="Menu"
						appSvgIcon
						[appIcon]="'three-dots-vertical'"
						[appSquare]="'1.5em'"
					></button>
				</label>
				<ul
					class="dropdown-content menu rounded-box menu-compact mt-3 w-52 bg-base-100 p-2 shadow"
					tabindex="0"
				>
					<li><a>Homepage</a></li>
					<li><a>Portfolio</a></li>
					<li><a>About</a></li>
					<li
						class="block w-full cursor-pointer whitespace-nowrap py-2 px-4"
						(click)="onLogout()"
					>
						Logout
					</li>
				</ul>
			</div>
		</div>
		<div class="navbar-center">
			<a
				class="btn btn-ghost text-xl normal-case"
				title="Draft"
				aria-label="Draft"
				[routerLink]="['/']"
			>
				Draft
			</a>
		</div>
		<div class="navbar-end">
			<ng-container *appAuthenticated="false">
				<nav class="flex items-center justify-end space-x-4">
					<a
						class="btn btn-primary"
						title="Login"
						aria-label="Login"
						[routerLink]="['/auth/login']"
					>
						Login
					</a>
				</nav>
			</ng-container>
			<ng-container *appAuthenticated="true">
				<nav class="flex items-center justify-end space-x-2" *ngIf="!!authUser">
					<a
						class="btn btn-ghost btn-circle fill-current"
						title="Create post"
						aria-label="Create post"
						appSvgIcon
						[routerLink]="['/create']"
						[routerLinkActive]="['btn-active']"
						[routerLinkActiveOptions]="{ exact: true }"
						[appIcon]="'file-earmark-plus'"
						[appSquare]="'1.5em'"
						[appViewBox]="'0 0 14 14'"
					>
					</a>
					<a
						class="btn btn-ghost btn-circle fill-current"
						title="Search"
						aria-label="Search"
						appSvgIcon
						[routerLink]="['/search']"
						[routerLinkActive]="['btn-active']"
						[appIcon]="'search'"
						[appSquare]="'1.5em'"
						[appViewBox]="'0 0 14 14'"
					>
					</a>
					<a
						class="btn btn-link btn-circle"
						appAvatar
						[routerLink]="[authUser | userUrl]"
						[attr.aria-label]="authUser.name"
						[title]="authUser.name"
						[appUser]="authUser"
					>
					</a>
				</nav>
			</ng-container>
		</div>
	</header>
</ng-container>
