<!-- @format -->

<ng-container>
	<div class="rounded-box flex flex-col gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl">
		<div class="flex flex-col border-b border-base-content/20 pb-4">
			<h1 class="text-2xl font-bold">Password reset</h1>
		</div>
		<div class="flex flex-col gap-4">
			<form
				class="flex flex-col gap-4"
				autocomplete="off"
				[formGroup]="passwordForm"
				(ngSubmit)="onSubmitPasswordForm()"
			>
				@if (passwordForm.get("password"); as password) {
					<fieldset class="form-control">
						<label class="label" for="passwordFormPassword">
							<div class="indicator">
								@if (password.touched && !!password.errors && passwordForm.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="password"></div>
								}
								<span class="label-text mr-2">New password</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input-bordered input input-md w-full !pr-12"
								id="passwordFormPassword"
								aria-label="Password"
								enterkeyhint="done"
								formControlName="password"
								autocomplete="new-password"
								placeholder="Type your new password"
								appInputTrimWhitespace
								#passwordFormPasswordElement
								[type]="'password'"
								[class.input-success]="password.value && password.valid"
								[class.input-error]="password.touched && password.invalid"
							/>
							@if (password.value) {
								<button
									class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
									type="button"
									title="Show password"
									aria-label="Show password"
									appSvgIcon
									appInputShowPassword
									[disabled]="passwordForm.disabled"
									[class.btn-success]="password.valid"
									[class.btn-error]="password.touched && password.invalid"
									[class.btn-ghost]="password.untouched && password.invalid"
									[appSvgIconIcon]="'incognito'"
									[appSvgIconSquare]="'1.5em'"
									[appInputShowPasswordFormControl]="password"
									[appInputShowPasswordInputElement]="passwordFormPasswordElement"
								></button>
							}
						</div>
					</fieldset>
				}
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block">
						The password must be 6-32 characters long, must contain at least one number or special character
					</span>
				</p>
				<fieldset class="form-control">
					<button
						class="btn-success btn btn-md w-full"
						type="submit"
						aria-label="Submit"
						[disabled]="passwordForm.invalid || passwordForm.disabled"
					>
						Submit
					</button>
				</fieldset>
			</form>
		</div>
	</div>
</ng-container>
