<!-- @format -->

<ng-container>
	<div class="flex flex-col space-y-4">
		<form
			class="flex flex-col"
			[formGroup]="loginForm"
			(ngSubmit)="onSubmitLoginForm()"
		>
			<fieldset
				class="flex flex-col space-y-4"
				[disabled]="loginFormIsSubmitted"
			>
				<fieldset class="form-control" *ngIf="loginForm.get('email') as email">
					<label class="label" for="loginFormEmail">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
								class="badge badge-error indicator-item w-max translate-x-full translate-y-0 text-xs"
								*ngIf="email.touched && !!email.errors && !loginFormIsSubmitted"
								[ngSwitch]="true"
							>
								<ng-container *ngSwitchCase="!!email.errors.required">
									Required
								</ng-container>
								<ng-container *ngSwitchCase="!!email.errors.email">
									Email must be a real email address
								</ng-container>
							</span>
							<span class="label-text mr-2">Email</span>
						</div>
					</label>
					<div class="relative">
						<input
							class="input-bordered input w-full truncate pr-12"
							id="loginFormEmail"
							type="email"
							aria-label="Email"
							autocomplete="username"
							formControlName="email"
							placeholder="Type your email"
							appInputTrimWhitespace
							appInputMarkAsTouched
							[class.input-success]="email.touched && email.valid"
							[class.input-error]="email.touched && email.invalid"
							[disabled]="loginFormIsSubmitted"
						/>
						<button
							class="btn-sm btn-circle btn absolute top-2 right-2 fill-current"
							type="button"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!email.value.length"
							[class.btn-success]="email.touched && email.valid"
							[class.btn-error]="email.touched && email.invalid"
							[class.btn-ghost]="email.untouched"
							[disabled]="loginFormIsSubmitted"
							[appIcon]="'x'"
							[appSquare]="'1.75rem'"
							(click)="email.setValue('')"
						></button>
					</div>
				</fieldset>
				<fieldset
					class="form-control"
					*ngIf="loginForm.get('password') as password"
				>
					<label class="label" for="loginFormPassword">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
								class="badge badge-error indicator-item w-max translate-x-full translate-y-0 text-xs"
								*ngIf="password.touched && !!password.errors && !loginFormIsSubmitted"
								[ngSwitch]="true"
							>
								<ng-container *ngSwitchCase="!!password.errors.required">
									Required
								</ng-container>
								<ng-container *ngSwitchCase="!!password.errors.pattern">
									Password does not match pattern
								</ng-container>
							</span>
							<span class="label-text mr-2">Password</span>
						</div>
					</label>
					<div class="relative" *ngIf="{ value: false } as isVisible">
						<input
							class="input-bordered input w-full truncate pr-12"
							id="loginFormPassword"
							aria-label="Password"
							autocomplete="current-password"
							formControlName="password"
							placeholder="Type your password"
							appInputTrimWhitespace
							appInputMarkAsTouched
							[type]="isVisible.value ? 'text' : 'password'"
							[class.input-success]="password.touched && password.valid"
							[class.input-error]="password.touched && password.invalid"
							[disabled]="loginFormIsSubmitted"
						/>
						<button
							class="btn-sm btn-circle btn absolute top-2 right-2 fill-current"
							type="button"
							aria-label="Password"
							appSvgIcon
							*ngIf="!!password.value.length"
							[class.btn-success]="password.touched && password.value"
							[class.btn-error]="password.touched && password.invalid"
							[class.btn-ghost]="password.untouched"
							[disabled]="loginFormIsSubmitted"
							[appIcon]="'incognito'"
							[appSquare]="'1.5em'"
							(touchstart)="isVisible.value = !isVisible.value"
							(mouseenter)="isVisible.value = true"
							(mouseleave)="isVisible.value = false"
						></button>
					</div>
					<label class="label" for="loginFormPassword">
						<a
							class="label-text-alt link"
							aria-label="Forgot password"
							[routerLink]="['../reset']"
						>
							Forgot password?
						</a>
					</label>
				</fieldset>
				<p class="alert inline">
					The password must be 6-32 characters long, must contain at least one
					number or special character
				</p>
				<fieldset class="form-control">
					<button
						class="btn-success btn w-full"
						type="submit"
						aria-label="Login"
						[class.loading]="loginFormIsSubmitted"
						[disabled]="loginForm.invalid || loginFormIsSubmitted"
					>
						Login
					</button>
				</fieldset>
			</fieldset>
		</form>
		<a
			class="btn-outline btn-primary btn w-full"
			aria-label="Registration"
			[routerLink]="'/registration'"
		>
			Registration
		</a>
	</div>
</ng-container>
