<!-- @format -->

<ng-container>
	<div
		class="bg-base-100 border border-base-content/20 rounded-box shadow-xl p-4"
	>
		<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 rounded-box w-full">
			<div
				class="flex flex-col items-start sm:items-center justify-center space-y-4 rounded-t-box sm:rounded-box bg-base-200 -mx-4 -mt-4 sm:m-0 p-4"
			>
				<h2 class="text-xl text-base-content font-medium">Login via</h2>
				<app-oauth class="block mt-4"></app-oauth>
				<div class="inline text-left sm:text-center">
					<span class="block text-base-content">Don't have an account?</span>
					<a
						class="link link-primary"
						[routerLink]="['../registration']"
						aria-label="Join now"
					>
						Registration
					</a>
				</div>
			</div>
			<form
				class="flex flex-col rounded-none bg-base-100"
				[formGroup]="loginForm"
				(ngSubmit)="onSubmitForm()"
			>
				<h2 class="text-xl text-base-content font-medium">
					Login with credentials
				</h2>
				<hr class="border-base-content/20 my-2" />
				<fieldset
					class="flex flex-col space-y-4"
					[disabled]="loginFormIsSubmitted"
				>
					<fieldset
						class="form-control"
						*ngIf="loginForm.get('email') as email"
					>
						<label class="label" for="email">
							<div class="indicator">
								<span
									class="indicator-item badge badge-error text-xs translate-x-full translate-y-0 w-max"
									*ngIf="email.touched && email.errors"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!email.errors.required">
										Required
									</ng-container>
									<ng-container *ngSwitchCase="!!email.errors.email">
										Email must be a real email address
									</ng-container>
								</span>
								<span class="label-text mr-2">Email</span>
							</div>
						</label>
						<label class="block relative" for="email">
							<input
								id="email"
								autocomplete="username"
								type="email"
								class="input input-bordered truncate w-full pr-12"
								[class.input-success]="email.touched && !email.errors"
								[class.input-error]="email.touched && email.errors"
								[class.input-disabled]="loginFormIsSubmitted"
								formControlName="email"
								placeholder="Type your Email"
								aria-label="Email"
							/>
							<button
								class="btn btn-sm btn-circle fill-current absolute top-2 right-2"
								[class.btn-success]="email.touched && email.valid"
								[class.btn-error]="email.touched && email.invalid"
								[class.btn-ghost]="email.untouched"
								type="button"
								*ngIf="email.value.length"
								aria-label="Clear"
								title="Clear"
								appSvgIcon
								[appIcon]="'x'"
								[appSquare]="'1.75rem'"
								(click)="email.setValue('')"
							></button>
						</label>
					</fieldset>
					<fieldset
						class="form-control"
						*ngIf="loginForm.get('password') as password"
					>
						<label class="label" for="password">
							<div class="indicator">
								<span
									class="indicator-item badge badge-error text-xs translate-x-full translate-y-0 w-max"
									*ngIf="password.touched && password.errors"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!password.errors.required">
										Required
									</ng-container>
									<ng-container *ngSwitchCase="!!password.errors.pattern">
										Password does not match pattern
									</ng-container>
								</span>
								<span class="label-text mr-2">Password</span>
							</div>
						</label>
						<label class="block relative" *ngIf="{ value: false } as isVisible">
							<input
								id="password"
								autocomplete="current-password"
								[type]="isVisible.value ? 'text' : 'password'"
								class="input input-bordered truncate w-full pr-12"
								[class.input-success]="password.touched && !password.errors"
								[class.input-error]="password.touched && password.errors"
								[class.input-disabled]="loginFormIsSubmitted"
								formControlName="password"
								placeholder="Type your password"
								aria-label="Password"
							/>
							<button
								class="btn btn-sm btn-circle fill-current absolute top-2 right-2"
								[class.btn-success]="password.touched && password.value"
								[class.btn-error]="password.touched && password.invalid"
								[class.btn-ghost]="password.untouched"
								type="button"
								*ngIf="password.value.length"
								(touchstart)="isVisible.value = !isVisible.value"
								(mouseenter)="isVisible.value = true"
								(mouseleave)="isVisible.value = false"
								aria-label="Password"
								title="Password"
								appSvgIcon
								[appIcon]="isVisible.value ? 'eye' : 'eye-slash'"
								[appSquare]="'1.4em'"
								[appViewBox]="'0 0 14 14'"
							></button>
						</label>
						<label class="label" for="password">
							<a
								class="label-text-alt link !link-primary"
								[routerLink]="['../reset']"
								aria-label="Forgot password"
							>
								Forgot password?
							</a>
						</label>
					</fieldset>
					<fieldset class="form-control">
						<button
							class="btn btn-primary w-full"
							[class.loading]="loginFormIsSubmitted"
							type="submit"
							aria-label="Login"
							[disabled]="loginForm.invalid || loginFormIsSubmitted"
						>
							Login
						</button>
					</fieldset>
				</fieldset>
			</form>
		</div>
	</div>
</ng-container>
