<!-- @format -->

<ng-container>
	<div class="flex flex-col items-start justify-start gap-4">
		<div class="rounded-box flex w-full flex-col">
			<p class="rounded-box mb-4 bg-base-200 p-4">
				Control safety of your account, logout from old unused sessions
			</p>
			<ul class="rounded-box border border-base-content/20">
				<li
					class="flex items-center justify-between gap-4 border-b border-base-content/20 p-4 last:border-b-0"
					*ngFor="let session of authUser.sessions"
				>
					<div class="flex items-center justify-start gap-4">
						<div class="flex flex-col leading-tight">
							<p class="inline text-base-content">
								<span class="inline">
									{{ session.ua.os.name || "Undefined OS name" }}
								</span>
								<span class="inline text-sm">
									({{ session.ua.browser.name }})
								</span>
							</p>
							<p class="inline text-sm text-base-content/50">
								<span class="inline">
									{{ session.ip.country || "Undefined location" }}
								</span>
								<time class="inline" [attr.datetime]="session.createdAt">
									{{ session.createdAt | dayjs: "fromX" }}
								</time>
							</p>
						</div>
					</div>
					<button
						class="btn btn-error btn-circle btn-sm fill-current"
						type="button"
						title="Terminate"
						aria-label="Terminate"
						appSvgIcon
						[appIcon]="'x'"
						[appSquare]="'1.75rem'"
						(click)="onLogout(session)"
					></button>
				</li>
			</ul>
		</div>
	</div>
</ng-container>
