/* https://usbrandcolors.com */

@mixin branding-dark {
	.logo-algolia {
		color: #ffffff;
	}
	.logo-facebook {
		color: #ffffff;
	}
	.logo-github {
		color: #ffffff;
	}
	.logo-google {}
	.logo-linkedin {
		color: #ffffff;
	}
	.logo-pinterest {
		color: #ffffff;
	}
	.logo-reddit {}
	.logo-telegram {
		color: #2AABEE;
	}
	.logo-twitter-x {
		color: #ffffff;
	}
}

@mixin branding-light {
	.logo-algolia {
		color: #003dff;
	}
	.logo-facebook {
		color: #0866FF;
	}
	.logo-github {
		color: #1B1F24;
	}
	.logo-google {}
	.logo-linkedin {
		color: #0A66C2;
	}
	.logo-pinterest {
		color: #E60023;
	}
	.logo-reddit {}
	.logo-telegram {
		color: #2AABEE;
	}
	.logo-twitter-x {
		color: #333333;
	}
}

/* Prefers Color Scheme */

html:not([data-theme]) {
	@media (prefers-color-scheme: dark) {
		@include branding-dark();
	}

	@media (prefers-color-scheme: light) {
		@include branding-light();
	}
}

/* Logo color */

html[data-theme="aqua"],
html[data-theme="black"],
html[data-theme="business"],
html[data-theme="coffee"],
html[data-theme="dark"],
html[data-theme="dim"],
html[data-theme="dracula"],
html[data-theme="forest"],
html[data-theme="halloween"],
html[data-theme="luxury"],
html[data-theme="night"],
html[data-theme="sunset"],
html[data-theme="synthwave"] {
	@include branding-dark();
}

html[data-theme="acid"],
html[data-theme="autumn"],
html[data-theme="bumblebee"],
html[data-theme="cmyk"],
html[data-theme="corporate"],
html[data-theme="cupcake"],
html[data-theme="cyberpunk"],
html[data-theme="emerald"],
html[data-theme="fantasy"],
html[data-theme="garden"],
html[data-theme="lemonade"],
html[data-theme="light"],
html[data-theme="lofi"],
html[data-theme="nord"],
html[data-theme="pastel"],
html[data-theme="retro"],
html[data-theme="valentine"],
html[data-theme="winter"],
html[data-theme="wireframe"] {
	@include branding-light();
}
