<!-- @format -->

<ng-container>
	<button
		class="backdrop-blur-sm bg-base-100/30 z-10 p-3 rounded-btn border border-base-content/20 fixed bottom-4 left-1/2 -translate-x-1/2"
		type="button"
		title="Scroll to top"
		aria-label="Scroll to top"
		[class.invisible]="!windowScrollToTopToggle"
		(click)="onScrollToTop()"
	>
		<i
			class="block fill-current text-base-content"
			appSvgIcon
			[appSvgIconIcon]="'arrow-up-short'"
			[appSvgIconSquare]="'1.35em'"
		>
		</i>
	</button>
</ng-container>
