<section class="users-profile grid md:gap-x-4 px-4">
  <aside class="aside">
    <div class="sticky top-0 py-4">
      <div class="flex flex-col space-y-4 bg-primary-3 border border-primary-4 rounded-md p-4" >
        <div class="flex items-center md:items-start space-x-4 md:space-x-0 md:space-y-4 md:flex-col">
          <div class="flex border border-primary-4 overflow-hidden rounded-md h-16 w-16 md:h-44 md:w-44" [appUser]="user" appAvatar></div>
          <div class="flex flex-col flex-1">
            <div class="grid">
              <span class="block text-secondary-1 truncate">{{user.name}}</span>
            </div>
            <time
              class="text-secondary-1 opacity-50 text-sm"
              [attr.datetime]="user.createdAt | dayjs : 'format' : 'YYYY-M-D'">registered
              {{user.createdAt | dayjs : 'fromX'}}
            </time>
          </div>
        </div>
        <p
          class="text-secondary-1 border-t border-primary-4 pt-4"
          [class.opacity-50]="!user.biography"
          [innerHTML]="user.biography || 'User does not have biography'"></p>
      </div>
    </div>
  </aside>
  <div class="view grid grid-cols-1 grid-rows-1 self-start">
    <header class="header bg-primary-2 border-b border-t md:border-t-0 border-primary-4 z-20 sticky -top-px overflow-hidden py-4">
      <ul class="flex text-secondary-1 bg-primary-3 border border-primary-4 rounded-md overflow-auto p-2">
        <li class="mx-2" (click)="onResetCategory()">All</li>
        <li class="mx-2" *ngFor="let category of categoryList">{{category.title}}</li>
      </ul>
    </header>
    <div class="content">
      <ng-container *ngIf="postList.length; else postListEmpty;">
        <ul class="grid gap-4 grid-cols-posts grid-flow-row-dense py-4">
          <li *ngFor="let post of postList" [appPost]="post" appCardPost></li>
        </ul>
        <button
          class="btn btn-success block w-full mb-4"
          type="button">Load more
        </button>
      </ng-container>
    </div>
  </div>
  <ng-template #postListEmpty>
    <div class="py-4">
      <h2 class="bg-primary-3 text-secondary-1 border border-primary-4 rounded-md p-2">No posts</h2>
    </div>
  </ng-template>
  <router-outlet></router-outlet>
</section>
