<!-- @format -->

<ng-container>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#abstractPostProseModal
		(keydown.escape)="$event.preventDefault(); abstractPostProseModal.close()"
		(close)="setAbstractClosePostProseModal()"
		(click)="$event.target === $event.currentTarget ? abstractPostProseModal.close() : $event"
	>
		<section
			appWindow
			[appTitle]="'View'"
			[appButtons]="['close', 'fullscreen']"
			(closed)="setAbstractClosePostProseModal()"
		>
			<app-post-prose slot="content" [appPost]="abstractPost"></app-post-prose>
			<nav class="flex bg-base-200 p-2" appShare slot="footer"></nav>
		</section>
	</dialog>
</ng-container>
