<!-- @format -->

<ng-container>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#abstractPostProseModal
		(keydown.escape)="$event.preventDefault(); abstractPostProseModal.close()"
		(close)="setAbstractClosePostProseModal()"
		(click)="$event.target === $event.currentTarget ? abstractPostProseModal.close() : $event"
	>
		<app-window
			[appTitle]="'View'"
			[appButtons]="['close', 'fullscreen']"
			(closed)="setAbstractClosePostProseModal()"
		>
			<app-post-prose slot="content" [appPost]="abstractPost"></app-post-prose>
			<app-share class="flex bg-base-200 p-2" slot="footer"></app-share>
		</app-window>
	</dialog>
</ng-container>
