<!-- @format -->

<ng-container>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#abstractPostProseModal
		(keydown.escape)="$event.preventDefault(); abstractPostProseModal.close()"
		(close)="setAbstractClosePostProseModal()"
		(click)="$event.target === $event.currentTarget ? abstractPostProseModal.close() : $event"
	>
		<div
			appWindow
			[appTitle]="'View'"
			[appButtons]="['close', 'fullscreen']"
			(closed)="setAbstractClosePostProseModal()"
		>
			<main appPostProse slot="content" [appPost]="abstractPost"></main>
			<nav
				class="flex bg-base-200 overflow-auto p-2"
				appShare
				slot="footer"
			></nav>
		</div>
	</dialog>
</ng-container>
