<!-- @format -->

<ng-container>
	<div
		class="rounded-box flex flex-col items-center gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
	>
		<i
			class="fill-current text-base-content"
			appSvgIcon
			[appSvgIconIcon]="'robot'"
			[appSvgIconSquare]="'3em'"
		></i>
		<div class="flex flex-col items-center gap-2">
			<p class="text-xl font-bold">
				<span class="text-base-content">Oops!</span>
				<span class="text-error"> {{ statusCode }}</span>
				<span class="text-base-content"> {{ message }}</span>
			</p>
			<div class="text-sm text-base-content/50">
				It looks like you've landed on an error page on Draft
			</div>
			<!-- prettier-ignore -->
			<div class="text-sm text-base-content/50">
				Please provide a
				<a class="link text-base-content" aria-label="new issue" [routerLink]="['/help']">new issue</a>
				or go
				<a class="link text-base-content" aria-label="home" [routerLink]="['/']">home</a>
			</div>
		</div>
	</div>
</ng-container>
