<!-- @format -->

<ng-container>
	<ul class="flex items-center justify-start gap-3" itemscope itemtype="http://schema.org/ItemList">
		@if (shareDataCanShare) {
			<li class="block">
				<button
					class="flex items-center justify-center w-10 h-10 fill-current text-base-content"
					type="button"
					title="Share"
					aria-label="Share"
					appSkeleton
					appSvgIcon
					[appSkeletonToggle]="postSkeletonToggle"
					[appSkeletonClassList]="['rounded-full']"
					[appSvgIconIcon]="'share'"
					[appSvgIconSquare]="'1.25em'"
					(click)="setShareNative()"
				></button>
				<meta itemprop="name" content="Share" />
				<meta itemprop="position" content="1" />
			</li>
		}
		<li class="block" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a
				class="flex items-center justify-center logo-facebook w-10 h-10"
				title="Facebook"
				aria-label="Facebook"
				target="_blank"
				rel="noopener noreferrer"
				appSvgLogo
				appSkeleton
				itemprop="url"
				[appSvgLogoIcon]="'facebook'"
				[appSvgLogoSquare]="'24'"
				[appSkeletonToggle]="postSkeletonToggle"
				[appSkeletonClassList]="['rounded-full']"
				[href]="shareList.facebook"
			>
			</a>
			<meta itemprop="name" content="Facebook" />
			<meta itemprop="position" content="2" />
		</li>
		<li class="block" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a
				class="flex items-center justify-center logo-linkedin w-10 h-10"
				title="Linkedin"
				aria-label="Linkedin"
				target="_blank"
				rel="noopener noreferrer"
				appSvgLogo
				appSkeleton
				itemprop="url"
				[appSvgLogoIcon]="'linkedin'"
				[appSvgLogoSquare]="'24'"
				[appSkeletonToggle]="postSkeletonToggle"
				[appSkeletonClassList]="['rounded-full']"
				[href]="shareList.linkedin"
			>
			</a>
			<meta itemprop="name" content="LinkedIn" />
			<meta itemprop="position" content="3" />
		</li>
		<li class="block" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a
				class="flex items-center justify-center logo-pinterest w-10 h-10"
				title="Pinterest"
				aria-label="Pinterest"
				target="_blank"
				rel="noopener noreferrer"
				appSvgLogo
				appSkeleton
				itemprop="url"
				[appSvgLogoIcon]="'pinterest'"
				[appSvgLogoSquare]="'24'"
				[appSkeletonToggle]="postSkeletonToggle"
				[appSkeletonClassList]="['rounded-full']"
				[href]="shareList.pinterest"
			>
			</a>
			<meta itemprop="name" content="Pinterest" />
			<meta itemprop="position" content="3" />
		</li>
		<li class="block" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a
				class="flex items-center justify-center logo-twitter-x w-10 h-10"
				title="X"
				aria-label="X"
				target="_blank"
				rel="noopener noreferrer"
				appSvgLogo
				appSkeleton
				itemprop="url"
				[appSvgLogoIcon]="'twitter-x'"
				[appSvgLogoWidth]="'23.47'"
				[appSvgLogoHeight]="'24'"
				[appSvgLogoViewBox]="'0 0 1200 1227'"
				[appSkeletonToggle]="postSkeletonToggle"
				[appSkeletonClassList]="['rounded-full']"
				[href]="shareList.twitter"
			>
			</a>
			<meta itemprop="name" content="X" />
			<meta itemprop="position" content="4" />
		</li>
	</ul>
</ng-container>
