<!-- @format -->

<ng-container>
	<form class="flex items-end justify-between gap-4 w-full" autocomplete="off" [formGroup]="searchForm">
		@if (searchForm.get("query"); as query) {
			<fieldset class="form-control flex-1">
				<div class="relative">
					<input
						class="input-bordered input input-md w-full"
						id="searchFormSearch"
						type="search"
						title="Search"
						aria-label="Search"
						inputmode="search"
						enterkeyhint="search"
						formControlName="query"
						placeholder="Type search query"
						appInputTrimWhitespace
						[class.input-success]="query.value && query.valid"
						[class.input-error]="query.touched && query.invalid"
					/>
					@if (query.value) {
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							title="Clear input"
							aria-label="Clear input"
							appSvgIcon
							[class.btn-success]="query.valid"
							[class.btn-error]="query.touched && query.invalid"
							[class.btn-ghost]="query.untouched && query.invalid"
							[disabled]="searchForm.disabled"
							[appSvgIconIcon]="'x'"
							[appSvgIconSquare]="'2em'"
							(click)="onClearQuery()"
						></button>
					}
				</div>
			</fieldset>
		}
	</form>
</ng-container>
