<!-- @format -->

<ng-container>
	<ul class="flex justify-start items-center space-x-4">
		<li class="block">
			<a
				class="block fill-current bg-[#EA4335] text-white rounded-full p-1.5"
				[href]="apiUrl + '/auth/google'"
				aria-label="Google"
				target="_self"
				rel="noopener"
				appSvgIcon
				title="Google"
				[appIcon]="'google'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="block fill-current bg-white text-[#1877f2] rounded-full"
				[href]="apiUrl + '/auth/facebook'"
				aria-label="Facebook"
				target="_self"
				rel="noopener"
				appSvgIcon
				appSquare="32"
				title="Facebook"
				[appIcon]="'facebook'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="block fill-current bg-white text-[#333333] rounded-full"
				[href]="apiUrl + '/auth/github'"
				aria-label="Github"
				target="_self"
				rel="noopener"
				appSvgIcon
				appSquare="32"
				title="Github"
				[appIcon]="'github'"
			>
			</a>
		</li>
	</ul>
</ng-container>
