<!-- @format -->

<ng-container>
	<div class="flex flex-col items-start justify-start gap-4">
		<form
			class="rounded-box flex w-full flex-col gap-4"
			autocomplete="off"
			[formGroup]="appearanceForm"
		>
			<div
				class="flex w-full flex-col items-start gap-4 sm:flex-row sm:justify-between"
			>
				<fieldset
					class="form-control w-full"
					*ngIf="appearanceForm.get('theme') as theme"
				>
					<label class="label" for="appearanceFormTheme">
						<span class="label-text">Theme</span>
						<a
							class="label-text-alt link"
							href="https://daisyui.com/docs/themes/"
							rel="noopener noreferrer"
							target="_blank"
						>
							daisyui.com
						</a>
					</label>
					<div
						class="block"
						appDropdown
						[class.cursor-not-allowed]="appearanceForm.disabled"
					>
						<input
							class="input-bordered input w-full cursor-pointer truncate"
							id="appearanceFormTheme"
							type="text"
							aria-label="Theme"
							placeholder="Select theme"
							formControlName="theme"
							slot="target"
							readonly
							[class.input-success]="theme.touched && theme.value"
							[class.input-error]="theme.touched && theme.invalid"
						/>
						<div
							class="menu menu-vertical menu-md mt-2 overflow-hidden rounded-btn border border-base-content/20 bg-base-100 p-0 shadow"
							slot="content"
						>
							<ul class="flex max-h-64 flex-col overflow-y-auto p-2">
								<li
									class="flex w-full"
									*ngFor="let themeValue of appearanceThemeList"
								>
									<!-- prettier-ignore -->
									<button
                    class="rounded-btn block w-full truncate text-base text-left"
                    type="button"
                    appScrollIntoView
                    [appScrollActive]="theme.value === themeValue"
                    [ngClass]="{ 'active': theme.value === themeValue }"
                    [attr.aria-label]="themeValue"
                    (click)="theme.setValue(themeValue)"
                  >
                    {{ themeValue }}
                  </button>
								</li>
							</ul>
						</div>
					</div>
				</fieldset>
				<fieldset
					class="form-control w-full"
					*ngIf="appearanceForm.get('themeBackground') as themeBackground"
				>
					<label class="label" for="appearanceFormBackground">
						<span class="label-text">Background</span>
						<a
							class="label-text-alt link"
							href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/"
							rel="noopener noreferrer"
							target="_blank"
						>
							svgbackgrounds.com
						</a>
					</label>
					<div
						class="block"
						appDropdown
						[class.cursor-not-allowed]="appearanceForm.disabled"
					>
						<!-- prettier-ignore -->
						<input
              class="input input-bordered w-full cursor-pointer truncate"
              id="appearanceFormBackground"
              type="text"
              aria-label="Background"
              placeholder="Select Background"
              formControlName="themeBackground"
              slot="target"
              readonly
              [class.input-success]="themeBackground.touched && themeBackground.value"
              [class.input-error]="themeBackground.touched && themeBackground.invalid"
            />
						<div
							class="menu menu-vertical menu-md mt-2 overflow-hidden rounded-btn border border-base-content/20 bg-base-100 p-0 shadow"
							slot="content"
						>
							<ul class="flex max-h-64 flex-col overflow-y-auto p-2">
								<!-- prettier-ignore -->
								<li
                  class="flex w-full overflow-hidden"
                  *ngFor="let themeBackgroundValue of appearanceThemeBackgroundList"
                >
                  <button
                    class="rounded-btn block w-full truncate text-base text-left"
                    type="button"
                    appScrollIntoView
                    [appScrollActive]="themeBackground.value === themeBackgroundValue"
                    [ngClass]="{ 'active': themeBackground.value === themeBackgroundValue }"
                    [attr.aria-label]="themeBackgroundValue"
                    (click)="themeBackground.setValue(themeBackgroundValue)"
                  >
                    {{ themeBackgroundValue }}
                  </button>
                </li>
							</ul>
						</div>
					</div>
				</fieldset>
			</div>
			<div
				class="flex w-full flex-col items-start gap-4 sm:flex-row sm:justify-between"
			>
				<fieldset
					class="form-control w-full"
					*ngIf="appearanceForm.get('themePrism') as themePrism"
				>
					<label class="label" for="appearanceFormPrism">
						<span class="label-text">Prism</span>
						<a
							class="label-text-alt link"
							href="https://prismjs.com/"
							rel="noopener noreferrer"
							target="_blank"
						>
							prismjs.com
						</a>
					</label>
					<div
						class="block"
						appDropdown
						[class.cursor-not-allowed]="appearanceForm.disabled"
					>
						<input
							class="input-bordered input w-full cursor-pointer truncate"
							id="appearanceFormPrism"
							type="text"
							aria-label="Prism"
							placeholder="Select prism"
							formControlName="themePrism"
							slot="target"
							readonly
							[class.input-success]="themePrism.touched && themePrism.value"
							[class.input-error]="themePrism.touched && themePrism.invalid"
						/>
						<div
							class="menu menu-vertical menu-md mt-2 overflow-hidden rounded-btn border border-base-content/20 bg-base-100 p-0 shadow"
							slot="content"
						>
							<ul class="flex max-h-64 flex-col overflow-y-auto p-2">
								<li
									class="flex w-full overflow-hidden"
									*ngFor="let themePrismValue of appearanceThemePrismList"
								>
									<!-- prettier-ignore -->
									<button
                    class="rounded-btn block w-full truncate text-base text-left"
                    type="button"
                    appScrollIntoView
                    [appScrollActive]="themePrism.value === themePrismValue"
                    [ngClass]="{ 'active': themePrism.value === themePrismValue }"
                    [attr.aria-label]="themePrismValue"
                    (click)="themePrism.setValue(themePrismValue)"
                  >
                    {{ themePrismValue }}
                  </button>
								</li>
							</ul>
						</div>
					</div>
				</fieldset>
				<fieldset
					class="form-control w-full"
					*ngIf="appearanceForm.get('language') as language"
				>
					<label class="label" for="appearanceFormLanguage">
						<span class="label-text">Language</span>
					</label>
					<div
						class="block"
						appDropdown
						[class.cursor-not-allowed]="appearanceForm.disabled"
					>
						<input
							class="input-bordered input w-full cursor-pointer truncate"
							id="appearanceFormLanguage"
							type="text"
							aria-label="Language"
							placeholder="Select language"
							formControlName="language"
							slot="target"
							readonly
							[class.input-success]="language.touched && language.value"
							[class.input-error]="language.touched && language.invalid"
						/>
						<div
							class="menu menu-vertical menu-md mt-2 overflow-hidden rounded-btn border border-base-content/20 bg-base-100 p-0 shadow"
							slot="content"
						>
							<ul class="flex max-h-64 flex-col overflow-y-auto p-2">
								<li
									class="flex w-full overflow-hidden"
									*ngFor="let languageValue of appearanceLanguageList"
								>
									<!-- prettier-ignore -->
									<button
                    class="rounded-btn block w-full truncate text-base text-left"
                    type="button"
                    appScrollIntoView
                    [appScrollActive]="language.value === languageValue"
                    [ngClass]="{ 'active': language.value === languageValue }"
                    [attr.aria-label]="languageValue"
                    (click)="language.setValue(languageValue)"
                  >
                    {{ languageValue }}
                  </button>
								</li>
							</ul>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="flex w-full flex-col">
				<fieldset
					class="form-control"
					*ngIf="appearanceForm.get('monospace') as monospace"
				>
					<label class="label cursor-pointer" for="appearanceFormMonospace">
						<span class="label-text">
							Use a fixed-width (monospace) font when editing Markdown
						</span>
						<input
							class="toggle"
							id="appearanceFormMonospace"
							type="checkbox"
							aria-label="Monospace"
							formControlName="monospace"
							[class.toggle-success]="monospace.touched && monospace.value"
						/>
					</label>
				</fieldset>
				<hr class="my-2 w-full border-base-content/20" />
				<fieldset
					class="form-control"
					*ngIf="appearanceForm.get('buttons') as buttons"
				>
					<label class="label cursor-pointer" for="appearanceFormButtons">
						<span class="label-text">
							Position of caption buttons (close, minimize, maximize)
						</span>
						<div class="join">
							<!-- prettier-ignore -->
							<button
                class="btn btn-success btn-sm join-item"
                type="button"
                *ngFor="let buttonsValue of appearanceButtonsList"
                [class.btn-outline]="buttons.value !== buttonsValue && appearanceForm.enabled"
                [class.btn-inline]="buttons.value === buttonsValue && appearanceForm.disabled"
                [disabled]="appearanceForm.disabled"
                (click)="buttons.setValue(buttonsValue)"
              >
                {{ buttonsValue }}
              </button>
						</div>
						<input
							class="hidden"
							id="appearanceFormButtons"
							type="text"
							aria-label="Buttons"
							formControlName="buttons"
							readonly
						/>
					</label>
				</fieldset>
			</div>
		</form>
	</div>
</ng-container>
