<!-- @format -->

<!-- TODO: https://www.w3schools.com/howto/howto_js_draggable.asp -->
<!-- TODO: named outlet -->

<ng-container>
	<section
		class="flex flex-col overflow-hidden bg-base-100"
		[ngClass]="fullscreenClassList"
	>
		<div class="fixed z-[1]" appSnackbar></div>
		<ng-container [ngTemplateOutlet]="windowCaption"></ng-container>
		<header class="flex flex-col empty:hidden">
			<ng-content select="[slot=header]"></ng-content>
		</header>
		<!-- prettier-ignore -->
		<div class="flex flex-col overflow-auto empty:hidden" [class.h-full]="fullscreenToggle">
      <ng-content select="[slot=content]"></ng-content>
    </div>
		<footer class="flex flex-col empty:hidden">
			<ng-content select="[slot=footer]"></ng-content>
		</footer>
		<ng-template #windowCaption>
			<div class="grid grid-cols-3 gap-2 bg-base-200 p-2">
				<div
					class="col-span-1 flex flex-row items-center justify-start space-x-2"
				>
					<ng-container
						*ngIf="captionButtonsPosition === 'left'"
						[ngTemplateOutlet]="windowCaptionButtons"
					></ng-container>
				</div>
				<div class="col-span-1 flex items-center justify-center">
					<span class="text-xl font-bold text-base-content">
						{{ captionTitle }}
					</span>
				</div>
				<div
					class="col-span-1 flex flex-row-reverse items-center justify-start space-x-2 space-x-reverse"
				>
					<ng-container
						*ngIf="captionButtonsPosition === 'right'"
						[ngTemplateOutlet]="windowCaptionButtons"
					></ng-container>
				</div>
			</div>
		</ng-template>
		<ng-template #windowCaptionButtons>
			<button
				class="btn-error btn-xs btn-circle btn fill-current focus:outline-0"
				type="button"
				title="Close"
				aria-label="Close"
				appSvgIcon
				*ngIf="captionButtonsList.includes('close')"
				[appIcon]="'x-lg'"
				[appSquare]="'1em'"
				(click)="onClose()"
			></button>
			<button
				class="btn-warning btn-xs btn-circle btn fill-current focus:outline-0"
				type="button"
				title="Fullscreen"
				aria-label="Fullscreen"
				appSvgIcon
				*ngIf="captionButtonsList.includes('fullscreen')"
				[appIcon]="'square'"
				[appSquare]="'1em'"
				(click)="onFullscreen(!fullscreenToggle)"
			></button>
			<button
				class="btn-success btn-xs btn-circle btn fill-current focus:outline-0"
				type="button"
				title="Minimize"
				aria-label="Minimize"
				appSvgIcon
				*ngIf="captionButtonsList.includes('minimize')"
				[appIcon]="'dash-lg'"
				[appSquare]="'1em'"
			></button>
		</ng-template>
	</section>
</ng-container>
