<section>
  <form
    class="bg-primary-3 border border-primary-4 rounded-md w-full p-4"
    [formGroup]="accountForm"
    (ngSubmit)="onSubmitForm()"
    autocomplete="off">
    <fieldset class="flex items-center justify-start space-x-4 border-b border-primary-4 pb-4 mb-4">
      <figure class="flex border border-primary-4 overflow-hidden rounded-md h-16 w-16 md:h-20 md:w-20" [appUser]="user" appAvatar></figure>
      <div class="flex flex-col">
        <div class="flex items-center justify-start space-x-4 mb-4">
          <button
            class="btn btn-success"
            type="button"
            aria-label="Change"
            [disabled]="accountForm.invalid">Change
          </button>
          <button
            class="btn btn-danger"
            type="button"
            aria-label="Remove"
            [disabled]="accountForm.invalid">Remove
          </button>
        </div>
        <p class="text-secondary-2 text-sm">Specify a file, you may able to use only *.png, *.jpg files</p>
      </div>
    </fieldset>
    <fieldset class="flex flex-col space-y-4" [disabled]="accountFormIsSubmitted">
      <fieldset *ngIf="accountForm.get('name') as name">
        <label class="block text-secondary-2 text-sm" for="name">Name</label>
        <input
          id="name"
          type="text"
          class="form-control bg-primary-2 my-2"
          formControlName="name"
          placeholder="Name"
          aria-label="Name" />
        <span class="block text-sm text-danger-1" *ngIf="name.touched && name.errors" [ngSwitch]="true">
          <ng-container *ngSwitchCase="!!name.errors.required">Required</ng-container>
        </span>
      </fieldset>
      <fieldset *ngIf="accountForm.get('biography') as biography">
        <label class="block text-secondary-2 text-sm" for="biography">Biography</label>
        <textarea
          id="biography"
          type="text"
          class="form-control bg-primary-2 my-2"
          formControlName="biography"
          placeholder="Biography"
          aria-label="Biography">
        </textarea>
        <span class="block text-sm text-danger-1" *ngIf="biography.touched && biography.errors" [ngSwitch]="true">
          <ng-container *ngSwitchCase="!!biography.errors.required">Required</ng-container>
        </span>
      </fieldset>
      <button
        class="btn btn-success w-full"
        type="submit"
        aria-label="Submit"
        [disabled]="accountForm.invalid">Submit
      </button>
      <button
        class="btn btn-danger w-full"
        type="button"
        aria-label="Delete"
        (click)="onDeleteUser()">Delete me!!!
      </button>
    </fieldset>
  </form>
</section>
