
<!--    <ng-container *ngIf="postList.length; else postListEmpty;">-->
<!--      <details-->
<!--        *ngIf="{ value: false } as toggle"-->
<!--        (toggle)="toggle.value = !toggle.value"-->
<!--        open>-->
<!--        <summary-->
<!--          class="bg-primary-2 list-none z-20 sticky -top-px border-t border-primary-4 -mt-px py-4 hidden"-->
<!--          [class.border-b]="toggle.value">-->
<!--          <span class="flex items-center space-x-2 bg-primary-3 text-secondary-1 border border-primary-4 rounded-md cursor-pointer px-2 py-2">-->
<!--            <app-svg-icon class="fill-current text-secondary-1" [appIcon]="toggle.value ? 'dash' : 'plus'"></app-svg-icon>-->
<!--            <span>Found {{postList.length}} posts</span>-->
<!--          </span>-->
<!--        </summary>-->
<!--        <ul class="grid gap-4 grid-cols-posts grid-flow-row-dense py-4">-->
<!--          <li *ngFor="let post of postList" [appPost]="post" appCardPost></li>-->
<!--        </ul>-->
<!--        <button-->
<!--          class="btn btn-success block w-full mb-4"-->
<!--          type="button"-->
<!--          (click)="onLoadMore()"-->
<!--          [disabled]="!postListHasMore">Load more-->
<!--        </button>-->
<!--      </details>-->
<!--    </ng-container>-->

<!--    <ng-container *ngIf="userList.length">-->
<!--      <details *ngIf="{ value: false } as toggle" (toggle)="toggle.value = !toggle.value">-->
<!--        <summary-->
<!--          class="bg-primary-2 list-none z-20 sticky -top-px border-t border-primary-4 -mt-px py-4"-->
<!--          [class.border-b]="toggle.value">-->
<!--          <span class="flex items-center space-x-2 bg-primary-3 text-secondary-1 border border-primary-4 rounded-md cursor-pointer px-2 py-2">-->
<!--            <app-svg-icon class="fill-current text-secondary-1" [appIcon]="toggle.value ? 'dash' : 'plus'"></app-svg-icon>-->
<!--            <span>Found {{userList.length}} users</span>-->
<!--          </span>-->
<!--        </summary>-->
<!--        <ul class="grid gap-4 grid-cols-users grid-flow-row-dense py-4">-->
<!--          <li *ngFor="let user of userList" [appUser]="user" appCardUser></li>-->
<!--        </ul>-->
<!--      </details>-->
<!--    </ng-container>-->

<!--    <ng-container *ngIf="categoryList.length">-->
<!--      <details *ngIf="{ value: false } as toggle" (toggle)="toggle.value = !toggle.value">-->
<!--        <summary-->
<!--          class="bg-primary-2 list-none z-20 sticky -top-px border-t border-primary-4 -mt-px py-4"-->
<!--          [class.border-b]="toggle.value">-->
<!--          <span class="flex items-center space-x-2 bg-primary-3 text-secondary-1 border border-primary-4 rounded-md cursor-pointer px-2 py-2">-->
<!--            <app-svg-icon class="fill-current text-secondary-1" [appIcon]="toggle.value ? 'dash' : 'plus'"></app-svg-icon>-->
<!--            <span>Found {{categoryList.length}} categories</span>-->
<!--          </span>-->
<!--        </summary>-->
<!--        <ul class="flex flex-wrap -m-2 pt-4 pb-2">-->
<!--          <li class="flex p-2" *ngFor="let category of categoryList" [appCategory]="category" appCardCategory></li>-->
<!--        </ul>-->
<!--      </details>-->
<!--    </ng-container>-->
