<!-- @format -->

<ng-container>
	<dialog
		class="modal"
		#pwaDialogElement
		(keydown.escape)="$event.preventDefault(); onTogglePWADialog(false)"
		(click)="$event.target === $event.currentTarget ? onTogglePWADialog(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-sm"
			appWindow
			[appWindowTitle]="'PWA'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onTogglePWADialog(false)"
		>
			<div class="flex flex-col gap-4 p-4" slot="content">
				<div class="flex items-center justify-start gap-4 bg-base-200 p-4 rounded-box">
					<i appSvgLogo [appSvgLogoIcon]="'takabase'" [appSvgLogoSquare]="'48'"></i>
					<p class="flex flex-col items-start justify-start">
						<span class="text-base font-bold">Takabase</span>
						<a class="link" href="https://takabase.com" target="_blank">https://takabase.com</a>
					</p>
				</div>
				<!-- prettier-ignore -->
				<ol class="list-inside list-decimal flex flex-col items-start justify-start gap-2">
					<li class="marker:font-bold">
            Tap on <i class="inline-block fill-current align-middle px-2" appSvgIcon [appSvgIconIcon]="'box-arrow-up'" [appSvgIconSquare]="'1.25em'"></i> in the browser menu
          </li>
					<li class="marker:font-bold">
            Scroll down and select
            <strong class="inline font-bold">
              <ng-container *appDevice="'desktop'">Add to Dock</ng-container>
              <ng-container *appDevice="'mobile'">Add to home screen</ng-container>
            </strong>
          </li>
					<li class="marker:font-bold">
            Look for the <i class="inline-block align-middle px-2" appSvgLogo [appSvgLogoIcon]="'takabase'" [appSvgLogoSquare]="'24'"></i> icon
            <ng-container *appDevice="'desktop'">in your Dock</ng-container>
            <ng-container *appDevice="'mobile'">on your home screen</ng-container>
          </li>
				</ol>
			</div>
		</div>
	</dialog>
</ng-container>
