<!-- @format -->

<ng-container>
	<div class="navbar rounded-box border border-base-content/20 bg-base-100 shadow-xl !p-4">
		<div class="navbar-start">
			<a
				class="flex items-center justify-center w-12 h-12"
				title="Takabase"
				aria-label="Takabase"
				appSvgLogo
				[routerLink]="['/']"
				[appSvgLogoIcon]="'takabase'"
				[appSvgLogoSquare]="'48'"
			>
			</a>
		</div>
		<div class="navbar-end">
			<nav class="block" appAuthenticated appSkeleton [appSkeletonToggle]="currentUserSkeletonToggle">
				<div class="flex items-center justify-end gap-4" slot="public">
					<a
						class="btn-ghost btn-square btn fill-current text-base-content"
						title="Login"
						aria-label="Login"
						appSvgIcon
						[routerLink]="['/login']"
						[routerLinkActive]="['btn-active']"
						[appSvgIconIcon]="'person-circle'"
						[appSvgIconSquare]="'1.5em'"
					>
					</a>
				</div>
				<div class="flex items-center justify-end gap-4" slot="private">
					<a
						class="btn-ghost btn-square btn fill-current text-base-content"
						title="Search"
						aria-label="Search"
						appSvgIcon
						[routerLink]="['/search']"
						[routerLinkActive]="['btn-active']"
						[appSvgIconIcon]="'search'"
						[appSvgIconSquare]="'1.5em'"
					>
					</a>
					<a
						class="btn-ghost btn-square btn fill-current text-base-content"
						title="Create new post"
						aria-label="Create new post"
						appSvgIcon
						[routerLink]="['/create']"
						[routerLinkActive]="['btn-active']"
						[routerLinkActiveOptions]="{ exact: true }"
						[appSvgIconIcon]="'file-earmark-plus'"
						[appSvgIconSquare]="'1.5em'"
					>
					</a>
					@if (currentUser) {
						<div
							class="flex cursor-pointer relative"
							data-pw="app-header-profile-dropdown"
							appDropdown
							[appDropdownPlacement]="'bottom-end'"
						>
							<div class="avatar" slot="target">
								<figure
									class="h-12 w-12 rounded-btn relative overflow-hidden"
									appAvatar
									[appAvatarUser]="currentUser"
								></figure>
							</div>
							<ul class="menu menu-vertical menu-md" slot="content">
								<li class="flex w-full snap-start scroll-my-2">
									<a
										class="rounded-btn block w-full truncate text-right"
										[title]="currentUser.name"
										[attr.aria-label]="currentUser.name"
										[routerLink]="['/', currentUser.name]"
									>
										My Profile
									</a>
								</li>
								<li class="flex w-full snap-start scroll-my-2">
									<a
										class="rounded-btn block w-full truncate text-right"
										title="Settings"
										aria-label="Settings"
										[routerLink]="['/settings']"
									>
										Settings
									</a>
								</li>
								<li class="flex w-full snap-start scroll-my-2">
									<a
										class="rounded-btn block w-full truncate text-right"
										title="About"
										aria-label="About"
										[routerLink]="['/help/about']"
									>
										About
									</a>
								</li>
								<li class="flex w-full snap-start scroll-my-2 menu-title">
									<hr class="my-0 border-base-content/20" />
								</li>
								<li class="flex w-full snap-start scroll-my-2">
									<button
										class="rounded-btn block w-full truncate text-right"
										type="button"
										title="Logout"
										aria-label="Logout"
										(click)="onLogout()"
									>
										Logout
									</button>
								</li>
							</ul>
						</div>
					}
				</div>
			</nav>
		</div>
	</div>
</ng-container>
