<!-- @format -->

<ng-container>
	<header
		class="navbar rounded-box border border-base-content/20 bg-base-100 shadow-xl"
	>
		<div class="navbar-start">
			<a
				class="btn-ghost btn-square btn fill-current"
				title="Bug"
				aria-label="Bug"
				appSvgIcon
				[routerLink]="['/help']"
				[appIcon]="'bug'"
				[appSquare]="'1.5em'"
				[appViewBox]="'0 0 16 16'"
			>
			</a>
		</div>
		<div class="navbar-center">
			<a
				class="btn-ghost btn text-xl normal-case"
				title="Draft"
				aria-label="Draft"
				[routerLink]="['/']"
			>
				Draft
			</a>
		</div>
		<div class="navbar-end">
			<ng-container *appAuthenticated="false">
				<nav class="flex items-center justify-end space-x-4">
					<a
						class="btn-primary btn"
						title="Login"
						aria-label="Login"
						[routerLink]="['/login']"
					>
						Login
					</a>
				</nav>
			</ng-container>
			<ng-container *appAuthenticated="true">
				<nav class="flex items-center justify-end space-x-2" *ngIf="!!authUser">
					<a
						class="btn-ghost btn-square btn fill-current"
						title="Create post"
						aria-label="Create post"
						appSvgIcon
						[routerLink]="['/create']"
						[routerLinkActive]="['btn-active']"
						[routerLinkActiveOptions]="{ exact: true }"
						[appIcon]="'file-earmark-plus'"
						[appSquare]="'1.5em'"
						[appViewBox]="'0 0 14 14'"
					>
					</a>
					<a
						class="btn-ghost btn-square btn fill-current"
						title="Search"
						aria-label="Search"
						appSvgIcon
						[routerLink]="['/search']"
						[routerLinkActive]="['btn-active']"
						[appIcon]="'search'"
						[appSquare]="'1.5em'"
						[appViewBox]="'0 0 14 14'"
					>
					</a>
					<a
						class="avatar"
						[routerLink]="[authUser | userUrl]"
						[attr.aria-label]="authUser.name"
						[title]="authUser.name"
					>
						<figure
							class="h-12 w-12 rounded-btn relative overflow-hidden"
							appAvatar
							[appUser]="authUser"
						></figure>
					</a>
				</nav>
			</ng-container>
		</div>
	</header>
</ng-container>
