<!-- @format -->

<ng-container>
	<div class="flex flex-col items-start justify-start gap-4">
		<form
			class="rounded-box flex w-full flex-col gap-4"
			autocomplete="off"
			[formGroup]="profileForm"
			(ngSubmit)="onSubmitProfileForm()"
		>
			<div class="flex flex-row w-full items-center justify-between gap-4">
				<div class="flex items-center justify-start gap-4 overflow-auto w-full">
					<!-- prettier-ignore -->
					@if (profileForm.get("avatar"); as avatar) {
            <div
              class="avatar border border-base-300 rounded-btn h-12 w-12 overflow-hidden"
              appSkeleton
              [appSkeletonToggle]="profileFormUserSkeletonToggle || profileFormAvatarIsSubmitted()"
              [appSkeletonClassListElementRef]="['border-transparent']"
              [ngClass]="{ 'cursor-not-allowed border-transparent bg-base-200': avatar.disabled, 'border-success': avatar.value && avatar.enabled, 'cursor-pointer': avatar.enabled }"
            >
              <figure
                class="relative w-full h-full"
                appUserAvatar
                [ngClass]="{ 'pointer-events-none !opacity-25': avatar.disabled }"
                [title]="(avatar.value ? 'Update' : 'Upload') + ' avatar'"
                [attr.aria-label]="(avatar.value ? 'Update' : 'Upload') + ' avatar'"
                [appUserAvatarPhotoUrl]="profileFormUser?.avatar ? profileFormUser?.avatar : profileForm.value['avatar']"
                [appUserAvatarName]="profileFormUser?.avatar ? profileFormUser?.avatar : profileForm.value['name']"
                (click)="onToggleCropperDialog()"
              ></figure>
            </div>
          }
					<div class="flex flex-1 flex-col gap-2 items-start w-full overflow-hidden">
						<h1
							class="truncate text-xl leading-6 font-bold text-base-content max-w-full"
							appSkeleton
							[appSkeletonToggle]="profileFormUserSkeletonToggle"
						>
							{{ currentUser.displayName }}
						</h1>
						<span
							class="truncate text-sm leading-4 text-base-content/60 max-w-full"
							appSkeleton
							[appSkeletonToggle]="profileFormUserSkeletonToggle"
						>
							Yep, that's you
						</span>
					</div>
				</div>
				@if (profileForm.get("avatar"); as avatar) {
					<div
						class="flex items-center justify-end"
						appDropdown
						appSkeleton
						[appDropdownPlacement]="'bottom-end'"
						[appSkeletonToggle]="profileFormUserSkeletonToggle"
					>
						<button
							class="btn-ghost btn-md btn-square btn bg-base-200 fill-current text-base-content"
							type="button"
							title="Avatar menu"
							aria-label="Avatar menu"
							appSvgIcon
							slot="target"
							[disabled]="avatar.disabled"
							[appSvgIconIcon]="'three-dots-vertical'"
							[appSvgIconSquare]="'1.5em'"
						></button>
						<ul class="menu menu-vertical menu-md" slot="content">
							<li class="flex w-full snap-start scroll-my-2 menu-title text-right text-xs">Avatar</li>
							<li class="flex w-full snap-start scroll-my-2">
								<button
									class="rounded-btn block w-full truncate text-right"
									data-pw="app-settings-profile-button-show-cropper-modal"
									type="button"
									[title]="(avatar.value ? 'Update' : 'Upload') + ' avatar'"
									[attr.aria-label]="(avatar.value ? 'Update' : 'Upload') + ' avatar'"
									(click)="onToggleCropperDialog()"
								>
									{{ avatar.value ? "Update" : "Upload" }}
								</button>
							</li>
							@if (avatar.value) {
								<li class="flex w-full snap-start scroll-my-2">
									<button
										class="rounded-btn block w-full truncate text-right"
										type="button"
										title="Delete avatar"
										aria-label="Delete avatar"
										(click)="onUpdateCropperAvatar(null)"
									>
										Delete
									</button>
								</li>
							}
						</ul>
					</div>
				}
			</div>
			<hr class="w-full border-base-300" />
			@if (profileForm.get("name"); as name) {
				<fieldset class="form-control">
					<label class="label pt-0" for="profileFormName">
						<div
							class="indicator"
							appSkeleton
							[appSkeletonToggle]="profileFormUserSkeletonToggle"
							[appSkeletonClassListElementRef]="['!-mx-1']"
						>
							@if (name.touched && !!name.errors && name.enabled) {
								<div class="block" appBadgeError [appBadgeErrorAbstractControl]="name"></div>
							}
							<span class="label-text mr-2">Name</span>
						</div>
					</label>
					<div class="relative" appSkeleton [appSkeletonToggle]="profileFormUserSkeletonToggle">
						<input
							class="input-bordered input input-md w-full"
							id="profileFormName"
							data-pw="app-settings-profile-form-name"
							type="text"
							title="Name"
							aria-label="Name"
							formControlName="name"
							placeholder="Type your name"
							appInputTrimWhitespace
							[class.input-success]="name.touched && name.valid"
							[class.input-error]="name.touched && name.invalid"
						/>
						@if (name.value) {
							<button
								class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
								data-pw="app-settings-profile-form-name-clear"
								type="button"
								title="Clear input"
								aria-label="Clear input"
								appSvgIcon
								[class.btn-success]="name.touched && name.valid"
								[class.btn-error]="name.touched && name.invalid"
								[class.btn-ghost]="name.untouched"
								[disabled]="name.disabled"
								[appSvgIconIcon]="'x'"
								[appSvgIconSquare]="'2em'"
								(click)="name.setValue('')"
							></button>
						}
					</div>
				</fieldset>
			}
			<p
				class="alert"
				data-pw="app-settings-profile-alert-change-name"
				role="alert"
				appSkeleton
				[class.border-0]="profileFormUserSkeletonToggle"
				[appSkeletonToggle]="profileFormUserSkeletonToggle"
				[appSkeletonClassList]="['!rounded-box']"
			>
				<i class="fill-current text-info" appSvgIcon [appSvgIconIcon]="'info-circle'" [appSvgIconSquare]="'1.5em'"></i>
				<!-- prettier-ignore -->
				<span class="block"> The name change will make the user profile <a class="inline font-bold link" target="_blank" [routerLink]="['/', currentUser.displayName]" [title]="currentUser.displayName" [attr.aria-label]="currentUser.displayName">{{ currentUser.displayName }}</a> no longer accessible via a direct link </span>
			</p>
			@if (profileForm.get("description"); as description) {
				<fieldset class="form-control">
					<label class="label" for="profileFormDescription">
						<div
							class="indicator"
							appSkeleton
							[appSkeletonToggle]="profileFormUserSkeletonToggle"
							[appSkeletonClassListElementRef]="['!-mx-1']"
						>
							@if (!!description.value && !!description.errors && description.enabled) {
								<div class="block" appBadgeError [appBadgeErrorAbstractControl]="description"></div>
							}
							@if (!description.errors && !profileFormUserSkeletonToggle) {
								<span
									class="badge indicator-item w-max translate-x-full translate-y-0 text-xs"
									[class.badge-ghost]="!description.value"
									[class.badge-success]="!!description.value && profileForm.enabled"
									[class.opacity-25]="description.disabled"
								>
									Optional
								</span>
							}
							<span class="label-text mr-2">Description</span>
						</div>
						@if (!profileFormUserSkeletonToggle) {
							<span
								class="label-text-alt"
								[class.text-base-content]="description.disabled"
								[class.text-success]="description.enabled && !!description.value && description.valid"
								[class.text-error]="description.enabled && !!description.value && description.invalid"
							>
								{{ description.value?.length || 0 }}/192
							</span>
						}
					</label>
					<div
						class="textarea-autosize w-full"
						appSkeleton
						[appSkeletonToggle]="profileFormUserSkeletonToggle"
						[appSkeletonClassListElementRef]="['!border-0']"
						[ngClass]="{ 'border-base-300': description.enabled, 'border-transparent': description.disabled }"
						[class.textarea-autosize-success]="description.value && description.valid"
						[class.textarea-autosize-error]="description.value && description.invalid"
					>
						<textarea
							class="textarea textarea-md w-full max-h-64 overflow-x-hidden"
							id="profileFormDescription"
							data-pw="app-settings-profile-form-description"
							title="Description"
							aria-label="Description"
							placeholder="Type your description"
							formControlName="description"
							appInputTrimWhitespace
							appTextareaAutosize
							[rows]="4"
						></textarea>
					</div>
				</fieldset>
			}
			<fieldset class="form-control">
				<!-- prettier-ignore -->
				<button
					class="btn btn-md btn-success w-full"
					data-pw="app-settings-profile-form-submit"
					type="submit"
					[title]="profileFormStage"
					[attr.aria-label]="profileFormStage"
          appSkeleton
          [appSkeletonToggle]="profileFormUserSkeletonToggle"
          [appSkeletonClassListElementRef]="['border-0']"
					[disabled]="profileForm.invalid || profileForm.disabled || profileFormIsPristine || profileFormAvatarIsSubmitted()"
				>
					@if (profileForm.disabled) {
						<span class="loading loading-spinner"></span>
					}
					{{ profileFormStage }}
				</button>
			</fieldset>
		</form>
	</div>
</ng-container>
