<!-- @format -->

<ng-container>
	<div class="flex flex-col items-start justify-start gap-4">
		<form
			class="rounded-box flex w-full flex-col gap-4"
			autocomplete="off"
			[formGroup]="profileForm"
			(ngSubmit)="onSubmitProfileForm()"
		>
			<div class="flex flex-row w-full items-center justify-between gap-4">
				<div class="flex items-center justify-start gap-4 overflow-auto w-full">
					<div
						class="avatar"
						appSkeleton
						[appSkeletonToggle]="currentUserSkeletonToggle || profileFormAvatarSkeletonToggle"
					>
						@if (profileForm.get("avatar"); as avatar) {
							<!-- prettier-ignore -->
							<figure
                class="block rounded-btn relative h-12 w-12 overflow-hidden transition"
                data-pw="app-settings-profile-image-avatar"
                appAvatar
                [ngClass]="{ 'cursor-not-allowed border border-transparent opacity-50 grayscale bg-base-200': profileForm.disabled, 'cursor-pointer': profileForm.enabled, 'border border-success': avatar.value }"
                [appAvatarUser]="currentUser"
                (click)="appCropperComponent.onToggleCropper(true)"
              ></figure>
						}
					</div>
					<div class="flex flex-col gap-2 items-start w-full overflow-hidden">
						<h1
							class="truncate text-xl leading-6 font-bold text-base-content max-w-full"
							data-pw="app-settings-profile-heading-user-name"
							appSkeleton
							[appSkeletonToggle]="currentUserSkeletonToggle"
						>
							{{ currentUser.name }}
						</h1>
						<time
							class="truncate text-sm leading-4 text-base-content/50 max-w-full"
							appSkeleton
							[appSkeletonToggle]="currentUserSkeletonToggle"
							[attr.datetime]="currentUser.updatedAt | dayjs: 'format' : 'YYYY-M-D'"
						>
							Last updated {{ currentUser.updatedAt | dayjs: "fromX" }}
						</time>
					</div>
				</div>
				<div
					class="flex items-center justify-end"
					appDropdown
					appSkeleton
					[appSkeletonToggle]="currentUserSkeletonToggle"
					[appDropdownPlacement]="'bottom-end'"
				>
					<button
						class="btn-ghost btn-md btn-square btn bg-base-200 fill-current"
						type="button"
						title="Menu"
						aria-label="Menu"
						appSvgIcon
						slot="target"
						[disabled]="profileForm.disabled"
						[appSvgIconIcon]="'three-dots-vertical'"
						[appSvgIconSquare]="'1.5em'"
					></button>
					<ul class="menu menu-vertical menu-md" slot="content">
						@if (profileForm.get("avatar"); as avatar) {
							<li class="flex w-full snap-start scroll-my-2">
								<button
									class="rounded-btn block w-full truncate text-right"
									data-pw="app-settings-profile-button-show-cropper-modal"
									type="button"
									title="Update"
									aria-label="Update"
									(click)="appCropperComponent.onToggleCropper(true)"
								>
									{{ avatar.value ? "Update" : "Set avatar" }}
								</button>
							</li>
							@if (avatar.value) {
								<li class="flex w-full snap-start scroll-my-2">
									<button
										class="rounded-btn block w-full truncate text-right"
										type="button"
										title="Delete"
										aria-label="Delete"
										(click)="onUpdateCropperAvatar(null)"
									>
										Delete
									</button>
								</li>
							}
						}
					</ul>
				</div>
			</div>
			<hr class="w-full border-base-content/20" />
			@if (profileForm.get("name"); as name) {
				<fieldset class="form-control">
					<label class="label" for="profileFormName">
						<div
							class="indicator"
							appSkeleton
							[appSkeletonToggle]="currentUserSkeletonToggle"
							[appSkeletonClassListElementRef]="['!-mx-1']"
						>
							@if (name.touched && !!name.errors && profileForm.enabled) {
								<div class="block" appBadgeError [appBadgeErrorAbstractControl]="name"></div>
							}
							<span class="label-text mr-2">Name</span>
						</div>
					</label>
					<div class="relative" appSkeleton [appSkeletonToggle]="currentUserSkeletonToggle">
						<input
							class="input-bordered input input-md w-full !pr-12"
							id="profileFormName"
							data-pw="app-settings-profile-form-name"
							type="text"
							aria-label="Name"
							formControlName="name"
							placeholder="Type your name"
							appInputTrimWhitespace
							[class.input-success]="name.touched && name.valid"
							[class.input-error]="name.touched && name.invalid"
						/>
						@if (name.value) {
							<button
								class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
								data-pw="app-settings-profile-form-name-clear"
								type="button"
								aria-label="Clear"
								appSvgIcon
								[class.btn-success]="name.touched && name.valid"
								[class.btn-error]="name.touched && name.invalid"
								[class.btn-ghost]="name.untouched"
								[disabled]="profileForm.disabled"
								[appSvgIconIcon]="'x'"
								[appSvgIconSquare]="'2em'"
								(click)="name.setValue('')"
							></button>
						}
					</div>
				</fieldset>
			}
			<p
				class="alert"
				data-pw="app-settings-profile-alert-change-name"
				role="alert"
				appSkeleton
				[appSkeletonToggle]="currentUserSkeletonToggle"
			>
				<i
					class="fill-current text-info"
					appSvgIcon
					[appSvgIconIcon]="'info-circle'"
					[appSvgIconSquare]="'1.5em'"
				></i>
				<!-- prettier-ignore -->
				<span class="block"> Change the name will set the <strong class="inline font-bold"> {{ currentUser | userUrl: 1 }} </strong> user profile not more available by direct link or QR code </span>
			</p>
			@if (profileForm.get("description"); as description) {
				<fieldset class="form-control">
					<label class="label" for="profileFormDescription">
						<div
							class="indicator"
							appSkeleton
							[appSkeletonToggle]="currentUserSkeletonToggle"
							[appSkeletonClassListElementRef]="['!-mx-1']"
						>
							<!-- prettier-ignore -->
							@if (!currentUserSkeletonToggle && !!description.value && !!description.errors && profileForm.enabled) {
                <div class="block" appBadgeError [appBadgeErrorAbstractControl]="description"></div>
              }
							@if (!currentUserSkeletonToggle && !description.errors) {
								<span
									class="badge indicator-item w-max translate-x-full translate-y-0 text-xs"
									[class.badge-ghost]="!description.value"
									[class.badge-success]="!!description.value && profileForm.enabled"
									[class.opacity-25]="profileForm.disabled"
								>
									Optional
								</span>
							}
							<span class="label-text mr-2">Description</span>
						</div>
						<span
							class="label-text-alt"
							appSkeleton
							[appSkeletonToggle]="currentUserSkeletonToggle"
							[class.text-base-content]="profileForm.disabled"
							[class.text-success]="profileForm.enabled && !!description.value && description.valid"
							[class.text-error]="profileForm.enabled && !!description.value && description.invalid"
						>
							{{ description.value?.length || 0 }}/255
						</span>
					</label>
					<!-- prettier-ignore -->
					<div
            class="textarea-autosize w-full"
            appSkeleton
            [appSkeletonToggle]="currentUserSkeletonToggle"
            [appSkeletonClassListElementRef]="['!border-0']"
            [ngClass]="{ 'border-base-content/20': profileForm.enabled, 'border-transparent': profileForm.disabled }"
            [class.textarea-autosize-success]="description.value && description.valid"
            [class.textarea-autosize-error]="description.value && description.invalid"
          >
            <textarea
              class="textarea textarea-md w-full max-h-64"
              id="profileFormDescription"
              data-pw="app-settings-profile-form-description"
              aria-label="Description"
              placeholder="Type your description"
              formControlName="description"
              appInputTrimWhitespace
              appTextareaAutosize
              [rows]="4"
            ></textarea>
          </div>
				</fieldset>
			}
			<fieldset class="form-control">
				<!-- prettier-ignore -->
				<button
					class="btn btn-md btn-success w-full"
					data-pw="app-settings-profile-form-submit"
					type="submit"
					aria-label="Submit"
					appSkeleton
					[appSkeletonToggle]="currentUserSkeletonToggle"
					[appSkeletonClassListElementRef]="['border-0']"
					[disabled]="profileForm.invalid || profileForm.disabled || profileFormIsPristine || profileFormAvatarSkeletonToggle"
				>
					@if (profileForm.disabled && !appCropperComponent.cropperDialogToggle) {
						<span class="loading loading-spinner"></span>
					}
					Submit
				</button>
			</fieldset>
		</form>
	</div>
	<div
		appCropper
		#appCropperComponent
		(appCropperSubmit)="onSubmitCropperAvatar($event)"
		(appCropperToggle)="onToggleProfileFormStatus($event)"
	></div>
</ng-container>
