<!-- @format -->

<ng-container>
	<div
		class="rounded-box flex flex-col space-y-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
	>
		<div class="flex flex-col border-b border-base-content/20 pb-4">
			<h1 class="text-2xl font-bold">Email confirmation</h1>
		</div>
		<div class="flex flex-col space-y-4">
			<p class="alert inline">
				Thank you for verifying your email address. You are now officially a
				member of our community. Get ready to enjoy exclusive updates and
				exciting content delivered straight to you.
			</p>
			<a
				class="btn-outline btn-success btn w-full"
				aria-label="Create post"
				[routerLink]="'/create'"
			>
				Create post
			</a>
		</div>
	</div>
</ng-container>
