<!-- @format -->

<ng-container>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#categoryUpdateDialogElement
		(keydown.escape)="$event.preventDefault(); onToggleCategoryUpdateDialog(false)"
		(click)="$event.target === $event.currentTarget ? onToggleCategoryUpdateDialog(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-lg"
			appWindow
			[appWindowTitle]="'Update'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onToggleCategoryUpdateDialog(false)"
		>
			<form
				class="flex flex-col gap-4 p-4"
				autocomplete="off"
				slot="content"
				[formGroup]="categoryUpdateForm"
				(ngSubmit)="onSubmitCategoryUpdateForm()"
			>
				@if (categoryUpdateForm.get("name"); as name) {
					<fieldset class="form-control">
						<label class="label" for="categoryUpdateFormName">
							<div class="indicator">
								@if (name.touched && !!name.errors && categoryUpdateForm.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="name"></div>
								}
								<span class="label-text mr-2">Name</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input input-bordered input-md w-full !pr-12"
								id="categoryUpdateFormName"
								type="text"
								aria-label="Name"
								formControlName="name"
								placeholder="Type category name"
								appInputTrimWhitespace
								[class.input-success]="name.touched && name.valid"
								[class.input-error]="name.touched && name.invalid"
							/>
							@if (name.value) {
								<button
									class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
									type="button"
									aria-label="Clear"
									appSvgIcon
									[class.btn-success]="name.touched && name.valid"
									[class.btn-error]="name.touched && name.invalid"
									[class.btn-ghost]="name.untouched"
									[disabled]="categoryUpdateForm.disabled"
									[appSvgIconIcon]="'x'"
									[appSvgIconSquare]="'2em'"
									(click)="name.setValue('')"
								></button>
							}
						</div>
					</fieldset>
				}
				@if (categoryUpdateForm.get("description"); as description) {
					<fieldset class="form-control">
						<label class="label" for="categoryUpdateFormDescription">
							<div class="indicator">
								@if (!!description.value && !!description.errors && categoryUpdateForm.enabled) {
									<div
										class="block"
										appBadgeError
										[appBadgeErrorAbstractControl]="description"
									></div>
								}
								@if (!description.errors) {
									<span
										class="badge indicator-item w-max translate-x-full translate-y-0 text-xs"
										[class.badge-ghost]="!description.value"
										[class.badge-success]="!!description.value && categoryUpdateForm.enabled"
										[class.opacity-25]="categoryUpdateForm.disabled"
									>
										Optional
									</span>
								}
								<span class="label-text mr-2">Description</span>
							</div>
							<!-- prettier-ignore -->
							<span
                class="label-text-alt"
                [class.text-base-content]="categoryUpdateForm.disabled"
                [class.text-success]="categoryUpdateForm.enabled && !!description.value && description.valid"
                [class.text-error]="categoryUpdateForm.enabled && !!description.value && description.invalid"
              >
                {{ description.value?.length || 0 }}/192
              </span>
						</label>
						<!-- prettier-ignore -->
						<div
              class="textarea-autosize w-full"
              [ngClass]="{ 'border-base-content/20': categoryUpdateForm.enabled, 'border-transparent': categoryUpdateForm.disabled }"
              [class.textarea-autosize-success]="description.value && description.valid"
              [class.textarea-autosize-error]="description.value && description.invalid"
            >
              <textarea
                class="textarea textarea-md w-full max-h-64"
                id="categoryUpdateFormDescription"
                aria-label="Description"
                placeholder="Type category description"
                formControlName="description"
                appInputTrimWhitespace
                appTextareaAutosize
                [rows]="4"
              ></textarea>
            </div>
					</fieldset>
				}
				<fieldset class="form-control gap-4">
					<!-- prettier-ignore -->
					<button
						class="btn btn-md btn-success"
						type="submit"
						aria-label="Submit"
						[disabled]="categoryUpdateForm.invalid || categoryUpdateForm.disabled || categoryUpdateFormIsPristine"
					>
            @if (categoryUpdateForm.disabled) {
              <span class="loading loading-spinner"></span>
            }
						Submit
					</button>
				</fieldset>
			</form>
		</div>
	</dialog>
</ng-container>
