<section class="flex justify-center items-start md:w-96 mx-auto p-4">
  <form
    class="bg-primary-3 border border-primary-4 rounded-md w-full p-4"
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmitForm()"
    autocomplete="off">
    <h1 class="text-2xl text-secondary-1 font-medium">Join to Draft</h1>
    <div class="flex space-x-1 text-base">
      <span class="block text-secondary-2">Already have an account?</span>
      <a
        class="text-info-1 hover:underline"
        [routerLink]="'/auth/login'"
        aria-label="Sign in">Sign in
      </a>
    </div>
    <app-oauth class="block my-4"></app-oauth>
    <fieldset class="flex flex-col space-y-4" [disabled]="isSubmitting">
      <fieldset *ngIf="registrationForm.get('name') as name">
        <label class="block text-secondary-2 text-sm" for="name">Username</label>
        <input
          id="name"
          type="text"
          class="form-control bg-primary-2 my-2"
          formControlName="name"
          placeholder="Username"
          aria-label="Username" />
        <span class="block text-sm text-red-400" *ngIf="name.touched && name.errors" [ngSwitch]="true">
          <ng-container *ngSwitchCase="!!name.errors.required">Required</ng-container>
          <ng-container *ngSwitchCase="!!name.errors.minlength">Min length {{name.errors.minlength['requiredLength']}} characters</ng-container>
          <ng-container *ngSwitchCase="!!name.errors.maxlength">Max length {{name.errors.maxlength['requiredLength']}} characters</ng-container>
        </span>
      </fieldset>
      <fieldset *ngIf="registrationForm.get('email') as email">
        <label class="block text-secondary-2 text-sm" for="email">Email</label>
        <input
          id="email"
          type="email"
          class="form-control bg-primary-2 my-2"
          formControlName="email"
          placeholder="Email"
          aria-label="Email" />
        <span class="block text-sm text-red-400" *ngIf="email.touched && email.errors" [ngSwitch]="true">
          <ng-container *ngSwitchCase="!!email.errors.required">Required</ng-container>
          <ng-container *ngSwitchCase="!!email.errors.email">Email must be a real email address</ng-container>
        </span>
      </fieldset>
      <fieldset *ngIf="registrationForm.get('password') as password">
        <label class="block text-secondary-2 text-sm" for="password">Password</label>
        <div class="relative" *ngIf="{ value: false } as isVisible">
          <input
            id="password"
            [type]="isVisible.value ? 'text' : 'password'"
            class="form-control bg-primary-2 my-2 pr-11"
            formControlName="password"
            placeholder="Password"
            aria-label="Password" />
          <div
            class="absolute top-0 right-0 fill-current text-secondary-2 opacity-50 cursor-pointer p-2.5"
            *ngIf="password.value.length"
            (touchstart)="isVisible.value = !isVisible.value"
            (mouseenter)="isVisible.value = true"
            (mouseleave)="isVisible.value = false"
            appSvgIcon
            [appIcon]="isVisible.value ? 'eye' : 'eye-slash'"
            [appSquare]="'1.35rem'"
            [@fade]>
          </div>
        </div>
        <span class="block text-sm text-red-400 mb-2" *ngIf="password.touched && password.errors" [ngSwitch]="true">
          <ng-container *ngSwitchCase="!!password.errors.required">Required</ng-container>
          <ng-container *ngSwitchCase="!!password.errors.pattern">Password does not match pattern</ng-container>
        </span>
        <label class="block text-secondary-2 text-sm" for="password">The password must be 6-32 characters long, must contain at least one number, one special character and uppercase and lowercase letters with no space</label>
      </fieldset>
      <button class="btn btn-success w-full" type="submit" [disabled]="registrationForm.invalid">Create account</button>
    </fieldset>
  </form>
</section>
