@mixin theme-light {
  --primary-1: #dedede;
  --primary-2: #f7f7f7;
  --primary-3: #ffffff;
  --primary-4: #c4c4c4;
  --secondary-1: #3d3d3d;
  --info-1: #08a1da;
  --info-2: #508ef3;
  --success-1: #3ac76c;
  --warning-1: #ffc107;
  --danger-1: #ef4444;
}

@mixin theme-dark {
  --primary-1: #2c2c2c;
  --primary-2: #3e3e3e;
  --primary-3: #343434;
  --primary-4: #222222;
  --secondary-1: #f7f7f3;
  --info-1: #1bb0e5;
  --info-2: #5fa6ff;
  --success-1: #139050;
  --warning-1: #e09918;
  --danger-1: #b52828;
}

:root {
  @media (prefers-color-scheme: light) {
    @include theme-light;
  }

  @media (prefers-color-scheme: dark) {
    @include theme-dark;
  }
}
