<!-- @format -->

<ng-container>
	<ul
		class="fixed right-0 bottom-0 z-40 flex max-w-lg flex-col items-end justify-end space-y-5 p-8"
	>
		<li
			class="alert shadow-lg"
			*ngFor="let snack of snackbarList"
			[ngClass]="snack.options.classList"
			(click)="onClose(snack.uuid)"
		>
			<div class="flex w-full flex-col items-start justify-start">
				<span class="block font-bold capitalize" *ngIf="!!snack.title">
					{{ snack.title }}
				</span>
				<div class="first-letter:capitalize">{{ snack.message }}</div>
				<progress
					class="progress opacity-50"
					[value]="snack.progress.value || 0"
					[max]="100"
				></progress>
			</div>
		</li>
	</ul>
</ng-container>
