<!-- @format -->

<ng-container>
	<ul
		class="fixed right-0 bottom-0 flex flex-col space-y-5 items-end justify-end max-w-lg p-8 z-40"
	>
		<li
			class="alert shadow-lg"
			[ngClass]="snack.options.classList"
			*ngFor="let snack of snackbarList"
			(click)="onClose(snack.uuid)"
		>
			<div class="flex flex-col items-start justify-start w-full">
				<span class="block font-bold capitalize" *ngIf="snack.title">
					{{ snack.title }}
				</span>
				<div class="first-letter:capitalize">{{ snack.message }}</div>
				<progress
					class="progress opacity-50"
					[value]="snack.progress.value || 0"
					[max]="100"
				></progress>
			</div>
		</li>
	</ul>
</ng-container>
