<!-- @format -->

<ng-container>
	<article
		class="rounded-box flex h-full w-full flex-col overflow-hidden border border-base-content/20 bg-base-100 shadow-xl"
	>
		<figure class="block" *ngIf="!!post.image">
			<a
				class="relative block aspect-square"
				appSkeleton
				[appSkeletonToggle]="postSkeletonToggle"
				[routerLink]="[postUrl, post.id]"
				[queryParamsHandling]="'preserve'"
				[attr.aria-label]="post.name"
			>
				<img
					class="object-cover object-center"
					loading="lazy"
					[fill]="true"
					[ngSrc]="post.image"
					[alt]="post.name"
				/>
			</a>
		</figure>
		<div class="flex h-full w-full flex-col gap-2 p-4">
			<div
				class="bg-base-100 relative rounded-btn overflow-hidden"
				appSkeleton
				[appSkeletonToggle]="postSkeletonToggle"
			>
				<a
					class="link font-bold line-clamp-1 lg:line-clamp-2"
					[routerLink]="[postUrl, post.id]"
					[queryParamsHandling]="'preserve'"
					[attr.aria-label]="post.name"
				>
					{{ post.name }}
				</a>
			</div>
			<div
				class="bg-base-100 relative rounded-btn overflow-hidden"
				appSkeleton
				[appSkeletonToggle]="postSkeletonToggle"
			>
				<p class="text-base-content line-clamp-2 lg:line-clamp-3">
					{{ post.description }}
				</p>
			</div>
			<div
				class="!mt-auto bg-base-100 relative rounded-btn overflow-hidden"
				appSkeleton
				[appSkeletonToggle]="postSkeletonToggle"
			>
				<time
					class="text-sm text-base-content/50"
					[attr.datetime]="post.updatedAt"
				>
					{{ post.updatedAt | dayjs: "fromX" }}
				</time>
			</div>
		</div>
	</article>
</ng-container>
