<!-- @format -->

<ng-container>
	<button
		class="btn-ghost btn-md btn-square btn bg-base-200 fill-current"
		type="button"
		appSkeleton
		[title]="(postBookmark ? 'Add to' : 'Remove from') + ' bookmarks'"
		[attr.aria-label]="(postBookmark ? 'Add to' : 'Remove from') + ' bookmarks'"
		[ngClass]="postBookmark && !postBookmarkIsLoading ? 'text-success' : 'text-base-content'"
		[appSkeletonToggle]="postBookmarkSkeletonToggle"
		(click)="onClick()"
	>
		@switch (postBookmarkIsLoading) {
			@case (true) {
				<span class="loading loading-spinner"></span>
			}
			@default {
				<i
					class="block"
					appSvgIcon
					[appSvgIconIcon]="postBookmark ? 'bookmark-check-fill' : 'bookmark'"
					[appSvgIconSquare]="'1.5em'"
				>
				</i>
			}
		}
	</button>
</ng-container>
