<section class="bg-primary-3 border border-primary-4 rounded-md w-full p-4">
  <form
    class="block"
    [formGroup]="avatarForm"
    (ngSubmit)="onSubmitForm()"
    autocomplete="off">
    <fieldset class="flex items-start justify-start space-x-4 border-b border-primary-4 pb-4 mb-4">
      <figure
        class="flex border border-primary-4 overflow-hidden rounded-md cursor-pointer h-[76px] w-[76px]"
        appAvatar
        [appUser]="user"
        (click)="fileInput.click()">
      </figure>
      <fieldset class="flex flex-1 flex-col space-y-2 mt-0.5" *ngIf="avatarForm.get('url') as url">
        <label class="block text-secondary-2" for="url">Only *.png, *.jpg files</label>
        <div class="relative">
          <input
            id="url"
            type="text"
            class="form-control bg-primary-2 truncate pr-10"
            formControlName="url"
            placeholder="URL address"
            aria-label="Url">
          <i
            class="absolute top-px right-px fill-current bg-primary-2 text-secondary-1 hover:text-info-1 border-l border-primary-4 rounded-r-md cursor-pointer p-2.5"
            appSvgIcon
            [appIcon]="'folder'"
            [appSquare]="'1.25rem'"
            (click)="fileInput.click()">
          </i>
        </div>
        <label class="block text-danger-1 text-sm" for="url" *ngIf="url.touched && url.errors" [ngSwitch]="true">
          <ng-container *ngSwitchCase="!!url.errors.required">Required</ng-container>
          <ng-container *ngSwitchCase="!!url.errors.customValidator">Url does not match pattern</ng-container>
        </label>
      </fieldset>
      <fieldset class="flex hidden">
        <input
          id="file"
          type="file"
          accept="image/gif, image/jpeg, image/jpg, image/png"
          placeholder="File"
          aria-label="File"
          (change)="onShowCropper($event)"
          #fileInput>
      </fieldset>
    </fieldset>
    <app-cropper
      *ngIf="cropperModal"
      [appFile]="cropperFile"
      [appUrl]="cropperUrl"
      [appEvent]="cropperEvent"
      (closed)="onCloseCropper()"
      (submitted)="onSubmitCropper()">
    </app-cropper>
  </form>
  <form
    class="block"
    [formGroup]="accountForm"
    (ngSubmit)="onSubmitForm()"
    autocomplete="off">
    <fieldset class="flex flex-col space-y-4" [disabled]="accountFormIsSubmitted">
      <fieldset *ngIf="accountForm.get('name') as name">
        <label class="block text-secondary-2 text-sm" for="name">Name</label>
        <input
          id="name"
          type="text"
          class="form-control bg-primary-2 truncate my-2"
          formControlName="name"
          placeholder="Name"
          aria-label="Name">
        <label class="block text-sm text-danger-1" for="name" *ngIf="name.touched && name.errors" [ngSwitch]="true">
          <ng-container *ngSwitchCase="!!name.errors.required">Required</ng-container>
        </label>
      </fieldset>
      <fieldset *ngIf="accountForm.get('biography') as biography">
        <label class="block text-secondary-2 text-sm" for="biography">Biography</label>
        <textarea
          id="biography"
          type="text"
          class="form-control bg-primary-2 my-2"
          formControlName="biography"
          placeholder="Biography"
          aria-label="Biography">
        </textarea>
        <label class="block text-sm text-danger-1" for="biography" *ngIf="biography.touched && biography.errors" [ngSwitch]="true">
          <ng-container *ngSwitchCase="!!biography.errors.required">Required</ng-container>
        </label>
      </fieldset>
      <button
        class="btn btn-success md w-full"
        type="submit"
        aria-label="Submit"
        [disabled]="accountForm.invalid || accountFormIsSubmitted">Submit
      </button>
    </fieldset>
  </form>
</section>
