<!-- @format -->

<ng-container>
	<div
		class="flex flex-col items-start justify-start gap-4"
		[ngSwitch]="passwordCheckIsValid"
	>
		<form
			class="flex w-full flex-col gap-4"
			autocomplete="off"
			*ngSwitchCase="false"
			[formGroup]="passwordCheckForm"
			(ngSubmit)="onSubmitPasswordCheckForm()"
		>
			<fieldset
				class="form-control"
				*ngIf="passwordCheckForm.get('password') as password"
			>
				<label class="label" for="passwordCheckFormPassword">
					<div class="indicator">
						<!-- prettier-ignore -->
						<span
              class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
              *ngIf="password.touched && !!password.errors && passwordCheckForm.enabled"
              [ngSwitch]="true"
            >
              <ng-container *ngSwitchCase="!!password.errors.required">
                Required
              </ng-container>
              <ng-container *ngSwitchCase="!!password.errors.pattern">
                Password does not match pattern
              </ng-container>
            </span>
						<span class="label-text mr-2">Current password</span>
					</div>
				</label>
				<div class="relative" *ngIf="{ value: false } as isVisible">
					<input
						class="input-bordered input input-md w-full truncate pr-12"
						id="passwordCheckFormPassword"
						aria-label="Password"
						formControlName="password"
						autocomplete="new-password"
						placeholder="Type your current password"
						appInputTrimWhitespace
						[type]="isVisible.value ? 'text' : 'password'"
						[class.input-success]="password.dirty && password.valid"
						[class.input-error]="password.touched && password.invalid"
					/>
					<!-- prettier-ignore -->
					<button
						class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
						type="button"
						aria-label="Password"
						appSvgIcon
						*ngIf="!!password.value.length"
						[class.btn-success]="password.dirty && password.value"
						[class.btn-error]="password.touched && password.invalid"
            [class.btn-ghost]="password.untouched && password.dirty && password.invalid"
						[disabled]="password.disabled"
						[appIcon]="'incognito'"
						[appSquare]="'1.5em'"
						(touchstart)="isVisible.value = !isVisible.value"
						(mouseenter)="isVisible.value = true"
						(mouseleave)="isVisible.value = false"
					></button>
				</div>
			</fieldset>
			<p class="alert">
				<i
					class="fill-current text-info"
					appSvgIcon
					[appIcon]="'info-circle'"
					[appSquare]="'1.5em'"
				></i>
				<span class="block">
					Please provide your current password to continue. Your password
					ensures the security and integrity of your account.
				</span>
			</p>
			<fieldset class="form-control">
				<!-- prettier-ignore -->
				<button
          class="btn btn-success w-full"
          type="submit"
          aria-label="Continue"
          [disabled]="passwordCheckForm.invalid || passwordCheckForm.disabled"
        >
          <span
            class="loading loading-spinner"
            *ngIf="passwordCheckForm.disabled"
          ></span>
          Continue
        </button>
			</fieldset>
		</form>
		<ng-container *ngSwitchCase="true">
			<form
				class="flex w-full flex-col gap-4"
				autocomplete="off"
				[formGroup]="emailForm"
				(ngSubmit)="onSubmitEmailForm()"
			>
				<fieldset class="form-control" *ngIf="emailForm.get('email') as email">
					<label class="label" for="emailFormEmail">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
                *ngIf="email.touched && !!email.errors && emailForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!email.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!email.errors.email">
                  Email must be a real email address
                </ng-container>
              </span>
							<span class="label-text mr-2">New email</span>
						</div>
					</label>
					<div class="relative">
						<input
							class="input-bordered input input-md w-full truncate pr-12"
							id="emailFormEmail"
							type="email"
							aria-label="Email"
							formControlName="email"
							autocomplete="email"
							placeholder="Type your new email"
							appInputTrimWhitespace
							[class.input-success]="email.dirty && email.valid"
							[class.input-error]="email.touched && email.invalid"
						/>
						<!-- prettier-ignore -->
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Reset"
							appSvgIcon
							*ngIf="!!email.value.length"
							[class.btn-success]="email.dirty && email.valid"
							[class.btn-error]="email.touched && email.invalid"
							[class.btn-ghost]="email.untouched && email.dirty && email.invalid"
							[disabled]="email.disabled"
							[appIcon]="'x'"
              [appSquare]="'2em'"
							(click)="email.setValue('')"
						></button>
					</div>
				</fieldset>
				<fieldset class="form-control" [ngSwitch]="authUser.emailConfirmed">
					<button
						class="btn-success btn w-full"
						type="submit"
						aria-label="Submit"
						*ngSwitchCase="true"
						[disabled]="emailForm.invalid || emailForm.disabled"
					>
						<span
							class="loading loading-spinner"
							*ngIf="emailForm.disabled"
						></span>
						Submit
					</button>
					<div class="flex flex-col gap-4" *ngSwitchCase="false">
						<p class="alert">
							<i
								class="fill-current text-info"
								appSvgIcon
								[appIcon]="'info-circle'"
								[appSquare]="'1.5em'"
							></i>
							<span class="block">
								To maintain the security and validity of your account, we
								require email address verification before making any changes.
								This verification step helps us ensure that you have full
								control over your account and protects your information from
								unauthorized access.
							</span>
						</p>
						<button
							class="btn-success btn w-full"
							type="button"
							aria-label="Confirm"
							[disabled]="emailFormConfirmationIsSubmitted"
							(click)="onSubmitEmailConfirmation()"
						>
							<span
								class="loading loading-spinner"
								*ngIf="emailFormConfirmationIsSubmitted"
							></span>
							Confirm
						</button>
					</div>
				</fieldset>
			</form>
			<hr class="w-full border-base-content/20" />
			<form
				class="flex w-full flex-col gap-4"
				autocomplete="off"
				[formGroup]="passwordForm"
				(ngSubmit)="onSubmitPasswordForm()"
			>
				<fieldset
					class="form-control"
					*ngIf="passwordForm.get('password') as password"
				>
					<label class="label" for="passwordFormPassword">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngIf="password.touched && !!password.errors && passwordForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!password.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!password.errors.pattern">
                  Password does not match pattern
                </ng-container>
              </span>
							<span class="label-text mr-2">New password</span>
						</div>
					</label>
					<div class="relative" *ngIf="{ value: false } as isVisible">
						<input
							class="input-bordered input input-md w-full truncate pr-12"
							id="passwordFormPassword"
							aria-label="Password"
							formControlName="password"
							autocomplete="new-password"
							placeholder="Type your new password"
							appInputTrimWhitespace
							[type]="isVisible.value ? 'text' : 'password'"
							[class.input-success]="password.dirty && password.valid"
							[class.input-error]="password.touched && password.invalid"
						/>
						<!-- prettier-ignore -->
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Password"
							appSvgIcon
							*ngIf="!!password.value.length"
							[class.btn-success]="password.dirty && password.value"
							[class.btn-error]="password.touched && password.invalid"
              [class.btn-ghost]="password.untouched && password.dirty && password.invalid"
							[disabled]="password.disabled"
							[appIcon]="'incognito'"
							[appSquare]="'1.5em'"
							(touchstart)="isVisible.value = !isVisible.value"
							(mouseenter)="isVisible.value = true"
							(mouseleave)="isVisible.value = false"
						></button>
					</div>
				</fieldset>
				<p class="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appIcon]="'info-circle'"
						[appSquare]="'1.5em'"
					></i>
					<span class="block">
						The password must be 6-32 characters long, must contain at least one
						number or special character
					</span>
				</p>
				<fieldset class="form-control">
					<!-- prettier-ignore -->
					<button
            class="btn btn-success w-full"
            type="submit"
            aria-label="Submit"
            [disabled]="passwordForm.invalid || passwordForm.disabled"
          >
            <span
              class="loading loading-spinner"
              *ngIf="passwordForm.disabled"
            ></span>
            Submit
          </button>
				</fieldset>
			</form>
		</ng-container>
	</div>
</ng-container>
