<!-- @format -->

<ng-container>
	<div class="flex flex-col items-start justify-start gap-4">
		<form
			class="rounded-box flex w-full flex-col border border-base-content/20 bg-base-100 p-4"
			autocomplete="off"
			[formGroup]="emailForm"
			(ngSubmit)="onSubmitEmailForm()"
		>
			<h2 class="text-xl font-medium text-base-content">Email</h2>
			<hr class="my-2 border-base-content/20" />
			<fieldset
				class="flex flex-col space-y-4"
				[disabled]="emailFormIsSubmitted"
			>
				<fieldset class="form-control" *ngIf="emailForm.get('email') as email">
					<label class="label" for="emailFormEmail">
						<div class="indicator">
							<span
								class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
								*ngIf="email.touched && !!email.errors"
								[ngSwitch]="true"
							>
								<ng-container *ngSwitchCase="!!email.errors.required">
									Required
								</ng-container>
								<ng-container *ngSwitchCase="!!email.errors.email">
									Email must be a real email address
								</ng-container>
							</span>
							<span class="label-text mr-2">Email</span>
						</div>
					</label>
					<div class="relative">
						<input
							class="input input-bordered w-full truncate pr-12"
							id="emailFormEmail"
							type="email"
							aria-label="Email"
							formControlName="email"
							placeholder="Type your Email"
							[class.input-success]="email.touched && email.valid"
							[class.input-error]="email.touched && email.invalid"
							[class.input-disabled]="emailFormIsSubmitted"
						/>
						<button
							class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
							type="button"
							title="Clear"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!email.value.length"
							[class.btn-success]="email.touched && email.valid"
							[class.btn-error]="email.touched && email.invalid"
							[class.btn-ghost]="email.untouched"
							[appIcon]="'x'"
							[appSquare]="'1.75rem'"
							(click)="email.setValue('')"
						></button>
					</div>
				</fieldset>
				<fieldset class="form-control">
					<button
						class="btn btn-primary w-full"
						type="submit"
						aria-label="Login"
						[class.loading]="emailFormIsSubmitted"
						[disabled]="emailForm.invalid || emailFormIsSubmitted"
					>
						Update
					</button>
				</fieldset>
			</fieldset>
		</form>
		<form
			class="rounded-box flex w-full flex-col border border-base-content/20 bg-base-100 p-4"
			autocomplete="off"
			[formGroup]="passwordForm"
			(ngSubmit)="onSubmitPasswordForm()"
		>
			<h2 class="text-xl font-medium text-base-content">Password</h2>
			<hr class="my-2 border-base-content/20" />
			<fieldset
				class="flex flex-col space-y-4"
				[disabled]="passwordFormIsSubmitted"
			>
				<fieldset
					class="form-control"
					*ngIf="passwordForm.get('passwordOld') as passwordOld"
				>
					<label class="label" for="passwordFormPasswordOld">
						<div class="indicator">
							<span
								class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
								*ngIf="passwordOld.touched && !!passwordOld.errors"
								[ngSwitch]="true"
							>
								<ng-container *ngSwitchCase="!!passwordOld.errors.required">
									Required
								</ng-container>
								<ng-container *ngSwitchCase="!!passwordOld.errors.pattern">
									Password does not match pattern
								</ng-container>
							</span>
							<span class="label-text mr-2">Old password</span>
						</div>
					</label>
					<div class="relative" *ngIf="{ value: false } as isVisible">
						<input
							class="input input-bordered w-full truncate pr-12"
							id="passwordFormPasswordOld"
							aria-label="Old password"
							formControlName="passwordOld"
							autocomplete="new-password"
							placeholder="Type your old password"
							[type]="isVisible.value ? 'text' : 'password'"
							[class.input-success]="passwordOld.touched && passwordOld.valid"
							[class.input-error]="passwordOld.touched && passwordOld.invalid"
							[class.input-disabled]="passwordFormIsSubmitted"
						/>
						<button
							class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
							type="button"
							title="Password"
							aria-label="Password"
							appSvgIcon
							*ngIf="!!passwordOld.value.length"
							[class.btn-success]="passwordOld.touched && passwordOld.value"
							[class.btn-error]="passwordOld.touched && passwordOld.invalid"
							[class.btn-ghost]="passwordOld.untouched"
							[appIcon]="'incognito'"
							[appSquare]="'1.5em'"
							(touchstart)="isVisible.value = !isVisible.value"
							(mouseenter)="isVisible.value = true"
							(mouseleave)="isVisible.value = false"
						></button>
					</div>
				</fieldset>
				<fieldset
					class="form-control"
					*ngIf="passwordForm.get('passwordNew') as passwordNew"
				>
					<label class="label" for="passwordFormPasswordNew">
						<div class="indicator">
							<span
								class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
								*ngIf="passwordNew.touched && !!passwordNew.errors"
								[ngSwitch]="true"
							>
								<ng-container *ngSwitchCase="!!passwordNew.errors.required">
									Required
								</ng-container>
								<ng-container *ngSwitchCase="!!passwordNew.errors.pattern">
									Password does not match pattern
								</ng-container>
							</span>
							<span class="label-text mr-2">New password</span>
						</div>
					</label>
					<div class="relative" *ngIf="{ value: false } as isVisible">
						<input
							class="input input-bordered w-full truncate pr-12"
							id="passwordFormPasswordNew"
							aria-label="New password"
							formControlName="passwordNew"
							autocomplete="new-password"
							placeholder="Type your new password"
							[type]="isVisible.value ? 'text' : 'password'"
							[class.input-success]="passwordNew.touched && passwordNew.valid"
							[class.input-error]="passwordNew.touched && passwordNew.invalid"
							[class.input-disabled]="passwordFormIsSubmitted"
						/>
						<button
							class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
							type="button"
							title="Password"
							aria-label="Password"
							appSvgIcon
							*ngIf="!!passwordNew.value.length"
							[class.btn-success]="passwordNew.touched && passwordNew.value"
							[class.btn-error]="passwordNew.touched && passwordNew.invalid"
							[class.btn-ghost]="passwordNew.untouched"
							[appIcon]="'incognito'"
							[appSquare]="'1.5em'"
							(touchstart)="isVisible.value = !isVisible.value"
							(mouseenter)="isVisible.value = true"
							(mouseleave)="isVisible.value = false"
						></button>
					</div>
				</fieldset>
				<fieldset class="form-control">
					<button
						class="btn btn-primary w-full"
						type="submit"
						aria-label="Login"
						[class.loading]="passwordFormIsSubmitted"
						[disabled]="passwordForm.invalid || passwordFormIsSubmitted"
					>
						Update
					</button>
				</fieldset>
			</fieldset>
		</form>
	</div>
</ng-container>
