<!-- @format -->

<ng-container>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#QRCodeDialog
		(keydown.escape)="$event.preventDefault(); QRCodeDialog.close()"
		(close)="onToggleQRCodeDialog(false)"
		(click)="$event.target === $event.currentTarget ? QRCodeDialog.close() : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-xs"
			appWindow
			[appWindowTitle]="'QR Code'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onToggleQRCodeDialog(false)"
		>
			<div class="flex flex-col items-center justify-start gap-4 p-4" slot="content">
				<figure
					class="flex flex-col bg-base-200 rounded-box border border-base-content/20 overflow-hidden w-full"
				>
					<canvas
						class="aspect-square w-full border-b border-base-content/20"
						data-pw="app-qr-code-image-qr-code"
						#QRCodeCanvas
					></canvas>
					<figcaption class="flex text-center p-4">
						<a
							class="link text-sm truncate w-full"
							data-pw="app-qr-code-link-to-profile"
							target="_blank"
							[href]="QRCodeValue"
						>
							{{ QRCodeValue }}
						</a>
					</figcaption>
				</figure>
				<button
					class="btn-success btn w-full"
					data-pw="app-qr-code-button-download-qr-code"
					type="button"
					title="Download"
					aria-label="Download"
					(click)="onDownloadQRCode()"
				>
					Download
				</button>
			</div>
		</div>
	</dialog>
</ng-container>
