<!-- @format -->

<ng-container>
	<div class="rounded-box border border-base-content/20 bg-base-100 p-4 flex flex-col gap-4 shadow-xl">
		<div class="flex w-full items-center justify-between gap-4">
			<button
				class="btn-ghost btn-md btn-square btn bg-base-200 fill-current"
				type="button"
				appSvgIcon
				appSkeleton
				[title]="postListSearchFormToggle ? 'Hide' : 'Search'"
				[attr.aria-label]="postListSearchFormToggle ? 'Hide' : 'Search'"
				[disabled]="postListSkeletonToggle"
				[appSkeletonToggle]="postListSkeletonToggle && !postListSearchFormToggle"
				[appSkeletonClassListElementRef]="['border-0']"
				[appSvgIconIcon]="postListSearchFormToggle ? 'x-lg' : 'search'"
				[appSvgIconSquare]="'1.5em'"
				(click)="onToggleSearchForm(!postListSearchFormToggle)"
			></button>
			@switch (postListSearchFormToggle) {
				@case (true) {
					<div
						class="relative flex items-end justify-between gap-4 w-full"
						appSearchForm
						[appSearchFormDisabled]="postListSkeletonToggle"
					></div>
				}
				@case (false) {
					<div class="flex items-center justify-start gap-4 overflow-hidden w-full">
						<div class="flex flex-col gap-2 items-start overflow-hidden w-full">
							<h2
								class="block truncate text-xl leading-6 font-bold text-base-content max-w-full"
								appSkeleton
								[appSkeletonToggle]="postListSkeletonToggle"
							>
								All posts
							</h2>
							<span
								class="text-sm text-base-content/50 leading-4 truncate max-w-full"
								appSkeleton
								[appSkeletonToggle]="postListSkeletonToggle"
							>
								Everything written by user
							</span>
						</div>
					</div>
				}
			}
		</div>
		<div class="grid gap-4">
			@if (postList.length) {
				<ul class="grid grid-cols-2 grid-rows-none gap-4 sm:grid-cols-3 md:grid-cols-4">
					@for (post of postList; track i; let i = $index) {
						<li
							class="block"
							appCardPost
							[ngClass]="post.image ? 'row-span-6' : 'row-span-3'"
							[appCardPostPost]="post"
							[appCardPostSkeletonToggle]="postListSkeletonToggle"
							[appPostUrl]="'./post'"
						></li>
					}
				</ul>
				@if (!postListSkeletonToggle) {
					<div
						class="block empty:hidden"
						appListLoadMore
						[appListLoadMoreIsLoading]="postListIsLoading"
						[appListLoadMoreSearchResponse]="postListSearchResponse"
						(appLoadMoreToggle)="getPostList(true)"
					></div>
				}
			} @else {
				<div class="block" appListMock [appListMockTemplate]="'user-all-not-found'"></div>
			}
		</div>
	</div>
	<div class="block">
		<router-outlet></router-outlet>
	</div>
</ng-container>
