<!-- @format -->

<ng-container>
	<div class="rounded-box border border-base-content/20 bg-base-100 p-4 flex flex-col gap-4 shadow-xl">
		<div class="flex w-full items-center justify-between gap-4">
			<button
				class="btn-ghost btn-md btn-square btn bg-base-200 fill-current text-base-content"
				type="button"
				appSvgIcon
				appSkeleton
				[title]="postBookmarkListSearchFormToggle ? 'Hide' : 'Search'"
				[attr.aria-label]="postBookmarkListSearchFormToggle ? 'Hide' : 'Search'"
				[disabled]="postBookmarkListSkeletonToggle"
				[appSkeletonToggle]="postBookmarkListSkeletonToggle && !postBookmarkListSearchFormToggle"
				[appSkeletonClassListElementRef]="['border-0']"
				[appSvgIconIcon]="postBookmarkListSearchFormToggle ? 'x-lg' : 'search'"
				[appSvgIconSquare]="'1.5em'"
				(click)="onToggleSearchForm(!postBookmarkListSearchFormToggle)"
			></button>
			@switch (postBookmarkListSearchFormToggle) {
				@case (true) {
					<div
						class="relative flex items-end justify-between gap-4 w-full"
						appSearchForm
						[appSearchFormDisabled]="postBookmarkListSkeletonToggle"
					></div>
				}
				@case (false) {
					<div class="flex items-center justify-start gap-4 overflow-hidden w-full">
						<div class="flex flex-col gap-2 items-start overflow-hidden w-full">
							<h2
								class="block truncate text-xl leading-6 font-bold text-base-content max-w-full"
								appSkeleton
								[appSkeletonToggle]="postBookmarkListSkeletonToggle"
							>
								Bookmarks
							</h2>
							<span
								class="text-sm text-base-content/50 leading-4 truncate max-w-full"
								appSkeleton
								[appSkeletonToggle]="postBookmarkListSkeletonToggle"
							>
								Symlinks to saved posts
							</span>
						</div>
					</div>
				}
			}
		</div>
		<div class="grid gap-4">
			@if (postBookmarkList.length) {
				<ul class="grid grid-cols-2 grid-rows-none gap-4 sm:grid-cols-3 md:grid-cols-4">
					@for (post of postBookmarkList; track post.id; let i = $index) {
						<li
							class="block"
							appCardPost
							[ngClass]="post.image ? 'row-span-6' : 'row-span-3'"
							[appCardPostPost]="post"
							[appCardPostSkeletonToggle]="postBookmarkListSkeletonToggle"
							[appCardPostImagePriority]="i <= 3"
						></li>
					}
				</ul>
				@if (!postBookmarkListSkeletonToggle) {
					<div
						class="block empty:hidden"
						appListLoadMore
						[appListLoadMoreIsLoading]="postBookmarkListIsLoading"
						[appListLoadMoreSearchResponse]="postBookmarkListSearchResponse"
						(appLoadMoreToggle)="getPostBookmarkList(true)"
					></div>
				}
			} @else {
				<div class="block" appListMock [appListMockTemplate]="'user-bookmark-not-found'"></div>
			}
		</div>
	</div>
	<div class="block">
		<router-outlet></router-outlet>
	</div>
</ng-container>
