<!-- @format -->

<ng-container>
	<ul
		class="fixed bottom-0 right-0 z-40 flex max-w-lg flex-col items-end justify-end space-y-4 pointer-events-none p-8"
	>
		<li
			class="alert flex flex-col items-start justify-start gap-2 text-left shadow-xl"
			*ngFor="let snack of snackbarList"
			[ngClass]="snack.options.classList"
			(click)="onClose(snack.uuid)"
		>
			<span
				class="block font-bold first-letter:capitalize"
				*ngIf="!!snack.title"
			>
				{{ snack.title }}
			</span>
			<p class="first-letter:capitalize">{{ snack.message }}</p>
			<progress
				class="progress opacity-50"
				[value]="snack.progress.value || 0"
				[max]="100"
			></progress>
		</li>
	</ul>
</ng-container>
