<!-- @format -->

<ng-container>
	<ul
		class="fixed bottom-0 right-0 z-40 flex max-w-lg flex-col items-end justify-end space-y-4 p-8"
	>
		<li
			class="flex relative overflow-hidden rounded-box shadow-xl"
			*ngFor="let snack of snackbarList"
			(click)="onClose(snack.uuid)"
		>
			<div class="alert" [ngClass]="snack.options.alertClassList">
				<i
					class="fill-current"
					appSvgIcon
					[appIcon]="snack.options.icon"
					[appSquare]="'1.5em'"
				></i>
				<div class="flex flex-col">
					<span
						class="block font-bold first-letter:capitalize"
						*ngIf="!!snack.title"
					>
						{{ snack.title }}
					</span>
					<p class="font-base first-letter:capitalize">{{ snack.message }}</p>
				</div>
			</div>
			<progress
				class="absolute left-0 bottom-0 progress h-1"
				*ngIf="snack.options.progress"
				[ngClass]="snack.options.progressClassList"
				[value]="snack.progress.value || 0"
				[max]="100"
			></progress>
		</li>
	</ul>
</ng-container>
