$h-header: 61px;
$h-controls: 75px;
$h-gap: calc(1rem * 3);
$h-layout: 42px;
$h-button: 42px;
$h-full: calc(100vh - (#{$h-header} + #{$h-controls} + #{$h-gap} + #{$h-button}));

.page-create {
  grid-template-areas:
    "header"
    "content";

  .header {
    grid-area: header;
  }

  .content {
    grid-area: content;

    .splitter {
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: 1fr;

      @media (max-width: calc(theme('screens.lg') - 1px)) {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, auto) !important;
      }

      .editor {
        #textarea {
          height: calc(#{$h-full} + #{$h-layout} - 0.5rem);

          @screen lg {
            height: $h-full;
          }
        }

        .layout {
          @apply
          absolute
          top-full
          left-0
          w-full
          lg:top-0
          lg:left-full
          lg:h-full
          lg:w-auto
          lg:flex-col;
        }
      }

      .preview {
        height: calc(#{$h-full} + #{$h-layout} - 0.25rem);

        @screen lg {
          height: $h-full;
        }
      }
    }
  }
}
