.page-profile {
  grid-template-areas:
    "aside"
    "view";

  @screen md {
    grid-template-columns: theme("width.52") 1fr;
    grid-template-areas: "aside view";
  }

  .aside {
    grid-area: aside;
  }

  .view {
    grid-area: view;
    grid-template-areas:
      "header"
      "content";

    .header {
      grid-area: header;
    }

    .content {
      grid-area: content;
    }
  }
}
