<!-- @format -->

<ng-container>
	<dialog
		class="modal"
		#userPasswordResetDialogElement
		(keydown.escape)="$event.preventDefault(); onToggleUserPasswordResetDialog(false)"
		(click)="$event.target === $event.currentTarget ? onToggleUserPasswordResetDialog(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-sm"
			appWindow
			[appWindowTitle]="'Reset'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onToggleUserPasswordResetDialog(false)"
		>
			<div class="flex flex-col gap-4 p-4" slot="content">
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block"> For security purposes, you will be logged out from all devices </span>
				</p>
				<button
					class="btn btn-md btn-success"
					type="submit"
					title="Submit"
					aria-label="Submit"
					[disabled]="userPasswordResetDialogIsSubmitted()"
					(click)="onSubmitUserPasswordResetDialog()"
				>
					@if (userPasswordResetDialogIsSubmitted()) {
						<span class="loading loading-spinner"></span>
					}
					Submit
				</button>
			</div>
		</div>
	</dialog>
</ng-container>
