<article class="relative bg-primary-3 border border-primary-4 rounded-md overflow-hidden w-full h-full">
  <a
    [routerLink]="[postPath, post.id]"
    [queryParamsHandling]="'preserve'"
    [attr.aria-label]="post.title"
    *ngIf="post.image">
    <img
      class="block object-cover object-center w-full h-full"
      loading="lazy"
      [src]="post.image"
      [alt]="post.title">
  </a>
  <div class="flex flex-col items-start w-full h-full p-4" *ngIf="!post.image">
    <div class="flex justify-between items-center w-full mb-2">
      <a
        class="flex border border-primary-4 overflow-hidden rounded-md w-10 h-10"
        [routerLink]="['/@' + post.user.name]"
        [attr.aria-label]="post.user.name"
        [appUser]="post.user"
        appAvatar>
      </a>
      <button
        class="block fill-current text-secondary-1 hover:text-info-1 opacity-25 hover:opacity-100 cursor-pointer p-2"
        type="button"
        aria-label="Pin"
        appSvgIcon
        [appIcon]="'pin-angle'">
      </button>
    </div>
    <div class="flex flex-col overflow-hidden w-full mb-4">
      <a
        class="text-info-1 hover:underline whitespace-nowrap text-ellipsis overflow-hidden"
        [routerLink]="['/@' + post.user.name]"
        [attr.aria-label]="post.user.name">{{post.user.name}}
      </a>
      <time
        class="text-secondary-2 text-sm"
        [attr.datetime]="post.updatedAt">{{post.updatedAt | dayjs : 'fromX'}}
      </time>
    </div>
    <a
      class="text-secondary-1 hover:text-info-1 hover:underline line-clamp-3 w-full mb-0"
      [routerLink]="[postPath, post.id]"
      [queryParamsHandling]="'preserve'"
      [attr.aria-label]="post.title">{{post.title}}
    </a>
  </div>
</article>
