<!-- @format -->

<ng-container>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#shortcutsDialog
		(keydown.escape)="$event.preventDefault(); onToggleShortcutsDialog(false)"
		(click)="$event.target === $event.currentTarget ? onToggleShortcutsDialog(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-md"
			appWindow
			[appWindowTitle]="'Shortcuts'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onToggleShortcutsDialog(false)"
		>
			<div class="flex flex-col items-center justify-start gap-4 p-4" slot="content">
				<ul class="flex flex-col w-full">
					@for (shortcut of shortcutsList; track shortcut.id; let shortcutLast = $last) {
						<li class="flex items-center justify-between">
							<p class="text-sm">{{ shortcut.label }}</p>
							<div class="flex items-center justify-start gap-2">
								@for (key of shortcut.shortcut; track $index; let keyLast = $last) {
									@switch (key === "ctrl") {
										@case (true) {
											<kbd class="kbd kbd-sm uppercase" appKbdCommand></kbd>
										}
										@default {
											<kbd class="kbd kbd-sm uppercase"> {{ key }} </kbd>
										}
									}
									@if (keyLast === false) {
										<span class="text-sm text-base-content"> + </span>
									}
								}
							</div>
						</li>
						@if (shortcutLast === false) {
							<li class="block py-2">
								<hr class="border-t border-base-content/20" />
							</li>
						}
					}
				</ul>
			</div>
		</div>
	</dialog>
</ng-container>
