<!-- @format -->

<section class="mx-auto p-4 md:w-128">
	<div
		class="bg-primary-3 border-primary-4 flex flex-col space-y-4 rounded-md border p-4"
	>
		<div class="border-primary-4 flex flex-col border-b">
			<h2 class="text-secondary-1 text-2xl font-medium">{{ statusCode }}</h2>
			<span class="text-secondary-2 mb-4 block">{{ message }}</span>
		</div>
		<p class="text-secondary-1">
			You faced with exception, if you want you can provide a
			<a
				class="text-info-1 hover:underline"
				[routerLink]="['/']"
				aria-label="issue"
			>
				issue
			</a>
			or go
			<a
				class="text-info-1 hover:underline"
				[routerLink]="['/']"
				aria-label="home"
			>
				home
			</a>
		</p>
	</div>
</section>
