<!-- @format -->

<ng-container>
	<ul
		class="flex items-center justify-start gap-4"
		[ngClass]="{ 'grayscale cursor-not-allowed': signInDisabled }"
	>
		<li class="block" [ngClass]="{ 'pointer-events-none': signInDisabled }">
			<button
				class="block"
				type="button"
				title="Google"
				aria-label="Google"
				(click)="onSignInWithProvider('google.com')"
			>
				<img src="./assets/icons/socials/google.svg" alt="Google" />
			</button>
		</li>
		<li class="block" [ngClass]="{ 'pointer-events-none': signInDisabled }">
			<button
				class="block"
				type="button"
				title="Facebook"
				aria-label="Facebook"
				(click)="onSignInWithProvider('facebook.com')"
			>
				<img src="./assets/icons/socials/facebook.svg" alt="Facebook" />
			</button>
		</li>
		<li class="block" [ngClass]="{ 'pointer-events-none': signInDisabled }">
			<button
				class="block"
				type="button"
				title="Github"
				aria-label="Github"
				(click)="onSignInWithProvider('github.com')"
			>
				<img src="./assets/icons/socials/github.svg" alt="Github" />
			</button>
		</li>
		<!-- TODO: twitter
    <li class="block" [ngClass]="{ 'pointer-events-none': signInDisabled }">
			<button
				class="block"
				type="button"
				title="Twitter"
				aria-label="Twitter"
				(click)="onSignInWithProvider('twitter.com')"
			>
				<img src="./assets/icons/socials/twitter.svg" alt="Twitter" />
			</button>
		</li>	-->
	</ul>
</ng-container>
