<!-- @format -->

<ng-container>
	<ul class="flex items-center justify-start gap-4" [ngClass]="{ 'grayscale cursor-not-allowed': signInDisabled }">
		<li class="block" [ngClass]="{ 'pointer-events-none': signInDisabled }">
			<button
				class="block logo-google"
				type="button"
				title="Google"
				aria-label="Google"
				appSvgLogo
				[appSvgLogoViewBox]="'0 0 48 48'"
				[appSvgLogoIcon]="'google'"
				[appSvgLogoWidth]="'32'"
				[appSvgLogoHeight]="'32'"
				(click)="onSignInWithProvider('google.com')"
			></button>
		</li>
		<li class="block" [ngClass]="{ 'pointer-events-none': signInDisabled }">
			<button
				class="block logo-facebook"
				type="button"
				title="Facebook"
				aria-label="Facebook"
				appSvgLogo
				[appSvgLogoViewBox]="'0 0 256 256'"
				[appSvgLogoIcon]="'facebook'"
				[appSvgLogoWidth]="'32'"
				[appSvgLogoHeight]="'32'"
				(click)="onSignInWithProvider('facebook.com')"
			></button>
		</li>
		<li class="block" [ngClass]="{ 'pointer-events-none': signInDisabled }">
			<button
				class="block logo-github"
				type="button"
				title="Github"
				aria-label="Github"
				appSvgLogo
				[appSvgLogoViewBox]="'0 0 97.6 96'"
				[appSvgLogoIcon]="'github'"
				[appSvgLogoWidth]="'32'"
				[appSvgLogoHeight]="'32'"
				(click)="onSignInWithProvider('github.com')"
			></button>
		</li>
	</ul>
</ng-container>
