<!-- @format -->

<ng-container>
	<div class="flex flex-col space-y-4 md:space-y-8">
		<div
			class="rounded-box flex w-full flex-col items-stretch gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl sm:flex-row"
		>
			<div class="flex items-center gap-4">
				<!-- prettier-ignore -->
				<figure
					class="block rounded-btn relative aspect-square border border-base-content/20 h-20 w-20 sm:h-44 sm:w-44"
					*ngIf="postForm.get('image') as image"
					[ngClass]="{ 'cursor-not-allowed border-transparent bg-base-200': postForm.disabled, 'cursor-pointer': postForm.enabled, 'border-success': postForm.enabled && image.value }"
				>
					<img
						class="rounded-btn aspect-square object-cover"
						alt="Image"
            width="256"
            height="256"
						loading="lazy"
            *ngIf="!!image.value"
						[ngClass]="{ invisible: !image.value, 'pointer-events-none opacity-50 saturate-0 transition': postForm.disabled }"
						[src]="image.value"
						(click)="onTogglePostFormImage(true)"
					/>
					<div
						class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
						*ngIf="!image.value"
					>
						<button
							class="btn btn-ghost btn-circle fill-current transition-none"
							title="Image"
							aria-label="Image"
							appSvgIcon
							[appIcon]="'plus'"
							[appSquare]="'2em'"
							[disabled]="postForm.disabled"
							(click)="onTogglePostFormImage(true)"
						></button>
					</div>
				</figure>
				<div class="flex flex-col sm:hidden">
					<span class="text-base-content">Image</span>
					<p class="text-base-content/50">Upload post image</p>
				</div>
			</div>
			<form
				class="grid flex-1 grid-cols-12 gap-x-4 gap-y-2.5"
				autocomplete="off"
				[formGroup]="postForm"
			>
				<fieldset
					class="form-control col-span-12 sm:col-span-6"
					*ngIf="postForm.get('name') as name"
				>
					<label class="label" for="postFormTitle">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngIf="name.touched && !!name.errors && postForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!name.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!name.errors.minlength">
                  Min length {{ name.errors.minlength["requiredLength"] }} characters
                </ng-container>
                <ng-container *ngSwitchCase="!!name.errors.maxlength">
                  Max length {{ name.errors.maxlength["requiredLength"] }} characters
                </ng-container>
              </span>
							<span class="label-text mr-2">Name</span>
						</div>
					</label>
					<div class="relative">
						<input
							class="input-bordered input w-full truncate pr-12"
							id="postFormTitle"
							type="text"
							aria-label="Name"
							placeholder="Type post name"
							formControlName="name"
							appInputTrimWhitespace
							[class.input-success]="name.value && name.valid"
							[class.input-error]="name.touched && name.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!name.value.length"
							[class.btn-success]="name.valid"
							[class.btn-error]="name.touched && name.invalid"
							[class.btn-ghost]="name.untouched && name.invalid"
							[disabled]="postForm.disabled"
							[appIcon]="'x'"
              [appSquare]="'2em'"
							(click)="name.setValue('')"
						></button>
					</div>
				</fieldset>
				<div
					class="col-span-12 flex items-end justify-end space-x-4 sm:col-span-6"
				>
					<fieldset
						class="form-control w-full"
						*ngIf="postForm.get('categoryName') as categoryName"
					>
						<label class="label" for="postFormCategoryName">
							<div class="indicator">
								<!-- prettier-ignore -->
								<span
                  class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                  *ngIf="categoryName.touched && !!categoryName.errors && postForm.enabled"
                  [ngSwitch]="true"
                >
                  <ng-container *ngSwitchCase="!!categoryName.errors.required">
                    Required
                  </ng-container>
                </span>
								<span class="label-text mr-2">Category</span>
							</div>
						</label>
            <div
              appDropdown
              class="block"
              [class.cursor-not-allowed]="postForm.disabled"
              (toggled)="onToggleCategory($event)"
            >
              <!-- prettier-ignore -->
              <input
                class="input input-bordered w-full cursor-pointer truncate"
                id="postFormCategoryName"
                type="text"
                aria-label="Category"
                placeholder="Select post category"
                formControlName="categoryName"
                slot="target"
                readonly
                [class.input-success]="categoryName.touched && categoryName.value"
                [class.input-error]="categoryName.touched && categoryName.invalid"
              />
              <div
                class="menu menu-vertical menu-md mt-2 overflow-hidden rounded-btn border border-base-content/20 bg-base-100 p-0 shadow"
                slot="content"
                [class.hidden]="!categoryList.length"
              >
                <ul class="flex max-h-64 flex-col overflow-y-auto p-2">
                  <li
                    class="flex w-full"
                    *ngFor="let category of categoryList"
                  >
                    <!-- prettier-ignore -->
                    <button
                      class="rounded-btn block w-full truncate text-base text-left"
                      type="button"
                      appScrollIntoView
                      [appScrollActive]="categoryName.value === category.name"
                      [ngClass]="{ 'active': categoryName.value === category.name }"
                      [attr.aria-label]="category.name"
                      (click)="onSelectCategory(category)"
                    >
                      {{ category.name }}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
					</fieldset>
					<button
						class="btn-success btn-square btn fill-current p-3"
						type="button"
						aria-label="Create"
						appSvgIcon
						[appIcon]="'folder-plus'"
						[appSquare]="'1.75em'"
						[class.btn-outline]="postForm.enabled"
						[disabled]="postForm.disabled"
						(click)="onToggleCategoryForm(true)"
					></button>
				</div>
				<fieldset
					class="form-control col-span-12 sm:col-span-12"
					*ngIf="postForm.get('description') as description"
				>
					<label class="label" for="postFormDescription">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngIf="description.touched && !!description.errors && postForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!description.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!description.errors.minlength">
                  Min length {{ description.errors.minlength["requiredLength"] }} characters
                </ng-container>
                <ng-container *ngSwitchCase="!!description.errors.maxlength">
                  Max length {{ description.errors.maxlength["requiredLength"] }} characters
                </ng-container>
              </span>
							<span class="label-text mr-2">Description</span>
						</div>
					</label>
					<div class="relative">
						<input
							class="input-bordered input w-full truncate pr-12"
							id="postFormDescription"
							type="text"
							aria-label="Description"
							placeholder="Type post description"
							formControlName="description"
							appInputTrimWhitespace
							[class.input-success]="description.value && description.valid"
							[class.input-error]="description.touched && description.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!description.value.length"
							[class.btn-success]="description.valid"
							[class.btn-error]="description.touched && description.invalid"
							[class.btn-ghost]="description.untouched && description.invalid"
							[disabled]="postForm.disabled"
							[appIcon]="'x'"
              [appSquare]="'2em'"
							(click)="description.setValue('')"
						></button>
					</div>
				</fieldset>
			</form>
		</div>
		<div
			class="z-[1] flex flex-col space-y-4 bg-base-100 p-4"
			[ngClass]="fullscreenClassList"
		>
			<div
				class="flex h-full flex-col gap-y-4 overflow-y-auto overflow-x-hidden"
			>
				<div
					class="flex w-full items-start justify-between space-x-4"
					[class.hidden]="fullscreenHiddenControls"
				>
					<div
						class="flex overflow-auto"
						appMarkdown
						[appTextareaId]="'postFormTextarea'"
						[appPreviewId]="'postFormPreview'"
						[appScrollSync]="fullscreenScrollSync"
						[appDisabled]="postForm.disabled"
						(modalToggle)="onToggleMarkdownModal($event)"
					></div>
					<button
						class="btn-primary btn !outline-0"
						type="button"
						aria-label="Fullscreen"
						[class.btn-outline]="postForm.enabled && !fullscreenToggle"
						[disabled]="postForm.disabled"
						(click)="onFullscreen(!fullscreenToggle)"
					>
						Fullscreen
					</button>
				</div>
				<hr
					class="my-2 border-base-content/20"
					*ngIf="fullscreenToggle"
					[class.hidden]="fullscreenHiddenControls"
				/>
				<div class="flex h-full flex-col gap-4 overflow-auto sm:flex-row">
					<form
						class="flex h-full w-full flex-col overflow-auto"
						autocomplete="off"
						[formGroup]="postForm"
						[class.hidden]="fullscreenToggle && fullscreenHiddenMarkdown"
					>
						<fieldset
							class="form-control h-full"
							*ngIf="postForm.get('markdown') as markdown"
						>
							<label class="label" for="postFormTextarea">
								<div class="indicator">
									<!-- prettier-ignore -->
									<span
                    class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                    *ngIf="markdown.touched && !!markdown.errors && postForm.enabled"
                    [ngSwitch]="true"
                  >
                    <ng-container *ngSwitchCase="!!markdown.errors.required">
                      Required
                    </ng-container>
                    <ng-container *ngSwitchCase="!!markdown.errors.minlength">
                      Min length {{ markdown.errors.minlength["requiredLength"] }} characters
                    </ng-container>
                    <ng-container *ngSwitchCase="!!markdown.errors.maxlength">
                      Max length {{ markdown.errors.maxlength["requiredLength"] }} characters
                    </ng-container>
                  </span>
									<span class="label-text mr-2">Markdown</span>
								</div>
								<!-- prettier-ignore -->
								<span
                  class="label-text-alt"
                  [class.text-base-content]="postForm.disabled"
                  [class.text-success]="postForm.enabled && markdown.value && markdown.valid"
                  [class.text-error]="postForm.enabled && markdown.touched && markdown.invalid"
                >
                  {{ markdown.value.length }}/7200
                </span>
							</label>
							<!-- prettier-ignore -->
							<div
                class="rounded-btn flex overflow-hidden w-full h-full border"
                [ngClass]="{ 'border-base-content/20': postForm.enabled, 'border-transparent': postForm.disabled }"
                [class.border-success]="markdown.value && markdown.valid"
                [class.border-error]="markdown.touched && markdown.invalid"
              >
                <textarea
                  class="textarea border-0 !outline-0 w-full h-full resize-none"
                  id="postFormTextarea"
                  aria-label="Markdown"
                  placeholder="Type post markdown"
                  formControlName="markdown"
                  appInputTrimWhitespace
                  [rows]="8"
                  [class.whitespace-pre]="fullscreenDisableTextWrapping"
                  [class.font-mono]="authUser.settings.monospace"
                >
                  {{ markdown.value }}
                </textarea>
              </div>
						</fieldset>
					</form>
					<div
						class="flex items-center justify-center"
						[class.hidden]="!fullscreenToggle"
					>
						<!-- prettier-ignore -->
						<div class="flex overflow-auto rounded-btn border border-base-content/20">
              <ul
                class="menu menu-md rounded-btn menu-horizontal flex-nowrap overflow-auto sm:menu-vertical p-0"
                *ngIf="{ value: postForm.disabled || postFormPreviewModal.open || postDeleteModal.open } as disabled"
                [ngClass]="{ 'bg-base-300 border-transparent': disabled.value }"
              >
                <li class="inline-block" [class.disabled]="disabled.value">
                  <button
                    class="fill-current p-3 -rotate-90 sm:-rotate-180"
                    type="button"
                    title="Markdown"
                    aria-label="Markdown"
                    appSvgIcon
                    [appIcon]="'arrow-bar-left'"
                    [appSquare]="'1.5725em'"
                    [ngClass]="{ 'active' : fullscreenHiddenRender && !disabled.value, 'bg-base-content/10' : fullscreenHiddenRender && disabled.value }"
                    (click)="onFullscreenHide('fullscreenHiddenRender')"
                  >
                  </button>
                </li>
                <li class="inline-block" [class.disabled]="disabled.value">
                  <button
                    class="fill-current p-3"
                    type="button"
                    title="Fullscreen"
                    aria-label="Fullscreen"
                    appSvgIcon
                    [appIcon]="'fullscreen'"
                    [appSquare]="'1.5725em'"
                    [ngClass]="{ 'active' : fullscreenHiddenControls && !disabled.value, 'bg-base-content/10' : fullscreenHiddenControls && disabled.value }"
                    (click)="onFullscreenHide('fullscreenHiddenControls')"
                  ></button>
                </li>
                <li class="inline-block" [class.disabled]="disabled.value">
                  <button
                    class="fill-current p-3"
                    type="button"
                    title="Scroll sync"
                    aria-label="Scroll sync"
                    appSvgIcon
                    [appIcon]="'mouse'"
                    [appSquare]="'1.5725em'"
                    [ngClass]="{ 'active' : fullscreenScrollSync && !disabled.value, 'bg-base-content/10' : fullscreenScrollSync && disabled.value }"
                    (click)="fullscreenScrollSync = !fullscreenScrollSync"
                  ></button>
                </li>
                <li class="inline-block" [class.disabled]="disabled.value">
                  <button
                    class="fill-current p-3"
                    type="button"
                    title="Disable text wrapping"
                    aria-label="Disable text wrapping"
                    appSvgIcon
                    [appIcon]="'text-wrap'"
                    [appSquare]="'1.5725em'"
                    [ngClass]="{ 'active' : fullscreenDisableTextWrapping && !disabled.value, 'bg-base-content/10' : fullscreenDisableTextWrapping && disabled.value }"
                    (click)="fullscreenDisableTextWrapping = !fullscreenDisableTextWrapping"
                  ></button>
                </li>
                <li class="inline-block" [class.disabled]="disabled.value">
                  <button
                    class="fill-current p-3 rotate-90 sm:rotate-0"
                    type="button"
                    title="Render"
                    aria-label="Render"
                    appSvgIcon
                    [appIcon]="'arrow-bar-left'"
                    [appSquare]="'1.5725em'"
                    [ngClass]="{ 'active' : fullscreenHiddenMarkdown && !disabled.value, 'bg-base-content/10' : fullscreenHiddenMarkdown && disabled.value }"
                    (click)="onFullscreenHide('fullscreenHiddenMarkdown')"
                  >
                  </button>
                </li>
              </ul>
            </div>
					</div>
					<section
						class="flex h-full w-full flex-col overflow-auto"
						[class.hidden]="!fullscreenToggle || fullscreenHiddenRender"
					>
						<div class="label">
							<span class="label-text">Render</span>
						</div>
						<div
							class="flex h-full flex-col overflow-auto rounded-btn border border-base-content/20"
						>
							<article
								class="prose max-w-none overflow-auto px-4 py-2"
								id="postFormPreview"
							></article>
						</div>
					</section>
				</div>
			</div>
			<!-- prettier-ignore -->
			<div
				class="grid grid-cols-12 gap-4"
				[class.hidden]="fullscreenHiddenControls"
			>
				<button
					class="btn btn-primary col-span-4 sm:col-span-3"
					type="button"
					aria-label="Preview"
					[class.btn-outline]="postForm.valid && postForm.enabled"
					[disabled]="postForm.invalid || postForm.disabled"
					(click)="onTogglePreviewPost(true)"
				>
					Preview
				</button>
				<button
					class="btn btn-success col-span-8 sm:col-span-9"
					type="button"
					aria-label="Submit"
					[disabled]="postForm.invalid || postForm.disabled || postFormIsPristine"
					(click)="onSubmitPostForm()"
				>
          <span
            class="loading loading-spinner"
            *ngIf="postForm.disabled && !postFormImageModal.open && !categoryFormModal.open && !postFormPreviewModal.open && !postDeleteModal.open && !postMarkdownModalToggle"
          ></span>
					Submit
				</button>
				<button
					class="btn btn-error col-span-12"
					type="button"
					aria-label="Delete"
					*ngIf="!!post"
					[class.btn-outline]="postForm.enabled"
					[disabled]="postForm.disabled"
					(click)="onToggleDeletePost(true)"
				>
					Delete
				</button>
			</div>
		</div>
	</div>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#postFormPreviewModal
		(close)="onTogglePreviewPost(false)"
		(click)="$event.target === $event.currentTarget ? postFormPreviewModal.close() : $event"
	>
		<app-window
			slot="content"
			[appTitle]="'Preview'"
			[appButtons]="['close', 'fullscreen']"
			(closed)="onTogglePreviewPost(false)"
		>
			<ng-container slot="content">
				<app-post-prose
					class="h-full"
					[appPost]="postFormPreviewPost"
				></app-post-prose>
			</ng-container>
			<div class="pointer-events-none flex bg-base-200 p-2" slot="footer">
				<app-share class="opacity-50"></app-share>
			</div>
		</app-window>
	</dialog>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#categoryFormModal
		(close)="onToggleCategoryForm(false)"
		(click)="$event.target === $event.currentTarget ? categoryFormModal.close() : $event"
	>
		<app-window
			slot="content"
			[appTitle]="'Category'"
			(closed)="onToggleCategoryForm(false)"
		>
			<ng-container slot="content">
				<form
					class="flex w-window max-w-[512px] flex-col gap-4 p-4"
					autocomplete="off"
					slot="content"
					[formGroup]="categoryForm"
					(ngSubmit)="onSubmitCategoryForm()"
				>
					<p class="alert inline text-left">
						You can change category information later
					</p>
					<fieldset
						class="form-control"
						*ngIf="categoryForm.get('name') as name"
					>
						<label class="label" for="categoryFormName">
							<div class="indicator">
								<!-- prettier-ignore -->
								<span
                  class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                  *ngIf="name.touched && !!name.errors && categoryForm.enabled"
                  [ngSwitch]="true"
                >
                  <ng-container *ngSwitchCase="!!name.errors.required">
                    Required
                  </ng-container>
                  <ng-container *ngSwitchCase="!!name.errors.minlength">
                    Min length {{ name.errors.minlength["requiredLength"] }} characters
                  </ng-container>
                  <ng-container *ngSwitchCase="!!name.errors.maxlength">
                    Max length {{ name.errors.maxlength["requiredLength"] }} characters
                  </ng-container>
                </span>
								<span class="label-text mr-2">Name</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input-bordered input w-full truncate pr-12"
								id="categoryFormName"
								type="text"
								aria-label="Name"
								formControlName="name"
								placeholder="Type category name"
								appInputTrimWhitespace
								[class.input-success]="name.value && name.valid"
								[class.input-error]="name.touched && name.invalid"
							/>
							<button
								class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
								type="button"
								aria-label="Clear"
								appSvgIcon
								*ngIf="!!name.value.length"
								[class.btn-success]="name.valid"
								[class.btn-error]="name.touched && name.invalid"
								[class.btn-ghost]="name.untouched && name.invalid"
								[disabled]="categoryForm.disabled"
								[appIcon]="'x'"
                [appSquare]="'2em'"
								(click)="name.setValue('')"
							></button>
						</div>
					</fieldset>
					<fieldset
						class="form-control"
						*ngIf="categoryForm.get('description') as description"
					>
						<label class="label" for="categoryFormDescription">
							<!-- prettier-ignore -->
							<div class="indicator">
                <span
                  class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                  *ngIf="!!description.value && !!description.errors && categoryForm.enabled"
                  [ngSwitch]="true"
                >
                  <ng-container *ngSwitchCase="!!description.errors.maxlength">
                    Max length {{ description.errors.maxlength["requiredLength"] }} characters
                  </ng-container>
                </span>
                <span
                  class="badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                  *ngIf="!description.errors"
                  [class.badge-ghost]="!description.value"
                  [class.badge-success]="!!description.value && categoryForm.enabled"
                  [class.opacity-25]="categoryForm.disabled"
                >
                  Optional
                </span>
                <span class="label-text mr-2">Description</span>
              </div>
							<!-- prettier-ignore -->
							<span
                class="label-text-alt"
                [class.text-base-content]="categoryForm.disabled"
                [class.text-success]="categoryForm.enabled && description.value && description.valid"
                [class.text-error]="categoryForm.enabled && description.value && description.invalid"
              >
                {{ description.value?.length || 0 }}/255
              </span>
						</label>
						<!-- prettier-ignore -->
						<div class="rounded-btn flex overflow-hidden w-full border"
              [ngClass]="{ 'border-base-content/20': categoryForm.enabled, 'border-transparent': categoryForm.disabled }"
              [class.border-success]="description.value && description.valid"
              [class.border-error]="description.value && description.invalid"
            >
              <textarea
                class="textarea border-0 !outline-0 w-full resize-none"
                id="categoryFormDescription"
                aria-label="Description"
                placeholder="Type category description"
                formControlName="description"
                appInputTrimWhitespace
                [rows]="4"
              >
                {{ description.value }}
              </textarea>
            </div>
					</fieldset>
					<fieldset class="form-control">
						<button
							class="btn-success btn w-full"
							type="submit"
							aria-label="Submit"
							[disabled]="categoryForm.invalid || categoryForm.disabled"
						>
							<span
								class="loading loading-spinner"
								*ngIf="categoryForm.disabled"
							></span>
							Submit
						</button>
					</fieldset>
				</form>
			</ng-container>
		</app-window>
	</dialog>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#postFormImageModal
		(close)="onTogglePostFormImage(false)"
		(click)="$event.target === $event.currentTarget ? postFormImageModal.close() : $event"
	>
		<app-window
			slot="content"
			[appTitle]="'Image'"
			(closed)="onTogglePostFormImage(false)"
		>
			<ng-container slot="content" *ngIf="postFormImageModal.open">
				<app-cropper
					[appField]="'images'"
					(submitted)="onSubmitPostFormImage($event)"
				>
				</app-cropper>
			</ng-container>
		</app-window>
	</dialog>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#postDeleteModal
		(close)="onToggleDeletePost(false)"
		(click)="$event.target === $event.currentTarget ? postDeleteModal.close() : $event"
	>
		<app-window
			slot="content"
			[appTitle]="'Confirmation'"
			(closed)="onToggleDeletePost(false)"
		>
			<ng-container slot="content">
				<div class="flex w-window max-w-[425px] flex-col space-y-4 p-4">
					<!-- prettier-ignore -->
					<p class="alert inline text-left">
						Are you sure you want to delete this post? <span class="underline">This action cannot be undone</span>
					</p>
					<button
						class="btn-error btn"
						type="button"
						aria-label="Submit"
						[disabled]="postDeleteIsSubmitted"
						(click)="onSubmitPostDelete()"
					>
						<span
							class="loading loading-spinner"
							*ngIf="postDeleteIsSubmitted"
						></span>
						Submit
					</button>
				</div>
			</ng-container>
		</app-window>
	</dialog>
</ng-container>
