<!-- @format -->

<ng-container>
	<div class="flex flex-col gap-4 md:gap-8">
		<div
			class="rounded-box flex w-full flex-col items-stretch gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl sm:flex-row"
		>
			<div class="flex items-center gap-4">
				<!-- prettier-ignore -->
				<figure
					class="block rounded-btn relative aspect-square border border-base-content/20 h-20 w-20 sm:h-44 sm:w-44"
					appSkeleton
					*ngIf="postForm.get('image') as image"
					[appSkeletonToggle]="postSkeletonToggle"
					[appSkeletonClassListElementRef]="['border-0']"
					[ngClass]="{ 'cursor-not-allowed border-transparent bg-base-200': postForm.disabled, 'cursor-pointer': postForm.enabled, 'border-success': postForm.enabled && image.value }"
				>
					<img
						class="rounded-btn aspect-square object-cover"
						alt="Image"
						width="256"
						height="256"
						loading="lazy"
						*ngIf="!!image.value"
						[ngClass]="{ invisible: !image.value, 'pointer-events-none opacity-50 saturate-0 transition': postForm.disabled }"
						[src]="image.value"
						(click)="onTogglePostFormImage(true)"
					/>
					<div
						class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
						*ngIf="!image.value"
					>
						<button
							class="btn btn-ghost btn-circle fill-current transition-none"
							title="Image"
							aria-label="Image"
							appSvgIcon
							[appSvgIconIcon]="'plus'"
							[appSvgIconSquare]="'2em'"
							[disabled]="postForm.disabled"
							(click)="onTogglePostFormImage(true)"
						></button>
					</div>
				</figure>
				<div class="flex flex-col items-start gap-2 sm:hidden">
					<span
						class="text-lg leading-6 font-bold text-base-content max-w-full"
						appSkeleton
						[appSkeletonToggle]="postSkeletonToggle"
					>
						Image
					</span>
					<p
						class="text-sm text-base-content/50 leading-4 truncate max-w-full"
						appSkeleton
						[appSkeletonToggle]="postSkeletonToggle"
					>
						Upload post image
					</p>
				</div>
			</div>
			<form
				class="grid flex-1 grid-cols-12 gap-x-4 gap-y-2.5"
				autocomplete="off"
				[formGroup]="postForm"
			>
				<fieldset
					class="form-control items-start col-span-12 sm:col-span-6"
					*ngIf="postForm.get('name') as name"
				>
					<label class="label" for="postFormTitle">
						<div
							class="indicator"
							appSkeleton
							[appSkeletonToggle]="postSkeletonToggle"
							[appSkeletonClassListElementRef]="['!-mx-1']"
						>
							<!-- prettier-ignore -->
							<span
                class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngIf="name.touched && !!name.errors && postForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!name.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!name.errors.minlength">
                  Min length {{ name.errors.minlength["requiredLength"] }} characters
                </ng-container>
                <ng-container *ngSwitchCase="!!name.errors.maxlength">
                  Max length {{ name.errors.maxlength["requiredLength"] }} characters
                </ng-container>
              </span>
							<span class="label-text mr-2">Name</span>
						</div>
					</label>
					<div class="relative w-full" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
						<input
							class="input-bordered input input-md w-full truncate pr-12"
							id="postFormTitle"
							type="text"
							aria-label="Name"
							placeholder="Type post name"
							formControlName="name"
							appInputTrimWhitespace
							[class.input-success]="name.value && name.valid"
							[class.input-error]="name.touched && name.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!name.value.length"
							[class.btn-success]="name.valid"
							[class.btn-error]="name.touched && name.invalid"
							[class.btn-ghost]="name.untouched && name.invalid"
							[disabled]="postForm.disabled"
							[appSvgIconIcon]="'x'"
							[appSvgIconSquare]="'2em'"
							(click)="name.setValue('')"
						></button>
					</div>
				</fieldset>
				<div class="col-span-12 flex items-end justify-end gap-4 sm:col-span-6">
					<fieldset
						class="form-control items-start w-full"
						*ngIf="postForm.get('categoryName') as categoryName"
					>
						<label class="label" for="postFormCategoryName">
							<!-- prettier-ignore -->
							<div
								class="indicator"
								appSkeleton
								[appSkeletonToggle]="postSkeletonToggle || categorySkeletonToggle || categoryListSkeletonToggle"
								[appSkeletonClassListElementRef]="['!-mx-1']"
							>
								<span
                  class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                  *ngIf="categoryName.touched && !!categoryName.errors && postForm.enabled"
                  [ngSwitch]="true"
                >
                  <ng-container *ngSwitchCase="!!categoryName.errors.required">
                    Required
                  </ng-container>
                </span>
								<span class="label-text mr-2">Category</span>
							</div>
						</label>
						<!-- prettier-ignore -->
						<div
							class="block w-full relative"
							appSkeleton
							appDropdown
							[appSkeletonToggle]="postSkeletonToggle || categorySkeletonToggle || categoryListSkeletonToggle"
							[appDropdownFitParentWidth]="true"
							[class.cursor-not-allowed]="postForm.disabled"
							(appDropdownToggle)="onToggleCategory($event)"
						>
							<input
								class="input input-bordered input-md w-full cursor-pointer truncate"
								id="postFormCategoryName"
								type="text"
								aria-label="Category"
								placeholder="Select post category"
								formControlName="categoryName"
								slot="target"
								readonly
								[class.input-success]="categoryName.touched && categoryName.value"
								[class.input-error]="categoryName.touched && categoryName.invalid"
							/>
							<div
								class="menu menu-vertical menu-md mt-2 p-0"
								slot="content"
								[class.hidden]="!categoryList.length"
							>
								<ul class="flex max-h-76 flex-col overflow-y-auto w-full snap-mandatory snap-y p-2">
									<li
										class="flex w-full snap-start scroll-my-2"
										*ngFor="let category of categoryList"
									>
										<button
											class="rounded-btn block w-full truncate text-left"
											type="button"
											appScrollPreset
											[appScrollActive]="categoryName.value === category.name"
											[ngClass]="{ active: categoryName.value === category.name }"
											[attr.aria-label]="category.name"
											(click)="onSelectCategory(category)"
										>
											{{ category.name }}
										</button>
									</li>
								</ul>
							</div>
						</div>
					</fieldset>
					<!-- prettier-ignore -->
					<div
						class="flex p-0 relative"
						appDropdown
						appSkeleton
						[appSkeletonToggle]="postSkeletonToggle || categorySkeletonToggle || categoryListSkeletonToggle"
						[appDropdownPosition]="'bottom-right'"
					>
						<button
							class="btn-ghost w-12 h-12 btn-square btn bg-base-200 fill-current"
							type="button"
							title="Menu"
							aria-label="Menu"
							appSvgIcon
							slot="target"
							[disabled]="postForm.disabled"
							[appSvgIconIcon]="'three-dots-vertical'"
							[appSvgIconSquare]="'1.5em'"
						></button>
						<ul class="menu menu-vertical menu-md ml-0 mt-2" slot="content">
							<li class="flex w-full snap-start scroll-my-2">
								<button
									class="rounded-btn block w-full truncate text-right"
									type="button"
									title="Create"
									aria-label="Create"
									(click)="appCategoryCreateComponent.onToggleCategoryCreateDialog(true)"
								>
									Create
								</button>
							</li>
							<ng-container *ngIf="!!category">
								<li class="flex w-full snap-start scroll-my-2">
									<button
										class="rounded-btn block w-full truncate text-right"
										type="button"
										title="Update"
										aria-label="Update"
										(click)="appCategoryUpdateComponent.onToggleCategoryUpdateDialog(true)"
									>
										Update
									</button>
								</li>
							</ng-container>
						</ul>
					</div>
				</div>
				<fieldset
					class="form-control items-start col-span-12 sm:col-span-12"
					*ngIf="postForm.get('description') as description"
				>
					<label class="label" for="postFormDescription">
						<div
							class="indicator"
							appSkeleton
							[appSkeletonToggle]="postSkeletonToggle"
							[appSkeletonClassListElementRef]="['!-mx-1']"
						>
							<span
								class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
								*ngIf="description.touched && !!description.errors && postForm.enabled"
								[ngSwitch]="true"
							>
								<ng-container *ngSwitchCase="!!description.errors.required">
									Required
								</ng-container>
								<ng-container *ngSwitchCase="!!description.errors.minlength">
									Min length {{ description.errors.minlength["requiredLength"] }} characters
								</ng-container>
								<ng-container *ngSwitchCase="!!description.errors.maxlength">
									Max length {{ description.errors.maxlength["requiredLength"] }} characters
								</ng-container>
							</span>
							<span class="label-text mr-2">Description</span>
						</div>
					</label>
					<div class="relative w-full" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
						<input
							class="input-bordered input input-md w-full truncate pr-12"
							id="postFormDescription"
							type="text"
							aria-label="Description"
							placeholder="Type post description"
							formControlName="description"
							appInputTrimWhitespace
							[class.input-success]="description.value && description.valid"
							[class.input-error]="description.touched && description.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!description.value.length"
							[class.btn-success]="description.valid"
							[class.btn-error]="description.touched && description.invalid"
							[class.btn-ghost]="description.untouched && description.invalid"
							[disabled]="postForm.disabled"
							[appSvgIconIcon]="'x'"
							[appSvgIconSquare]="'2em'"
							(click)="description.setValue('')"
						></button>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="z-10 flex flex-col gap-4 bg-base-100 p-4" [ngClass]="fullscreenClassList">
			<div class="flex h-full flex-col gap-y-4 overflow-y-auto overflow-x-hidden">
				<div class="flex w-full items-start justify-between gap-4">
					<div class="flex w-full items-start justify-start gap-4 overflow-hidden">
						<a
							class="btn-info w-12 h-12 btn-square btn btn-outline fill-current"
							type="button"
							title="Menu"
							aria-label="Menu"
							appSvgIcon
							*ngIf="!fullscreenToggle"
							[routerLink]="['/help/markdown']"
							[appSvgIconIcon]="'info-circle'"
							[appSvgIconSquare]="'1.5em'"
						></a>
						<div
							class="flex overflow-auto"
							appMarkdown
							appSkeleton
							#appMarkdownComponent
							[appSkeletonToggle]="postSkeletonToggle"
							[appMarkdownTextareaId]="postFormTextareaId"
							[appMarkdownPreviewId]="postFormPreviewId"
							[appMarkdownScrollSync]="fullscreenScrollSync"
							[appMarkdownDisabled]="postForm.disabled"
							(appMarkdownDialogToggle)="onToggleMarkdownDialog($event)"
						></div>
					</div>
					<div class="flex items-start justify-end gap-4">
						<button
							class="btn-primary btn w-12 h-12 sm:w-auto sm:h-auto"
							type="button"
							aria-label="Fullscreen"
							appSkeleton
							[appSkeletonToggle]="postSkeletonToggle"
							[appSkeletonClassListElementRef]="['border-0']"
							[class.btn-outline]="postForm.enabled && !fullscreenToggle"
							[disabled]="postForm.disabled"
							(click)="onFullscreen(!fullscreenToggle)"
						>
							<span class="hidden sm:block">Fullscreen</span>
							<i
								class="block sm:hidden fill-current"
								appSvgIcon
								[appSvgIconIcon]="'fullscreen'"
								[appSvgIconSquare]="'1.5em'"
							>
							</i>
						</button>
						<ng-container *ngIf="fullscreenToggle">
							<div
								class="flex p-0"
								appDropdown
								[appDropdownPosition]="'bottom-right'"
								[appDropdownCloseOnClick]="false"
							>
								<button
									class="btn-ghost w-12 h-12 btn-square btn bg-base-200 fill-current"
									type="button"
									title="Menu"
									aria-label="Menu"
									appSvgIcon
									slot="target"
									[disabled]="postForm.disabled"
									[appSvgIconIcon]="'three-dots-vertical'"
									[appSvgIconSquare]="'1.5em'"
								></button>
								<ul class="menu menu-vertical menu-md ml-0 mt-2" slot="content">
									<li class="flex w-full snap-start scroll-my-2">
										<label class="label cursor-pointer justify-end gap-4">
											<span class="label-text">Scroll Sync</span>
											<input
												class="checkbox checkbox-md"
												type="checkbox"
												aria-label="Scroll Sync"
												[checked]="fullscreenScrollSync"
												[class.checkbox-success]="fullscreenScrollSync"
												(change)="fullscreenScrollSync = !fullscreenScrollSync"
											/>
										</label>
									</li>
									<li class="flex w-full snap-start scroll-my-2">
										<label class="label cursor-pointer justify-end gap-4">
											<span class="label-text">Text Wrap</span>
											<input
												class="checkbox checkbox-md"
												type="checkbox"
												aria-label="Text Wrap"
												[checked]="fullscreenTextWrapping"
												[class.checkbox-success]="fullscreenTextWrapping"
												(change)="fullscreenTextWrapping = !fullscreenTextWrapping"
											/>
										</label>
									</li>
									<li class="flex w-full snap-start scroll-my-2 menu-title">
										<hr class="my-0 border-base-content/20" />
									</li>
									<li class="flex w-full snap-start scroll-my-2">
										<label class="label cursor-pointer justify-end gap-4">
											<span>Markdown</span>
											<input
												class="toggle toggle-md"
												type="checkbox"
												aria-label="Markdown"
												[checked]="fullscreenMarkdown"
												[class.toggle-success]="fullscreenMarkdown"
												(click)="onFullscreenHide('fullscreenMarkdown')"
											/>
										</label>
									</li>
									<li class="flex w-full snap-start scroll-my-2">
										<label class="label cursor-pointer justify-end gap-4">
											<span class="label-text">Render</span>
											<input
												class="toggle toggle-md"
												type="checkbox"
												aria-label="Render"
												[checked]="fullscreenRender"
												[class.toggle-success]="fullscreenRender"
												(click)="onFullscreenHide('fullscreenRender')"
											/>
										</label>
									</li>
								</ul>
							</div>
						</ng-container>
					</div>
				</div>
				<div class="flex h-full flex-col gap-4 overflow-auto sm:flex-row">
					<form
						class="flex h-full w-full flex-col overflow-auto"
						autocomplete="off"
						[formGroup]="postForm"
						[class.hidden]="fullscreenToggle && !fullscreenMarkdown"
					>
						<fieldset class="form-control h-full" *ngIf="postForm.get('markdown') as markdown">
							<!-- prettier-ignore -->
							<div
								class="textarea-autosize w-full h-full focus-within:outline-0"
								appSkeleton
								[appSkeletonToggle]="postSkeletonToggle"
								[appSkeletonClassListElementRef]="['!border-0']"
								[ngClass]="{ 'border-base-content/20': postForm.enabled, 'border-transparent': postForm.disabled }"
								[class.textarea-autosize-success]="markdown.value && markdown.valid"
								[class.textarea-autosize-error]="markdown.touched && markdown.invalid"
							>
								<textarea
									class="textarea textarea-md w-full h-full"
									id="postFormTextarea"
									aria-label="Markdown"
									placeholder="Type post markdown"
									formControlName="markdown"
									appInputTrimWhitespace
									appTextareaAutosize
									[appAutosizeToggle]="!fullscreenToggle"
									[rows]="8"
									[class.max-h-96]="!fullscreenToggle"
									[class.whitespace-pre]="fullscreenToggle && !fullscreenTextWrapping"
									[class.font-mono]="postMarkdownMonospace"
								>
                  {{ markdown.value }}
                </textarea>
							</div>
						</fieldset>
					</form>
					<div
						class="flex h-full w-full flex-col overflow-auto rounded-btn border border-base-content/20"
						[class.hidden]="!fullscreenToggle || !fullscreenRender"
					>
						<article
							class="prose max-w-none overflow-auto px-4 py-3"
							id="postFormPreview"
						></article>
					</div>
				</div>
			</div>
			<div class="grid grid-cols-12 gap-4" [class.hidden]="fullscreenToggle">
				<button
					class="btn btn-primary col-span-4 sm:col-span-3"
					type="button"
					aria-label="Preview"
					appSkeleton
					[appSkeletonToggle]="postSkeletonToggle"
					[appSkeletonClassListElementRef]="['border-0']"
					[class.btn-outline]="postForm.valid && postForm.enabled"
					[disabled]="postForm.invalid || postForm.disabled"
					(click)="appPostPreviewComponent.onTogglePostPreviewDialog(true)"
				>
					Preview
				</button>
				<button
					class="btn btn-success col-span-8 sm:col-span-9"
					type="button"
					aria-label="Submit"
					appSkeleton
					[appSkeletonToggle]="postSkeletonToggle"
					[appSkeletonClassListElementRef]="['border-0']"
					[disabled]="postForm.invalid || postForm.disabled || postFormIsPristine"
					(click)="onSubmitPostForm()"
				>
					<!-- prettier-ignore -->
					<span
            class="loading loading-spinner"
            *ngIf="postForm.disabled && !postFormImageDialog.open && !appCategoryCreateComponent.categoryCreateDialogToggle && !appPostPreviewComponent.postPreviewDialogToggle && !appPostDeleteComponent.postDeleteDialogToggle && !postMarkdownDialogToggle"
          ></span>
					Submit
				</button>
				<button
					class="btn btn-error col-span-12"
					type="button"
					aria-label="Delete"
					appSkeleton
					*ngIf="!!post"
					[appSkeletonToggle]="postSkeletonToggle"
					[appSkeletonClassListElementRef]="['border-0']"
					[class.btn-outline]="postForm.enabled"
					[disabled]="postForm.disabled"
					(click)="appPostDeleteComponent.onTogglePostDeleteDialog(true)"
				>
					Delete
				</button>
			</div>
		</div>
	</div>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#postFormImageDialog
		(keydown.escape)="$event.preventDefault(); postFormImageDialog.close()"
		(close)="onTogglePostFormImage(false)"
		(click)="$event.target === $event.currentTarget ? postFormImageDialog.close() : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-lg"
			appWindow
			[appWindowTitle]="'Image'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onTogglePostFormImage(false)"
		>
			<div
				appCropper
				slot="content"
				*ngIf="postFormImageDialog.open"
				[appCropperUploadPath]="'/upload/post-images'"
				(appCropperSubmit)="onSubmitPostFormImage($event)"
			></div>
		</div>
	</dialog>
	<div
		appPostPreview
		#appPostPreviewComponent
		[appPostPreviewPost]="postForm.value"
		[appPostPreviewCategory]="category"
		(appPostPreviewToggle)="onSubmitPostFormStatus($event)"
	></div>
	<div
		appCategoryCreate
		#appCategoryCreateComponent
		(appCategoryCreateToggle)="onSubmitPostFormStatus($event)"
		(appCategoryCreateSuccess)="onCreateCategory($event)"
	></div>
	<div
		appCategoryUpdate
		#appCategoryUpdateComponent
		[appCategoryUpdateCategory]="category"
		[appCategoryUpdateCategoryList]="categoryList"
		(appCategoryUpdateSuccess)="onUpdateCategory($event)"
	></div>
	<div
		appPostDelete
		#appPostDeleteComponent
		[appPostDeletePost]="post"
		(appPostDeleteToggle)="onSubmitPostFormStatus($event)"
	></div>
</ng-container>
