<!-- @format -->

<ng-container>
	<div class="flex flex-col space-y-4 md:space-y-8">
		<div
			class="rounded-box flex w-full flex-col items-stretch gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl sm:flex-row"
		>
			<div class="flex items-center gap-4">
				<figure
					class="rounded-btn relative overflow-hidden border border-base-content/20"
					*ngIf="postForm.get('image') as image"
					[class.pointer-events-none]="postFormIsSubmitted"
					[class.bg-base-200]="postFormIsSubmitted"
					[class.border-transparent]="postFormIsSubmitted"
					[class.border-success]="!postFormIsSubmitted && image.value"
				>
					<img
						class="aspect-square h-20 w-20 cursor-pointer object-cover sm:h-44 sm:w-44"
						alt="Image"
						[class.invisible]="!image.value"
						[class.opacity-50]="postFormIsSubmitted"
						[class.saturate-0]="postFormIsSubmitted"
						[src]="image.value"
						(click)="postFormImageToggle = true"
					/>
					<div
						class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
						*ngIf="!image.value"
					>
						<button
							class="btn btn-ghost btn-circle fill-current transition-none"
							title="Image"
							aria-label="Image"
							appSvgIcon
							[appIcon]="'plus'"
							[appSquare]="'1.75rem'"
							[class.btn-disabled]="postFormIsSubmitted"
							(click)="postFormImageToggle = true"
						></button>
					</div>
				</figure>
				<div class="flex flex-col sm:hidden">
					<span class="text-base-content">Image</span>
					<p class="text-base-content/50">Upload post image</p>
				</div>
			</div>
			<form
				class="flex flex-1 flex-col"
				autocomplete="off"
				[formGroup]="postForm"
			>
				<fieldset
					class="grid grid-cols-12 gap-y-2.5 gap-x-4"
					[disabled]="postFormIsSubmitted"
				>
					<fieldset
						class="form-control col-span-12 sm:col-span-6"
						*ngIf="postForm.get('name') as name"
					>
						<label class="label" for="postFormTitle">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="name.touched && !!name.errors"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!name.errors.required">
										Required
									</ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!name.errors.minlength">
                    Min length {{ name.errors.minlength["requiredLength"] }} characters
                  </ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!name.errors.maxlength">
                    Max length {{ name.errors.maxlength["requiredLength"] }} characters
                  </ng-container>
								</span>
								<span class="label-text mr-2">Name</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input input-bordered w-full truncate pr-12"
								id="postFormTitle"
								type="text"
								aria-label="Name"
								placeholder="Type post name"
								formControlName="name"
								appInputTrimWhitespace
								[class.input-success]="name.touched && name.valid"
								[class.input-error]="name.touched && name.invalid"
								[class.input-disabled]="postFormIsSubmitted"
							/>
							<button
								class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
								type="button"
								title="Clear"
								aria-label="Clear"
								appSvgIcon
								*ngIf="!!name.value.length"
								[class.btn-success]="name.touched && name.valid"
								[class.btn-error]="name.touched && name.invalid"
								[class.btn-ghost]="name.untouched"
								[class.btn-disabled]="postFormIsSubmitted"
								[appIcon]="'x'"
								[appSquare]="'1.75rem'"
								(click)="name.setValue('')"
							></button>
						</div>
					</fieldset>
					<div
						class="col-span-12 flex items-end justify-end space-x-4 sm:col-span-6"
					>
						<fieldset
							class="form-control w-full"
							*ngIf="postForm.get('categoryName') as categoryName"
						>
							<label class="label" for="postFormCategoryName">
								<div class="indicator">
									<span
										class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
										*ngIf="categoryName.touched && !!categoryName.errors"
										[ngSwitch]="true"
									>
										<!-- prettier-ignore -->
										<ng-container *ngSwitchCase="!!categoryName.errors.required">
                      Required
                    </ng-container>
									</span>
									<span class="label-text mr-2">Category</span>
								</div>
							</label>
							<div appDropdown (toggled)="onToggleCategory($event)">
								<!-- prettier-ignore -->
								<input
                  class="input input-bordered w-full cursor-pointer truncate"
                  id="postFormCategoryName"
                  type="text"
                  aria-label="Category"
                  placeholder="Select post category"
                  formControlName="categoryName"
                  slot="target"
                  readonly
                  [class.input-success]="categoryName.touched && categoryName.value"
                  [class.input-error]="categoryName.touched && categoryName.invalid"
                  [class.input-disabled]="postFormIsSubmitted"
                />
								<div
									class="menu rounded-btn mt-2 overflow-hidden border border-base-content/20 bg-base-100 shadow"
									slot="content"
								>
									<ul
										class="flex max-h-64 flex-col flex-nowrap overflow-y-auto p-2"
									>
										<li
											class="flex w-full"
											*ngFor="let category of categoryList"
										>
											<!-- prettier-ignore -->
											<button
												class="rounded-btn block w-full truncate text-left active:bg-success active:text-success-content"
												type="button"
												[ngClass]="{ 'bg-success text-success-content': categoryName.value === category.name }"
												[attr.aria-label]="category.name"
												(click)="onSelectCategory(category)"
											>
												{{ category.name }}
											</button>
										</li>
									</ul>
								</div>
							</div>
						</fieldset>
						<button
							class="btn btn-success fill-current p-3"
							type="button"
							title="Create"
							aria-label="Create"
							appSvgIcon
							[appIcon]="'folder-plus'"
							[appSquare]="'1.375rem'"
							[class.btn-outline]="!postFormIsSubmitted"
							[class.btn-disabled]="postFormIsSubmitted"
							(click)="onToggleCategoryForm(true)"
						></button>
					</div>
					<fieldset
						class="form-control col-span-12 sm:col-span-12"
						*ngIf="postForm.get('description') as description"
					>
						<label class="label" for="postFormDescription">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="description.touched && !!description.errors"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!description.errors.required">
										Required
									</ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!description.errors.minlength">
                    Min length {{ description.errors.minlength["requiredLength"] }} characters
                  </ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!description.errors.maxlength">
                    Max length {{ description.errors.maxlength["requiredLength"] }} characters
                  </ng-container>
								</span>
								<span class="label-text mr-2">Description</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input input-bordered w-full truncate pr-12"
								id="postFormDescription"
								type="text"
								aria-label="Description"
								placeholder="Type post description"
								formControlName="description"
								appInputTrimWhitespace
								[class.input-success]="description.touched && description.valid"
								[class.input-error]="description.touched && description.invalid"
								[class.input-disabled]="postFormIsSubmitted"
							/>
							<button
								class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
								type="button"
								title="Clear"
								aria-label="Clear"
								appSvgIcon
								*ngIf="!!description.value.length"
								[class.btn-success]="description.touched && description.valid"
								[class.btn-error]="description.touched && description.invalid"
								[class.btn-ghost]="description.untouched"
								[class.btn-disabled]="postFormIsSubmitted"
								[appIcon]="'x'"
								[appSquare]="'1.75rem'"
								(click)="description.setValue('')"
							></button>
						</div>
					</fieldset>
				</fieldset>
			</form>
		</div>
		<div
			class="z-[1] flex flex-col space-y-4 bg-base-100 p-4"
			[ngClass]="fullscreenClassList"
		>
			<div
				class="flex h-full flex-col gap-y-4 overflow-y-auto overflow-x-hidden"
			>
				<div
					class="flex w-full items-center justify-between space-x-4"
					[class.hidden]="fullscreenHiddenControls"
				>
					<div
						class="flex overflow-auto"
						appMarkdown
						[appTextareaId]="'postFormTextarea'"
						[appPreviewId]="'postFormPreview'"
						[appScrollSync]="fullscreenScrollSync"
						[appDisabled]="postFormIsSubmitted"
					></div>
					<button
						class="btn btn-primary !outline-0"
						type="button"
						title="Fullscreen"
						aria-label="Fullscreen"
						[class.btn-outline]="!postFormIsSubmitted && !fullscreenToggle"
						[disabled]="postFormIsSubmitted"
						(click)="onFullscreen(!fullscreenToggle)"
					>
						Fullscreen
					</button>
				</div>
				<hr
					class="my-2 border-base-content/20"
					*ngIf="fullscreenToggle"
					[class.hidden]="fullscreenHiddenControls"
				/>
				<div class="flex h-full flex-col gap-4 overflow-auto sm:flex-row">
					<form
						class="flex h-full w-full flex-col overflow-auto"
						autocomplete="off"
						[formGroup]="postForm"
						[class.hidden]="fullscreenToggle && fullscreenHiddenMarkdown"
					>
						<fieldset
							class="flex h-full flex-col"
							[disabled]="postFormIsSubmitted"
						>
							<fieldset
								class="form-control h-full"
								*ngIf="postForm.get('markdown') as markdown"
							>
								<label class="label" for="postFormTextarea">
									<div class="indicator">
										<span
											class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
											*ngIf="markdown.touched && !!markdown.errors"
											[ngSwitch]="true"
										>
											<ng-container *ngSwitchCase="!!markdown.errors.required">
												Required
											</ng-container>
											<!-- prettier-ignore -->
											<ng-container *ngSwitchCase="!!markdown.errors.minlength">
                        Min length {{ markdown.errors.minlength["requiredLength"] }} characters
                      </ng-container>
											<!-- prettier-ignore -->
											<ng-container *ngSwitchCase="!!markdown.errors.maxlength">
                        Max length {{ markdown.errors.maxlength["requiredLength"] }} characters
                      </ng-container>
										</span>
										<span class="label-text mr-2">Markdown</span>
									</div>
									<!-- prettier-ignore -->
									<span
                    class="label-text-alt"
                    [class.text-base-content]="postFormIsSubmitted"
                    [class.text-success]="!postFormIsSubmitted && markdown.touched && !markdown.errors"
                    [class.text-error]="!postFormIsSubmitted && markdown.touched && !!markdown.errors"
                  >
                    {{ markdown.value.length }}/7200
                  </span>
								</label>
								<!-- prettier-ignore -->
								<textarea
									class="textarea textarea-bordered !outline-0 w-full h-full"
									id="postFormTextarea"
									aria-label="Markdown"
									placeholder="Type post markdown"
									formControlName="markdown"
									[rows]="8"
                  [class.whitespace-pre]="fullscreenDisableTextWrapping"
									[class.font-mono]="authUser.settings.monospace"
									[class.textarea-success]="markdown.touched && !markdown.errors"
									[class.textarea-error]="markdown.touched && !!markdown.errors"
									[class.textarea-disabled]="postFormIsSubmitted"
									[class.bg-base-200]="postFormIsSubmitted"
								>
                  {{ markdown.value }}
                </textarea>
							</fieldset>
						</fieldset>
					</form>
					<div
						class="flex flex-col items-center justify-center"
						[class.hidden]="!fullscreenToggle"
					>
						<ul
							class="menu rounded-btn menu-horizontal border border-base-content/20 sm:menu-vertical"
						>
							<li class="inline-block">
								<button
									class="p-3.5"
									type="button"
									title="Markdown"
									aria-label="Markdown"
									[class.active]="fullscreenHiddenRender"
									(click)="onFullscreenHide('fullscreenHiddenRender')"
								>
									<i
										class="-rotate-90 fill-current sm:rotate-180"
										appSvgIcon
										[appIcon]="'arrow-bar-left'"
									></i>
								</button>
							</li>
							<li class="inline-block">
								<button
									class="fill-current p-3.5"
									type="button"
									title="Fullscreen"
									aria-label="Fullscreen"
									appSvgIcon
									[appIcon]="'fullscreen'"
									[class.active]="fullscreenHiddenControls"
									(click)="onFullscreenHide('fullscreenHiddenControls')"
								></button>
							</li>
							<li class="inline-block">
								<button
									class="fill-current p-3.5"
									type="button"
									title="Scroll sync"
									aria-label="Scroll sync"
									appSvgIcon
									[appIcon]="'mouse'"
									[class.active]="fullscreenScrollSync"
									(click)="fullscreenScrollSync = !fullscreenScrollSync"
								></button>
							</li>
							<li class="inline-block">
								<!-- prettier-ignore -->
								<button
									class="fill-current p-3.5"
									type="button"
									title="Disable text wrapping"
									aria-label="Disable text wrapping"
									appSvgIcon
									[appIcon]="'text-wrap'"
									[class.active]="fullscreenDisableTextWrapping"
									(click)="fullscreenDisableTextWrapping = !fullscreenDisableTextWrapping"
								></button>
							</li>
							<li class="inline-block">
								<button
									class="p-3.5"
									type="button"
									title="Render"
									aria-label="Render"
									[class.active]="fullscreenHiddenMarkdown"
									(click)="onFullscreenHide('fullscreenHiddenMarkdown')"
								>
									<i
										class="rotate-90 fill-current sm:rotate-0"
										appSvgIcon
										[appIcon]="'arrow-bar-left'"
									></i>
								</button>
							</li>
						</ul>
					</div>
					<section
						class="flex h-full w-full flex-col overflow-auto"
						[class.hidden]="!fullscreenToggle || fullscreenHiddenRender"
					>
						<div class="label">
							<span class="label-text">Render</span>
						</div>
						<div
							class="rounded-btn flex h-full flex-col overflow-auto border border-base-content/20"
						>
							<article
								class="prose max-w-none overflow-auto px-4 py-2"
								id="postFormPreview"
							></article>
						</div>
					</section>
				</div>
			</div>
			<div
				class="grid grid-cols-12 gap-4"
				[class.hidden]="fullscreenHiddenControls"
			>
				<!-- prettier-ignore -->
				<button
					class="btn btn-primary col-span-4 sm:col-span-3"
					type="button"
					title="Preview"
					aria-label="Preview"
					[class.btn-outline]="postForm.valid && !postFormIsSubmitted && !postFormIsPristine"
					[disabled]="postForm.invalid || postFormIsSubmitted || postFormIsPristine"
					(click)="onTogglePreviewPost()"
				>
					Preview
				</button>
				<!-- prettier-ignore -->
				<button
					class="btn btn-success col-span-8 sm:col-span-9"
					type="button"
					title="Submit"
					aria-label="Submit"
					[class.loading]="postFormIsSubmitted"
					[disabled]="postForm.invalid || postFormIsSubmitted || postFormIsPristine"
					(click)="onSubmitPostForm()"
				>
					Submit
				</button>
				<button
					class="btn btn-error col-span-12"
					type="button"
					title="Delete"
					aria-label="Delete"
					*ngIf="!!post"
					[class.btn-outline]="!postFormIsSubmitted"
					[disabled]="postFormIsSubmitted"
				>
					Delete
				</button>
			</div>
		</div>
	</div>
	<app-overlay
		[appToggle]="postFormPreviewToggle"
		(clicked)="postFormPreviewToggle = false"
		(escaped)="postFormPreviewToggle = false"
	>
		<app-window
			slot="content"
			[appTitle]="'Preview'"
			[appButtons]="['close', 'fullscreen']"
			(closed)="postFormPreviewToggle = false"
		>
			<ng-container slot="content">
				<app-post-detail
					class="h-full"
					[appPost]="postFormPreviewPost"
				></app-post-detail>
			</ng-container>
			<div class="pointer-events-none flex bg-base-200 p-2" slot="footer">
				<app-share class="opacity-50"></app-share>
			</div>
		</app-window>
	</app-overlay>
	<app-overlay
		[appToggle]="categoryFormToggle"
		(clicked)="onToggleCategoryForm(false)"
		(escaped)="onToggleCategoryForm(false)"
	>
		<app-window
			slot="content"
			[appTitle]="'Category'"
			(closed)="onToggleCategoryForm(false)"
		>
			<ng-container slot="content">
				<form
					class="flex w-window max-w-[512px] flex-col space-y-4 p-4"
					autocomplete="off"
					slot="content"
					[formGroup]="categoryForm"
					(ngSubmit)="onSubmitCategoryForm()"
				>
					<p class="alert">You can change category information later</p>
					<fieldset
						class="flex flex-col space-y-4"
						[disabled]="categoryFormIsSubmitted"
					>
						<fieldset
							class="form-control"
							*ngIf="categoryForm.get('name') as name"
						>
							<label class="label" for="categoryFormName">
								<div class="indicator">
									<span
										class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
										*ngIf="name.touched && !!name.errors"
										[ngSwitch]="true"
									>
										<ng-container *ngSwitchCase="!!name.errors.required">
											Required
										</ng-container>
										<!-- prettier-ignore -->
										<ng-container *ngSwitchCase="!!name.errors.minlength">
											Min length {{ name.errors.minlength["requiredLength"] }} characters
                    </ng-container>
										<!-- prettier-ignore -->
										<ng-container *ngSwitchCase="!!name.errors.maxlength">
											Max length {{ name.errors.maxlength["requiredLength"] }} characters
                    </ng-container>
									</span>
									<span class="label-text mr-2">Name</span>
								</div>
							</label>
							<div class="relative">
								<input
									class="input input-bordered w-full truncate pr-12"
									id="categoryFormName"
									type="text"
									aria-label="Name"
									formControlName="name"
									placeholder="Type category name"
									appInputTrimWhitespace
									[class.input-success]="name.touched && name.valid"
									[class.input-error]="name.touched && name.invalid"
									[class.input-disabled]="categoryFormIsSubmitted"
								/>
								<button
									class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
									type="button"
									title="Clear"
									aria-label="Clear"
									appSvgIcon
									*ngIf="!!name.value.length"
									[class.btn-success]="name.touched && name.valid"
									[class.btn-error]="name.touched && name.invalid"
									[class.btn-ghost]="name.untouched"
									[class.btn-disabled]="categoryFormIsSubmitted"
									[appIcon]="'x'"
									[appSquare]="'1.75rem'"
									(click)="name.setValue('')"
								></button>
							</div>
						</fieldset>
						<fieldset
							class="form-control"
							*ngIf="categoryForm.get('description') as description"
						>
							<label class="label" for="categoryFormDescription">
								<div class="indicator">
									<span
										class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
										*ngIf="description.touched && !!description.errors"
										[ngSwitch]="true"
									>
										<ng-container *ngSwitchCase="!!description.errors.required">
											Required
										</ng-container>
										<!-- prettier-ignore -->
										<ng-container *ngSwitchCase="!!description.errors.minlength">
                      Min length {{ description.errors.minlength["requiredLength"] }} characters
                    </ng-container>
										<!-- prettier-ignore -->
										<ng-container *ngSwitchCase="!!description.errors.maxlength">
                      Max length {{ description.errors.maxlength["requiredLength"] }} characters
                    </ng-container>
									</span>
									<span class="label-text mr-2">Description</span>
								</div>
								<!-- prettier-ignore -->
								<span
                  class="label-text-alt"
                  [class.text-base-content]="categoryFormIsSubmitted"
                  [class.text-success]="!categoryFormIsSubmitted && description.touched && !description.errors"
                  [class.text-error]="!categoryFormIsSubmitted && description.touched && !!description.errors"
                >
                  {{ description.value.length }}/255
                </span>
							</label>
							<!-- prettier-ignore -->
							<textarea
                class="textarea textarea-bordered w-full"
                id="categoryFormDescription"
                aria-label="Description"
                placeholder="Type category description"
                formControlName="description"
                [rows]="4"
                [class.textarea-success]="description.touched && !description.errors"
                [class.textarea-error]="description.touched && !!description.errors"
                [class.textarea-disabled]="categoryFormIsSubmitted"
              >
                {{ description.value }}
              </textarea>
						</fieldset>
						<fieldset class="form-control">
							<button
								class="btn btn-success w-full"
								type="submit"
								aria-label="Submit"
								[class.loading]="categoryFormIsSubmitted"
								[disabled]="categoryForm.invalid || categoryFormIsSubmitted"
							>
								Submit
							</button>
						</fieldset>
					</fieldset>
				</form>
			</ng-container>
		</app-window>
	</app-overlay>
	<app-overlay
		[appToggle]="postFormImageToggle"
		(clicked)="postFormImageToggle = false"
		(escaped)="postFormImageToggle = false"
	>
		<app-window
			slot="content"
			[appTitle]="'Image'"
			(closed)="postFormImageToggle = false"
		>
			<ng-container slot="content" *ngIf="postFormImageToggle">
				<app-cropper
					[appField]="'images'"
					(submitted)="onSubmitPostFormImage($event)"
				>
				</app-cropper>
			</ng-container>
		</app-window>
	</app-overlay>
</ng-container>
