<!-- @format -->

<ng-container>
	<dialog
		class="modal"
		#postPasswordDialogElement
		(keydown.escape)="$event.preventDefault(); onTogglePostPasswordDialog(false)"
		(click)="$event.target === $event.currentTarget ? onTogglePostPasswordDialog(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-md"
			appWindow
			[appWindowTitle]="'Password'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onTogglePostPasswordDialog(false)"
		>
			<form
				class="flex flex-col gap-4 p-4"
				autocomplete="off"
				slot="content"
				[formGroup]="postPasswordForm"
				(ngSubmit)="onSubmitPostPasswordForm()"
			>
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block"> Please provide password to continue </span>
				</p>
				@if (postPasswordForm.get("password"); as password) {
					<fieldset class="form-control">
						<label class="label" for="postPasswordFormPassword">
							<div class="indicator">
								@if (password.touched && !!password.errors && postPasswordForm.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="password"></div>
								}
								<span class="label-text mr-2"> Password </span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input-bordered input input-md w-full"
								id="postPasswordFormPassword"
								title="Password"
								aria-label="Password"
								formControlName="password"
								autocomplete="new-password"
								enterkeyhint="done"
								placeholder="Type post password"
								appInputTrimWhitespace
								#postPasswordFormPasswordElement
								[type]="'password'"
								[class.input-success]="password.dirty && password.valid"
								[class.input-error]="password.touched && password.invalid"
							/>
							@if (password.value) {
								<button
									class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
									type="button"
									title="Show password"
									aria-label="Show password"
									appSvgIcon
									appInputShowPassword
									[disabled]="password.disabled"
									[class.btn-success]="password.dirty && password.value"
									[class.btn-error]="password.touched && password.invalid"
									[class.btn-ghost]="password.untouched && password.dirty && password.invalid"
									[appSvgIconIcon]="'incognito'"
									[appSvgIconSquare]="'1.5em'"
									[appInputShowPasswordFormControl]="password"
									[appInputShowPasswordInputElement]="postPasswordFormPasswordElement"
								></button>
							}
						</div>
					</fieldset>
				}
				<fieldset class="form-control">
					<button
						class="btn btn-md btn-outline btn-success"
						type="submit"
						title="Submit"
						aria-label="Submit"
						[disabled]="postPasswordForm.invalid || postPasswordForm.disabled"
					>
						@if (postPasswordForm.disabled) {
							<span class="loading loading-spinner"></span>
						}
						Submit
					</button>
				</fieldset>
			</form>
		</div>
	</dialog>
</ng-container>
