<!-- @format -->

<ng-container>
	<ul class="grid grid-cols-2 grid-rows-none gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
		@for (user of userList; track user.id) {
			<li
				class="block"
				appCardUser
				[appCardUserUser]="user"
				[appCardUserSkeletonToggle]="userListSkeletonToggle"
			></li>
		} @empty {
			<li
				class="col-span-2 sm:col-span-3 md:col-span-4 lg:col-span-5 flex flex-col items-center gap-4"
			>
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appSvgIconIcon]="'exclamation-circle'"
					[appSvgIconSquare]="'3em'"
				></i>
				<div class="text-center">
					<p class="text-xl font-bold text-base-content">
						Users <span class="text-error"> not found </span>
					</p>
					<a
						class="link text-sm"
						title="Registration"
						aria-label="Registration"
						[routerLink]="['/registration']"
					>
						Registration
					</a>
				</div>
			</li>
		}
	</ul>
	@if (abstractListPageScrollInfinite === false && abstractListIsHasMore) {
		<button
			class="btn-success btn-md btn mt-4 w-full"
			type="button"
			title="Load more"
			aria-label="Load more"
			[disabled]="abstractListIsLoading$ | async"
			(click)="getAbstractListLoadMore()"
		>
			@if (abstractListIsLoading$ | async) {
				<span class="loading loading-spinner"></span>
			}
			Load more
		</button>
	}
	<div class="block">
		<router-outlet></router-outlet>
	</div>
</ng-container>
<!-- TODO: ads
<li class="block" *ngIf="i === 10 || i === 20 || i === 30">
  <a
    class="block w-full h-full"
    title="Placeholder"
    aria-label="Placeholder"
    appSkeleton
    [routerLink]="['.']"
    [appSkeletonToggle]="false"
  >
    <figure class="rounded-btn relative overflow-hidden w-full h-full">
      <img
        class="object-cover w-full h-full bg-base-300"
        src="https://placehold.co/172x236/?text=Placeholder"
        alt="Advertise"
        loading="lazy"
      />
    </figure>
  </a>
</li>	-->
