<!-- @format -->

<ng-container>
	<ul class="grid grid-cols-2 grid-rows-none gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
		@for (user of userList; track i; let i = $index) {
			<li class="block" appCardUser [appCardUserUser]="user" [appCardUserSkeletonToggle]="userListSkeletonToggle"></li>
			@if (i === 10 || i === 20 || i === 30) {
				<li class="block" appAd></li>
			}
		} @empty {
			<li class="col-span-2 sm:col-span-3 md:col-span-4 lg:col-span-5 flex flex-col items-center gap-4">
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appSvgIconIcon]="'exclamation-circle'"
					[appSvgIconSquare]="'3em'"
				></i>
				<div class="text-center">
					<p class="text-xl font-bold text-base-content">Users <span class="text-error"> not found </span></p>
					<div class="block" appAuthenticated appSkeleton [appSkeletonToggle]="currentUserSkeletonToggle">
						<a
							class="link text-sm"
							title="Registration"
							aria-label="Registration"
							slot="public"
							[routerLink]="['/registration']"
						>
							Unlock limitless and register today!
						</a>
						<span class="text-sm" slot="private">
							Can't find your friends?
							<span
								class="link"
								appCopyToClipboard
								[appCopyToClipboardValue]="currentUserInviteURL"
								[appCopyToClipboardMessage]="'Invite URL has been copied'"
							>
								Invite them!
							</span>
						</span>
					</div>
				</div>
			</li>
		}
	</ul>
	@if (abstractListIsHasMore && !abstractListPageScrollInfinite) {
		<button
			class="btn-success btn-md btn mt-4 w-full"
			type="button"
			title="Load more users"
			aria-label="Load more users"
			[disabled]="abstractListIsLoading$ | async"
			(click)="getAbstractList(true)"
		>
			@if (abstractListIsLoading$ | async) {
				<span class="loading loading-spinner"></span>
			}
			Load more
		</button>
	}
	<div class="block">
		<router-outlet></router-outlet>
	</div>
</ng-container>
