<!-- @format -->

<ng-container>
	<ul class="flex items-center justify-start gap-2">
		<li class="block">
			<button
				class="btn btn-ghost btn-circle fill-current"
				type="button"
				title="Copy URL"
				aria-label="Copy URL"
				appSvgIcon
				[appIcon]="'clipboard'"
				[appSquare]="'16'"
				(click)="onCopyUrl()"
			></button>
		</li>
		<li class="block">
			<button
				class="btn btn-ghost btn-circle fill-current"
				type="button"
				title="Download QR code"
				aria-label="Download QR code"
				appSvgIcon
				appQrCode
				[appIcon]="'qr-code'"
				[appSquare]="'16'"
				[appQRCodeDownloadOnClick]="true"
				[appQRCodeText]="shareUrl"
			></button>
		</li>
		<li class="block">
			<a
				class="btn btn-ghost btn-circle fill-current text-[#1877f2]"
				title="Facebook"
				aria-label="Facebook"
				target="_blank"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="shareMap.facebook"
				[appIcon]="'facebook'"
				[appSquare]="'20'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="btn btn-ghost btn-circle fill-current text-[#0A66C2]"
				title="Linkedin"
				aria-label="Linkedin"
				target="_blank"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="shareMap.linkedin"
				[appIcon]="'linkedin'"
				[appSquare]="'20'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="btn btn-ghost btn-circle fill-current text-[#E60023]"
				title="Pinterest"
				aria-label="Pinterest"
				target="_blank"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="shareMap.pinterest"
				[appIcon]="'pinterest'"
				[appSquare]="'20'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="btn btn-ghost btn-circle fill-current text-[#FF4500]"
				title="Reddit"
				aria-label="Reddit"
				target="_blank"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="shareMap.reddit"
				[appIcon]="'reddit'"
				[appSquare]="'20'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="btn btn-ghost btn-circle fill-current text-[#2AABEE]"
				title="Telegram"
				aria-label="Telegram"
				target="_blank"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="shareMap.telegram"
				[appIcon]="'telegram'"
				[appSquare]="'20'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="btn btn-ghost btn-circle fill-current text-[#1DA1F2]"
				title="Twitter"
				aria-label="Twitter"
				target="_blank"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="shareMap.twitter"
				[appIcon]="'twitter'"
				[appSquare]="'20'"
			>
			</a>
		</li>
	</ul>
</ng-container>
