<!-- @format -->

<ng-container>
	<ul class="flex items-center justify-start gap-2">
		<li class="block">
			<button
				class="btn btn-ghost btn-circle fill-current"
				type="button"
				title="Copy URL"
				aria-label="Copy URL"
				appSvgIcon
				[appSvgIconIcon]="'copy'"
				[appSvgIconSquare]="'16'"
				(click)="onCopyUrl()"
			></button>
		</li>
		<li class="block">
			<a
				class="btn btn-ghost btn-circle fill-current text-[#1877f2]"
				title="Facebook"
				aria-label="Facebook"
				target="_blank"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="shareList.facebook"
				[appSvgIconIcon]="'facebook'"
				[appSvgIconSquare]="'20'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="btn btn-ghost btn-circle fill-current text-[#0A66C2]"
				title="Linkedin"
				aria-label="Linkedin"
				target="_blank"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="shareList.linkedin"
				[appSvgIconIcon]="'linkedin'"
				[appSvgIconSquare]="'20'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="btn btn-ghost btn-circle fill-current text-[#E60023]"
				title="Pinterest"
				aria-label="Pinterest"
				target="_blank"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="shareList.pinterest"
				[appSvgIconIcon]="'pinterest'"
				[appSvgIconSquare]="'20'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="btn btn-ghost btn-circle fill-current text-[#FF4500]"
				title="Reddit"
				aria-label="Reddit"
				target="_blank"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="shareList.reddit"
				[appSvgIconIcon]="'reddit'"
				[appSvgIconSquare]="'20'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="btn btn-ghost btn-circle fill-current text-[#2AABEE]"
				title="Telegram"
				aria-label="Telegram"
				target="_blank"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="shareList.telegram"
				[appSvgIconIcon]="'telegram'"
				[appSvgIconSquare]="'20'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="btn btn-ghost btn-circle fill-current text-[#1DA1F2]"
				title="Twitter"
				aria-label="Twitter"
				target="_blank"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="shareList.twitter"
				[appSvgIconIcon]="'twitter'"
				[appSvgIconSquare]="'20'"
			>
			</a>
		</li>
	</ul>
</ng-container>
