<!-- @format -->

<ng-container>
	<ul class="flex items-center justify-start gap-4">
		<li class="block">
			<button
				class="btn btn-md btn-ghost btn-circle fill-current"
				type="button"
				title="Copy URL"
				aria-label="Copy URL"
				appSkeleton
				appSvgIcon
				appCopyToClipboard
				[appSkeletonToggle]="postSkeletonToggle"
				[appSkeletonClassList]="['rounded-full']"
				[appSkeletonClassListParent]="['bg-base-200']"
				[appSvgIconIcon]="'copy'"
				[appSvgIconSquare]="'16'"
			></button>
		</li>
		<li class="block">
			<a
				class="block logo-facebook"
				title="Facebook"
				aria-label="Facebook"
				target="_blank"
				rel="noopener noreferrer"
				appSvgLogo
				appSkeleton
				[appSvgLogoIcon]="'facebook'"
				[appSvgLogoSquare]="'24'"
				[appSkeletonToggle]="postSkeletonToggle"
				[appSkeletonClassList]="['rounded-full']"
				[appSkeletonClassListParent]="['bg-base-200']"
				[href]="shareList.facebook"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="block logo-linkedin"
				title="Linkedin"
				aria-label="Linkedin"
				target="_blank"
				rel="noopener noreferrer"
				appSvgLogo
				appSkeleton
				[appSvgLogoIcon]="'linkedin'"
				[appSvgLogoSquare]="'24'"
				[appSkeletonToggle]="postSkeletonToggle"
				[appSkeletonClassList]="['rounded-full']"
				[appSkeletonClassListParent]="['bg-base-200']"
				[href]="shareList.linkedin"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="block logo-pinterest"
				title="Pinterest"
				aria-label="Pinterest"
				target="_blank"
				rel="noopener noreferrer"
				appSvgLogo
				appSkeleton
				[appSvgLogoIcon]="'pinterest'"
				[appSvgLogoSquare]="'24'"
				[appSkeletonToggle]="postSkeletonToggle"
				[appSkeletonClassList]="['rounded-full']"
				[appSkeletonClassListParent]="['bg-base-200']"
				[href]="shareList.pinterest"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="block logo-twitter-x"
				title="X"
				aria-label="X"
				target="_blank"
				rel="noopener noreferrer"
				appSvgLogo
				appSkeleton
				[appSvgLogoIcon]="'twitter-x'"
				[appSvgLogoWidth]="'23.47'"
				[appSvgLogoHeight]="'24'"
				[appSvgLogoViewBox]="'0 0 1200 1227'"
				[appSkeletonToggle]="postSkeletonToggle"
				[appSkeletonClassList]="['rounded-full']"
				[appSkeletonClassListParent]="['bg-base-200']"
				[href]="shareList.twitter"
			>
			</a>
		</li>
	</ul>
</ng-container>
