<!-- @format -->

<ng-container>
	<div
		class="flex overflow-auto rounded-btn border border-base-content/20"
		#controlListElement
		[ngClass]="{ 'cursor-not-allowed border-transparent': controlListDisabled }"
	>
		<ul
			class="menu menu-horizontal flex-nowrap rounded-btn bg-base-100"
			[ngClass]="{ 'pointer-events-none bg-base-300': controlListDisabled }"
		>
			<li
				class="inline-block"
				*ngIf="{ value: textareaHistory$.getValue().length <= 1 } as disabled"
				[class.disabled]="disabled.value"
			>
				<button
					class="fill-current p-3.5 active:bg-error active:text-error-content"
					type="button"
					title="Undo"
					aria-label="Undo"
					appSvgIcon
					[class.pointer-events-none]="disabled.value"
					[appIcon]="'arrow-left'"
					(click)="setBack()"
				></button>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0 active:bg-base-content/10 active:text-base-content"
					appDropdown
					#dropdownHeading
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10 text-base-content': toggle.value }"
					(toggled)="toggle.value = $event"
				>
					<button
						class="fill-current p-3.5"
						type="button"
						title="Heading"
						aria-label="Heading"
						appSvgIcon
						slot="target"
						[appIcon]="'type-h1'"
					></button>
					<ul
						class="menu mt-2 min-w-fit rounded-btn border border-base-content/20 bg-base-100 p-2 shadow"
						slot="content"
					>
						<li class="flex w-full" *ngFor="let control of controlListHeading">
							<button
								class="w-full whitespace-nowrap text-base-content active:bg-success active:text-success-content"
								type="button"
								[attr.aria-label]="control.label"
								(click)="setTextareaValue(getTextareaValue(control))"
							>
								<span class="block" [ngClass]="control.classList">
									{{ control.label }}
								</span>
							</button>
						</li>
					</ul>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0 active:bg-base-content/10 active:text-base-content"
					appDropdown
					#dropdownFormatting
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10 text-base-content': toggle.value }"
					(toggled)="toggle.value = $event"
				>
					<button
						class="fill-current p-3.5"
						type="button"
						title="Formatting"
						aria-label="Formatting"
						appSvgIcon
						slot="target"
						[appIcon]="'type-bold'"
					></button>
					<ul
						class="menu mt-2 min-w-fit rounded-btn border border-base-content/20 bg-base-100 p-2 shadow"
						slot="content"
					>
						<li
							class="flex w-full"
							*ngFor="let control of controlListFormatting"
						>
							<button
								class="w-full whitespace-nowrap text-base-content active:bg-success active:text-success-content"
								type="button"
								[attr.aria-label]="control.label"
								(click)="setTextareaValue(getTextareaValue(control))"
							>
								<span class="block" [ngClass]="control.classList">
									{{ control.label }}
								</span>
							</button>
						</li>
					</ul>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0 active:bg-base-content/10 active:text-base-content"
					appDropdown
					#dropdownList
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10 text-base-content': toggle.value }"
					(toggled)="toggle.value = $event"
				>
					<button
						class="fill-current p-3.5"
						type="button"
						title="List"
						aria-label="List"
						appSvgIcon
						slot="target"
						[appIcon]="'list-ul'"
					></button>
					<ul
						class="menu mt-2 min-w-fit rounded-btn border border-base-content/20 bg-base-100 p-2 shadow"
						slot="content"
					>
						<li class="flex w-full" *ngFor="let control of controlListList">
							<button
								class="w-full whitespace-nowrap text-base-content active:bg-success active:text-success-content"
								type="button"
								[attr.aria-label]="control.label"
								[attr.title]="control.label"
								(click)="setTextareaValue(getTextareaValue(control))"
							>
								{{ control.label }}
							</button>
						</li>
					</ul>
				</div>
			</li>
			<li
				class="inline-block"
				*ngFor="let control of controlListUrl"
				[class.disabled]="controlListDisabled"
			>
				<button
					class="fill-current p-3.5 active:bg-base-content/10 active:text-base-content"
					appSvgIcon
					[attr.aria-label]="control.label"
					[attr.title]="control.label"
					[appIcon]="control.icon"
					(click)="onToggleUrlForm(true, control)"
				></button>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0 active:bg-base-content/10 active:text-base-content"
					appDropdown
					#dropdownEmojiMart
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10 text-base-content': toggle.value }"
					[appCloseOnContentClick]="false"
					(toggled)="toggle.value = $event"
				>
					<button
						class="fill-current p-3.5"
						type="button"
						appSvgIcon
						slot="target"
						[attr.aria-label]="controlListEmojiMart.label"
						[attr.title]="controlListEmojiMart.label"
						[appIcon]="controlListEmojiMart.icon"
					></button>
					<div
						class="menu mt-2 min-w-fit overflow-hidden rounded-btn border border-base-content/20 bg-base-100 shadow"
						id="emojiMartPicker"
						slot="content"
					></div>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0 active:bg-base-content/10 active:text-base-content"
					appDropdown
					#dropdownTable
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10 text-base-content': toggle.value }"
					(toggled)="toggle.value = $event"
				>
					<button
						class="fill-current p-3.5"
						type="button"
						appSvgIcon
						slot="target"
						[attr.aria-label]="controlListTable.label"
						[attr.title]="controlListTable.label"
						[appIcon]="controlListTable.icon"
					></button>
					<div
						class="menu mt-2 min-w-fit overflow-hidden rounded-btn border border-base-content/20 bg-base-100 p-2 shadow"
						slot="content"
					>
						<div class="relative h-40 w-40 overflow-hidden rounded-btn">
							<div
								class="pointer-events-none absolute left-0 top-0 bg-base-content/10"
								#controlListTableElement
							></div>
							<ul class="grid h-full w-full grid-cols-5 grid-rows-5">
								<!-- prettier-ignore -->
								<li
                  class="col-span-1 row-span-1 h-full w-full bg-transparent p-0 border-4 border-base-100 outline outline-base-content/20 outline-1 -outline-offset-4 m-0"
                  *ngFor="let cell of [].constructor(25); let i = index"
                  (mouseenter)="onTableMouseEnter($event)"
                  (mouseleave)="controlListTableElement.removeAttribute('style')"
                  (click)="setTextareaValue(getTextareaValue(controlListTable, i))"
                  [class.rounded-tl-btn]="i === 0"
                  [class.rounded-tr-btn]="i === 4"
                  [class.rounded-bl-btn]="i === 20"
                  [class.rounded-br-btn]="i === 24"
                >
                </li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<button
					class="fill-current p-3.5 active:bg-base-content/10 active:text-base-content"
					appSvgIcon
					[attr.aria-label]="controlListCode.label"
					[attr.title]="controlListCode.label"
					[appIcon]="controlListCode.icon"
					(click)="setTextareaValue(getTextareaValue(controlListCode))"
				></button>
			</li>
		</ul>
	</div>
	<app-overlay
		[appToggle]="urlFormModal"
		(clicked)="onToggleUrlForm(false)"
		(escaped)="onToggleUrlForm(false)"
	>
		<app-window
			slot="content"
			[appTitle]="urlFormControl?.label"
			(closed)="onToggleUrlForm(false)"
		>
			<form
				class="flex w-window max-w-[512px] flex-col bg-base-100 p-4"
				autocomplete="off"
				slot="content"
				[formGroup]="urlForm"
				(ngSubmit)="onSubmitUrlForm()"
			>
				<p
					class="rounded-box mb-4 bg-base-200 p-4"
					[ngSwitch]="urlFormControl?.key"
				>
					<ng-container *ngSwitchCase="'url-link'">
						Paste a URL from internet and add optional title
					</ng-container>
					<ng-container *ngSwitchCase="'url-image'">
						Paste a image URL from internet and add optional title
					</ng-container>
					<ng-container *ngSwitchCase="'url-youtube'">
						Paste a video URL from
						<a
							class="link whitespace-nowrap after:inline-block after:px-1 after:content-['\279A']"
							href="https://www.youtube.com/"
							target="_blank"
							rel="noopener noreferrer"
						>
							youtube.com
						</a>
					</ng-container>
				</p>
				<fieldset
					class="flex flex-col space-y-4"
					[disabled]="urlFormIsSubmitted"
				>
					<fieldset class="form-control" *ngIf="urlForm.get('title') as title">
						<label class="label" for="urlFormTitle">
							<!-- prettier-ignore -->
							<div class="indicator" [ngSwitch]="true">
								<span
									class="badge badge-error indicator-item w-max translate-x-full translate-y-0 text-xs"
									*ngSwitchCase="urlFormControl?.key === 'url-link' && title.touched && !!title.errors && !urlFormIsSubmitted"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!title.errors.required">
										Required
									</ng-container>
								</span>
								<span
									class="badge indicator-item w-max translate-x-full translate-y-0 text-xs"
									*ngSwitchCase="urlFormControl?.key === 'url-image'"
									[class.badge-ghost]="!title.value"
									[class.badge-success]="!!title.value && !urlFormIsSubmitted"
									[class.opacity-25]="urlFormIsSubmitted"
								>
									Optional
								</span>
								<span class="label-text mr-2">Title</span>
							</div>
						</label>
						<!-- prettier-ignore -->
						<div class="relative">
							<input
								class="input input-bordered w-full truncate pr-12"
								id="urlFormTitle"
								type="text"
								aria-label="Title"
								formControlName="title"
                appInputTrimWhitespace
                appInputMarkAsTouched
                [attr.placeholder]="'Type ' + urlFormControl.label.toLowerCase() + ' title'"
								[class.input-success]="(urlFormControl?.key === 'url-image' ? !!title.value : title.touched) && title.valid"
								[class.input-error]="(urlFormControl?.key === 'url-image' ? !!title.value : title.touched) && title.invalid"
								[disabled]="urlFormIsSubmitted"
							/>
							<button
								class="btn-sm btn-circle btn absolute top-2 right-2 fill-current"
								type="button"
								aria-label="Clear"
								appSvgIcon
								*ngIf="!!title.value.length"
								[class.btn-success]="(urlFormControl?.key === 'url-image' ?  !!title.value : title.touched) && title.valid"
								[class.btn-error]="(urlFormControl?.key === 'url-image' ?  !!title.value : title.touched) && title.invalid"
								[disabled]="urlFormIsSubmitted"
								[appIcon]="'x'"
								[appSquare]="'1.75rem'"
								(click)="title.setValue('')"
							></button>
						</div>
					</fieldset>
					<fieldset class="form-control" *ngIf="urlForm.get('url') as url">
						<label class="label" for="urlFormUrl">
							<div class="indicator">
								<!-- prettier-ignore -->
								<span
									class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
									*ngIf="url.touched && !!url.errors && !urlFormIsSubmitted"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!url.errors.required">
										Required
									</ng-container>
                  <ng-container *ngSwitchCase="!!url.errors.pattern">
                    Url does not correct
									</ng-container>
								</span>
								<span class="label-text mr-2">URL</span>
							</div>
						</label>
						<div class="relative">
							<!-- prettier-ignore -->
							<input
								class="input input-bordered w-full truncate pr-12"
								id="urlFormUrl"
								type="text"
								aria-label="URL"
								formControlName="url"
                appInputOnlyPaste
                appInputTrimWhitespace
                appInputMarkAsTouched
								[attr.placeholder]="'Paste ' + urlFormControl.label.toLowerCase() + ' URL'"
								[class.input-success]="url.touched && url.valid"
								[class.input-error]="url.touched && url.invalid"
								[disabled]="urlFormIsSubmitted"
              />
							<button
								class="btn-sm btn-circle btn absolute top-2 right-2 fill-current"
								type="button"
								aria-label="Clear"
								appSvgIcon
								*ngIf="!!url.value.length"
								[class.btn-success]="url.touched && url.valid"
								[class.btn-error]="url.touched && url.invalid"
								[disabled]="urlFormIsSubmitted"
								[appIcon]="'x'"
								[appSquare]="'1.75rem'"
								(click)="url.setValue('')"
							></button>
						</div>
					</fieldset>
					<fieldset class="form-control">
						<button
							class="btn-success btn w-full"
							type="submit"
							aria-label="Submit"
							[class.loading]="urlFormIsSubmitted"
							[disabled]="urlForm.invalid || urlFormIsSubmitted"
						>
							Submit
						</button>
					</fieldset>
				</fieldset>
			</form>
		</app-window>
	</app-overlay>
</ng-container>
