<!-- @format -->

<ng-container>
	<div class="overflow-auto" #controlListElement>
		<ul
			class="menu rounded-box menu-horizontal border border-base-content/20 bg-base-100"
		>
			<li
				class="inline-block"
				[class.disabled]="disabled.value"
				*ngIf="{ value: history$.getValue().length <= 1 } as disabled"
			>
				<button
					class="fill-current"
					[class.pointer-events-none]="disabled.value"
					type="button"
					aria-label="Undo"
					title="Undo"
					(click)="onBack()"
					appSvgIcon
					[appIcon]="'arrow-left'"
				></button>
			</li>
			<li class="inline-block">
				<div class="flex p-0" appDropdown #dropdownHeading>
					<button
						class="fill-current p-3"
						type="button"
						aria-label="Heading"
						title="Heading"
						appSvgIcon
						[appIcon]="'type-h1'"
						slot="target"
					></button>
					<ul
						class="menu rounded-box mt-2 min-w-fit border border-base-content/20 bg-base-100 p-2 shadow"
						slot="content"
					>
						<li class="flex w-full" *ngFor="let control of controlListHeading">
							<button
								class="w-full whitespace-nowrap text-base-content active:text-primary-content"
								type="button"
								[attr.aria-label]="control.label"
								(click)="onMarkdownControl(control)"
							>
								<span class="block" [ngClass]="control.classList">
									{{ control.label }}
								</span>
							</button>
						</li>
					</ul>
				</div>
			</li>
			<li class="inline-block">
				<div class="flex p-0" appDropdown #dropdownFormatting>
					<button
						class="fill-current p-3"
						type="button"
						aria-label="Formatting"
						title="Formatting"
						appSvgIcon
						[appIcon]="'type-bold'"
						slot="target"
					></button>
					<ul
						class="menu rounded-box mt-2 min-w-fit border border-base-content/20 bg-base-100 p-2 shadow"
						slot="content"
					>
						<li
							class="flex w-full"
							*ngFor="let control of controlListFormatting"
						>
							<button
								class="w-full whitespace-nowrap text-base-content active:text-primary-content"
								type="button"
								[attr.aria-label]="control.label"
								(click)="onMarkdownControl(control)"
							>
								<span class="block" [ngClass]="control.classList">
									{{ control.label }}
								</span>
							</button>
						</li>
					</ul>
				</div>
			</li>
			<li class="inline-block">
				<div class="flex p-0" appDropdown #dropdownList>
					<button
						class="fill-current p-3"
						type="button"
						aria-label="List"
						title="List"
						appSvgIcon
						[appIcon]="'list-ul'"
						slot="target"
					></button>
					<ul
						class="menu rounded-box mt-2 min-w-fit border border-base-content/20 bg-base-100 p-2 shadow"
						slot="content"
					>
						<li class="flex w-full" *ngFor="let control of controlListList">
							<button
								class="w-full whitespace-nowrap text-base-content active:text-primary-content"
								type="button"
								[attr.aria-label]="control.label"
								[attr.title]="control.label"
								(click)="onMarkdownControl(control)"
							>
								{{ control.label }}
							</button>
						</li>
					</ul>
				</div>
			</li>
			<li class="inline-block" *ngFor="let control of controlListUrl">
				<button
					class="fill-current"
					[attr.aria-label]="control.label"
					[attr.title]="control.label"
					(click)="onMarkdownControl(control)"
					appSvgIcon
					[appIcon]="control.icon"
				></button>
			</li>
		</ul>
	</div>
	<app-overlay [class.hidden]="!urlFormModal" (clicked)="urlFormModal = false">
		<app-window
			[appTitle]="'Insert ' + urlFormControl?.label"
			(closed)="urlFormModal = false"
			slot="content"
		>
			<form
				#urlFormElement
				class="my-4 flex flex-col bg-base-100"
				[formGroup]="urlForm"
				(ngSubmit)="onSubmitUrlForm()"
				autocomplete="off"
				slot="content"
			>
				<div class="rounded-box mb-4 bg-base-200 p-4">Paste ads</div>
				<fieldset
					class="flex flex-col space-y-4"
					[disabled]="urlFormIsSubmitted"
				>
					<fieldset class="form-control" *ngIf="urlForm.get('title') as title">
						<label class="label" for="urlFormTitle">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="title.touched && title.errors"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!title.errors.required">
										Required
									</ng-container>
								</span>
								<span class="label-text mr-2">Title</span>
							</div>
						</label>
						<label class="relative block" for="urlFormTitle">
							<input
								id="urlFormTitle"
								type="text"
								class="input input-bordered w-full truncate pr-12"
								[class.input-success]="title.touched && title.valid"
								[class.input-error]="title.touched && title.invalid"
								[class.input-disabled]="urlFormIsSubmitted"
								formControlName="title"
								placeholder="Type your title"
								aria-label="Title"
							/>
							<button
								class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
								[class.btn-success]="title.touched && title.valid"
								[class.btn-error]="title.touched && title.invalid"
								[class.btn-ghost]="title.untouched"
								type="button"
								*ngIf="title.value.length"
								aria-label="Clear"
								title="Clear"
								appSvgIcon
								[appIcon]="'x'"
								[appSquare]="'1.75rem'"
								(click)="title.setValue('')"
							></button>
						</label>
					</fieldset>
					<fieldset class="form-control" *ngIf="urlForm.get('url') as url">
						<label class="label" for="urlFormUrl">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="url.touched && url.errors"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!url.errors.required">
										Required
									</ng-container>
									<ng-container *ngSwitchCase="!!url.errors.customValidator">
										Url does not match pattern
									</ng-container>
								</span>
								<span class="label-text mr-2">URL</span>
							</div>
						</label>
						<label class="relative block" for="urlFormUrl">
							<input
								id="urlFormUrl"
								type="text"
								class="input input-bordered w-full truncate pr-12"
								[class.input-success]="url.touched && !url.errors"
								[class.input-error]="url.touched && url.errors"
								[class.input-disabled]="urlFormIsSubmitted"
								formControlName="url"
								placeholder="Paste your URL"
								aria-label="URL"
							/>
							<button
								class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
								[class.btn-success]="url.touched && url.valid"
								[class.btn-error]="url.touched && url.invalid"
								[class.btn-ghost]="url.untouched"
								type="button"
								*ngIf="url.value.length"
								aria-label="Clear"
								title="Clear"
								appSvgIcon
								[appIcon]="'x'"
								[appSquare]="'1.75rem'"
								(click)="url.setValue('')"
							></button>
						</label>
					</fieldset>
				</fieldset>
			</form>
			<button
				class="btn btn-secondary w-full"
				[class.loading]="urlFormIsSubmitted"
				type="button"
				aria-label="Submit"
				[disabled]="urlForm.invalid || urlFormIsSubmitted"
				(click)="urlFormElement.requestSubmit()"
				slot="footer"
			>
				Submit
			</button>
		</app-window>
	</app-overlay>
</ng-container>
