<!-- @format -->

<ng-container>
	<ng-container *ngIf="postList.length; else postListEmptyTemplate">
		<ul
			class="grid grid-cols-2 grid-rows-none gap-4 md:grid-cols-3 lg:grid-cols-4"
		>
			<li
				appPostCard
				*ngFor="let post of postList"
				[ngClass]="post.image ? 'row-span-6' : 'row-span-3'"
				[appPost]="post"
				[appPath]="'./'"
			></li>
		</ul>
		<button
			class="btn btn-primary mt-4 w-full"
			type="button"
			aria-label="Load more"
			*ngIf="postListHasMore"
			(click)="onPostListLoadMore()"
		>
			Load more
		</button>
	</ng-container>
	<ng-template #postListEmptyTemplate>
		<ng-container [ngSwitch]="postListLoading">
			<div class="flex flex-col items-center space-y-4" *ngSwitchDefault>
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appIcon]="'robot'"
					[appSquare]="'3em'"
				></i>
				<div class="text-center">
					<p class="text-xl font-medium">
						<span class="text-base-content">Post</span>
						<span class="text-error"> not found</span>
					</p>
					<a
						class="link link-primary text-sm"
						title="Create post"
						aria-label="Create post"
						[routerLink]="['/create']"
					>
						Create your post
					</a>
				</div>
			</div>
			<div class="flex flex-col items-center" *ngSwitchCase="true">
				<progress class="progress progress-primary my-5 w-56"></progress>
				<span class="text-xl font-medium text-base-content">Loading</span>
			</div>
		</ng-container>
	</ng-template>
	<router-outlet></router-outlet>
</ng-container>
