<!-- @format -->

<ng-container>
	<div class="grid gap-4">
		@if (postList.length) {
			<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
				@for (postColumn of masonryColumns; track $index) {
					<ul class="flex flex-1 flex-col gap-4">
						@for (post of postColumn; track post.id; let i = $index) {
							<li
								class="block"
								appCardPost
								[appCardPostPost]="post"
								[appCardPostSkeletonToggle]="postListSkeletonToggle"
								[appCardPostImagePriority]="i <= 1"
							></li>
							@if (i !== 0 && i % 8 === 0) {
								<li class="block row-span-6" appAd></li>
							}
						}
					</ul>
				}
			</div>
			@if (!postListSkeletonToggle) {
				<div
					class="block empty:hidden"
					appListLoadMore
					[appListLoadMoreIsLoading]="postListIsLoading$ | async"
					[appListLoadMoreSearchResponse]="postListSearchResponse"
					(appLoadMoreToggle)="getPostList(true)"
				></div>
			}
		} @else {
			<div class="block" appListMock [appListMockTemplate]="'search-post-not-found'"></div>
		}
	</div>
	<div class="block">
		<router-outlet></router-outlet>
	</div>
</ng-container>
