<!-- @format -->

<ng-container>
	<!-- https://schema.org/Person -->
	<div
		class="rounded-box flex h-full w-full flex-col gap-2 border border-base-content/20 bg-base-100 p-4 shadow-xl"
		itemprop="itemListElement"
		itemscope
		itemtype="http://schema.org/Person"
	>
		<a
			class="avatar aspect-square rounded-btn overflow-hidden"
			appSkeleton
			[appSkeletonToggle]="userSkeletonToggle"
			[routerLink]="['/', user.name]"
			[title]="user.name"
			[attr.aria-label]="user.name"
		>
			<figure
				class="h-full max-h-full w-full max-w-full rounded-btn relative overflow-hidden"
				appAvatar
				[appAvatarPhotoUrl]="user.avatar"
				[appAvatarName]="user.name"
			></figure>
		</a>
		<div class="flex flex-col items-start justify-start gap-2">
			<!-- prettier-ignore -->
			<a
				class="link link-hover text-base-content leading-6 max-w-full text-base font-bold"
				appSkeleton
				itemprop="url"
				[appSkeletonToggle]="userSkeletonToggle"
				[routerLink]="['/', user.name]"
				[title]="user.name"
				[attr.aria-label]="user.name"
			>
				@if (user._highlightResult?.name) {
					<span class="block overflow-hidden text-ellipsis" itemprop="name" [innerHTML]="user._highlightResult.name.value"></span>
				} @else {
					<span class="block overflow-hidden text-ellipsis" itemprop="name">{{ user.name }}</span>
				}
			</a>
			@if (user._highlightResult?.description || user.description) {
				<hr class="border-t border-base-content/20 w-full" />
				<!-- prettier-ignore -->
				<p class="text-base-content text-sm max-w-full" appSkeleton [appSkeletonToggle]="userSkeletonToggle">
					@if (user._highlightResult?.description) {
						<span class="block overflow-hidden text-ellipsis" itemprop="description" [innerHTML]="user._highlightResult.description.value"></span>
					} @else {
						<span class="block overflow-hidden text-ellipsis" itemprop="description">{{ user.description }}</span>
					}
				</p>
			}
		</div>
	</div>
</ng-container>
