<!-- @format -->

<ng-container>
	<div
		class="rounded-box flex h-full w-full flex-col gap-2 border border-base-content/20 bg-base-100 p-4 shadow-xl"
	>
		<a
			class="avatar aspect-square rounded-btn overflow-hidden"
			appSkeleton
			[appSkeletonToggle]="userSkeletonToggle"
			[routerLink]="[user | userUrl]"
			[attr.aria-label]="user.name"
			[title]="user.name"
		>
			<figure
				class="h-full max-h-full w-full max-w-full rounded-btn relative overflow-hidden"
				appAvatar
				[appAvatarUser]="user"
			></figure>
		</a>
		<div class="flex flex-col items-center text-center gap-2">
			<a
				class="link w-full truncate text-xl font-bold"
				appSkeleton
				[appSkeletonToggle]="userSkeletonToggle"
				[routerLink]="[user | userUrl]"
				[attr.aria-label]="user.name"
			>
				{{ user.name }}
			</a>
			<time
				class="text-sm text-base-content/50"
				appSkeleton
				[appSkeletonToggle]="userSkeletonToggle"
				[attr.datetime]="user.createdAt | dayjs: 'format' : 'YYYY-M-D'"
			>
				{{ user.createdAt | dayjs: "fromX" }}
			</time>
		</div>
	</div>
</ng-container>
