<app-overlay (closed)="onClose()">
  <section class="absolute inset-0 flex justify-center items-center pointer-events-none p-4" slot="content">
    <div class="max-h-full max-w-full w-11/12 sm:w-96 flex flex-col space-y-4 bg-primary-3 rounded-lg shadow-lg pointer-events-auto p-4">
      <div class="flex justify-between items-center border-b border-primary-4 pb-2">
        <span class="block text-xl text-secondary-1 font-medium leading-9">Crop image</span>
        <button
          class="fill-current opacity-25 hover:opacity-100 text-secondary-1 hover:text-danger-1 p-2"
          type="button"
          aria-label="Close"
          (click)="onClose()"
          appSvgIcon
          [appIcon]="'x-lg'"
          [appSquare]="'1rem'">
        </button>
      </div>
      <div class="flex flex-col space-y-4">
        <div class="block relative">
          <image-cropper
            class="block border border-primary-4 rounded-md"
            [imageFile]="cropperFile"
            [maintainAspectRatio]="true"
            [containWithinAspectRatio]="false"
            [aspectRatio]="1"
            [format]="'png'"
            [resizeToWidth]="256"
            [resizeToHeight]="256"
            [transform]="imageTransform"
            [cropper]="cropperPosition"
            (imageCropped)="onImageCropped($event)">
          </image-cropper>
          <ul class="grid grid-cols-3 grid-rows-3 absolute -top-4 -left-4 scale-50">
            <li class="inline-block"></li>
            <li class="inline-block bg-primary-2 border-x border-t border-primary-4 rounded-t-3xl">
              <button
                class="fill-current text-secondary-1 hover:text-info-1 rotate-90 p-2.5"
                type="button"
                aria-label="Up"
                title="Up"
                appSvgIcon
                [appIcon]="'caret-left-fill'"
                (click)="onTranslateV(true)">
              </button>
            </li>
            <li class="inline-block"></li>
            <li class="inline-block bg-primary-2 border-y border-l border-primary-4 rounded-l-3xl">
              <button
                class="fill-current text-secondary-1 hover:text-info-1 p-2.5"
                type="button"
                aria-label="Left"
                title="Left"
                appSvgIcon
                [appIcon]="'caret-left-fill'"
                (click)="onTranslateH(true)">
              </button>
            </li>
            <li class="inline-block bg-primary-2">
              <button
                class="fill-current text-secondary-1 hover:text-info-1 p-2.5"
                type="button"
                aria-label="Center"
                title="Center"
                appSvgIcon
                [appIcon]="'record-circle'"
                appSquare="24"
                (click)="onTranslateReset()">
              </button>
            </li>
            <li class="inline-block bg-primary-2 border-y border-r border-primary-4 rounded-r-3xl">
              <button
                class="fill-current text-secondary-1 hover:text-info-1 rotate-180 p-2.5"
                type="button"
                aria-label="Right"
                title="Right"
                appSvgIcon
                [appIcon]="'caret-left-fill'"
                (click)="onTranslateH(false)">
              </button>
            </li>
            <li class="inline-block"></li>
            <li class="inline-block bg-primary-2 border-x border-b border-primary-4 rounded-b-3xl">
              <button
                class="fill-current text-secondary-1 hover:text-info-1 -rotate-90 p-2.5"
                type="button"
                aria-label="Down"
                title="Down"
                appSvgIcon
                [appIcon]="'caret-left-fill'"
                (click)="onTranslateV(false)">
              </button>
            </li>
            <li class="inline-block"></li>
          </ul>
        </div>
        <div class="flex justify-between items-center border border-primary-4 bg-primary-2 rounded-md">
          <ul class="flex justify-start items-center overflow-auto px-1">
            <li class="inline-block">
              <button
                class="fill-current text-secondary-1 hover:text-info-1 -scale-x-1 p-2.5"
                type="button"
                aria-label="Rotate counterclockwise"
                title="Rotate counterclockwise"
                appSvgIcon
                [appIcon]="'arrow-clockwise'"
                (click)="onRotate(false)">
              </button>
            </li>
            <li class="inline-block">
              <button
                class="fill-current text-secondary-1 hover:text-info-1 p-2.5"
                type="button"
                aria-label="Rotate clockwise"
                title="Rotate clockwise"
                appSvgIcon
                [appIcon]="'arrow-clockwise'"
                (click)="onRotate(true)">
              </button>
            </li>
            <li class="inline-block">
              <button
                class="fill-current text-secondary-1 hover:text-info-1 rotate-90 p-2.5"
                type="button"
                aria-label="Flip horizontal"
                title="Flip horizontal"
                appSvgIcon
                [appIcon]="'symmetry-vertical'"
                (click)="onFlip(true)">
              </button>
            </li>
            <li class="inline-block">
              <button
                class="fill-current text-secondary-1 hover:text-info-1 p-2.5"
                type="button"
                aria-label="Flip vertical"
                title="Flip vertical"
                appSvgIcon
                [appIcon]="'symmetry-vertical'"
                (click)="onFlip(false)">
              </button>
            </li>
            <li class="inline-block">
              <button
                class="fill-current text-secondary-1 hover:text-info-1 p-2.5"
                type="button"
                aria-label="Zoom in"
                title="Zoom in"
                appSvgIcon
                [appIcon]="'zoom-in'"
                (click)="onZoom(true)">
              </button>
            </li>
            <li class="inline-block">
              <button
                class="fill-current text-secondary-1 hover:text-info-1 p-2.5"
                type="button"
                aria-label="Zoom out"
                title="Zoom out"
                appSvgIcon
                [appIcon]="'zoom-out'"
                (click)="onZoom(false)">
              </button>
            </li>
          </ul>
          <button
            class="fill-current text-secondary-1 hover:text-info-1 p-2.5"
            type="button"
            aria-label="Reset"
            (click)="onReset()">Reset
          </button>
        </div>
        <button
          class="btn btn-success md w-full"
          type="button"
          aria-label="Submit"
          (click)="onSubmitCropper()">Submit
        </button>
      </div>
    </div>
  </section>
</app-overlay>
