<!-- @format -->

<ng-container>
	<div class="flex flex-col p-4">
		<form
			class="block"
			autocomplete="off"
			#urlFormDenis
			[formGroup]="urlForm"
			(ngSubmit)="onSubmitUrlForm()"
		>
			<div class="rounded-box mb-4 bg-base-200 p-4">
				Specify and crop your post image, you can paste a URL from internet and
				press download or choose the file from your device
			</div>
			<fieldset class="flex flex-col space-y-4" [disabled]="urlFormIsSubmitted">
				<fieldset class="form-control" *ngIf="urlForm.get('url') as url">
					<label class="label" for="urlFormUrl">
						<div class="indicator">
							<span
								class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
								*ngIf="url.touched && !!url.errors"
								[ngSwitch]="true"
							>
								<ng-container *ngSwitchCase="!!url.errors.required">
									Required
								</ng-container>
								<ng-container *ngSwitchCase="!!url.errors.customValidator">
									Url does not match pattern
								</ng-container>
							</span>
							<span class="label-text mr-2">URL</span>
						</div>
					</label>
					<label class="relative block" for="urlFormUrl">
						<input
							class="input input-bordered w-full truncate"
							id="urlFormUrl"
							type="text"
							aria-label="Url"
							formControlName="url"
							placeholder="Paste your URL"
							[class.pr-32]="url.touched && url.valid"
							[class.input-success]="url.touched && url.value"
							[class.input-error]="url.touched && url.invalid"
							[class.input-disabled]="urlFormIsSubmitted"
						/>
						<button
							class="btn btn-sm absolute top-2 right-2 fill-current"
							type="button"
							aria-label="Download"
							*ngIf="url.valid && !!url.value.length"
							[class.btn-success]="url.touched && url.value"
							[class.btn-error]="url.touched && url.invalid"
							[class.btn-ghost]="url.untouched"
							(click)="urlFormDenis.requestSubmit()"
						>
							Download
						</button>
					</label>
				</fieldset>
				<fieldset class="form-control">
					<label class="label" for="urlFormUrl">
						<span class="label-text">File</span>
						<span class="label-text-alt">Accept only *.png, *.jpg files</span>
					</label>
					<input
						class="file-input file-input-bordered w-full truncate"
						id="urlFormFile"
						type="file"
						aria-label="Hidden"
						accept="image/jpeg, image/jpg, image/png"
						[class.file-input-success]="true"
						[class.file-input-error]="false"
						[class.file-input-disabled]="urlFormIsSubmitted"
						(change)="onSubmitFile($event)"
					/>
				</fieldset>
			</fieldset>
		</form>
		<div class="my-4">
			<image-cropper
				class="ngx-cropper rounded-box !p-4"
				[imageFile]="cropperFile"
				[maintainAspectRatio]="true"
				[containWithinAspectRatio]="false"
				[allowMoveImage]="cropperBackgroundIsDraggable"
				[format]="'png'"
				[alignImage]="'center'"
				[resizeToWidth]="256"
				[resizeToHeight]="256"
				[transform]="imageTransform"
				[cropper]="cropperPosition"
				(imageCropped)="onImageCropped($event)"
			>
			</image-cropper>
		</div>
		<div class="flex flex-col space-y-4">
			<div class="flex items-center justify-between">
				<ul
					class="menu rounded-box menu-horizontal flex-nowrap overflow-x-auto overflow-y-hidden border border-base-content/20 bg-base-100"
				>
					<li class="inline-block">
						<button
							class="fill-current"
							type="button"
							title="Move"
							aria-label="Move"
							appSvgIcon
							[ngClass]="{ 'text-info-1': cropperBackgroundIsDraggable }"
							[appIcon]="'arrows-move'"
							(click)="
								cropperBackgroundIsDraggable = !cropperBackgroundIsDraggable
							"
						></button>
					</li>
					<li class="inline-block">
						<button
							class="-scale-x-1 fill-current"
							type="button"
							title="Rotate counterclockwise"
							aria-label="Rotate counterclockwise"
							appSvgIcon
							[appIcon]="'arrow-clockwise'"
							(click)="onRotate(false)"
						></button>
					</li>
					<li class="inline-block">
						<button
							class="fill-current"
							type="button"
							title="Rotate clockwise"
							aria-label="Rotate clockwise"
							appSvgIcon
							[appIcon]="'arrow-clockwise'"
							(click)="onRotate(true)"
						></button>
					</li>
					<li class="inline-block">
						<button
							class="rotate-90 fill-current"
							type="button"
							title="Flip horizontal"
							aria-label="Flip horizontal"
							appSvgIcon
							[appIcon]="'symmetry-vertical'"
							(click)="onFlip(true)"
						></button>
					</li>
					<li class="inline-block">
						<button
							class="fill-current"
							type="button"
							title="Flip vertical"
							aria-label="Flip vertical"
							appSvgIcon
							[appIcon]="'symmetry-vertical'"
							(click)="onFlip(false)"
						></button>
					</li>
					<li class="inline-block">
						<button
							class="fill-current"
							type="button"
							title="Zoom in"
							aria-label="Zoom in"
							appSvgIcon
							[appIcon]="'zoom-in'"
							(click)="onZoom(true)"
						></button>
					</li>
					<li class="inline-block">
						<button
							class="fill-current"
							type="button"
							title="Zoom out"
							aria-label="Zoom out"
							appSvgIcon
							[appIcon]="'zoom-out'"
							(click)="onZoom(false)"
						></button>
					</li>
				</ul>
				<button
					class="text-danger-1 py-2 px-3 hover:underline"
					type="button"
					aria-label="Reset"
					(click)="onReset()"
				>
					Reset
				</button>
			</div>
			<button
				class="btn btn-primary w-full"
				type="button"
				aria-label="Submit"
				(click)="onSubmitCropper()"
			>
				Submit
			</button>
		</div>
	</div>
</ng-container>
