<!-- @format -->

<ng-container>
	<ng-container *ngIf="!!categoryList.length; else categoryListEmptyTemplate">
		<ul class="grid grid-cols-1 grid-rows-none gap-4 sm:grid-cols-2 lg:grid-cols-3">
			<ng-container *ngFor="let category of categoryList; let i = index">
				<li
					class="block"
					appCardCategory
					[ngClass]="category.description ? 'row-span-6' : 'row-span-3'"
					[appCardCategoryCategory]="category"
					[appCardCategorySkeletonToggle]="categoryListSkeletonToggle"
				></li>
				<!-- TODO: ads
				<li class="block row-span-6" *ngIf="i === 10 || i === 20 || i === 30">
					<a
						class="block w-full h-full"
						title="Placeholder"
						aria-label="Placeholder"
						appSkeleton
						[routerLink]="['.']"
						[appSkeletonToggle]="false"
					>
						<figure class="rounded-btn relative overflow-hidden w-full h-full">
							<img
								class="object-cover w-full h-full bg-base-300"
								src="https://placehold.co/298x194/?text=Placeholder"
								alt="Advertise"
								loading="lazy"
							/>
						</figure>
					</a>
				</li> -->
			</ng-container>
		</ul>
		<ng-container *ngIf="!abstractListPageScrollInfinite">
			<button
				class="btn-success btn-md btn mt-4 w-full"
				type="button"
				aria-label="Load more"
				*ngIf="abstractListIsHasMore"
				[disabled]="abstractListIsLoading$ | async"
				(click)="getAbstractListLoadMore()"
			>
				<span class="loading loading-spinner" *ngIf="abstractListIsLoading$ | async"></span>
				Load more
			</button>
		</ng-container>
	</ng-container>
	<ng-template #categoryListEmptyTemplate>
		<div class="flex flex-col items-center gap-4">
			<i
				class="fill-current text-base-content"
				appSvgIcon
				[appSvgIconIcon]="'exclamation-circle'"
				[appSvgIconSquare]="'3em'"
			></i>
			<div class="text-center">
				<p class="text-xl font-bold text-base-content">
					Categories <span class="text-error">not found</span>
				</p>
				<a
					class="link text-sm"
					title="Create category"
					aria-label="Create category"
					[routerLink]="['/create']"
				>
					Create category
				</a>
			</div>
		</div>
	</ng-template>
</ng-container>
