<!-- @format -->

<ng-container>
	<div class="grid gap-4">
		@if (categoryList.length) {
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
				@for (categoryColumn of masonryColumns; track $index) {
					<ul class="flex flex-1 flex-col gap-4">
						@for (category of categoryColumn; track category.id; let i = $index) {
							<li
								class="block"
								appCardCategory
								[ngClass]="category.description ? 'row-span-6' : 'row-span-3'"
								[appCardCategoryCategory]="category"
								[appCardCategorySkeletonToggle]="categoryListSkeletonToggle"
							></li>
							@if (i !== 0 && i % 8 === 0) {
								<li class="block row-span-6" appAd></li>
							}
						}
					</ul>
				}
			</div>
			@if (!categoryListSkeletonToggle) {
				<div
					class="block empty:hidden"
					appListLoadMore
					[appListLoadMoreIsLoading]="categoryListIsLoading$ | async"
					[appListLoadMoreSearchResponse]="categoryListSearchResponse"
					(appLoadMoreToggle)="getCategoryList(true)"
				></div>
			}
		} @else {
			<div class="block" appListMock [appListMockTemplate]="'search-category-not-found'"></div>
		}
	</div>
</ng-container>
