<!-- @format -->

<ng-container>
	<ng-container *ngIf="categoryList.length; else categoryListEmptyTemplate">
		<ul class="-m-2 flex flex-wrap py-4">
			<li class="flex p-2" *ngFor="let category of categoryList">
				<div
					class="bg-primary-3 border-primary-4 flex flex-col space-y-4 overflow-hidden rounded-md border p-4"
				>
					<a
						class="text-secondary-1 text-info-1 hover:underline"
						[routerLink]="['/@' + category.user.name, 'category', category.id]"
						[attr.aria-label]="category.name"
						>{{ category.name }}
					</a>
					<span class="text-secondary-2 text-sm">{{ category.user.name }}</span>
				</div>
			</li>
		</ul>
		<button
			class="md btn btn-success mb-4 block w-full"
			type="button"
			aria-label="Load more"
			*ngIf="categoryListHasMore"
			(click)="onCategoryListLoadMore()"
		>
			Load more
		</button>
	</ng-container>
	<ng-template #categoryListEmptyTemplate>
		<div
			class="bg-primary-3 text-secondary-1 border-primary-4 my-4 rounded-md border px-3 py-2"
			[ngSwitch]="categoryListLoading"
		>
			<span class="block" *ngSwitchDefault>
				No categories were found
				<a
					class="text-info-1 hover:underline"
					aria-label="Create post"
					[routerLink]="['/create']"
				>
					try to create new one
				</a>
			</span>
			<span class="block" *ngSwitchCase="true">Loading</span>
		</div>
	</ng-template>
</ng-container>
