<!-- @format -->

<ng-container>
	<ul class="flex items-center justify-start gap-4">
		<li class="block">
			<a
				class="block rounded-full bg-[#EA4335] fill-current p-1.5 text-white"
				title="Google"
				aria-label="Google"
				target="_self"
				rel="noopener noreferrer"
				appSvgIcon
				[href]="apiUrl + '/auth/google'"
				[appSvgIconIcon]="'google'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="block rounded-full bg-white fill-current text-[#1877f2]"
				title="Facebook"
				aria-label="Facebook"
				target="_self"
				rel="noopener noreferrer"
				appSvgIcon
				appSquare="32"
				[href]="apiUrl + '/auth/facebook'"
				[appSvgIconIcon]="'facebook'"
			>
			</a>
		</li>
		<li class="block">
			<a
				class="block rounded-full bg-white fill-current text-[#333333]"
				title="Github"
				aria-label="Github"
				target="_self"
				rel="noopener noreferrer"
				appSvgIcon
				appSquare="32"
				[href]="apiUrl + '/auth/github'"
				[appSvgIconIcon]="'github'"
			>
			</a>
		</li>
	</ul>
</ng-container>
