<!-- @format -->

<!-- @format -->

<ng-container>
	<form
		class="flex flex-col"
		[formGroup]="resetForm"
		(ngSubmit)="onSubmitResetForm()"
	>
		<fieldset class="flex flex-col space-y-4" [disabled]="resetFormIsSubmitted">
			<fieldset class="form-control" *ngIf="resetForm.get('email') as email">
				<label class="label" for="resetFormEmail">
					<div class="indicator">
						<span
							class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
							*ngIf="email.touched && !!email.errors"
							[ngSwitch]="true"
						>
							<ng-container *ngSwitchCase="!!email.errors.required">
								Required
							</ng-container>
							<ng-container *ngSwitchCase="!!email.errors.email">
								Email must be a real email address
							</ng-container>
						</span>
						<span class="label-text mr-2">Email</span>
					</div>
				</label>
				<div class="relative">
					<input
						class="input input-bordered w-full truncate pr-12"
						id="resetFormEmail"
						type="email"
						aria-label="Email"
						autocomplete="username"
						formControlName="email"
						placeholder="Type your Email"
						[class.input-success]="email.touched && email.valid"
						[class.input-error]="email.touched && email.invalid"
						[class.input-disabled]="resetFormIsSubmitted"
					/>
					<button
						class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
						type="button"
						title="Clear"
						aria-label="Clear"
						appSvgIcon
						*ngIf="!!email.value.length"
						[class.btn-success]="email.touched && email.valid"
						[class.btn-error]="email.touched && email.invalid"
						[class.btn-ghost]="email.untouched"
						[appIcon]="'x'"
						[appSquare]="'1.75rem'"
						(click)="email.setValue('')"
					></button>
				</div>
			</fieldset>
			<fieldset class="form-control">
				<button
					class="btn btn-success w-full"
					type="submit"
					aria-label="Reset"
					[class.loading]="resetFormIsSubmitted"
					[disabled]="resetForm.invalid || resetFormIsSubmitted"
				>
					Reset
				</button>
			</fieldset>
			<fieldset class="form-control">
				<a
					class="btn btn-primary btn-outline w-full"
					aria-label="Login"
					[routerLink]="'/login'"
				>
					Login
				</a>
			</fieldset>
		</fieldset>
	</form>
</ng-container>
