<article class="relative bg-primary-3 border border-primary-4 rounded-md overflow-hidden w-full h-full">
  <a [routerLink]="['posts/' + post.id]" *ngIf="post.image">
    <figure class="absolute inset-0 z-10">
      <img
        class="block object-cover object-center w-full h-full"
        loading="lazy"
        [src]="post.image"
        [alt]="post.title">
    </figure>
  </a>
  <div class="flex flex-col items-start w-full h-full p-4" *ngIf="!post.image">
    <div class="flex justify-between items-center w-full mb-2">
      <a
        class="flex border border-primary-4 overflow-hidden rounded-md w-10 h-10"
        [routerLink]="['/users/' + post.user.id]"
        [attr.aria-label]="post.user.name"
        [appUser]="post.user"
        [appSize]="38"
        appAvatar>
      </a>
      <span
        class="block fill-current text-secondary-1 hover:text-info-1 opacity-20 hover:opacity-100 cursor-pointer p-2"
        appSvgIcon
        [appIcon]="'pin-angle'"
        [slot]="'toggle'">
      </span>
    </div>
    <div class="flex flex-col overflow-hidden mb-4">
      <a
        class="text-info-1 hover:underline whitespace-nowrap overflow-ellipsis overflow-hidden"
        [routerLink]="['/users/' + post.user.id]"
        [attr.aria-label]="post.user.name">{{post.user.name}}
      </a>
      <time
        class="text-secondary-1 opacity-50 text-sm"
        [attr.datetime]="post.updatedAt">{{post.updatedAt | dayjs : 'fromX'}}
      </time>
    </div>
    <a
      class="text-secondary-1 hover:text-info-1 hover:underline line-clamp-3 mb-0"
      [routerLink]="['posts/' + post.id]">{{post.title}}
    </a>
  </div>
</article>
