<!-- @format -->

<ng-container>
	<div class="flex flex-col items-center gap-2">
		@switch (template) {
			@case ("search-post-not-found") {
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appSvgIconIcon]="'exclamation-circle'"
					[appSvgIconSquare]="'2em'"
				></i>
				<div class="text-center text-base-content">
					<p class="text-lg font-bold">Posts <span class="text-error"> not found </span></p>
					<a
						class="link text-sm"
						title="Create new post"
						aria-label="Create new post"
						[routerLink]="['/create']"
						[queryParamsHandling]="'merge'"
					>
						Create new post
					</a>
				</div>
			}
			@case ("search-category-not-found") {
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appSvgIconIcon]="'exclamation-circle'"
					[appSvgIconSquare]="'2em'"
				></i>
				<div class="text-center text-base-content">
					<p class="text-lg font-bold">Categories <span class="text-error"> not found </span></p>
					<a
						class="link text-sm"
						title="Create new category"
						aria-label="Create new category"
						[routerLink]="['/create']"
						[queryParams]="{ categoryName: query }"
					>
						Create new category
					</a>
				</div>
			}
			@case ("search-user-not-found") {
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appSvgIconIcon]="'exclamation-circle'"
					[appSvgIconSquare]="'2em'"
				></i>
				<div class="text-center text-base-content">
					<p class="text-lg font-bold">Users <span class="text-error"> not found </span></p>
					<div class="block text-sm" appAuthenticated appSkeleton [appSkeletonToggle]="currentUserSkeletonToggle">
						<a
							class="link text-sm"
							title="Create account"
							aria-label="Create account"
							slot="public"
							[routerLink]="['/registration']"
						>
							Create account
						</a>
						<span class="block" slot="private">
							Can't find somebody?
							<button class="link" type="button" title="Copy" aria-label="Copy" (click)="getInviteURL()">
								Copy invite
							</button>
						</span>
					</div>
				</div>
			}
			@case ("user-all-not-found") {
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appSvgIconIcon]="'exclamation-circle'"
					[appSvgIconSquare]="'2em'"
				></i>
				<div class="text-center text-base-content">
					<p class="text-lg font-bold">Posts <span class="text-error"> not found </span></p>
					<a
						class="link text-sm"
						title="Create new post"
						aria-label="Create new post"
						[routerLink]="['/create']"
						[queryParamsHandling]="'merge'"
					>
						Create new post
					</a>
				</div>
			}
			@case ("user-bookmark-not-found") {
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appSvgIconIcon]="'exclamation-circle'"
					[appSvgIconSquare]="'2em'"
				></i>
				<div class="text-center text-base-content">
					<p class="text-lg font-bold">Posts <span class="text-error"> not found </span></p>
					<a
						class="link text-sm"
						title="Create new post"
						aria-label="Create new post"
						[routerLink]="['/create']"
						[queryParamsHandling]="'merge'"
					>
						Create new post
					</a>
				</div>
			}
			@case ("user-password-not-found") {
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appSvgIconIcon]="'exclamation-circle'"
					[appSvgIconSquare]="'2em'"
				></i>
				<div class="text-center text-base-content">
					<p class="text-lg font-bold">Posts <span class="text-error"> not found </span></p>
					<a
						class="link text-sm"
						title="Create new post"
						aria-label="Create new post"
						[routerLink]="['/create']"
						[queryParams]="{ postType: 'password' }"
						[queryParamsHandling]="'merge'"
					>
						Create new hidden post
					</a>
				</div>
			}
			@case ("user-private-not-found") {
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appSvgIconIcon]="'exclamation-circle'"
					[appSvgIconSquare]="'2em'"
				></i>
				<div class="text-center text-base-content">
					<p class="text-lg font-bold">Posts <span class="text-error"> not found </span></p>
					<a
						class="link text-sm"
						title="Create new post"
						aria-label="Create new post"
						[routerLink]="['/create']"
						[queryParams]="{ postType: 'private' }"
						[queryParamsHandling]="'merge'"
					>
						Create new private post
					</a>
				</div>
			}
			@case ("user-category-not-found") {
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appSvgIconIcon]="'exclamation-circle'"
					[appSvgIconSquare]="'2em'"
				></i>
				<div class="text-center text-base-content">
					<p class="text-lg font-bold">Posts <span class="text-error"> not found </span></p>
					<a
						class="link text-sm"
						title="Create new post"
						aria-label="Create new post"
						[routerLink]="['/create']"
						[queryParams]="{ postType: 'public', categoryId: currentUser?.name === username ? categoryId : null }"
						[queryParamsHandling]="'merge'"
					>
						Create new post
					</a>
				</div>
			}
			@case ("load-more-is-end-page") {
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appSvgIconIcon]="'check-circle'"
					[appSvgIconSquare]="'2em'"
				></i>
				<div class="text-center text-base-content">
					<p class="text-lg font-bold"><span class="text-success">Nothing more </span> to load</p>
					<span class="text-sm"> Why not discover something new? </span>
				</div>
			}
		}
	</div>
</ng-container>
