<!-- @format -->

<ng-container>
	<div
		class="flex overflow-auto rounded-btn border border-base-content/20"
		[ngClass]="{ 'cursor-not-allowed border-transparent': controlListDisabled }"
	>
		<ul
			class="menu menu-horizontal menu-md flex-nowrap rounded-btn bg-base-100 p-0"
			[ngClass]="{ 'pointer-events-none bg-base-200': controlListDisabled }"
		>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					[appDropdownActiveClassList]="['bg-base-content/10']"
					(appDropdownToggle)="textarea.focus()"
				>
					<button
						class="fill-current p-3"
						type="button"
						title="Heading"
						aria-label="Heading"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[appSvgIconSquare]="'1.5725em'"
						[appSvgIconIcon]="'type-h1'"
					></button>
					<ul class="menu menu-vertical menu-md m-0" slot="content">
						@for (control of controlListHeading; track control.key) {
							<li class="flex w-full">
								<button
									class="w-full whitespace-nowrap text-base-content"
									type="button"
									[title]="'Set ' + control.label"
									[attr.aria-label]="'Set ' + control.label"
									(click)="setTextareaValue(getTextareaValue(control))"
								>
									<span class="block" [ngClass]="control.classList">
										{{ control.label }}
									</span>
								</button>
							</li>
						}
					</ul>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					[appDropdownActiveClassList]="['bg-base-content/10']"
					(appDropdownToggle)="textarea.focus()"
				>
					<button
						class="fill-current p-3"
						type="button"
						title="Formatting"
						aria-label="Formatting"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[appSvgIconSquare]="'1.5725em'"
						[appSvgIconIcon]="'type-bold'"
					></button>
					<ul class="menu menu-vertical menu-md m-0" slot="content">
						@for (control of controlListFormatting; track control.key) {
							<li class="flex w-full">
								<button
									class="w-full whitespace-nowrap text-base-content"
									type="button"
									[title]="'Apply ' + control.label.toLowerCase() + ' formatting'"
									[attr.aria-label]="'Apply ' + control.label.toLowerCase() + ' formatting'"
									(click)="setTextareaValue(getTextareaValue(control))"
								>
									<span class="block" [ngClass]="control.classList">
										{{ control.label }}
									</span>
								</button>
							</li>
						}
					</ul>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					[appDropdownActiveClassList]="['bg-base-content/10']"
					(appDropdownToggle)="textarea.focus()"
				>
					<button
						class="fill-current p-3"
						type="button"
						title="List"
						aria-label="List"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[appSvgIconSquare]="'1.5725em'"
						[appSvgIconIcon]="'list-ul'"
					></button>
					<ul class="menu menu-vertical menu-md m-0" slot="content">
						@for (control of controlListList; track control.key) {
							<li class="flex w-full">
								<button
									class="w-full whitespace-nowrap text-base-content"
									type="button"
									[title]="'Add ' + control.label.toLowerCase() + ' list'"
									[attr.aria-label]="'Add ' + control.label.toLowerCase() + ' list'"
									(click)="setTextareaValue(getTextareaValue(control))"
								>
									{{ control.label }}
								</button>
							</li>
						}
					</ul>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<button
					class="fill-current p-3"
					type="button"
					appSvgIcon
					[title]="controlListQuote.label"
					[attr.aria-label]="controlListQuote.label"
					[appSvgIconIcon]="controlListQuote.icon"
					[appSvgIconSquare]="'1.5725em'"
					(click)="setTextareaValue(getTextareaValue(controlListQuote))"
				></button>
			</li>
			@for (control of controlListUrl; track control.key) {
				<li class="inline-block" [class.disabled]="controlListDisabled">
					<button
						class="fill-current p-3"
						type="button"
						appSvgIcon
						[title]="control.label"
						[attr.aria-label]="control.label"
						[appSvgIconIcon]="control.icon"
						[appSvgIconSquare]="'1.5725em'"
						(click)="onToggleUrlForm(true, control)"
					></button>
				</li>
			}
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<button
					class="fill-current p-3"
					type="button"
					appSvgIcon
					[title]="controlListCropper.label"
					[attr.aria-label]="controlListCropper.label"
					[appSvgIconIcon]="controlListCropper.icon"
					[appSvgIconSquare]="'1.5725em'"
					(click)="onControlListCropperClick()"
				></button>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					[appDropdownClose]="false"
					[appDropdownActiveClassList]="['bg-base-content/10']"
				>
					<button
						class="fill-current p-3"
						type="button"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[title]="controlListEmojiMart.label"
						[attr.aria-label]="controlListEmojiMart.label"
						[appSvgIconIcon]="controlListEmojiMart.icon"
						[appSvgIconSquare]="'1.5725em'"
					></button>
					<div class="menu menu-vertical menu-md m-0 p-0" id="emojiMartPicker" slot="content"></div>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					[appDropdownActiveClassList]="['bg-base-content/10']"
					(appDropdownToggle)="textarea.focus()"
				>
					<button
						class="fill-current p-3"
						type="button"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[title]="controlListTable.label"
						[attr.aria-label]="controlListTable.label"
						[appSvgIconIcon]="controlListTable.icon"
						[appSvgIconSquare]="'1.5725em'"
					></button>
					<div class="menu menu-vertical menu-md m-0" slot="content">
						<div class="relative h-40 w-40 overflow-hidden rounded-box">
							<div class="pointer-events-none absolute left-0 top-0 bg-base-content/10" data-control-table></div>
							<ul class="m-0 grid h-full w-full grid-cols-5 grid-rows-5 p-0">
								@for (cell of controlListTableCells; track $index) {
									<li
										class="col-span-1 row-span-1 h-full w-full bg-transparent opacity-100 p-0 border-4 border-base-100 outline outline-base-content/20 outline-1 -outline-offset-4 m-0"
										[class.rounded-tl-lg]="cell === 0"
										[class.rounded-tr-lg]="cell === 4"
										[class.rounded-bl-lg]="cell === 20"
										[class.rounded-br-lg]="cell === 24"
										(mouseenter)="onControlListTableMouseEnter($event, 'enter')"
										(mouseleave)="onControlListTableMouseEnter($event, 'leave')"
										(click)="setTextareaValue(getTextareaValue(controlListTable, cell))"
									></li>
								}
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<button
					class="fill-current p-3"
					type="button"
					appSvgIcon
					[title]="controlListSpoiler.label"
					[attr.aria-label]="controlListSpoiler.label"
					[appSvgIconIcon]="controlListSpoiler.icon"
					[appSvgIconSquare]="'1.5725em'"
					(click)="setTextareaValue(getTextareaValue(controlListSpoiler))"
				></button>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<button
					class="fill-current p-3"
					type="button"
					appSvgIcon
					[appSvgIconSquare]="'1.5725em'"
					[title]="controlListCode.label"
					[attr.aria-label]="controlListCode.label"
					[appSvgIconIcon]="controlListCode.icon"
					(click)="setTextareaValue(getTextareaValue(controlListCode))"
				></button>
			</li>
		</ul>
	</div>
	<dialog
		class="modal"
		#urlFormDialog
		(keydown.escape)="$event.preventDefault(); onToggleUrlForm(false)"
		(click)="$event.target === $event.currentTarget ? onToggleUrlForm(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-lg"
			appWindow
			[appWindowTitle]="urlFormControl?.label"
			[appWindowButtons]="['close']"
			(appWindowClose)="onToggleUrlForm(false)"
		>
			<form
				class="flex flex-col gap-4 bg-base-100 p-4"
				autocomplete="off"
				slot="content"
				[formGroup]="urlForm"
				(ngSubmit)="onSubmitUrlForm()"
			>
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block">
						@switch (urlFormControl?.key) {
							@case ("url-link") {
								Enter the URL and link text to seamlessly connect your readers to valuable resources
							}
							@case ("url-youtube") {
								Embed engaging videos directly into your content
							}
							@default {
								Unknown url form control key
							}
						}
					</span>
				</p>
				@if (urlForm.get("title"); as title) {
					<fieldset class="form-control">
						<label class="label" for="urlFormTitle">
							<div class="indicator">
								@if (urlFormControl?.key === "url-link" && title.touched && !!title.errors && urlForm.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="title"></div>
								}
								<span class="label-text mr-2">Text</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input-bordered input input-md w-full"
								id="urlFormTitle"
								type="text"
								aria-label="Type text"
								appInputTrimWhitespace
								placeholder="Type text"
								[formControl]="$any(title)"
								[class.input-success]="title.value && title.valid"
								[class.input-error]="title.touched && title.invalid"
							/>
							@if (title.value) {
								<button
									class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
									type="button"
									title="Clear input"
									aria-label="Clear input"
									appSvgIcon
									[class.btn-success]="title.valid"
									[class.btn-error]="title.touched && title.invalid"
									[class.btn-ghost]="title.untouched && title.invalid"
									[disabled]="urlForm.disabled"
									[appSvgIconIcon]="'x'"
									[appSvgIconSquare]="'2em'"
									(click)="title.setValue('')"
								></button>
							}
						</div>
					</fieldset>
				}
				@if (urlForm.get("url"); as url) {
					<fieldset class="form-control">
						<label class="label" for="urlFormUrl">
							<div class="indicator">
								@if (url.touched && !!url.errors && urlForm.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="url"></div>
								}
								<span class="label-text mr-2">URL</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input input-bordered input-md w-full"
								id="urlFormUrl"
								type="text"
								aria-label="URL"
								inputmode="none"
								appInputOnlyPaste
								appInputTrimWhitespace
								placeholder="Paste URL"
								[formControl]="$any(url)"
								[class.input-success]="url.value && url.valid"
								[class.input-error]="url.touched && url.invalid"
							/>
							@if (url.value) {
								<button
									class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
									type="button"
									title="Clear input"
									aria-label="Clear input"
									appSvgIcon
									[class.btn-success]="url.valid"
									[class.btn-error]="url.touched && url.invalid"
									[class.btn-ghost]="url.untouched && url.invalid"
									[disabled]="urlForm.disabled"
									[appSvgIconIcon]="'x'"
									[appSvgIconSquare]="'2em'"
									(click)="url.setValue('')"
								></button>
							}
						</div>
					</fieldset>
				}
				<fieldset class="form-control">
					<button
						class="btn-success btn w-full"
						type="submit"
						aria-label="Submit"
						[disabled]="urlForm.invalid || urlForm.disabled"
					>
						@if (urlForm.disabled) {
							<span class="loading loading-spinner"></span>
						}
						Submit
					</button>
				</fieldset>
			</form>
		</div>
	</dialog>
</ng-container>
