<!-- @format -->

<ng-container>
	<div
		class="flex overflow-auto rounded-btn border border-base-content/20"
		[ngClass]="{ 'cursor-not-allowed border-transparent': controlListDisabled }"
	>
		<ul
			class="menu menu-horizontal menu-md flex-nowrap rounded-btn bg-base-100 p-0"
			[ngClass]="{ 'pointer-events-none bg-base-300': controlListDisabled }"
		>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10': toggle.value }"
					(appDropdownToggle)="toggle.value = $event"
				>
					<button
						class="fill-current p-3"
						type="button"
						title="Heading"
						aria-label="Heading"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[appSvgIconSquare]="'1.5725em'"
						[appSvgIconIcon]="'type-h1'"
					></button>
					<ul class="menu menu-vertical menu-md m-0" slot="content">
						<li class="flex w-full" *ngFor="let control of controlListHeading">
							<button
								class="w-full whitespace-nowrap text-base-content"
								type="button"
								[attr.aria-label]="control.label"
								(click)="setTextareaValue(getTextareaValue(control))"
							>
								<span class="block" [ngClass]="control.classList">
									{{ control.label }}
								</span>
							</button>
						</li>
					</ul>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10': toggle.value }"
					(appDropdownToggle)="toggle.value = $event"
				>
					<button
						class="fill-current p-3"
						type="button"
						title="Formatting"
						aria-label="Formatting"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[appSvgIconSquare]="'1.5725em'"
						[appSvgIconIcon]="'type-bold'"
					></button>
					<ul class="menu menu-vertical menu-md m-0" slot="content">
						<li class="flex w-full" *ngFor="let control of controlListFormatting">
							<button
								class="w-full whitespace-nowrap text-base-content"
								type="button"
								[attr.aria-label]="control.label"
								(click)="setTextareaValue(getTextareaValue(control))"
							>
								<span class="block" [ngClass]="control.classList">
									{{ control.label }}
								</span>
							</button>
						</li>
					</ul>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10': toggle.value }"
					(appDropdownToggle)="toggle.value = $event"
				>
					<button
						class="fill-current p-3"
						type="button"
						title="List"
						aria-label="List"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[appSvgIconSquare]="'1.5725em'"
						[appSvgIconIcon]="'list-ul'"
					></button>
					<ul class="menu menu-vertical menu-md m-0" slot="content">
						<li class="flex w-full" *ngFor="let control of controlListList">
							<button
								class="w-full whitespace-nowrap text-base-content"
								type="button"
								[attr.aria-label]="control.label"
								[attr.title]="control.label"
								(click)="setTextareaValue(getTextareaValue(control))"
							>
								{{ control.label }}
							</button>
						</li>
					</ul>
				</div>
			</li>
			<li
				class="inline-block"
				*ngFor="let control of controlListUrl"
				[class.disabled]="controlListDisabled"
			>
				<button
					class="fill-current p-3"
					appSvgIcon
					[attr.aria-label]="control.label"
					[attr.title]="control.label"
					[appSvgIconIcon]="control.icon"
					[appSvgIconSquare]="'1.5725em'"
					(click)="onToggleUrlForm(true, control)"
				></button>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10': toggle.value }"
					[appDropdownClose]="false"
					(appDropdownToggle)="toggle.value = $event"
				>
					<button
						class="fill-current p-3"
						type="button"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[attr.aria-label]="controlListEmojiMart.label"
						[attr.title]="controlListEmojiMart.label"
						[appSvgIconIcon]="controlListEmojiMart.icon"
						[appSvgIconSquare]="'1.5725em'"
					></button>
					<div class="menu menu-vertical menu-md m-0 p-0" id="emojiMartPicker" slot="content"></div>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10': toggle.value }"
					(appDropdownToggle)="toggle.value = $event"
				>
					<button
						class="fill-current p-3"
						type="button"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[attr.aria-label]="controlListTable.label"
						[attr.title]="controlListTable.label"
						[appSvgIconIcon]="controlListTable.icon"
						[appSvgIconSquare]="'1.5725em'"
					></button>
					<div class="menu menu-vertical menu-md m-0" slot="content">
						<div class="relative h-40 w-40 overflow-hidden rounded-box">
							<div
								class="pointer-events-none absolute left-0 top-0 bg-base-content/10"
								data-control-table
							></div>
							<ul class="m-0 grid h-full w-full grid-cols-5 grid-rows-5 p-0">
								<li
									class="col-span-1 row-span-1 h-full w-full bg-transparent p-0 border-4 border-base-100 outline outline-base-content/20 outline-1 -outline-offset-4 m-0"
									*ngFor="let cell of [].constructor(25); let i = index"
									[class.rounded-tl-box]="i === 0"
									[class.rounded-tr-box]="i === 4"
									[class.rounded-bl-box]="i === 20"
									[class.rounded-br-box]="i === 24"
									(mouseenter)="onControlListTableMouseEnter($event, 'enter')"
									(mouseleave)="onControlListTableMouseEnter($event, 'leave')"
									(click)="setTextareaValue(getTextareaValue(controlListTable, i))"
								></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<button
					class="fill-current p-3"
					appSvgIcon
					[attr.aria-label]="controlListSpoiler.label"
					[attr.title]="controlListSpoiler.label"
					[appSvgIconIcon]="controlListSpoiler.icon"
					[appSvgIconSquare]="'1.5725em'"
					(click)="setTextareaValue(getTextareaValue(controlListSpoiler))"
				></button>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<button
					class="fill-current p-3"
					appSvgIcon
					[appSvgIconSquare]="'1.5725em'"
					[attr.aria-label]="controlListCode.label"
					[attr.title]="controlListCode.label"
					[appSvgIconIcon]="controlListCode.icon"
					(click)="setTextareaValue(getTextareaValue(controlListCode))"
				></button>
			</li>
		</ul>
	</div>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#urlFormDialog
		(keydown.escape)="$event.preventDefault(); onToggleUrlForm(false)"
		(click)="$event.target === $event.currentTarget ? onToggleUrlForm(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-lg"
			appWindow
			[appWindowTitle]="urlFormControl?.label"
			[appWindowButtons]="['close']"
			(appWindowClose)="onToggleUrlForm(false)"
		>
			<form
				class="flex flex-col gap-4 bg-base-100 p-4"
				autocomplete="off"
				slot="content"
				[formGroup]="urlForm"
				(ngSubmit)="onSubmitUrlForm()"
			>
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block" [ngSwitch]="urlFormControl?.key">
						<ng-container *ngSwitchCase="'url-link'">
							Enter the URL and link text to seamlessly connect your readers to valuable resources
						</ng-container>
						<ng-container *ngSwitchCase="'url-image'">
							Add a link to an image and provide a dynamic visual experience of your posts
						</ng-container>
						<ng-container *ngSwitchCase="'url-youtube'">
							Embed engaging videos directly into your content
						</ng-container>
					</span>
				</p>
				<!-- prettier-ignore -->
				<ng-container *ngIf="{ value: urlFormControl?.key === 'url-link' ? 'Text' : 'Title' } as label">
					<fieldset class="form-control" *ngIf="urlForm.get('title') as title">
						<label class="label" for="urlFormTitle">
							<div class="indicator" [ngSwitch]="true">
                <span
                  class="badge badge-error indicator-item w-max translate-x-full translate-y-0 text-xs"
                  *ngSwitchCase="urlFormControl?.key === 'url-link' && title.touched && !!title.errors && urlForm.enabled"
                  [ngSwitch]="true"
                >
                  <ng-container *ngSwitchCase="!!title.errors.required">
                    Required
                  </ng-container>
                </span>
                <span
                  class="badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                  *ngSwitchCase="urlFormControl?.key === 'url-image'"
                  [class.badge-ghost]="!title.value"
                  [class.badge-success]="!!title.value && urlForm.enabled"
                  [class.opacity-25]="urlForm.disabled"
                >
                  Optional
                </span>
                <span class="label-text mr-2">{{ label.value }}</span>
              </div>
						</label>
						<div class="relative">
              <input
                class="input-bordered input input-md w-full !pr-12"
                id="urlFormTitle"
                type="text"
                appInputTrimWhitespace
                [attr.aria-label]="label.value"
                [placeholder]="['Type', label.value.toLowerCase()].join(' ')"
                [formControl]="$any(title)"
                [class.input-success]="title.value && title.valid"
                [class.input-error]="title.touched && title.invalid"
              />
              <button
                class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
                type="button"
                aria-label="Clear"
                appSvgIcon
                *ngIf="!!title.value.length"
                [class.btn-success]="title.valid"
                [class.btn-error]="title.touched && title.invalid"
                [class.btn-ghost]="title.untouched && title.invalid"
                [disabled]="urlForm.disabled"
                [appSvgIconIcon]="'x'"
                [appSvgIconSquare]="'2em'"
                (click)="title.setValue('')"
              ></button>
            </div>
					</fieldset>
				</ng-container>
				<fieldset class="form-control" *ngIf="urlForm.get('url') as url">
					<label class="label" for="urlFormUrl">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngIf="url.touched && !!url.errors && urlForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!url.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!url.errors.pattern">
                  Url does not correct
                </ng-container>
              </span>
							<span class="label-text mr-2">URL</span>
						</div>
					</label>
					<div class="relative">
						<input
							class="input input-bordered input-md w-full !pr-12"
							id="urlFormUrl"
							type="text"
							aria-label="URL"
							appInputOnlyPaste
							appInputTrimWhitespace
							placeholder="Paste URL"
							[formControl]="$any(url)"
							[class.input-success]="url.value && url.valid"
							[class.input-error]="url.touched && url.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!url.value.length"
							[class.btn-success]="url.valid"
							[class.btn-error]="url.touched && url.invalid"
							[class.btn-ghost]="url.untouched && url.invalid"
							[disabled]="urlForm.disabled"
							[appSvgIconIcon]="'x'"
							[appSvgIconSquare]="'2em'"
							(click)="url.setValue('')"
						></button>
					</div>
				</fieldset>
				<fieldset class="form-control">
					<button
						class="btn-success btn w-full"
						type="submit"
						aria-label="Submit"
						[disabled]="urlForm.invalid || urlForm.disabled"
					>
						<span class="loading loading-spinner" *ngIf="urlForm.disabled"></span>
						Submit
					</button>
				</fieldset>
			</form>
		</div>
	</dialog>
</ng-container>
