<!-- @format -->

<ng-container>
	<div
		class="flex overflow-auto rounded-btn border border-base-content/20"
		#controlListElement
		[ngClass]="{ 'cursor-not-allowed border-transparent': controlListDisabled }"
	>
		<ul
			class="menu menu-horizontal menu-md flex-nowrap overflow-auto rounded-btn bg-base-100 p-0"
			[ngClass]="{ 'pointer-events-none bg-base-300': controlListDisabled }"
		>
			<li
				class="inline-block"
				*ngIf="{ value: textareaHistory$.getValue().length <= 1 } as disabled"
				[class.disabled]="disabled.value || controlListDisabled"
			>
				<button
					class="fill-current p-3 active:!bg-error active:!text-error-content"
					type="button"
					title="Undo"
					aria-label="Undo"
					appSvgIcon
					[class.pointer-events-none]="disabled.value"
					[appIcon]="'arrow-left'"
					[appSquare]="'1.5725em'"
					(click)="setBack()"
				></button>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					#dropdownHeading
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10': toggle.value }"
					(toggled)="toggle.value = $event"
				>
					<button
						class="fill-current p-3"
						type="button"
						title="Heading"
						aria-label="Heading"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[appSquare]="'1.5725em'"
						[appIcon]="'type-h1'"
					></button>
					<ul
						class="menu menu-vertical menu-md ml-0 mt-2 rounded-btn border border-base-content/20 bg-base-100 p-2 shadow before:hidden"
						slot="content"
					>
						<li class="flex w-full" *ngFor="let control of controlListHeading">
							<button
								class="w-full whitespace-nowrap text-base-content"
								type="button"
								[attr.aria-label]="control.label"
								(click)="setTextareaValue(getTextareaValue(control))"
							>
								<span class="block" [ngClass]="control.classList">
									{{ control.label }}
								</span>
							</button>
						</li>
					</ul>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					#dropdownFormatting
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10': toggle.value }"
					(toggled)="toggle.value = $event"
				>
					<button
						class="fill-current p-3"
						type="button"
						title="Formatting"
						aria-label="Formatting"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[appSquare]="'1.5725em'"
						[appIcon]="'type-bold'"
					></button>
					<ul
						class="menu menu-vertical menu-md ml-0 mt-2 rounded-btn border border-base-content/20 bg-base-100 p-2 shadow before:hidden"
						slot="content"
					>
						<li
							class="flex w-full"
							*ngFor="let control of controlListFormatting"
						>
							<button
								class="w-full whitespace-nowrap text-base text-base-content"
								type="button"
								[attr.aria-label]="control.label"
								(click)="setTextareaValue(getTextareaValue(control))"
							>
								<span class="block" [ngClass]="control.classList">
									{{ control.label }}
								</span>
							</button>
						</li>
					</ul>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					#dropdownList
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10': toggle.value }"
					(toggled)="toggle.value = $event"
				>
					<button
						class="fill-current p-3"
						type="button"
						title="List"
						aria-label="List"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[appSquare]="'1.5725em'"
						[appIcon]="'list-ul'"
					></button>
					<ul
						class="menu menu-vertical menu-md ml-0 mt-2 rounded-btn border border-base-content/20 bg-base-100 p-2 shadow before:hidden"
						slot="content"
					>
						<li class="flex w-full" *ngFor="let control of controlListList">
							<button
								class="w-full whitespace-nowrap text-base text-base-content"
								type="button"
								[attr.aria-label]="control.label"
								[attr.title]="control.label"
								(click)="setTextareaValue(getTextareaValue(control))"
							>
								{{ control.label }}
							</button>
						</li>
					</ul>
				</div>
			</li>
			<li
				class="inline-block"
				*ngFor="let control of controlListUrl"
				[class.disabled]="controlListDisabled"
			>
				<button
					class="fill-current p-3"
					appSvgIcon
					[attr.aria-label]="control.label"
					[attr.title]="control.label"
					[appIcon]="control.icon"
					[appSquare]="'1.5725em'"
					(click)="onToggleUrlForm(true, control)"
				></button>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					#dropdownEmojiMart
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10': toggle.value }"
					[appCloseOnClick]="false"
					(toggled)="toggle.value = $event"
				>
					<button
						class="fill-current p-3"
						type="button"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[attr.aria-label]="controlListEmojiMart.label"
						[attr.title]="controlListEmojiMart.label"
						[appIcon]="controlListEmojiMart.icon"
						[appSquare]="'1.5725em'"
					></button>
					<div
						class="menu menu-vertical menu-md ml-0 mt-2 overflow-hidden rounded-btn border border-base-content/20 bg-base-100 p-0 shadow before:hidden"
						id="emojiMartPicker"
						slot="content"
					></div>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<div
					class="flex p-0"
					appDropdown
					#dropdownTable
					*ngIf="{ value: false } as toggle"
					[ngClass]="{ 'bg-base-content/10': toggle.value }"
					(toggled)="toggle.value = $event"
				>
					<button
						class="fill-current p-3"
						type="button"
						appSvgIcon
						slot="target"
						[disabled]="controlListDisabled"
						[attr.aria-label]="controlListTable.label"
						[attr.title]="controlListTable.label"
						[appIcon]="controlListTable.icon"
						[appSquare]="'1.5725em'"
					></button>
					<div
						class="menu menu-vertical menu-md ml-0 mt-2 overflow-hidden rounded-btn border border-base-content/20 bg-base-100 p-2 shadow before:hidden"
						slot="content"
					>
						<div class="relative h-40 w-40 overflow-hidden rounded-btn">
							<div
								class="pointer-events-none absolute left-0 top-0 bg-base-content/10"
								#controlListTableElement
							></div>
							<ul class="m-0 grid h-full w-full grid-cols-5 grid-rows-5 p-0">
								<!-- prettier-ignore -->
								<li
                  class="col-span-1 row-span-1 h-full w-full bg-transparent p-0 border-4 border-base-100 outline outline-base-content/20 outline-1 -outline-offset-4 m-0"
                  *ngFor="let cell of [].constructor(25); let i = index"
                  (mouseenter)="onTableMouseEnter($event)"
                  (mouseleave)="controlListTableElement.removeAttribute('style')"
                  (click)="setTextareaValue(getTextareaValue(controlListTable, i))"
                  [class.rounded-tl-btn]="i === 0"
                  [class.rounded-tr-btn]="i === 4"
                  [class.rounded-bl-btn]="i === 20"
                  [class.rounded-br-btn]="i === 24"
                >
                </li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<button
					class="fill-current p-3"
					appSvgIcon
					[attr.aria-label]="controlListSpoiler.label"
					[attr.title]="controlListSpoiler.label"
					[appIcon]="controlListSpoiler.icon"
					[appSquare]="'1.5725em'"
					(click)="setTextareaValue(getTextareaValue(controlListSpoiler))"
				></button>
			</li>
			<li class="inline-block" [class.disabled]="controlListDisabled">
				<button
					class="fill-current p-3"
					appSvgIcon
					[appSquare]="'1.5725em'"
					[attr.aria-label]="controlListCode.label"
					[attr.title]="controlListCode.label"
					[appIcon]="controlListCode.icon"
					(click)="setTextareaValue(getTextareaValue(controlListCode))"
				></button>
			</li>
		</ul>
	</div>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#urlFormModal
		(close)="onToggleUrlForm(false)"
		(click)="$event.target === $event.currentTarget ? urlFormModal.close() : $event"
	>
		<app-window
			slot="content"
			[appTitle]="urlFormControl?.label"
			(closed)="onToggleUrlForm(false)"
		>
			<form
				class="flex w-window max-w-[512px] flex-col gap-4 bg-base-100 p-4"
				autocomplete="off"
				slot="content"
				[formGroup]="urlForm"
				(ngSubmit)="onSubmitUrlForm()"
			>
				<!--
		    <p
					class="rounded-box mb-4 bg-base-200 p-4"
					[ngSwitch]="urlFormControl?.key"
				>
					<ng-container *ngSwitchCase="'url-link'">
						Paste a URL from internet and add optional title
					</ng-container>
					<ng-container *ngSwitchCase="'url-image'">
						Paste a image URL from internet and add optional title
					</ng-container>
					<ng-container *ngSwitchCase="'url-youtube'">
						Paste a video URL from
						<a
							class="link whitespace-nowrap after:inline-block after:px-1 after:content-['\279A']"
							href="https://www.youtube.com/"
							target="_blank"
							rel="noopener noreferrer"
						>
							youtube.com
						</a>
					</ng-container>
				</p>
				-->
				<fieldset class="form-control" *ngIf="urlForm.get('title') as title">
					<label class="label" for="urlFormTitle">
						<!-- prettier-ignore -->
						<div class="indicator" [ngSwitch]="true">
              <span
                class="badge badge-error indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngSwitchCase="urlFormControl?.key === 'url-link' && title.touched && !!title.errors && urlForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!title.errors.required">
                  Required
                </ng-container>
              </span>
              <span
                class="badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngSwitchCase="urlFormControl?.key === 'url-image'"
                [class.badge-ghost]="!title.value"
                [class.badge-success]="!!title.value && urlForm.enabled"
                [class.opacity-25]="urlForm.disabled"
              >
                Optional
              </span>
              <span class="label-text mr-2">Title</span>
            </div>
					</label>
					<!-- prettier-ignore -->
					<div class="relative">
            <input
              class="input-bordered input w-full truncate pr-12"
              id="urlFormTitle"
              type="text"
              aria-label="Title"
              appInputTrimWhitespace
              placeholder="Type title"
              [formControl]="$any(title)"
              [class.input-success]="title.value && title.valid"
              [class.input-error]="title.touched && title.invalid"
            />
            <button
              class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
              type="button"
              aria-label="Clear"
              appSvgIcon
              *ngIf="!!title.value.length"
              [class.btn-success]="title.valid"
              [class.btn-error]="title.touched && title.invalid"
              [class.btn-ghost]="title.untouched && title.invalid"
              [disabled]="urlForm.disabled"
              [appIcon]="'x'"
              [appSquare]="'2em'"
              (click)="title.setValue('')"
            ></button>
          </div>
				</fieldset>
				<fieldset class="form-control" *ngIf="urlForm.get('url') as url">
					<label class="label" for="urlFormUrl">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngIf="url.touched && !!url.errors && urlForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!url.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!url.errors.pattern">
                  Url does not correct
                </ng-container>
              </span>
							<span class="label-text mr-2">URL</span>
						</div>
					</label>
					<div class="relative">
						<!-- prettier-ignore -->
						<input
              class="input input-bordered w-full truncate pr-12"
              id="urlFormUrl"
              type="text"
              aria-label="URL"
              appInputOnlyPaste
              appInputTrimWhitespace
              placeholder="Paste URL"
              [formControl]="$any(url)"
              [class.input-success]="url.value && url.valid"
              [class.input-error]="url.touched && url.invalid"
            />
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!url.value.length"
							[class.btn-success]="url.valid"
							[class.btn-error]="url.touched && url.invalid"
							[class.btn-ghost]="url.untouched && url.invalid"
							[disabled]="urlForm.disabled"
							[appIcon]="'x'"
							[appSquare]="'2em'"
							(click)="url.setValue('')"
						></button>
					</div>
				</fieldset>
				<fieldset class="form-control">
					<button
						class="btn-success btn w-full"
						type="submit"
						aria-label="Submit"
						[disabled]="urlForm.invalid || urlForm.disabled"
					>
						<span
							class="loading loading-spinner"
							*ngIf="urlForm.disabled"
						></span>
						Submit
					</button>
				</fieldset>
			</form>
		</app-window>
	</dialog>
</ng-container>
