<!-- @format -->

<ng-container>
	<dialog
		class="modal"
		#postDraftDialogElement
		(keydown.escape)="$event.preventDefault(); onTogglePostDraftDialog(false)"
		(mousedown)="$event.target === $event.currentTarget ? onTogglePostDraftDialog(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-lg"
			appWindow
			[appWindowTitle]="'Drafts'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onTogglePostDraftDialog(false)"
		>
			<form
				class="flex flex-col gap-4 p-4"
				autocomplete="off"
				slot="content"
				[formGroup]="postDraftForm"
				(ngSubmit)="onSubmitPostDraftForm()"
			>
				@if (postDraftList.length) {
					<p class="alert" role="alert">
						<i
							class="fill-current text-info"
							appSvgIcon
							[appSvgIconIcon]="'info-circle'"
							[appSvgIconSquare]="'1.5em'"
						></i>
						<span class="block"> Save your work to avoid losing changes </span>
					</p>
					@if (postDraftForm.get("key"); as key) {
						<fieldset class="form-control grid">
							<label class="label">
								<div class="indicator">
									<span class="label-text mr-2"> Name </span>
									<span
										class="badge indicator-item w-max translate-x-full translate-y-0 text-xs"
										[class.badge-ghost]="!key.value"
										[class.badge-success]="!!key.value && key.enabled"
										[class.opacity-25]="key.disabled"
									>
										Optional
									</span>
								</div>
							</label>
							<div
								class="menu menu-vertical !shadow-none menu-md !bg-base-200 !border-0 mt-2 p-0"
								[class.!border-success]="key.value && key.enabled"
							>
								<ul
									class="flex max-h-58 flex-col flex-nowrap overflow-y-auto w-full snap-mandatory snap-y p-2"
									[class.cursor-not-allowed]="key.disabled"
								>
									@for (postDraft of postDraftList; track $index) {
										<li
											class="flex !flex-row items-center justify-between gap-2 w-full snap-start scroll-my-2"
											[ngClass]="{ 'disabled pointer-events-none': key.disabled }"
										>
											<!-- prettier-ignore -->
											@if ({ value: key.value === postDraft.key }; as isActive) {
                        <button
                          class="flex items-center justify-between gap-2 w-full"
                          type="button"
                          [ngClass]="{ 'active': isActive.value && key.enabled, 'bg-base-content/10': isActive.value && key.disabled }"
                          [title]="postDraft.postForm.name"
                          [attr.aria-label]="postDraft.postForm.name"
                          (click)="isActive.value ? key.reset() : key.patchValue(postDraft.key)"
                        >
                          <span class="block truncate">{{ postDraft.postForm.name }}</span>
                          @switch (postDraft.postType) {
                            @case ("password") {
                              <i
                                class="block fill-current"
                                appSvgIcon
                                [appSvgIconIcon]="'shield-lock'"
                                [appSvgIconSquare]="'1.25em'"
                                [appSvgIconViewBox]="'0 0 16 17'"
                              >
                              </i>
                            }
                            @case ("private") {
                              <i
                                class="block fill-current"
                                appSvgIcon
                                [appSvgIconIcon]="'incognito'"
                                [appSvgIconSquare]="'1.25em'"
                              >
                              </i>
                            }
                            @default {
                              <i
                                class="block fill-current"
                                appSvgIcon
                                [appSvgIconIcon]="'folder'"
                                [appSvgIconSquare]="'1.25em'"
                              >
                              </i>
                            }
                          }
                        </button>
                      }
										</li>
									}
								</ul>
							</div>
						</fieldset>
					}
				} @else {
					<p class="alert" role="alert">
						<i
							class="fill-current text-info"
							appSvgIcon
							[appSvgIconIcon]="'info-circle'"
							[appSvgIconSquare]="'1.5em'"
						></i>
						<span class="block"> No drafts remain </span>
					</p>
				}
				<fieldset class="form-control gap-4">
					@if (postDraftList.length) {
						<button
							class="btn btn-md btn-success"
							type="submit"
							title="Submit"
							aria-label="Submit"
							[disabled]="postDraftForm.invalid || postDraftForm.disabled"
						>
							Submit
						</button>
						@if (postDraftForm.get("key"); as key) {
							<button
								class="btn btn-error btn-outline w-full"
								type="button"
								title="Delete"
								aria-label="Delete"
								[disabled]="key.invalid || key.disabled"
								(click)="onDeletePostDraft(key.value)"
							>
								Delete
							</button>
						}
					} @else {
						<button
							class="btn btn-md btn-success btn-outline"
							type="button"
							title="Close"
							aria-label="Close"
							(click)="onTogglePostDraftDialog(false)"
						>
							Close
						</button>
					}
				</fieldset>
			</form>
		</div>
	</dialog>
</ng-container>
