<!-- @format -->

<ng-container>
	<dialog
		class="modal"
		#postDraftDialogElement
		(keydown.escape)="$event.preventDefault(); onTogglePostDraftDialog(false)"
		(click)="$event.target === $event.currentTarget ? onTogglePostDraftDialog(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-lg"
			appWindow
			[appWindowTitle]="'Draft'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onTogglePostDraftDialog(false)"
		>
			<form
				class="flex flex-col gap-4 p-4"
				autocomplete="off"
				slot="content"
				[formGroup]="postDraftForm"
				(ngSubmit)="onSubmitPostDraftForm()"
			>
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block">
						Drafts detected. They’ll be deleted in 15 minutes, so save your work to avoid losing changes
					</span>
				</p>
				@if (postDraftForm.get("key"); as key) {
					<fieldset class="form-control grid">
						<label class="label">
							<div class="indicator">
								<span class="label-text mr-2"> Name </span>
								<span
									class="badge indicator-item w-max translate-x-full translate-y-0 text-xs"
									[class.badge-ghost]="!key.value"
									[class.badge-success]="!!key.value && postDraftForm.enabled"
									[class.opacity-25]="postDraftForm.disabled"
								>
									Optional
								</span>
							</div>
						</label>
						<div
							class="menu menu-vertical !shadow-none menu-md !bg-base-200 !border-0 mt-2 p-0"
							[class.!border-success]="key.value && postDraftForm.enabled"
						>
							<ul
								class="flex max-h-58 flex-col flex-nowrap overflow-y-auto w-full snap-mandatory snap-y p-2"
								[class.cursor-not-allowed]="postDraftForm.disabled"
							>
								@for (postDraft of postDraftList; track $index) {
									<li
										class="flex !flex-row items-center justify-between gap-2 w-full snap-start scroll-my-2"
										[ngClass]="{ 'disabled pointer-events-none': postDraftForm.disabled }"
									>
										<!-- prettier-ignore -->
										@if ({ value: key.value === postDraft.key }; as isActive) {
											<button
                        class="flex items-center justify-start w-full"
                        type="button"
                        [ngClass]="{ 'active': isActive.value && postDraftForm.enabled, 'bg-base-content/10': isActive.value && postDraftForm.disabled }"
                        [title]="postDraft.postForm.name"
                        [attr.aria-label]="postDraft.postForm.name"
                        (click)="isActive.value ? key.reset() : key.patchValue(postDraft.key)"
                      >
                        <span class="block truncate">{{ postDraft.postForm.name }}</span>
                      </button>
										}
									</li>
								}
							</ul>
						</div>
					</fieldset>
				}
				<fieldset class="form-control">
					<button
						class="btn btn-md btn-success"
						type="submit"
						title="Submit"
						aria-label="Submit"
						[disabled]="postDraftForm.invalid || postDraftForm.disabled"
					>
						Submit
					</button>
				</fieldset>
			</form>
		</div>
	</dialog>
</ng-container>
