<!-- @format -->

<ng-container>
	<div class="fixed w-full h-full">
		<div
			class="absolute w-full h-full opacity-10 bg-[url('/assets/images/pattern-32.svg')] z-[1]"
		></div>
		<div
			class="absolute w-full h-full opacity-20 bg-gradient-to-br from-primary via-accent to-secondary"
		></div>
	</div>
	<app-snackbar></app-snackbar>
	<div
		class="relative grid grid-cols-1 grid-rows-none grid-flow-row auto-rows-max gap-4 md:gap-8 p-4 md:p-8 min-h-screen z-[1] mx-auto w-full max-w-[1024px]"
	>
		<app-header></app-header>
		<main class="block">
			<router-outlet #outlet="outlet"></router-outlet>
		</main>
	</div>
</ng-container>
