<!-- @format -->

<ng-container>
	<section class="flex flex-col gap-4 rounded-box border border-base-300 bg-base-100 p-4 shadow-xl">
		<div class="block">
			<router-outlet></router-outlet>
		</div>
		<footer class="block border-t border-base-300 pt-4">
			<nav class="breadcrumbs text-base text-base-content p-0">
				<!-- https://schema.org/BreadcrumbList -->
				<ul class="flex items-center justify-start" itemscope itemtype="http://schema.org/BreadcrumbList">
					<li class="flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<meta itemprop="position" content="1" />
						<a
							class="flex items-center justify-start gap-2"
							appSkeleton
							itemprop="item url"
							[appSkeletonToggle]="postSkeletonToggle"
							[routerLink]="['/']"
							[title]="'Home'"
							[attr.aria-label]="'Home'"
						>
							<i
								class="block fill-current"
								appSvgIcon
								[class.sm:hidden]="postSkeletonToggle"
								[appSvgIconIcon]="'house'"
								[appSvgIconSquare]="'1.25em'"
							>
							</i>
							<span class="hidden sm:block link link-hover text-sm" itemprop="name"> Home </span>
						</a>
					</li>
					<li class="flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<meta itemprop="position" content="2" />
						<a
							class="flex items-center justify-start gap-2"
							appSkeleton
							itemprop="item url"
							[appSkeletonToggle]="postSkeletonToggle"
							[routerLink]="['/', post.user.name]"
							[title]="'Go to ' + post.user.name"
							[attr.aria-label]="'Go to ' + post.user.name"
						>
							<div
								class="avatar"
								[class.sm:hidden]="postSkeletonToggle"
								[routerLink]="['/', post.user.name]"
								[title]="post.user.name"
								[attr.aria-label]="post.user.name"
							>
								<figure
									class="h-5 w-5 rounded relative overflow-hidden"
									appUserAvatar
									[appUserAvatarPhotoUrl]="post.user.avatar"
									[appUserAvatarName]="post.user.name"
								></figure>
							</div>
							<span class="hidden sm:block link link-hover text-sm" itemprop="name">
								{{ post.user.name }}
							</span>
						</a>
					</li>
					@switch (true) {
						@case (!!postPasswordId) {
							@if (currentUser?.displayName === post.user.name) {
								<li class="flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="position" content="3" />
									<a
										class="flex items-center justify-start gap-2"
										appSkeleton
										itemprop="item url"
										[appSkeletonToggle]="postSkeletonToggle"
										[routerLink]="['/', post.user.name, 'password']"
										[title]="'Go to Password protected posts'"
										[attr.aria-label]="'Go to Password protected posts'"
									>
										<i
											class="block fill-current"
											appSvgIcon
											[class.sm:hidden]="postSkeletonToggle"
											[appSvgIconIcon]="'shield-lock'"
											[appSvgIconSquare]="'1.15em'"
											[appSvgIconViewBox]="'0 0 16 17'"
										>
										</i>
										<span class="block link link-hover text-sm" itemprop="name"> Password </span>
									</a>
								</li>
							}
						}
						@case (!!postPrivateId) {
							@if (currentUser?.displayName === post.user.name) {
								<li class="flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<meta itemprop="position" content="3" />
									<a
										class="flex items-center justify-start gap-2"
										appSkeleton
										itemprop="item url"
										[appSkeletonToggle]="postSkeletonToggle"
										[routerLink]="['/', post.user.name, 'private']"
										[title]="'Go to Private posts'"
										[attr.aria-label]="'Go to Private posts'"
									>
										<i
											class="block fill-current"
											appSvgIcon
											[class.sm:hidden]="postSkeletonToggle"
											[appSvgIconIcon]="'incognito'"
											[appSvgIconSquare]="'1.15em'"
										>
										</i>
										<span class="block link link-hover text-sm" itemprop="name"> Private </span>
									</a>
								</li>
							}
						}
						@default {
							<li
								class="flex overflow-hidden before:min-w-1.5 before:min-h-1.5"
								itemprop="itemListElement"
								itemscope
								itemtype="http://schema.org/ListItem"
							>
								<meta itemprop="position" content="3" />
								<a
									class="flex items-center justify-start gap-2 max-w-full pr-7"
									appSkeleton
									itemprop="item url"
									[appSkeletonToggle]="postSkeletonToggle"
									[routerLink]="['/', post.user.name, 'category', post.category.id]"
									[title]="'Go to ' + post.category.name"
									[attr.aria-label]="'Go to ' + post.category.name"
								>
									<i
										class="block fill-current"
										appSvgIcon
										[class.sm:hidden]="postSkeletonToggle"
										[appSvgIconIcon]="'folder'"
										[appSvgIconSquare]="'1.25em'"
									>
									</i>
									<span class="block link link-hover text-sm truncate" itemprop="name">
										{{ post.category.name }}
									</span>
								</a>
							</li>
						}
					}
				</ul>
			</nav>
		</footer>
	</section>
</ng-container>
