<!-- @format -->

<ng-container>
	<div class="flex flex-col gap-4 rounded-box border border-base-content/20 bg-base-100 p-4 shadow-xl">
		<div class="breadcrumbs text-base p-0">
			@if (post) {
				<ul>
					<li>
						<a class="flex items-center justify-start gap-2" [routerLink]="['/']">
							<i class="block" appSvgIcon [appSvgIconIcon]="'house'" [appSvgIconSquare]="'1.25em'"> </i>
							<span>Home</span>
						</a>
					</li>
					<li>
						<a class="flex items-center justify-start gap-2" [routerLink]="['/', post.user.name]">
							<i class="block" appSvgIcon [appSvgIconIcon]="'person'" [appSvgIconSquare]="'1.25em'"> </i>
							<span>{{ post.user.name }}</span>
						</a>
					</li>
					<li>
						<a
							class="flex items-center justify-start gap-2"
							[routerLink]="['/', post.user.name, 'category', post.category.id]"
						>
							<i class="block" appSvgIcon [appSvgIconIcon]="'folder'" [appSvgIconSquare]="'1.25em'"> </i>
							<span>{{ post.category.name }}</span>
						</a>
					</li>
				</ul>
			}
		</div>
		<hr class="border-t border-base-content/20" />
		<div class="block">
			<router-outlet></router-outlet>
		</div>
	</div>
</ng-container>
