<!-- @format -->

<ng-container>
	<div
		class="rounded-box flex flex-col gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
	>
		<div class="flex flex-col gap-4">
			<h1 class="text-2xl font-bold">Authorization</h1>
			<hr class="border-t border-base-content/20" />
			<nav class="block" appOauth></nav>
			<hr class="border-t border-base-content/20" />
		</div>
		<div class="flex flex-col gap-4">
			<form
				class="flex flex-col gap-4"
				[formGroup]="registrationForm"
				(ngSubmit)="onSubmitRegistrationForm()"
			>
				<fieldset class="form-control" *ngIf="registrationForm.get('name') as name">
					<label class="label" for="registrationFormName">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
                *ngIf="name.touched && !!name.errors && registrationForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!name.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!name.errors.minlength">
                  Min length {{ name.errors.minlength["requiredLength"] }} characters
                </ng-container>
                <ng-container *ngSwitchCase="!!name.errors.maxlength">
                  Max length {{ name.errors.maxlength["requiredLength"] }} characters
                </ng-container>
              </span>
							<span class="label-text mr-2">Name</span>
						</div>
					</label>
					<div class="relative">
						<input
							class="input-bordered input input-md w-full !pr-12"
							id="registrationFormName"
							type="text"
							aria-label="Name"
							autocomplete="username"
							formControlName="name"
							placeholder="Type your name"
							appInputTrimWhitespace
							[class.input-success]="name.value && name.valid"
							[class.input-error]="name.touched && name.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!name.value.length"
							[class.btn-success]="name.valid"
							[class.btn-error]="name.touched && name.invalid"
							[class.btn-ghost]="name.untouched && name.invalid"
							[disabled]="registrationForm.disabled"
							[appSvgIconIcon]="'x'"
							[appSvgIconSquare]="'2em'"
							(click)="name.setValue('')"
						></button>
					</div>
				</fieldset>
				<fieldset class="form-control" *ngIf="registrationForm.get('email') as email">
					<label class="label" for="registrationFormEmail">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge badge-error indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngIf="email.touched && !!email.errors && registrationForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!email.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!email.errors.email">
                  Email must be a real email address
                </ng-container>
              </span>
							<span class="label-text mr-2">Email</span>
						</div>
					</label>
					<div class="relative">
						<input
							class="input-bordered input input-md w-full !pr-12"
							id="registrationFormEmail"
							type="email"
							aria-label="Email"
							autocomplete="username"
							formControlName="email"
							placeholder="Type your email"
							appInputTrimWhitespace
							[class.input-success]="email.value && email.valid"
							[class.input-error]="email.touched && email.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!email.value.length"
							[class.btn-success]="email.valid"
							[class.btn-error]="email.touched && email.invalid"
							[class.btn-ghost]="email.untouched && email.invalid"
							[disabled]="registrationForm.disabled"
							[appSvgIconIcon]="'x'"
							[appSvgIconSquare]="'2em'"
							(click)="email.setValue('')"
						></button>
					</div>
				</fieldset>
				<fieldset class="form-control" *ngIf="registrationForm.get('password') as password">
					<label class="label" for="registrationFormPassword">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngIf="password.touched && !!password.errors && registrationForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!password.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!password.errors.pattern">
                  Password does not match pattern
                </ng-container>
              </span>
							<span class="label-text mr-2">Password</span>
						</div>
					</label>
					<div class="relative" *ngIf="{ value: false } as isVisible">
						<input
							class="input-bordered input input-md w-full !pr-12"
							id="registrationFormPassword"
							aria-label="Password"
							autocomplete="current-password"
							formControlName="password"
							placeholder="Type your password"
							appInputTrimWhitespace
							[type]="isVisible.value ? 'text' : 'password'"
							[class.input-success]="password.value && password.valid"
							[class.input-error]="password.touched && password.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Password"
							appSvgIcon
							*ngIf="!!password.value.length"
							[class.btn-success]="password.valid"
							[class.btn-error]="password.touched && password.invalid"
							[class.btn-ghost]="password.untouched && password.invalid"
							[disabled]="registrationForm.disabled"
							[appSvgIconIcon]="'incognito'"
							[appSvgIconSquare]="'1.5em'"
							(touchstart)="isVisible.value = !isVisible.value"
							(mouseenter)="isVisible.value = true"
							(mouseleave)="isVisible.value = false"
						></button>
					</div>
				</fieldset>
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block">
						The password must be 6-32 characters long, must contain at least one number or special
						character
					</span>
				</p>
				<fieldset class="form-control" *ngIf="registrationForm.get('terms') as terms">
					<label class="label cursor-pointer justify-start gap-4" for="registrationFormTerms">
						<input
							class="checkbox checkbox-md"
							id="registrationFormTerms"
							type="checkbox"
							aria-label="Terms of use"
							formControlName="terms"
							[class.checkbox-success]="terms.valid"
							[class.checkbox-error]="terms.invalid"
						/>
						<!-- prettier-ignore -->
						<span class="label-text inline">I agree with the <a class="link inline-block" [routerLink]="['/terms/terms-of-use']">terms of use</a> and <a class="link" target="_blank" [routerLink]="['/terms/cookie-policy']">cookie policy</a></span>
					</label>
				</fieldset>
				<fieldset class="form-control">
					<button
						class="btn-success btn w-full"
						type="submit"
						aria-label="Registration"
						[disabled]="registrationForm.invalid || registrationForm.disabled"
					>
						<span class="loading loading-spinner" *ngIf="registrationForm.disabled"></span>
						Registration
					</button>
				</fieldset>
			</form>
			<a class="btn-primary btn-outline btn w-full" aria-label="Login" [routerLink]="'/login'">
				Login
			</a>
		</div>
	</div>
</ng-container>
