<!-- @format -->

<ng-container>
	<section class="rounded-box flex flex-col gap-4 border border-base-300 bg-base-100 p-4 shadow-xl">
		<header class="flex flex-col gap-4">
			@if (invitedByUser) {
				<div class="flex items-center justify-start gap-4 overflow-hidden">
					<a
						class="avatar"
						target="_blank"
						[routerLink]="['/', invitedByUser.name]"
						[title]="invitedByUser.name"
						[attr.aria-label]="invitedByUser.name"
					>
						<figure
							class="h-12 w-12 rounded-btn relative overflow-hidden"
							appUserAvatar
							[appUserAvatarPhotoUrl]="invitedByUser.avatar"
							[appUserAvatarName]="invitedByUser.name"
						></figure>
					</a>
					<div class="flex flex-1 flex-col gap-2 items-start overflow-hidden">
						<a
							class="truncate text-xl leading-6 font-bold text-base-content max-w-full link"
							target="_blank"
							[routerLink]="['/', invitedByUser.name]"
							[title]="invitedByUser.name"
							[attr.aria-label]="invitedByUser.name"
						>
							{{ invitedByUser.name }}
						</a>
						<span class="truncate text-sm leading-4 text-base-content/60 max-w-full"> The user who invited you </span>
					</div>
				</div>
			} @else {
				<h1 class="text-2xl font-bold" itemprop="name">Registration</h1>
			}
			<hr class="border-t border-base-300" />
			<!-- prettier-ignore -->
			<nav class="block w-full" appSignIn (appSignInBusy)="$event ? registrationForm.disable() : registrationForm.enable()"></nav>
			<hr class="border-t border-base-300" />
		</header>
		<div class="flex flex-col gap-4">
			<form
				class="flex flex-col gap-4"
				itemscope
				itemtype="http://schema.org/RegisterAction"
				[formGroup]="registrationForm"
				(ngSubmit)="onSubmitRegistrationForm()"
			>
				@if (registrationForm.get("name"); as name) {
					<fieldset class="form-control">
						<label class="label" for="registrationFormName">
							<div class="indicator">
								@if (name.touched && !!name.errors && name.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="name"></div>
								}
								<span class="label-text mr-2">Name</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input-bordered input input-md w-full"
								id="registrationFormName"
								type="text"
								title="Name"
								aria-label="Name"
								autocomplete="username"
								formControlName="name"
								placeholder="Type your name"
								appInputTrimWhitespace
								[class.input-success]="name.value && name.valid"
								[class.input-error]="name.touched && name.invalid"
							/>
							@if (name.value) {
								<button
									class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
									type="button"
									title="Clear input"
									aria-label="Clear input"
									appSvgIcon
									[class.btn-success]="name.valid"
									[class.btn-error]="name.touched && name.invalid"
									[class.btn-ghost]="name.untouched && name.invalid"
									[disabled]="name.disabled"
									[appSvgIconIcon]="'x'"
									[appSvgIconSquare]="'2em'"
									(click)="name.setValue('')"
								></button>
							}
						</div>
					</fieldset>
				}
				@if (registrationForm.get("email"); as email) {
					<fieldset class="form-control">
						<label class="label" for="registrationFormEmail">
							<div class="indicator">
								@if (email.touched && !!email.errors && email.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="email"></div>
								}
								<span class="label-text mr-2">Email</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input-bordered input input-md w-full"
								id="registrationFormEmail"
								type="email"
								title="Email"
								aria-label="Email"
								inputmode="email"
								autocomplete="username"
								formControlName="email"
								placeholder="Type your email"
								appInputTrimWhitespace
								[class.input-success]="email.value && email.valid"
								[class.input-error]="email.touched && email.invalid"
							/>
							@if (email.value) {
								<button
									class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
									type="button"
									title="Clear input"
									aria-label="Clear input"
									appSvgIcon
									[class.btn-success]="email.valid"
									[class.btn-error]="email.touched && email.invalid"
									[class.btn-ghost]="email.untouched && email.invalid"
									[disabled]="email.disabled"
									[appSvgIconIcon]="'x'"
									[appSvgIconSquare]="'2em'"
									(click)="email.setValue('')"
								></button>
							}
						</div>
					</fieldset>
				}
				@if (registrationForm.get("password"); as password) {
					<fieldset class="form-control">
						<label class="label" for="registrationFormPassword">
							<div class="indicator">
								@if (password.touched && !!password.errors && password.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="password"></div>
								}
								<span class="label-text mr-2">Password</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input-bordered input input-md w-full"
								id="registrationFormPassword"
								type="password"
								title="Password"
								aria-label="Password"
								autocomplete="current-password"
								formControlName="password"
								placeholder="Type your password"
								appInputTrimWhitespace
								#registrationFormPasswordElement
								[class.input-success]="password.value && password.valid"
								[class.input-error]="password.touched && password.invalid"
							/>
							@if (password.value) {
								<!-- prettier-ignore -->
								<button
									class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
									type="button"
									title="Show password"
									aria-label="Show password"
									appSvgIcon
									[class.btn-success]="password.valid"
									[class.btn-error]="password.touched && password.invalid"
									[class.btn-ghost]="password.untouched && password.invalid"
									[disabled]="password.disabled"
                  [appSvgIconIcon]="registrationFormPasswordElement.type === 'text' ? 'eye-slash' : 'eye'"
									[appSvgIconSquare]="'1.5em'"
                  (click)="registrationFormPasswordElement.type = registrationFormPasswordElement.type === 'text' ? 'password' : 'text'"
								></button>
							}
						</div>
					</fieldset>
				}
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block">
						The password must be 6-32 characters long, must contain at least one number or special character
					</span>
				</p>
				@if (registrationForm.get("terms"); as terms) {
					<fieldset class="form-control">
						<label class="label cursor-pointer justify-start w-fit gap-4" for="registrationFormTerms">
							<input
								class="checkbox checkbox-md"
								id="registrationFormTerms"
								type="checkbox"
								title="Terms of Service"
								aria-label="Terms of Service"
								formControlName="terms"
								[class.checkbox-success]="terms.valid"
								[class.checkbox-error]="terms.invalid"
							/>
							<!-- prettier-ignore -->
							<span class="label-text inline" itemscope itemtype="http://schema.org/SiteNavigationElement"> I have read and agree to the <a class="link inline-block" target="_blank" itemprop="url" [routerLink]="['/terms/terms-of-service']"> <span itemprop="name">Terms of Service</span> </a> and <a class="link inline-block" target="_blank" itemprop="url" [routerLink]="['/terms/cookie-policy']"> <span itemprop="name">Cookie Policy</span> </a></span>
						</label>
					</fieldset>
				}
				<fieldset class="form-control">
					<button
						class="btn-success btn w-full"
						type="submit"
						title="Registration"
						aria-label="Registration"
						itemprop="target"
						[disabled]="registrationForm.invalid || registrationForm.disabled"
					>
						@if (registrationForm.disabled) {
							<span class="loading loading-spinner"></span>
						}
						Registration
					</button>
				</fieldset>
			</form>
			<div class="block" itemscope itemtype="http://schema.org/SiteNavigationElement">
				<a
					class="btn-primary btn w-full"
					title="Login"
					aria-label="Login"
					itemprop="url"
					[routerLink]="registrationForm.enabled ? '/login' : null"
					[class.btn-outline]="registrationForm.enabled"
					[class.btn-disabled]="registrationForm.disabled"
				>
					<span class="block" itemprop="name">Login</span>
				</a>
			</div>
		</div>
	</section>
</ng-container>
