<!-- @format -->

<ng-container>
	<div
		class="rounded-box flex flex-col space-y-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
	>
		<div class="flex flex-col space-y-4">
			<h1 class="text-2xl font-bold">Authorization</h1>
			<nav class="border-y border-base-content/20 py-4" appOauth></nav>
		</div>
		<div class="flex flex-col space-y-4">
			<form
				class="flex flex-col gap-4"
				autocomplete="off"
				[formGroup]="passwordForm"
				(ngSubmit)="onSubmitPasswordForm()"
			>
				<p class="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appIcon]="'info-circle'"
						[appSquare]="'1.5em'"
					></i>
					<span class="block">Resetting email will terminate all sessions</span>
				</p>
				<fieldset
					class="form-control"
					*ngIf="passwordForm.get('password') as password"
				>
					<label class="label" for="passwordFormPassword">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngIf="password.touched && !!password.errors && passwordForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!password.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!password.errors.pattern">
                  Password does not match pattern
                </ng-container>
              </span>
							<span class="label-text mr-2">New password</span>
						</div>
					</label>
					<div class="relative" *ngIf="{ value: false } as isVisible">
						<input
							class="input-bordered input input-md w-full truncate pr-12"
							id="passwordFormPassword"
							aria-label="Password"
							formControlName="password"
							autocomplete="new-password"
							placeholder="Type your new password"
							appInputTrimWhitespace
							[type]="isVisible.value ? 'text' : 'password'"
							[class.input-success]="password.value && password.valid"
							[class.input-error]="password.touched && password.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Password"
							appSvgIcon
							*ngIf="!!password.value.length"
							[class.btn-success]="password.valid"
							[class.btn-error]="password.touched && password.invalid"
							[class.btn-ghost]="password.untouched && password.invalid"
							[disabled]="passwordForm.disabled"
							[appIcon]="'incognito'"
							[appSquare]="'1.5em'"
							(touchstart)="isVisible.value = !isVisible.value"
							(mouseenter)="isVisible.value = true"
							(mouseleave)="isVisible.value = false"
						></button>
					</div>
				</fieldset>
				<p class="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appIcon]="'info-circle'"
						[appSquare]="'1.5em'"
					></i>
					<span class="block">
						The password must be 6-32 characters long, must contain at least one
						number or special character
					</span>
				</p>
				<fieldset class="form-control">
					<button
						class="btn-success btn w-full"
						type="submit"
						aria-label="Submit"
						[disabled]="passwordForm.invalid || passwordForm.disabled"
					>
						Submit
					</button>
				</fieldset>
			</form>
			<a
				class="btn-primary btn-outline btn w-full"
				aria-label="Login"
				[routerLink]="'/login'"
			>
				Login
			</a>
		</div>
	</div>
</ng-container>
