<section class="bg-primary-3 flex flex-col space-y-4 border border-primary-4 rounded-md w-full p-4">
  <form
    class="flex flex-col space-y-4 space-y-reverse border-b border-primary-4"
    [formGroup]="colorThemeForm"
    autocomplete="off">
    <div class="text-secondary-1">Color theme</div>
    <div class="text-secondary-2 text-sm">The user might indicate this preference through an operating system setting (e.g. light or dark mode) or a browser settings</div>
    <ul
      class="flex items-center border border-primary-4 rounded-md divide-x divide-primary-4 overflow-hidden"
      *ngIf="colorThemeForm.get('theme') as themeControl">
      <li class="block w-full" *ngFor="let theme of ['auto', 'dark', 'light']; let odd = odd">
        <fieldset class="text-secondary-1 group">
          <label
            class="flex justify-center cursor-pointer relative py-2 px-3"
            *ngIf="{ value: themeControl.value === theme } as active">
            <app-svg-icon
              class="relative z-50 flex items-center justify-center fill-current"
              [class.text-warning-1]="active.value"
              [appIcon]="(theme === 'dark' ? 'moon' : 'sun').concat(active.value ? '-fill' : '')"
              *ngIf="theme !== 'auto'">
            </app-svg-icon>
            <input type="radio" class="hidden" formControlName="theme" [value]="theme" [attr.aria-label]="theme" />
            <span
              class="text-sm z-10"
              [class.text-info-1]="active.value"
              *ngIf="theme === 'auto'">Auto detect
            </span>
            <ng-container *ngIf="(active.value ? 'opacity-25' : 'opacity-0') as classList">
              <div class="absolute inset-0 bg-primary-4 group-hover:opacity-25" [ngClass]="classList"></div>
            </ng-container>
          </label>
        </fieldset>
      </li>
    </ul>
  </form>
  <form
    class="flex flex-col "
    [formGroup]="additionalSearchForm"
    autocomplete="off">
    <div class="text-secondary-1">Additional search</div>
    <div class="text-secondary-2 text-sm mb-4">Adds extra search on the search page in a separate spoiler at the bottom of the page</div>
    <div class="border border-primary-4 rounded-md px-4">
      <ng-container *ngFor="let search of ['users', 'categories']; let odd = odd">
        <div class="flex items-center justify-between py-4" [ngClass]="{ 'border-b border-primary-4': !odd }">
          <div class="text-secondary-1 capitalize">{{search}}</div>
          <fieldset class="form-control-toggle" *ngIf="additionalSearchForm.get(search) as searchControl">
            <label [for]="search" class="relative flex items-center justify-between cursor-pointer w-full">
              <input [id]="search" type="checkbox" class="hidden" [formControlName]="search" [attr.aria-label]="search" />
              <ng-container *ngIf="(searchControl.value ? 'bg-success-1' : 'bg-primary-4 opacity-50') as classList">
                <div class="block w-11 h-6 rounded-full" [ngClass]="classList"></div>
              </ng-container>
              <div class="dot absolute left-0.5 top-0.5 w-5 h-5 bg-primary-3 rounded-full"></div>
            </label>
          </fieldset>
        </div>
      </ng-container>
    </div>
  </form>
</section>
