<!-- @format -->

<ng-container>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#postDeleteImageDialogElement
		(keydown.escape)="$event.preventDefault(); postDeleteImageDialogElement.close()"
		(close)="onTogglePostDeleteImageDialog(false)"
		(click)="$event.target === $event.currentTarget ? postDeleteImageDialogElement.close() : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-xs"
			appWindow
			[appWindowTitle]="'Delete'"
			(appWindowClose)="onTogglePostDeleteImageDialog(false)"
		>
			<div class="flex flex-col gap-4 p-4" slot="content">
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block">
						Are you sure you want to <span class="inline font-bold"> delete post image? </span>
					</span>
				</p>
				<div class="grid grid-cols-2 items-center justify-between gap-4">
					<button
						class="col-span-1 btn-error btn uppercase"
						type="button"
						aria-label="Yes"
						[disabled]="postDeleteImageIsSubmitted"
						(click)="onSubmitPostDeleteImage()"
					>
						<span class="loading loading-spinner" *ngIf="postDeleteImageIsSubmitted"></span>
						Yes
					</button>
					<button
						class="col-span-1 btn-success btn uppercase"
						type="button"
						aria-label="No"
						[disabled]="postDeleteImageIsSubmitted"
						(click)="onTogglePostDeleteImageDialog(false)"
					>
						No
					</button>
				</div>
			</div>
		</div>
	</dialog>
</ng-container>
