<section class="grid grid-cols-1 gap-4 max-w-128 lg:max-w-256 mx-auto p-4">
  <h1 class="text-2xl">UI elements</h1>
  <details class="flex flex-col space-y-4" *ngIf="{ value: false } as toggle" (toggle)="toggle.value = !toggle.value">
    <summary class="bg-primary-2 list-none">
      <div class="flex items-center space-x-2 bg-primary-3 text-secondary-1 border border-primary-4 rounded-md cursor-pointer px-2 py-2">
        <i class="fill-current text-secondary-1" appSvgIcon [appIcon]="toggle.value ? 'dash' : 'plus'"></i>
        <span class="block">Color</span>
      </div>
    </summary>
    <div class="flex flex-col space-y-4 bg-primary-3 border border-primary-4 rounded-md p-4">
      <ul class="flex flex-wrap gap-4">
        <li class="flex" *ngFor="let color of colorList">
          <figure class="flex flex-col items-start justify-start space-y-2">
            <div class="border border-primary-4 rounded-md w-20 h-10" [ngClass]="'bg-' + color"></div>
            <figcaption class="block text-secondary-1 text-sm">{{color}}</figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </details>
  <details class="flex flex-col space-y-4" *ngIf="{ value: false } as toggle" (toggle)="toggle.value = !toggle.value">
    <summary class="bg-primary-2 list-none">
      <div class="flex items-center space-x-2 bg-primary-3 text-secondary-1 border border-primary-4 rounded-md cursor-pointer px-2 py-2">
        <i class="fill-current text-secondary-1" appSvgIcon [appIcon]="toggle.value ? 'dash' : 'plus'"></i>
        <span class="block">Typography</span>
      </div>
    </summary>
    <div class="flex flex-col space-y-4 bg-primary-3 border border-primary-4 rounded-md p-4">
      <ul class="flex flex-col gap-4">
        <li class="flex" *ngFor="let typography of typographyList; let i = index" [ngClass]="typography">{{'H' + (i + 1)}} Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
  </details>
  <details class="flex flex-col space-y-4" *ngIf="{ value: false } as toggle" (toggle)="toggle.value = !toggle.value">
    <summary class="bg-primary-2 list-none">
      <div class="flex items-center space-x-2 bg-primary-3 text-secondary-1 border border-primary-4 rounded-md cursor-pointer px-2 py-2">
        <i class="fill-current text-secondary-1" appSvgIcon [appIcon]="toggle.value ? 'dash' : 'plus'"></i>
        <span class="block">Button</span>
      </div>
    </summary>
    <div class="flex flex-col space-y-4 bg-primary-3 border border-primary-4 rounded-md p-4">
      <ul class="flex flex-wrap gap-4">
        <li class="flex" *ngFor="let button of buttonList">
          <button class="btn md" [ngClass]="'btn-' + button" type="button">{{button}}</button>
        </li>
      </ul>
      <ul class="flex flex-wrap gap-4">
        <li class="flex" *ngFor="let button of buttonList">
          <button class="btn sm" [ngClass]="'btn-' + button" type="button">{{button}}</button>
        </li>
      </ul>
    </div>
  </details>
  <details class="flex flex-col space-y-4" *ngIf="{ value: false } as toggle" (toggle)="toggle.value = !toggle.value">
    <summary class="bg-primary-2 list-none">
      <div class="flex items-center space-x-2 bg-primary-3 text-secondary-1 border border-primary-4 rounded-md cursor-pointer px-2 py-2">
        <i class="fill-current text-secondary-1" appSvgIcon [appIcon]="toggle.value ? 'dash' : 'plus'"></i>
        <span class="block">Input</span>
      </div>
    </summary>
    <div class="flex flex-col space-y-4 bg-primary-3 border border-primary-4 rounded-md p-4">
      <form [formGroup]="inputForm">
        <ul class="flex flex-wrap gap-4 w-full">
          <li class="flex md:max-w-64 w-full">
            <fieldset class="flex flex-col space-y-2 w-full" *ngIf="inputForm.get('email') as email">
              <label class="block text-secondary-2 text-sm" for="email">Email</label>
              <input
                id="email"
                type="email"
                class="form-control bg-primary-2 truncate"
                formControlName="email"
                placeholder="Email"
                aria-label="Email">
              <label class="block text-sm text-danger-1" for="email" *ngIf="email.touched && email.errors" [ngSwitch]="true">
                <ng-container *ngSwitchCase="!!email.errors.required">Required</ng-container>
                <ng-container *ngSwitchCase="!!email.errors.email">Email must be a real email address</ng-container>
              </label>
              <label class="block text-sm text-secondary-2" for="email">Email is required</label>
            </fieldset>
          </li>
          <li class="flex md:max-w-64 w-full">
            <fieldset class="flex flex-col space-y-2 w-full" *ngIf="inputForm.get('password') as password">
              <label class="block text-secondary-2 text-sm" for="password">Password</label>
              <div class="relative" *ngIf="{ value: false } as isVisible">
                <input
                  id="password"
                  [type]="isVisible.value ? 'text' : 'password'"
                  class="form-control bg-primary-2 pr-10"
                  formControlName="password"
                  placeholder="Password"
                  aria-label="Password">
                <div
                  class="absolute top-0 right-0 fill-current text-secondary-2 opacity-50 cursor-pointer p-2.5"
                  (touchstart)="isVisible.value = !isVisible.value"
                  (mouseenter)="isVisible.value = true"
                  (mouseleave)="isVisible.value = false"
                  appSvgIcon
                  [appIcon]="isVisible.value ? 'eye' : 'eye-slash'"
                  [appSquare]="'1.35rem'">
                </div>
              </div>
              <label class="block text-sm text-danger-1" *ngIf="password.touched && password.errors" [ngSwitch]="true">
                <ng-container *ngSwitchCase="!!password.errors.required">Required</ng-container>
                <ng-container *ngSwitchCase="!!password.errors.pattern">Password does not match pattern</ng-container>
              </label>
              <label class="block text-secondary-2 text-sm" for="password">The password must contain at least one number</label>
            </fieldset>
          </li>
          <li class="flex md:max-w-64 w-full">
            <fieldset class="flex flex-col space-y-2 w-full" *ngIf="inputForm.get('query') as query">
              <label class="block text-secondary-2 text-sm" for="search">Search</label>
              <div class="relative">
                <input
                  id="search"
                  type="text"
                  class="form-control bg-primary-2 truncate pr-10"
                  formControlName="query"
                  placeholder="Search"
                  aria-label="Search">
                <button
                  class="absolute top-0 right-0 fill-current opacity-50 hover:opacity-100 text-secondary-2 opacity-50 hover:text-danger-1 p-2"
                  type="button"
                  *ngIf="query.value.length"
                  aria-label="Clear"
                  appSvgIcon
                  [appIcon]="'x'"
                  [appSquare]="'1.6rem'"
                  (click)="query.setValue('')">
                </button>
              </div>
              <label class="block text-sm text-danger-1" *ngIf="query.touched && query.errors" [ngSwitch]="true">
                <ng-container *ngSwitchCase="!!query.errors.minlength">Min length {{query.errors.minlength['requiredLength']}} characters</ng-container>
              </label>
              <label class="block text-sm text-secondary-2" for="search">Not required field</label>
            </fieldset>
          </li>
        </ul>
      </form>
    </div>
  </details>
</section>
