<!-- @format -->

<ng-container>
	<!-- https://schema.org/WebPage -->
	<section
		class="relative z-10 mx-auto grid min-h-screen w-full max-w-5xl grid-flow-row auto-rows-max grid-cols-1 grid-rows-none gap-4 p-4"
		itemscope
		itemtype="http://schema.org/WebPage"
	>
		<header appHeader></header>
		<div class="block">
			<router-outlet></router-outlet>
		</div>
	</section>
	<div class="relative" appSnackbar></div>
	<div class="relative" appScrollToTop></div>
	<div class="relative" appCookies></div>
</ng-container>
