<!-- @format -->

<ng-container>
	<div
		class="rounded-box flex flex-col gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
	>
		<div class="flex flex-col gap-4">
			<h1 class="text-2xl font-bold">Authorization</h1>
			<nav class="border-y border-base-content/20 py-4" appOauth></nav>
		</div>
		<div class="flex flex-col gap-4">
			<form class="flex flex-col gap-4" [formGroup]="resetForm" (ngSubmit)="onSubmitResetForm()">
				<p class="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appIcon]="'info-circle'"
						[appSquare]="'1.5em'"
					></i>
					<span class="block"> We will send you an email with further instructions. </span>
				</p>
				<fieldset class="form-control" *ngIf="resetForm.get('email') as email">
					<label class="label" for="resetFormEmail">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge badge-error indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngIf="email.touched && !!email.errors && resetForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!email.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!email.errors.email">
                  Email must be a real email address
                </ng-container>
              </span>
							<span class="label-text mr-2">Email</span>
						</div>
					</label>
					<div class="relative">
						<input
							class="input-bordered input input-md w-full truncate pr-12"
							id="resetFormEmail"
							type="email"
							aria-label="Email"
							autocomplete="username"
							formControlName="email"
							placeholder="Type your email"
							appInputTrimWhitespace
							[class.input-success]="email.value && email.valid"
							[class.input-error]="email.touched && email.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!email.value.length"
							[class.btn-success]="email.valid"
							[class.btn-error]="email.touched && email.invalid"
							[class.btn-ghost]="email.untouched && email.invalid"
							[disabled]="resetForm.disabled"
							[appIcon]="'x'"
							[appSquare]="'2em'"
							(click)="email.setValue('')"
						></button>
					</div>
				</fieldset>
				<fieldset class="form-control">
					<button
						class="btn-success btn w-full"
						type="submit"
						aria-label="Reset"
						[disabled]="resetForm.invalid || resetForm.disabled"
					>
						<span class="loading loading-spinner" *ngIf="resetForm.disabled"></span>
						Reset
					</button>
				</fieldset>
			</form>
			<a class="btn-primary btn-outline btn w-full" aria-label="Login" [routerLink]="'/login'">
				Login
			</a>
		</div>
	</div>
</ng-container>
