<!-- @format -->

<ng-container>
	<div class="rounded-box flex flex-col gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl">
		<div class="flex flex-col gap-4">
			<h1 class="text-2xl font-bold">Password reset</h1>
			<hr class="border-t border-base-content/20" />
		</div>
		<div class="flex flex-col gap-4">
			<form class="flex flex-col gap-4" [formGroup]="resetForm" (ngSubmit)="onSubmitResetForm()">
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block"> You will receive an email with further instructions </span>
				</p>
				@if (resetForm.get("email"); as email) {
					<fieldset class="form-control">
						<label class="label" for="resetFormEmail">
							<div class="indicator">
								@if (email.touched && !!email.errors && resetForm.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="email"></div>
								}
								<span class="label-text mr-2">Email</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input-bordered input input-md w-full"
								id="resetFormEmail"
								type="email"
								title="Email"
								aria-label="Email"
								inputmode="email"
								enterkeyhint="done"
								autocomplete="username"
								formControlName="email"
								placeholder="Type your email"
								appInputTrimWhitespace
								[class.input-success]="email.value && email.valid"
								[class.input-error]="email.touched && email.invalid"
							/>
							@if (email.value) {
								<button
									class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
									type="button"
									title="Clear input"
									aria-label="Clear input"
									appSvgIcon
									[class.btn-success]="email.valid"
									[class.btn-error]="email.touched && email.invalid"
									[class.btn-ghost]="email.untouched && email.invalid"
									[disabled]="resetForm.disabled"
									[appSvgIconIcon]="'x'"
									[appSvgIconSquare]="'2em'"
									(click)="email.setValue('')"
								></button>
							}
						</div>
					</fieldset>
				}
				<fieldset class="form-control">
					<button
						class="btn-success btn btn-md w-full"
						type="submit"
						title="Submit"
						aria-label="Submit"
						[disabled]="resetForm.invalid || resetForm.disabled"
					>
						@if (resetForm.disabled) {
							<span class="loading loading-spinner"></span>
						}
						Submit
					</button>
				</fieldset>
			</form>
			<a
				class="btn-primary btn w-full"
				title="Login"
				aria-label="Login"
				[routerLink]="resetForm.enabled ? '/login' : null"
				[ngClass]="{ 'btn-outline': resetForm.enabled, 'btn-disabled': resetForm.disabled }"
			>
				Login
			</a>
		</div>
	</div>
</ng-container>
