<!-- @format -->

<ng-container>
	<section class="flex flex-col space-y-4 md:space-y-8">
		<header
			class="rounded-box flex flex-col items-start justify-start gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
		>
			<div class="flex w-full flex-col items-stretch justify-between gap-4">
				<h1 class="block truncate text-2xl font-bold text-base-content">Additional Information</h1>
				<hr class="my-0 border-base-content/20" />
				<p class="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appIcon]="'info-circle'"
						[appSquare]="'1.5em'"
					></i>
					<span class="block">
						By accessing and using this website, you agree to comply with and be bound by the
						following terms and conditions of use. Please read these terms carefully before using
						our website.
					</span>
				</p>
			</div>
		</header>
		<div class="flex flex-col">
			<nav class="block px-4">
				<ul class="tabs w-full translate-y-px flex-nowrap space-x-1 overflow-auto rounded-t-lg">
					<li
						class="tab tab-lifted tab-lg h-10"
						*ngFor="let term of termsNavigationList"
						[ngClass]="routerLinkActive.isActive ? 'tab-active !h-12' : 'bg-base-200'"
					>
						<a
							class="flex h-full items-center justify-center whitespace-nowrap px-4"
							appScrollPreset
							#routerLinkActive="routerLinkActive"
							[appScrollActive]="routerLinkActive.isActive"
							[routerLink]="['../', term.path]"
							[routerLinkActive]="''"
							[attr.aria-label]="term.name"
						>
							<span class="block truncate max-w-[192px]">{{ term.name }}</span>
						</a>
					</li>
				</ul>
			</nav>
			<div class="rounded-box border border-base-content/20 bg-base-100 p-4 shadow-xl">
				<div class="rounded-box bg-base-200 p-4">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</section>
</ng-container>
