<!-- @format -->

<ng-container>
	<article
		class="rounded-box flex h-full w-full flex-col overflow-hidden border border-base-content/20 bg-base-100 shadow-xl"
	>
		@if (post.image) {
			<figure class="block">
				<a
					class="relative block aspect-square"
					appSkeleton
					[appSkeletonToggle]="postSkeletonToggle"
					[appSkeletonClassList]="['!rounded-none']"
					[routerLink]="postRouterLink"
					[queryParamsHandling]="'preserve'"
					[title]="post.name"
					[attr.aria-label]="post.name"
				>
					<img
						class="object-cover object-center bg-base-300"
						[fill]="true"
						[priority]="postImagePriority"
						[ngSrc]="post.image | firebaseStorage"
						[alt]="post.name"
					/>
				</a>
			</figure>
		}
		<div class="flex h-full w-full flex-col items-start gap-2 p-4">
			@if (!post.image) {
				@if ((post.createdAt | dayjs: "diff" : "day") === 0) {
					<div class="flex" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
						<span class="badge badge-secondary badge-sm"> New </span>
					</div>
				} @else if ((post.updatedAt | dayjs: "diff" : "day") === 0) {
					<div class="flex" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
						<span class="badge badge-warning badge-sm"> Updated </span>
					</div>
				}
				@if ((post.createdAt | dayjs: "diff" : "year") !== 0) {
					<div class="flex" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
						<span class="badge badge-ghost badge-sm"> Outdated </span>
					</div>
				}
			}
			<a
				class="link link-hover text-base-content text-base font-bold text-ellipsis max-w-full"
				appSkeleton
				[appSkeletonToggle]="postSkeletonToggle"
				[routerLink]="postRouterLink"
				[queryParamsHandling]="'preserve'"
				[title]="post.name"
				[attr.aria-label]="post.name"
			>
				@if (post._highlightResult?.name) {
					<span class="block" [innerHTML]="post._highlightResult.name.value"></span>
				} @else {
					<span class="line-clamp-2 sm:line-clamp-none">{{ post.name }}</span>
				}
			</a>
			<p class="text-base-content text-sm" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
				@if (post._highlightResult?.description) {
					<span class="block" [innerHTML]="post._highlightResult.description.value"></span>
				} @else {
					<span class="line-clamp-3 sm:line-clamp-5">{{ post.description }}</span>
				}
			</p>
			@switch (postType) {
				@case ("test") {
					<div class="flex items-center justify-between gap-2 text-base-content/50 w-full">
						<div class="flex items-center justify-start gap-2" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
							<div class="flex items-center justify-start gap-1">
								<i class="fill-current" appSvgIcon [appSvgIconIcon]="'bookmark'" [appSvgIconSquare]="'0.75em'"></i>
								<span class="text-xs"> 11 </span>
							</div>
							<div class="flex items-center justify-start gap-1">
								<i class="fill-current" appSvgIcon [appSvgIconIcon]="'eye'" [appSvgIconSquare]="'0.75em'"></i>
								<span class="text-xs"> 11 </span>
							</div>
						</div>
						<div class="flex items-center justify-end gap-2" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
							<time
								class="text-xs text-base-content/50"
								appSkeleton
								[attr.datetime]="post.createdAt | dayjs: 'format' : 'YYYY-M-D'"
								[appSkeletonToggle]="postSkeletonToggle"
							>
								{{ post.createdAt | dayjs: "fromNow" }}
							</time>
						</div>
					</div>
				}
				@default {
					<time
						class="text-xs text-base-content/50"
						appSkeleton
						[attr.datetime]="post.createdAt | dayjs: 'format' : 'YYYY-M-D'"
						[appSkeletonToggle]="postSkeletonToggle"
					>
						Published {{ post.createdAt | dayjs: "fromNow" }}
					</time>
				}
			}
		</div>
	</article>
</ng-container>
