<!-- @format -->

<ng-container>
	<article
		class="rounded-box flex h-full w-full flex-col overflow-hidden border border-base-content/20 bg-base-100 shadow-xl"
	>
		@if (post.image) {
			<figure class="block">
				<a
					class="relative block aspect-square"
					appSkeleton
					[appSkeletonToggle]="postSkeletonToggle"
					[appSkeletonClassList]="['!rounded-none']"
					[routerLink]="postRouterLink"
					[queryParamsHandling]="'preserve'"
					[title]="post.name"
					[attr.aria-label]="post.name"
				>
					<img
						class="object-cover object-center bg-base-300"
						[fill]="true"
						[priority]="postImagePriority"
						[ngSrc]="post.image | firebaseStorage"
						[alt]="post.name"
					/>
				</a>
			</figure>
		}
		<div class="flex h-full w-full flex-col items-start gap-2 p-4">
			<a
				class="link text-base-content text-base font-bold text-ellipsis max-w-full line-clamp-1 lg:line-clamp-2"
				appSkeleton
				[appSkeletonToggle]="postSkeletonToggle"
				[routerLink]="postRouterLink"
				[queryParamsHandling]="'preserve'"
				[title]="post.name"
				[attr.aria-label]="post.name"
			>
				{{ post.name }}
			</a>
			<p
				class="text-base-content text-ellipsis max-w-full line-clamp-2 lg:line-clamp-3"
				appSkeleton
				[appSkeletonToggle]="postSkeletonToggle"
			>
				{{ post.description }}
			</p>
			<time
				class="!mt-auto text-sm text-base-content/50"
				appSkeleton
				[attr.datetime]="post.createdAt | dayjs: 'format' : 'YYYY-M-D'"
				[appSkeletonToggle]="postSkeletonToggle"
			>
				{{ post.createdAt | dayjs: "fromX" }}
			</time>
		</div>
	</article>
</ng-container>
