<!-- @format -->

<ng-container>
	@if (!searchResponseIsOnePage) {
		@if (!searchResponseIsEndPage) {
			@switch (windowScrollPageInfinite) {
				@case (true) {
					<div class="flex items-center justify-center w-full min-h-24">
						<span class="loading loading-spinner loading-md text-base-content"></span>
					</div>
				}
				@case (false) {
					<button
						class="btn-md btn-success btn w-full"
						type="button"
						title="Load more"
						aria-label="Load more"
						[disabled]="isLoading"
						(click)="onLoadMore()"
					>
						@if (isLoading) {
							<span class="loading loading-spinner"></span>
						}
						Load more
					</button>
				}
			}
		} @else {
			<div class="block" appListMock [appListMockTemplate]="'load-more-is-end-page'"></div>
		}
	}
</ng-container>
