<!-- @format -->

<ng-container>
	<div class="rounded-box flex flex-col gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl">
		<div class="flex flex-col gap-4">
			<h1 class="text-2xl font-bold">Login</h1>
			<hr class="border-t border-base-content/20" />
			<nav class="block w-fit" appSignIn [appSignInDisabled]="loginForm.disabled"></nav>
			<hr class="border-t border-base-content/20" />
		</div>
		<div class="flex flex-col gap-4">
			<form class="flex flex-col gap-4" [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
				@if (loginForm.get("email"); as email) {
					<fieldset class="form-control">
						<label class="label" for="loginFormEmail">
							<div class="indicator">
								@if (email.touched && !!email.errors && loginForm.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="email"></div>
								}
								<span class="label-text mr-2">Email</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input-bordered input input-md w-full !pr-12"
								id="loginFormEmail"
								type="email"
								aria-label="Email"
								inputmode="email"
								autocomplete="username"
								formControlName="email"
								placeholder="Type your email"
								appInputTrimWhitespace
								[class.input-success]="email.value && email.valid"
								[class.input-error]="email.touched && email.invalid"
							/>
							@if (email.value) {
								<button
									class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
									type="button"
									aria-label="Clear"
									appSvgIcon
									[class.btn-success]="email.valid"
									[class.btn-error]="email.touched && email.invalid"
									[class.btn-ghost]="email.untouched && email.invalid"
									[disabled]="loginForm.disabled"
									[appSvgIconIcon]="'x'"
									[appSvgIconSquare]="'2em'"
									(click)="email.setValue('')"
								></button>
							}
						</div>
					</fieldset>
				}
				@if (loginForm.get("password"); as password) {
					<fieldset class="form-control">
						<label class="label" for="loginFormPassword">
							<div class="indicator">
								@if (password.touched && !!password.errors && loginForm.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="password"></div>
								}
								<span class="label-text mr-2">Password</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input-bordered input input-md w-full !pr-12"
								id="loginFormPassword"
								aria-label="Password"
								autocomplete="current-password"
								formControlName="password"
								placeholder="Type your password"
								appInputTrimWhitespace
								#loginFormPasswordElement
								[type]="'password'"
								[class.input-success]="password.value && password.valid"
								[class.input-error]="password.touched && password.invalid"
							/>
							@if (password.value) {
								<button
									class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
									type="button"
									title="Show password"
									aria-label="Show password"
									appSvgIcon
									appInputShowPassword
									[disabled]="loginForm.disabled"
									[class.btn-success]="password.valid"
									[class.btn-error]="password.touched && password.invalid"
									[class.btn-ghost]="password.untouched && password.invalid"
									[appSvgIconIcon]="'incognito'"
									[appSvgIconSquare]="'1.5em'"
									[appInputShowPasswordFormControl]="password"
									[appInputShowPasswordInputElement]="loginFormPasswordElement"
								></button>
							}
						</div>
						<div class="label">
							<a class="label-text-alt link" aria-label="Forgot password" [routerLink]="['../reset']">
								Forgot password?
							</a>
						</div>
					</fieldset>
				}
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<!-- prettier-ignore -->
					<span class="block"> By continuing, you agree to the <a class="link inline-block" target="_blank" [routerLink]="['/terms/terms-of-service']"> Terms of Service </a> and <a class="link inline-block" target="_blank" [routerLink]="['/terms/cookie-policy']"> Cookie Policy </a></span>
				</p>
				<fieldset class="form-control">
					<button
						class="btn-success btn w-full"
						type="submit"
						aria-label="Login"
						[disabled]="loginForm.invalid || loginForm.disabled"
					>
						@if (loginForm.disabled) {
							<span class="loading loading-spinner"></span>
						}
						Login
					</button>
				</fieldset>
			</form>
			<a
				class="btn-primary btn w-full"
				aria-label="Registration"
				[routerLink]="loginForm.enabled ? '/registration' : null"
				[ngClass]="{ 'btn-outline': loginForm.enabled, 'btn-disabled': loginForm.disabled }"
			>
				Registration
			</a>
		</div>
	</div>
</ng-container>
