<!-- @format -->

<ng-container>
	<section class="rounded-box flex flex-col gap-4 border border-base-300 bg-base-100 p-4 shadow-xl">
		<header class="flex flex-col gap-4">
			<h1 class="text-2xl font-bold" itemprop="name">Login</h1>
			<hr class="border-t border-base-300" />
			<!-- prettier-ignore -->
			<nav
        class="block w-full"
        appSignIn
        (appSignInBusy)="$event ? loginForm.disable() : loginForm.enable()"
      ></nav>
			<hr class="border-t border-base-300" />
		</header>
		<div class="flex flex-col gap-4">
			<form
				class="flex flex-col gap-4"
				itemscope
				itemtype="http://schema.org/Action"
				[formGroup]="loginForm"
				(ngSubmit)="onSubmitLoginForm()"
			>
				@if (loginForm.get("email"); as email) {
					<fieldset class="form-control">
						<label class="label" for="loginFormEmail">
							<div class="indicator">
								@if (email.touched && !!email.errors && loginForm.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="email"></div>
								}
								<span class="label-text mr-2">Email</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input-bordered input input-md w-full"
								id="loginFormEmail"
								type="email"
								title="Email"
								aria-label="Email"
								inputmode="email"
								autocomplete="username"
								formControlName="email"
								placeholder="Type your email"
								appInputTrimWhitespace
								[class.input-success]="email.value && email.valid"
								[class.input-error]="email.touched && email.invalid"
							/>
							@if (email.value) {
								<button
									class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
									type="button"
									title="Clear input"
									aria-label="Clear input"
									appSvgIcon
									[class.btn-success]="email.valid"
									[class.btn-error]="email.touched && email.invalid"
									[class.btn-ghost]="email.untouched && email.invalid"
									[disabled]="loginForm.disabled"
									[appSvgIconIcon]="'x'"
									[appSvgIconSquare]="'2em'"
									(click)="email.setValue('')"
								></button>
							}
						</div>
					</fieldset>
				}
				@if (loginForm.get("password"); as password) {
					<fieldset class="form-control">
						<label class="label" for="loginFormPassword">
							<div class="indicator">
								@if (password.touched && !!password.errors && loginForm.enabled) {
									<div class="block" appBadgeError [appBadgeErrorAbstractControl]="password"></div>
								}
								<span class="label-text mr-2">Password</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input-bordered input input-md w-full"
								id="loginFormPassword"
								type="password"
								title="Password"
								aria-label="Password"
								autocomplete="current-password"
								formControlName="password"
								placeholder="Type your password"
								appInputTrimWhitespace
								#loginFormPasswordElement
								[class.input-success]="password.value && password.valid"
								[class.input-error]="password.touched && password.invalid"
							/>
							@if (password.value) {
								<!-- prettier-ignore -->
								<button
									class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
									type="button"
									title="Show password"
									aria-label="Show password"
									appSvgIcon
									[disabled]="loginForm.disabled"
									[class.btn-success]="password.valid"
									[class.btn-error]="password.touched && password.invalid"
									[class.btn-ghost]="password.untouched && password.invalid"
									[appSvgIconIcon]="loginFormPasswordElement.type === 'text' ? 'eye-slash' : 'eye'"
									[appSvgIconSquare]="'1.5em'"
									(click)="loginFormPasswordElement.type = loginFormPasswordElement.type === 'text' ? 'password' : 'text'"
								></button>
							}
						</div>
						<div class="label" itemscope itemtype="http://schema.org/SiteNavigationElement">
							<a
								class="label-text-alt link"
								title="Forgot password"
								aria-label="Forgot password"
								itemprop="url"
								[routerLink]="['../reset']"
							>
								<span class="block" itemprop="name">Forgot password?</span>
							</a>
						</div>
					</fieldset>
				}
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<!-- prettier-ignore -->
					<span class="block" itemscope itemtype="http://schema.org/SiteNavigationElement"> By continuing, you agree to the <a class="link inline-block" target="_blank" itemprop="url" [routerLink]="['/terms/terms-of-service']"> <span itemprop="name">Terms of Service</span> </a> and <a class="link inline-block" target="_blank" itemprop="url" [routerLink]="['/terms/cookie-policy']"> <span itemprop="name">Cookie Policy</span> </a></span>
				</p>
				<fieldset class="form-control">
					<button
						class="btn-success btn w-full"
						type="submit"
						title="Login"
						aria-label="Login"
						itemprop="target"
						[disabled]="loginForm.invalid || loginForm.disabled"
					>
						@if (loginForm.disabled) {
							<span class="loading loading-spinner"></span>
						}
						Login
					</button>
				</fieldset>
			</form>
			<div class="block" itemscope itemtype="http://schema.org/SiteNavigationElement">
				<a
					class="btn-primary btn w-full"
					title="Registration"
					aria-label="Registration"
					itemprop="url"
					[routerLink]="loginForm.enabled ? '/registration' : null"
					[class.btn-outline]="loginForm.enabled"
					[class.btn-disabled]="loginForm.disabled"
				>
					<span class="block" itemprop="name">Registration</span>
				</a>
			</div>
		</div>
	</section>
</ng-container>
