<!-- @format -->

<ng-container>
	<div
		class="rounded-box flex flex-col gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
	>
		<div class="flex flex-col gap-4">
			<h1 class="text-2xl font-bold">Authorization</h1>
			<nav class="border-y border-base-content/20 py-4" appOauth></nav>
		</div>
		<div class="flex flex-col gap-4">
			<form class="flex flex-col gap-4" [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
				<fieldset class="form-control" *ngIf="loginForm.get('email') as email">
					<label class="label" for="loginFormEmail">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge badge-error indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngIf="email.touched && !!email.errors && loginForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!email.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!email.errors.email">
                  Email must be a real email address
                </ng-container>
              </span>
							<span class="label-text mr-2">Email</span>
						</div>
					</label>
					<div class="relative">
						<input
							class="input-bordered input input-md w-full truncate pr-12"
							id="loginFormEmail"
							type="email"
							aria-label="Email"
							autocomplete="username"
							formControlName="email"
							placeholder="Type your email"
							appInputTrimWhitespace
							[class.input-success]="email.value && email.valid"
							[class.input-error]="email.touched && email.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!email.value.length"
							[class.btn-success]="email.valid"
							[class.btn-error]="email.touched && email.invalid"
							[class.btn-ghost]="email.untouched && email.invalid"
							[disabled]="loginForm.disabled"
							[appSvgIconIcon]="'x'"
							[appSvgIconSquare]="'2em'"
							(click)="email.setValue('')"
						></button>
					</div>
				</fieldset>
				<fieldset class="form-control" *ngIf="loginForm.get('password') as password">
					<label class="label" for="loginFormPassword">
						<div class="indicator">
							<!-- prettier-ignore -->
							<span
                class="badge badge-error indicator-item w-max translate-x-full translate-y-0 text-xs"
                *ngIf="password.touched && !!password.errors && loginForm.enabled"
                [ngSwitch]="true"
              >
                <ng-container *ngSwitchCase="!!password.errors.required">
                  Required
                </ng-container>
                <ng-container *ngSwitchCase="!!password.errors.pattern">
                  Password does not match pattern
                </ng-container>
              </span>
							<span class="label-text mr-2">Password</span>
						</div>
					</label>
					<div class="relative" *ngIf="{ value: false } as isVisible">
						<input
							class="input-bordered input input-md w-full truncate pr-12"
							id="loginFormPassword"
							aria-label="Password"
							autocomplete="current-password"
							formControlName="password"
							placeholder="Type your password"
							appInputTrimWhitespace
							[type]="isVisible.value ? 'text' : 'password'"
							[class.input-success]="password.value && password.valid"
							[class.input-error]="password.touched && password.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Password"
							appSvgIcon
							*ngIf="!!password.value.length"
							[class.btn-success]="password.valid"
							[class.btn-error]="password.touched && password.invalid"
							[class.btn-ghost]="password.untouched && password.invalid"
							[disabled]="loginForm.disabled"
							[appSvgIconIcon]="'incognito'"
							[appSvgIconSquare]="'1.5em'"
							(touchstart)="isVisible.value = !isVisible.value"
							(mouseenter)="isVisible.value = true"
							(mouseleave)="isVisible.value = false"
						></button>
					</div>
					<label class="label" for="loginFormPassword">
						<a class="label-text-alt link" aria-label="Forgot password" [routerLink]="['../reset']">
							Forgot password?
						</a>
					</label>
				</fieldset>
				<p class="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block">
						The password must be 6-32 characters long, must contain at least one number or special
						character
					</span>
				</p>
				<fieldset class="form-control">
					<button
						class="btn-success btn w-full"
						type="submit"
						aria-label="Login"
						[disabled]="loginForm.invalid || loginForm.disabled"
					>
						<span class="loading loading-spinner" *ngIf="loginForm.disabled"></span>
						Login
					</button>
				</fieldset>
			</form>
			<a
				class="btn-primary btn-outline btn w-full"
				aria-label="Registration"
				[routerLink]="'/registration'"
			>
				Registration
			</a>
		</div>
	</div>
</ng-container>
