<!-- @format -->

<article class="card card-compact bg-base-100 shadow-xl w-full h-full">
	<figure *ngIf="post.image">
		<a
			[routerLink]="[postPath, post.id]"
			[queryParamsHandling]="'preserve'"
			[attr.aria-label]="post.title"
		>
			<img
				class="object-cover object-center"
				loading="lazy"
				[src]="post.image"
				[alt]="post.title"
			/>
		</a>
	</figure>
	<div class="card-body">
		<h2 class="card-title">
			<a
				class="link link-hover line-clamp-2"
				[routerLink]="[postPath, post.id]"
				[queryParamsHandling]="'preserve'"
				[attr.aria-label]="post.title"
			>
				{{ post.title }}
			</a>
		</h2>
		<p class="base-content line-clamp-4">{{ post.title }}</p>
		<div class="card-actions justify-start">
			<time
				class="base-content opacity-40 text-sm"
				[attr.datetime]="post.updatedAt"
			>
				{{ post.updatedAt | dayjs: "fromX" }}
			</time>
		</div>
	</div>
</article>
