<!-- @format -->

<article
	class="flex flex-col bg-base-100 border border-base-content/20 shadow-xl rounded-box overflow-hidden w-full h-full"
>
	<figure *ngIf="post.image">
		<a
			[routerLink]="[postPath, post.id]"
			[queryParamsHandling]="'preserve'"
			[attr.aria-label]="post.title"
		>
			<img
				class="object-cover object-center"
				loading="lazy"
				[src]="post.image"
				[alt]="post.title"
			/>
		</a>
	</figure>
	<div class="flex flex-col w-full h-full p-4">
		<a
			class="text-xl font-bold link link-hover line-clamp-2 mb-2"
			[routerLink]="[postPath, post.id]"
			[queryParamsHandling]="'preserve'"
			[attr.aria-label]="post.title"
		>
			{{ post.title }}
		</a>
		<p class="base-content line-clamp-4 mb-2">{{ post.description }}</p>
		<time
			class="base-content opacity-40 text-sm !mt-auto"
			[attr.datetime]="post.updatedAt"
		>
			{{ post.updatedAt | dayjs: "fromX" }}
		</time>
	</div>
</article>
