<!-- @format -->

<ng-container>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#categoryCreateDialogElement
		(keydown.escape)="$event.preventDefault(); categoryCreateDialogElement.close()"
		(close)="onToggleCategoryForm(false)"
		(click)="$event.target === $event.currentTarget ? categoryCreateDialogElement.close() : $event"
	>
		<div
			appWindow
			[appWindowTitle]="'Create'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onToggleCategoryForm(false)"
		>
			<form
				class="flex flex-col gap-4 p-4"
				autocomplete="off"
				slot="content"
				[formGroup]="categoryForm"
				(ngSubmit)="onSubmitCategoryForm()"
			>
				<p class="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block">You can change category information later</span>
				</p>
				<fieldset class="form-control" *ngIf="categoryForm.get('name') as name">
					<label class="label" for="categoryFormName">
						<div class="indicator">
							<span
								class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
								*ngIf="name.touched && !!name.errors && categoryForm.enabled"
								[ngSwitch]="true"
							>
								<ng-container *ngSwitchCase="!!name.errors.required"> Required </ng-container>
								<ng-container *ngSwitchCase="!!name.errors.minlength">
									Min length {{ name.errors.minlength["requiredLength"] }} characters
								</ng-container>
								<ng-container *ngSwitchCase="!!name.errors.maxlength">
									Max length {{ name.errors.maxlength["requiredLength"] }} characters
								</ng-container>
							</span>
							<span class="label-text mr-2">Name</span>
						</div>
					</label>
					<div class="relative">
						<input
							class="input-bordered input input-md w-full truncate pr-12"
							id="categoryFormName"
							type="text"
							aria-label="Name"
							formControlName="name"
							placeholder="Type category name"
							appInputTrimWhitespace
							[class.input-success]="name.value && name.valid"
							[class.input-error]="name.touched && name.invalid"
						/>
						<button
							class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
							type="button"
							aria-label="Clear"
							appSvgIcon
							*ngIf="!!name.value.length"
							[class.btn-success]="name.valid"
							[class.btn-error]="name.touched && name.invalid"
							[class.btn-ghost]="name.untouched && name.invalid"
							[disabled]="categoryForm.disabled"
							[appSvgIconIcon]="'x'"
							[appSvgIconSquare]="'2em'"
							(click)="name.setValue('')"
						></button>
					</div>
				</fieldset>
				<fieldset class="form-control" *ngIf="categoryForm.get('description') as description">
					<label class="label" for="categoryFormDescription">
						<div class="indicator">
							<span
								class="badge-error badge indicator-item w-max translate-x-full translate-y-0 text-xs"
								*ngIf="!!description.value && !!description.errors && categoryForm.enabled"
								[ngSwitch]="true"
							>
								<ng-container *ngSwitchCase="!!description.errors.maxlength">
									Max length {{ description.errors.maxlength["requiredLength"] }} characters
								</ng-container>
							</span>
							<span
								class="badge indicator-item w-max translate-x-full translate-y-0 text-xs"
								*ngIf="!description.errors"
								[class.badge-ghost]="!description.value"
								[class.badge-success]="!!description.value && categoryForm.enabled"
								[class.opacity-25]="categoryForm.disabled"
							>
								Optional
							</span>
							<span class="label-text mr-2">Description</span>
						</div>
						<span
							class="label-text-alt"
							[class.text-base-content]="categoryForm.disabled"
							[class.text-success]="categoryForm.enabled && description.value && description.valid"
							[class.text-error]="categoryForm.enabled && description.value && description.invalid"
						>
							{{ description.value?.length || 0 }}/255
						</span>
					</label>
					<!-- prettier-ignore -->
					<div
            class="textarea-autosize w-full"
            [ngClass]="{ 'border-base-content/20': categoryForm.enabled, 'border-transparent': categoryForm.disabled }"
            [class.textarea-autosize-success]="description.value && description.valid"
            [class.textarea-autosize-error]="description.value && description.invalid"
          >
            <textarea
              class="textarea textarea-md w-full max-h-64"
              id="categoryFormDescription"
              aria-label="Description"
              placeholder="Type category description"
              formControlName="description"
              appInputTrimWhitespace
              appTextareaResize
              [appToggleResize]="true"
              [rows]="4"
            >
              {{ description.value }}
            </textarea>
          </div>
				</fieldset>
				<fieldset class="form-control">
					<button
						class="btn-success btn w-full"
						type="submit"
						aria-label="Submit"
						[disabled]="categoryForm.invalid || categoryForm.disabled"
					>
						<span class="loading loading-spinner" *ngIf="categoryForm.disabled"></span>
						Submit
					</button>
				</fieldset>
			</form>
		</div>
	</dialog>
</ng-container>
