<!-- @format -->

<ng-container>
	<dialog
		class="modal"
		#postPreviewDialogElement
		(keydown.escape)="$event.preventDefault(); onTogglePostPreviewDialog(false)"
		(mousedown)="$event.target === $event.currentTarget ? onTogglePostPreviewDialog(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-2xl"
			appWindow
			[appWindowTitle]="'Preview'"
			[appWindowButtons]="['close', 'fullscreen']"
			(appWindowClose)="onTogglePostPreviewDialog(false)"
		>
			<main
				class="w-full h-full p-4"
				appPostProse
				slot="content"
				[appPostProsePost]="postPreview"
				[appPostProsePostType]="postType"
				[appPostProsePreview]="true"
				[appPostProsePostSkeletonToggle]="false"
			></main>
		</div>
	</dialog>
</ng-container>
