<!-- @format -->

<ng-container>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#postPreviewDialogElement
		(keydown.escape)="$event.preventDefault(); postPreviewDialogElement.close()"
		(close)="onTogglePostPreviewDialog(false)"
		(click)="$event.target === $event.currentTarget ? postPreviewDialogElement.close() : $event"
	>
		<div
			class="w-full max-w-2xl"
			appWindow
			[appWindowTitle]="'Preview'"
			[appWindowButtons]="['close', 'fullscreen']"
			(appWindowClose)="onTogglePostPreviewDialog(false)"
		>
			<main
				class="w-full h-full"
				appPostProse
				slot="content"
				[appPostProsePost]="postPreview"
				[appPostProsePreview]="true"
				[appPostProsePostSkeletonToggle]="false"
			></main>
		</div>
	</dialog>
</ng-container>
