<!-- @format -->

<ng-container>
	<section class="flex flex-col gap-4 md:gap-8">
		<header
			class="rounded-box flex flex-col items-start justify-start gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
		>
			<div class="flex w-full items-center justify-between gap-4">
				<div class="flex items-center justify-start gap-4 overflow-hidden">
					<div class="avatar" appSkeleton [appSkeletonToggle]="userSkeletonToggle">
						<figure
							class="h-12 w-12 rounded-btn relative overflow-hidden"
							appAvatar
							[appAvatarUser]="user"
						></figure>
					</div>
					<div class="flex flex-col gap-2 items-start w-full overflow-hidden">
						<h1
							class="truncate text-xl leading-6 font-bold text-base-content max-w-full"
							data-pw="app-user-heading-user-name"
							appSkeleton
							[appSkeletonToggle]="userSkeletonToggle"
						>
							{{ user.name }}
						</h1>
						<time
							class="truncate text-sm leading-4 text-base-content/50 max-w-full"
							appSkeleton
							[appSkeletonToggle]="userSkeletonToggle"
							[attr.datetime]="user.createdAt | dayjs: 'format' : 'YYYY-M-D'"
						>
							Registered {{ user.createdAt | dayjs: "fromX" }}
						</time>
					</div>
				</div>
				<div
					class="flex p-0"
					appDropdown
					appSkeleton
					[appSkeletonToggle]="userSkeletonToggle || currentUserSkeletonToggle"
					[appDropdownPosition]="'bottom-right'"
				>
					<button
						class="btn-ghost w-12 h-12 btn-square btn bg-base-200 fill-current p-3"
						type="button"
						title="Settings"
						aria-label="Settings"
						appSvgIcon
						slot="target"
						[appSvgIconIcon]="'three-dots-vertical'"
						[appSvgIconSquare]="'1.5em'"
					></button>
					<ul
						class="menu menu-vertical menu-md ml-0 mt-2 rounded-btn border border-base-content/20 bg-base-100 p-2 shadow before:hidden"
						slot="content"
					>
						<ng-container [ngSwitch]="currentUser?.id === user.id">
							<ng-container *ngSwitchCase="true">
								<li class="flex w-full snap-start scroll-my-2">
									<a
										class="rounded-btn block w-full truncate text-right"
										title="Settings"
										aria-label="Settings"
										[routerLink]="['/settings']"
									>
										Settings
									</a>
								</li>
								<li class="flex w-full snap-start scroll-my-2">
									<a
										class="rounded-btn block w-full truncate text-right"
										title="About"
										aria-label="About"
										[routerLink]="['/help/about']"
									>
										About
									</a>
								</li>
								<li class="flex w-full snap-start scroll-my-2 menu-title">
									<hr class="my-0 border-base-content/20" />
								</li>
								<li class="flex w-full snap-start scroll-my-2">
									<button
										class="rounded-btn block w-full truncate text-right"
										type="button"
										title="Logout"
										aria-label="Logout"
										(click)="onLogout()"
									>
										Logout
									</button>
								</li>
							</ng-container>
							<ng-container *ngSwitchCase="false">
								<li class="flex w-full snap-start scroll-my-2">
									<button
										class="rounded-btn block w-full truncate text-right"
										type="button"
										title="Complain"
										aria-label="Complain"
									>
										Complain
									</button>
								</li>
							</ng-container>
						</ng-container>
					</ul>
				</div>
			</div>
			<div
				class="w-full"
				appSkeleton
				*ngIf="!!user.description"
				[appSkeletonToggle]="userSkeletonToggle"
				[appSkeletonClassListParent]="['!rounded-box']"
				[appSkeletonClassList]="['!rounded-box']"
			>
				<article
					class="prose rounded-box w-full max-w-none overflow-auto bg-base-200 p-4"
					data-pw="app-user-heading-user-description"
					[innerHTML]="user.description | markdown | sanitizer: 'html'"
				></article>
			</div>
		</header>
		<div class="flex flex-col">
			<nav class="block px-4">
				<ul class="tabs w-full translate-y-px flex-nowrap gap-1 overflow-auto rounded-t-lg">
					<li
						class="tab tab-lifted tab-lg h-10"
						appSkeleton
						[appSkeletonToggle]="categoryListSkeletonToggle && !!category"
						[appSkeletonClassListParent]="['rounded-t-lg']"
						[appSkeletonClassList]="['rounded-b-none']"
						[ngClass]="!category ? 'tab-active !h-12' : 'bg-base-200'"
					>
						<a
							class="block whitespace-nowrap px-4"
							aria-label="All"
							[routerLink]="['.']"
							[queryParamsHandling]="'merge'"
						>
							All
						</a>
					</li>
					<li
						class="tab tab-lifted tab-lg h-10"
						appSkeleton
						*ngFor="let category of categoryList"
						[appSkeletonToggle]="categoryListSkeletonToggle"
						[appSkeletonClassListParent]="['rounded-t-lg']"
						[appSkeletonClassList]="['rounded-b-none']"
						[ngClass]="routerLinkActive.isActive && category ? 'tab-active !h-12' : 'bg-base-200'"
					>
						<a
							class="flex h-full items-center justify-center whitespace-nowrap px-4"
							appScrollPreset
							#routerLinkActive="routerLinkActive"
							[appScrollActive]="routerLinkActive.isActive"
							[routerLink]="['./category', category.id]"
							[queryParamsHandling]="'merge'"
							[routerLinkActive]="''"
							[attr.aria-label]="category.name"
						>
							<span class="block truncate max-w-[192px]">{{ category.name }}</span>
						</a>
					</li>
				</ul>
			</nav>
			<div
				class="rounded-box border border-base-content/20 bg-base-100 p-4 flex flex-col gap-4 shadow-xl"
			>
				<div class="flex w-full items-center justify-between gap-4">
					<!-- prettier-ignore -->
					<button
						class="btn-ghost w-12 h-12 btn-square btn bg-base-200 fill-current"
						type="button"
						title="Search"
						aria-label="Search"
						appSvgIcon
						appSkeleton
						[disabled]="postSearchForm.disabled && postSearchFormToggle"
						[appSkeletonToggle]="(categorySkeletonToggle || userPostComponent.abstractListSkeletonToggle) && !postSearchFormToggle"
						[appSkeletonClassListElementRef]="['border-0']"
						[appSvgIconIcon]="postSearchFormToggle ? 'x-lg' : 'search'"
						[appSvgIconSquare]="'1.5em'"
						(click)="onTogglePostSearchForm()"
					></button>
					<ng-container [ngSwitch]="postSearchFormToggle">
						<div
							class="flex items-center justify-start gap-4 overflow-hidden w-full"
							*ngSwitchCase="false"
						>
							<div
								class="flex flex-col gap-2 items-start overflow-hidden w-full"
								[ngSwitch]="!!category"
							>
								<ng-container *ngSwitchCase="true">
									<h2
										class="block truncate text-xl leading-6 font-bold text-base-content max-w-full"
										appSkeleton
										[appSkeletonToggle]="categorySkeletonToggle"
									>
										{{ category.name }}
									</h2>
									<time
										class="text-sm text-base-content/50 leading-4 truncate max-w-full"
										appSkeleton
										[appSkeletonToggle]="categorySkeletonToggle"
										[attr.datetime]="category.updatedAt | dayjs: 'format' : 'YYYY-M-D'"
									>
										Updated {{ category.updatedAt | dayjs: "fromX" }}
									</time>
								</ng-container>
								<ng-container *ngSwitchCase="false">
									<h2
										class="block truncate text-xl leading-6 font-bold text-base-content max-w-full"
										appSkeleton
										[appSkeletonToggle]="userPostComponent.abstractListSkeletonToggle"
									>
										All posts
									</h2>
									<span
										class="text-sm text-base-content/50 leading-4 truncate max-w-full"
										appSkeleton
										[appSkeletonToggle]="userPostComponent.abstractListSkeletonToggle"
									>
										Everything written by {{ user.name }}
									</span>
								</ng-container>
							</div>
							<!-- prettier-ignore -->
							<div
								class="flex p-0"
								appDropdown
								appSkeleton
								[appSkeletonToggle]="categorySkeletonToggle || currentUserSkeletonToggle || userPostComponent.abstractListSkeletonToggle"
								[appDropdownPosition]="'bottom-right'"
							>
								<button
									class="btn-ghost w-12 h-12 btn-square btn bg-base-200 fill-current p-3"
									type="button"
									title="Settings"
									aria-label="Settings"
									appSvgIcon
									slot="target"
									[appSvgIconIcon]="'three-dots-vertical'"
									[appSvgIconSquare]="'1.5em'"
								></button>
								<ul
									class="menu menu-vertical menu-md ml-0 mt-2 rounded-btn border border-base-content/20 bg-base-100 p-2 shadow before:hidden"
									slot="content"
								>
									<ng-container [ngSwitch]="currentUser?.id === user.id">
										<ng-container *ngSwitchCase="true">
											<li class="flex w-full snap-start scroll-my-2">
												<button
													class="rounded-btn block w-full truncate text-right"
													type="button"
													title="Create"
													aria-label="Create"
													(click)="appCategoryCreateComponent.onToggleCategoryForm(true)"
												>
													Create
												</button>
											</li>
											<ng-container *ngIf="!!category">
												<li class="flex w-full snap-start scroll-my-2">
													<button
														class="rounded-btn block w-full truncate text-right"
														type="button"
														title="Update"
														aria-label="Update"
														(click)="appCategoryUpdateComponent.onToggleCategoryUpdateForm(true)"
													>
														Update
													</button>
												</li>
												<li class="flex w-full snap-start scroll-my-2">
													<button
														class="rounded-btn block w-full truncate text-right"
														type="button"
														title="Delete"
														aria-label="Delete"
														(click)="appCategoryDeleteComponent.onToggleCategoryDeleteForm(true)"
													>
														Delete
													</button>
												</li>
											</ng-container>
										</ng-container>
										<ng-container *ngSwitchCase="false">
											<li class="flex w-full snap-start scroll-my-2">
												<button
													class="rounded-btn block w-full truncate text-right"
													type="button"
													title="Complain"
													aria-label="Complain"
												>
													Complain
												</button>
											</li>
										</ng-container>
									</ng-container>
								</ul>
							</div>
						</div>
						<form
							class="flex items-end justify-between gap-4 w-full"
							autocomplete="off"
							*ngSwitchCase="true"
							[formGroup]="postSearchForm"
						>
							<fieldset class="form-control flex-1" *ngIf="postSearchForm.get('query') as query">
								<div class="relative">
									<input
										class="input-bordered input input-md w-full truncate pr-12"
										id="searchFormSearch"
										type="search"
										aria-label="Search"
										formControlName="query"
										placeholder="Type search query"
										appInputTrimWhitespace
										[class.input-success]="query.value && query.valid"
										[class.input-error]="query.touched && query.invalid"
									/>
									<button
										class="btn-sm btn-circle btn absolute right-2 top-2 fill-current"
										type="button"
										aria-label="Clear query"
										appSvgIcon
										*ngIf="!!query.value.length"
										[class.btn-success]="query.valid"
										[class.btn-error]="query.touched && query.invalid"
										[class.btn-ghost]="query.untouched && query.invalid"
										[disabled]="postSearchForm.disabled"
										[appSvgIconIcon]="'x'"
										[appSvgIconSquare]="'2em'"
										(click)="query.setValue('')"
									></button>
								</div>
							</fieldset>
							<fieldset class="form-control" *ngIf="postSearchForm.get('orderBy') as orderBy">
								<div class="block" appDropdown [appDropdownPosition]="'bottom-right'">
									<div class="indicator" slot="target">
										<span
											class="indicator-item badge"
											*ngIf="orderBy.value"
											[class.badge-ghost]="postSearchForm.disabled"
											[class.badge-success]="postSearchForm.enabled"
										>
										</span>
										<button
											class="btn-success btn-outline btn-square btn fill-current p-3"
											type="button"
											title="Sorting"
											aria-label="Sorting"
											appSvgIcon
											[disabled]="postSearchForm.disabled"
											[class.btn-outline]="postSearchForm.enabled"
											[appSvgIconIcon]="'filter'"
											[appSvgIconSquare]="'1.75em'"
										></button>
									</div>
									<div
										class="menu menu-vertical menu-md mt-2 overflow-hidden rounded-btn border border-base-content/20 bg-base-100 p-0 shadow"
										slot="content"
									>
										<!-- prettier-ignore -->
										<ul class="flex max-h-76 flex-col overflow-y-auto p-2">
											<li
												class="flex w-full"
												*ngFor="let searchFormOrderBy of postSearchFormOrderByList"
											>
												<button
													class="rounded-btn block w-full truncate text-right first-letter:uppercase"
													type="button"
													[ngClass]="{ 'active': searchFormOrderBy === orderBy.value }"
													[attr.aria-label]="searchFormOrderBy"
													(click)="searchFormOrderBy === orderBy.value ? orderBy.reset() : orderBy.setValue(searchFormOrderBy)"
												>
													{{ searchFormOrderBy }}
												</button>
											</li>
										</ul>
									</div>
								</div>
							</fieldset>
						</form>
					</ng-container>
				</div>
				<div
					class="block"
					appSkeleton
					*ngIf="!!category && !!category.description"
					[appSkeletonToggle]="categorySkeletonToggle"
					[appSkeletonClassListParent]="['!rounded-box']"
					[appSkeletonClassList]="['!rounded-box']"
				>
					<article
						class="prose rounded-box w-full max-w-none overflow-auto bg-base-200 p-4"
						[innerHTML]="category.description | markdown | sanitizer: 'html'"
					></article>
				</div>
				<div class="block">
					<router-outlet
						(activate)="onRouterOutletActivate($event)"
						(deactivate)="userPostComponent = undefined"
					></router-outlet>
				</div>
			</div>
		</div>
	</section>
	<div
		appCategoryCreate
		#appCategoryCreateComponent
		(appCategoryCreateSuccess)="onCreateCategory($event)"
	></div>
	<div
		appCategoryUpdate
		#appCategoryUpdateComponent
		[appCategoryUpdateCategory]="category"
		[appCategoryUpdateCategoryList]="categoryList"
		(appCategoryUpdateSuccess)="onUpdateCategory($event)"
	></div>
	<div
		appCategoryDelete
		#appCategoryDeleteComponent
		[appCategoryDeleteCategory]="category"
		[appCategoryDeleteCategoryList]="categoryList"
		[appCategoryDeleteCategoryPostList]="userPostComponent.abstractList"
	></div>
</ng-container>
