<!-- @format -->

<ng-container>
	<div class="grid grid-cols-12 items-start gap-4">
		<aside
			class="rounded-box col-span-3 border border-base-content/20 bg-base-100 p-4 shadow-xl"
			*ngIf="!!user"
		>
			<div class="flex flex-col space-y-4">
				<div class="flex flex-col space-y-4">
					<div class="flex" appAvatar [appUser]="user"></div>
					<div class="flex flex-col">
						<span class="text-secondary-1 block truncate">
							{{ user.name }}
						</span>
						<time
							class="text-secondary-2 text-sm opacity-50"
							[attr.datetime]="user.createdAt | dayjs: 'format':'YYYY-M-D'"
						>
							registered {{ user.createdAt | dayjs: "fromX" }}
						</time>
					</div>
				</div>
				<p
					class="rounded-box bg-base-200 p-4"
					[ngClass]="user.description ? 'text-secondary-1' : 'text-secondary-2'"
					[innerHTML]="user.description || 'User does not have description'"
				></p>
				<a
					class="block w-full whitespace-nowrap py-2 px-4"
					aria-label="Settings"
					[routerLink]="['/settings']"
				>
					Settings
				</a>
			</div>
		</aside>
		<div class="col-span-9">
			<nav class="flex px-4">
				<ul class="tabs translate-y-px space-x-1" #scrollRoot>
					<!-- prettier-ignore -->
					<li
						class="tab tab-lifted tab-lg !px-0"
						[ngClass]="routerLinkActive.isActive ? 'tab-active' : 'h-10 bg-base-200'"
					>
						<a
							class="block px-4"
							aria-label="All"
							#routerLinkActive="routerLinkActive"
							[routerLink]="['.']"
							[routerLinkActive]="''"
							[routerLinkActiveOptions]="{ exact: true }"
						>
							All
						</a>
					</li>
					<!-- prettier-ignore -->
					<li
            class="tab tab-lg tab-lifted !px-0"
            [ngClass]="routerLinkActive.isActive ? 'tab-active' : 'bg-base-200 h-10'"
            *ngFor="let category of categoryList"
          >
            <a
              class="block px-4"
              appScrollIntoView
              [appRoot]="scrollRoot"
              [appActive]="routerLinkActive.isActive"
              [routerLink]="['./category', category.id]"
              [routerLinkActive]="''"
              [attr.aria-label]="category.name"
              #routerLinkActive="routerLinkActive"
            >
              {{ category.name }}
            </a>
          </li>
				</ul>
			</nav>
			<div
				class="rounded-box border border-base-content/20 bg-base-100 p-4 shadow-xl"
			>
				<div class="rounded-box bg-base-200 p-4">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
	<ng-template #categoryListEmptyTemplate>
		<div class="text-secondary-1 px-3 py-2">
			No categories were found
			<button
				class="text-info-1 hover:underline"
				type="button"
				aria-label="Create category"
				(click)="categoryModal = 'create'"
			>
				you need to create at least one
			</button>
		</div>
	</ng-template>
</ng-container>
