<!-- @format -->

<ng-container>
	<div class="flex flex-col space-y-4 md:space-y-8">
		<header
			class="rounded-box flex flex-col items-start justify-start gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
		>
			<div class="flex w-full items-center justify-between gap-4">
				<div class="flex items-center justify-start gap-4">
					<div class="flex w-12" appAvatar [appUser]="user"></div>
					<div class="flex flex-col">
						<span class="truncate text-xl font-bold text-base-content">
							{{ user.name }}
						</span>
						<time
							class="text-sm text-base-content/50"
							[attr.datetime]="user.createdAt | dayjs: 'format':'YYYY-M-D'"
						>
							registered {{ user.createdAt | dayjs: "fromX" }}
						</time>
					</div>
				</div>
				<div class="flex items-center justify-end gap-4">
					<a
						class="btn btn-primary"
						aria-label="Settings"
						*ngIf="authUser?.id === user.id"
						[routerLink]="['/settings']"
					>
						Settings
					</a>
				</div>
			</div>
			<p class="rounded-box w-full bg-base-200 p-4 text-base-content">
				{{ user.description || "User does not have description" }}
			</p>
		</header>
		<div class="flex flex-col">
			<nav class="block px-4">
				<ul
					class="tabs w-full translate-y-px flex-nowrap space-x-1 overflow-auto rounded-t-lg"
					#scrollRoot
				>
					<li
						class="tab tab-lifted tab-lg !px-0"
						[ngClass]="routerLinkActive.isActive ? 'tab-active' : 'bg-base-200'"
					>
						<a
							class="block px-4"
							aria-label="All"
							#routerLinkActive="routerLinkActive"
							[routerLink]="['.']"
							[routerLinkActive]="''"
							[routerLinkActiveOptions]="{ exact: true }"
						>
							All
						</a>
					</li>
					<li
						class="tab tab-lifted tab-lg !px-0"
						*ngFor="let category of categoryList"
						[ngClass]="routerLinkActive.isActive ? 'tab-active' : 'bg-base-200'"
					>
						<a
							class="block px-4"
							appScrollIntoView
							#routerLinkActive="routerLinkActive"
							[appRoot]="scrollRoot"
							[appActive]="routerLinkActive.isActive"
							[routerLink]="['./category', category.id]"
							[routerLinkActive]="''"
							[attr.aria-label]="category.name"
						>
							{{ category.name }}
						</a>
					</li>
				</ul>
			</nav>
			<section
				class="rounded-box border border-base-content/20 bg-base-100 p-4 shadow-xl"
			>
				<div class="rounded-box bg-base-200 p-4">
					<p
						class="rounded-box mb-4 w-full border border-base-content/20 bg-base-100 p-4 text-base-content"
						*ngIf="!!category"
					>
						{{ category.description || "Category does not have description" }}
					</p>
					<router-outlet></router-outlet>
				</div>
			</section>
		</div>
	</div>
</ng-container>
