<section class="page-profile grid md:gap-x-4 px-4">
  <aside class="aside">
    <div class="sticky top-0 py-4">
      <div class="flex flex-col space-y-4 bg-primary-3 border border-primary-4 rounded-md p-4" >
        <div class="flex items-center md:items-start space-x-4 md:space-x-0 md:space-y-4 md:flex-col">
          <div class="flex border border-primary-4 overflow-hidden rounded-md h-16 w-16 md:h-44 md:w-44" [appUser]="user" appAvatar></div>
          <div class="flex flex-col flex-1">
            <div class="grid">
              <span class="block text-secondary-1 truncate">{{user.name}}</span>
            </div>
            <time
              class="text-secondary-2 text-sm"
              [attr.datetime]="user.createdAt | dayjs : 'format' : 'YYYY-M-D'">registered {{user.createdAt | dayjs : 'fromX'}}
            </time>
          </div>
        </div>
        <p
          class="border-t border-primary-4 pt-4"
          [ngClass]="user.biography ? 'text-secondary-1' : 'text-secondary-2'"
          [innerHTML]="user.biography || 'User does not have biography'"></p>
      </div>
    </div>
  </aside>
  <div class="view grid grid-cols-1 grid-rows-1 self-start">
    <header class="header bg-primary-2 border-b border-t md:border-t-0 border-primary-4 z-20 sticky -top-px py-4">
      <nav class="flex justify-between items-center border border-primary-4 bg-primary-3 rounded-md">
        <ng-container *ngIf="categoryList.length; else categoryListEmpty;">
          <ul class="flex justify-start items-center overflow-auto px-1" #scrollRoot>
            <li class="inline-block">
              <a
                class="block text-secondary-1 hover:text-info-1 hover:underline p-2"
                [routerLink]="['.']"
                [routerLinkActive]="'text-info-1'"
                [routerLinkActiveOptions]="{ exact: true }"
                aria-label="All">All
              </a>
            </li>
            <li class="inline-block" *ngFor="let category of categoryList">
              <a
                class="block text-secondary-1 hover:text-info-1 hover:underline whitespace-nowrap p-2"
                appScrollIntoView
                [appRoot]="scrollRoot"
                [appActive]="rla.isActive"
                [routerLink]="['./category', category.id]"
                [routerLinkActive]="'text-info-1'"
                [attr.aria-label]="category.name"
                #rla="routerLinkActive">{{category.name}}
              </a>
            </li>
          </ul>
          <app-dropdown
            class="flex relative"
            *ngIf="{ value: false } as active"
            (toggled)="active.value = $event">
            <button
              class="block fill-current text-secondary-1 hover:text-info-1 cursor-pointer p-2"
              [ngClass]="{ 'text-info-1': active.value }"
              type="button"
              aria-label="Menu"
              appSvgIcon
              [appIcon]="'list'"
              [appSquare]="'1.5rem'"
              slot="toggle">
            </button>
            <div class="absolute z-30 top-full right-0 flex flex-col items-end -mt-2" slot="content">
              <div class="w-3 overflow-hidden inline-block mx-3.5">
                <div class="h-2 w-2 bg-primary-2 rotate-45 transform origin-bottom-left"></div>
              </div>
              <ul class="flex flex-col bg-primary-2 rounded-md shadow-lg py-2">
                <li class="block">
                  <button
                    class="text-secondary-1 hover:text-info-1 hover:bg-primary-1 text-left whitespace-nowrap w-full py-2 px-4"
                    type="button"
                    aria-label="Create"
                    (click)="categoryModal = 'create'">Create
                  </button>
                </li>
                <ng-container *ngIf="categoryActive">
                  <li class="block">
                    <button
                      class="text-secondary-1 hover:bg-primary-1 text-left group whitespace-nowrap w-full py-2 px-4"
                      type="button"
                      aria-label="Edit"
                      (click)="categoryModal = 'edit'">Edit:
                      <span class="text-secondary-1 group-hover:text-info-1">{{categoryActive.name}}</span>
                    </button>
                  </li>
                  <li class="block">
                    <button
                      class="text-secondary-1 hover:bg-primary-1 text-left group whitespace-nowrap w-full py-2 px-4"
                      type="button"
                      aria-label="Edit"
                      (click)="categoryModal = 'delete'">Delete:
                      <span class="text-secondary-1 group-hover:text-info-1">{{categoryActive.name}}</span>
                    </button>
                  </li>
                </ng-container>
              </ul>
            </div>
          </app-dropdown>
        </ng-container>
      </nav>
    </header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-overlay
    *ngIf="categoryModal"
    (clicked)="categoryModal = undefined"
    [ngSwitch]="categoryModal">
    <app-category-create
      *ngSwitchCase="'create'"
      (closed)="onClose('create', $event)"
      slot="content">
    </app-category-create>
    <app-category-edit
      *ngSwitchCase="'edit'"
      [appCategory]="categoryActive"
      (closed)="onClose('edit', $event)"
      slot="content">
    </app-category-edit>
    <app-category-delete
      *ngSwitchCase="'delete'"
      [appCategory]="categoryActive"
      (closed)="onClose('delete', $event)"
      slot="content">
    </app-category-delete>
  </app-overlay>
  <ng-template #categoryListEmpty>
    <div class="text-secondary-1 px-3 py-2">No categories were found
      <a class="text-info-1 hover:underline" [routerLink]="['.']" aria-label="Create category">you need to create at least one</a>
    </div>
  </ng-template>
</section>
