<!-- @format -->

<ng-container>
	@if (post) {
		<section class="flex flex-col h-full w-full overflow-auto gap-4">
			<header class="flex w-full flex-col items-start justify-start gap-4">
				<h2
					class="text-2xl leading-6 font-bold text-base-content max-w-full"
					appSkeleton
					[appSkeletonToggle]="postSkeletonToggle"
				>
					{{ post.name || "Name" }}
				</h2>
				<div class="flex items-center justify-start gap-4 w-full overflow-hidden">
					@if (post.image) {
						<div class="flex" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
							<figure class="h-24 w-24 rounded-btn relative overflow-hidden">
								<img
									class="object-cover object-center bg-base-300"
									[fill]="true"
									[priority]="true"
									[ngSrc]="post.image | firebaseStorage"
									[alt]="post.name"
								/>
							</figure>
						</div>
					}
					<ul class="flex flex-col items-start justify-start overflow-hidden gap-2">
						<li
							class="flex items-center justify-start gap-2 text-base-content max-w-full"
							appSkeleton
							[appSkeletonToggle]="postSkeletonToggle"
						>
							<a
								class="flex items-center justify-start gap-2"
								[target]="postPreview ? '_blank' : '_self'"
								[routerLink]="['/', post.user.name]"
								[title]="'Go to ' + post.user.name"
								[attr.aria-label]="'Go to ' + post.user.name"
							>
								<div
									class="avatar"
									[routerLink]="['/', post.user.name]"
									[title]="post.user.name"
									[attr.aria-label]="post.user.name"
								>
									<figure
										class="h-4 w-4 rounded relative overflow-hidden"
										appAvatar
										[appAvatarUser]="post.user"
									></figure>
								</div>
								<span class="link link-hover block text-sm font-bold truncate">
									{{ post.user.name }}
								</span>
							</a>
						</li>
						@switch (postType) {
							@case ("password") {
								<li class="block max-w-full">
									<span
										class="badge badge-success badge-outline badge-sm"
										appSkeleton
										[class.border-transparent]="postSkeletonToggle"
										[appSkeletonToggle]="postSkeletonToggle"
									>
										Protected by password
									</span>
								</li>
							}
							@case ("private") {
								<li class="block max-w-full">
									<span
										class="badge badge-error badge-outline badge-sm"
										appSkeleton
										[class.border-transparent]="postSkeletonToggle"
										[appSkeletonToggle]="postSkeletonToggle"
									>
										Private
									</span>
								</li>
							}
							@default {
								<li
									class="flex items-center justify-start gap-2 text-base-content max-w-full"
									appSkeleton
									[appSkeletonToggle]="postSkeletonToggle"
								>
									<a
										class="flex items-center justify-start gap-2"
										[target]="postPreview ? '_blank' : '_self'"
										[routerLink]="['/', post.user.name, 'category', post.category?.id]"
										[title]="'Go to ' + post.category?.name || 'Category'"
										[attr.aria-label]="'Go to ' + post.category?.name || 'Category'"
									>
										<i class="block fill-current" appSvgIcon [appSvgIconIcon]="'folder'" [appSvgIconSquare]="'1em'"></i>
										<span class="link link-hover text-sm leading-4 truncate">
											{{ post.category?.name || "Category" }}
										</span>
									</a>
								</li>
							}
						}
						<li class="block max-w-full">
							<span class="block text-xs text-base-content" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
								{{ post.markdown | markdownTimeToRead }} min read
							</span>
						</li>
						<li class="block max-w-full">
							<time
								class="block text-xs text-base-content/50"
								appSkeleton
								[appSkeletonToggle]="postSkeletonToggle"
								[attr.datetime]="post.createdAt | dayjs: 'format' : 'YYYY-M-D'"
							>
								Created {{ post.createdAt | dayjs: "fromNow" }}
							</time>
						</li>
					</ul>
				</div>
			</header>
			@if (!postPreview) {
				<nav class="border-y border-base-content/20 py-4">
					<ul class="flex items-start justify-start overflow-hidden gap-2">
						<li class="block">
							<button
								class="btn-ghost btn-md btn-square btn bg-base-200 fill-current text-base-content"
								type="button"
								title="Show QR Code"
								aria-label="Show QR Code"
								appSvgIcon
								appSkeleton
								[appSvgIconIcon]="'qr-code'"
								[appSvgIconSquare]="'1.5em'"
								[appSkeletonToggle]="postSkeletonToggle"
								(click)="onToggleQRCodeDialog()"
							></button>
						</li>
						@if (currentUser?.id === post.user.id) {
							<li class="block w-full">
								<a
									class="btn-success btn-outline btn-md btn w-full"
									appSkeleton
									[class.border-transparent]="postSkeletonToggle"
									[appSkeletonToggle]="postSkeletonToggle"
									[title]="'Update: ' + post.name"
									[attr.aria-label]="'Update: ' + post.name"
									[routerLink]="['/update', post.id]"
									[queryParams]="{ postType }"
									[queryParamsHandling]="'merge'"
								>
									Update
								</a>
							</li>
						} @else {
							<li class="block empty:hidden">
								<ng-content select="[slot=bookmark]"></ng-content>
							</li>
							<li class="block empty:hidden">
								<ng-content select="[slot=report]"></ng-content>
							</li>
						}
					</ul>
				</nav>
			}
			<div
				class="w-full"
				appSkeleton
				[ngClass]="{ 'border-t border-base-content/20 pt-4': postPreview }"
				[appSkeletonToggle]="postSkeletonToggle"
			>
				<article
					class="prose w-full max-w-full flex-1"
					appMarkdownRender
					[appMarkdownRenderValue]="post.markdown || 'Markdown'"
					(appMarkdownRenderClickExternalLink)="onTogglePostExternalLinkDialog($event)"
				></article>
			</div>
			<nav class="block empty:hidden border-y border-base-content/20 py-4">
				<ng-content select="[slot=share]"></ng-content>
			</nav>
			<footer class="block empty:hidden">
				<ng-content select="[slot=ad]"></ng-content>
			</footer>
		</section>
	}
</ng-container>
