<!-- @format -->

<ng-container *ngIf="!!post">
	<section class="flex h-full w-full flex-col items-start justify-start gap-4 p-4">
		<header class="flex w-full flex-col items-start justify-start gap-4">
			<div class="flex items-center justify-between w-full gap-4">
				<div class="flex items-center justify-start gap-4 overflow-hidden">
					<a
						class="avatar"
						appSkeleton
						[appSkeletonToggle]="postSkeletonToggle"
						[attr.aria-label]="post.user.name"
						[routerLink]="[post.user | userUrl]"
					>
						<figure
							class="h-12 w-12 rounded-btn relative overflow-hidden"
							appAvatar
							[appUser]="post.user"
						></figure>
					</a>
					<div class="flex flex-col gap-2 items-start w-full overflow-hidden">
						<h2
							class="truncate text-xl leading-6 font-bold text-base-content max-w-full"
							appSkeleton
							[appSkeletonToggle]="postSkeletonToggle"
						>
							{{ post.name }}
						</h2>
						<a
							class="link text-sm leading-4 truncate max-w-full"
							appSkeleton
							[appSkeletonToggle]="postSkeletonToggle"
							[routerLink]="[post.user | userUrl, 'category', post.category.id]"
							[attr.aria-label]="post.category.name"
						>
							{{ post.category.name }}
						</a>
					</div>
				</div>
				<div
					class="flex p-0"
					appDropdown
					appSkeleton
					*ngIf="!postPreview"
					[appSkeletonToggle]="postSkeletonToggle || currentUserSkeletonToggle"
					[appPosition]="'bottom-right'"
				>
					<button
						class="btn-ghost w-12 h-12 btn-square btn bg-base-200 fill-current p-3"
						type="button"
						title="Settings"
						aria-label="Settings"
						appSvgIcon
						slot="target"
						[appIcon]="'three-dots-vertical'"
						[appSquare]="'1.5em'"
					></button>
					<ul
						class="menu menu-vertical menu-md ml-0 mt-2 rounded-btn border border-base-content/20 bg-base-100 p-2 shadow before:hidden"
						slot="content"
					>
						<ng-container [ngSwitch]="currentUser?.id === post.user.id">
							<ng-container *ngSwitchCase="true">
								<li class="flex w-full snap-start scroll-my-2">
									<button
										class="rounded-btn block w-full truncate text-right"
										type="button"
										title="Move"
										aria-label="Move"
									>
										Move
									</button>
								</li>
								<li class="flex w-full snap-start scroll-my-2">
									<a
										class="rounded-btn block w-full truncate text-right"
										title="Update"
										aria-label="Update"
										[routerLink]="['/update', post.id]"
									>
										Update
									</a>
								</li>
								<li class="flex w-full snap-start scroll-my-2">
									<button
										class="rounded-btn block w-full truncate text-right"
										type="button"
										title="Delete"
										aria-label="Delete"
										(click)="appPostDeleteComponent.onTogglePostDelete(true)"
									>
										Delete
									</button>
								</li>
							</ng-container>
							<ng-container *ngSwitchCase="false">
								<li class="flex w-full snap-start scroll-my-2">
									<button
										class="rounded-btn block w-full truncate text-right"
										type="button"
										title="Complain"
										aria-label="Complain"
									>
										Complain
									</button>
								</li>
							</ng-container>
						</ng-container>
					</ul>
				</div>
			</div>
			<p class="alert" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
				<span class="w-full">{{ post.description }}</span>
			</p>
			<div class="flex flex-wrap items-center justify-between gap-4 w-full">
				<time
					class="block text-sm text-base-content/50"
					appSkeleton
					[appSkeletonToggle]="postSkeletonToggle"
					[attr.datetime]="post.createdAt | dayjs: 'format' : 'YYYY-M-D'"
				>
					Published {{ post.createdAt | dayjs: "fromX" }}
				</time>
				<!-- prettier-ignore -->
				<span
					class="block text-sm"
					appSkeleton
					*ngIf="post?.markdown"
					[appSkeletonToggle]="postSkeletonToggle"
				>
					Time to read: {{ post?.markdown | markdown: "time-to-read" }} min.
				</span>
			</div>
		</header>
		<hr class="my-0 w-full border-base-content/20" />
		<article
			class="prose h-full w-full max-w-full overflow-hidden"
			appSkeleton
			[appSkeletonToggle]="postSkeletonToggle"
			[innerHTML]="post?.markdown || 'No post markdown' | markdown | sanitizer: 'html'"
		></article>
		<!-- TODO: ads
		<ng-container *ngIf="!postPreview && !postSkeletonToggle">
			<hr class="my-0 w-full border-base-content/20" />
			<footer class="flex w-full flex-col items-start justify-start gap-4">
				<a class="block w-full" title="Placeholder" aria-label="Placeholder" [routerLink]="['.']">
					<figure class="rounded-btn relative overflow-hidden">
						<img
							class="w-full"
							src="https://placehold.co/600x64?text=Placeholder"
							alt="Advertise"
							loading="lazy"
						/>
					</figure>
				</a>
			</footer>
		</ng-container>	-->
	</section>
	<div appPostDelete #appPostDeleteComponent [appPostDeletePost]="post"></div>
</ng-container>
