<!-- @format -->

<ng-container>
	@if (post) {
		<!-- https://schema.org/Article -->
		<section
			class="flex flex-col h-full w-full overflow-auto gap-4 bg-base-100"
			itemprop="mainEntity"
			itemscope
			itemtype="http://schema.org/Article"
		>
			<header class="flex w-full flex-col items-start justify-start gap-4">
				<h1
					class="text-2xl font-bold text-base-content"
					itemprop="headline"
					appSkeleton
					[appSkeletonToggle]="postSkeletonToggle"
				>
					{{ post.name || "Name" }}
				</h1>
				<div class="flex items-center justify-start gap-4 w-full overflow-hidden">
					@if (post.cover) {
						<a
							class="flex"
							appSkeleton
							target="_blank"
							[appSkeletonToggle]="postSkeletonToggle"
							[href]="post.cover"
							[title]="post.user.name"
							[attr.aria-label]="post.user.name"
						>
							<figure class="h-24 w-24 rounded-btn relative overflow-hidden">
								<img
									class="object-cover object-center bg-base-300"
									itemprop="image"
									loading="eager"
									[src]="post.cover"
									[alt]="post.name"
								/>
							</figure>
						</a>
					}
					<ul class="flex flex-col items-start justify-start overflow-hidden gap-2">
						<li
							class="flex items-center justify-start gap-2 text-base-content max-w-full"
							appSkeleton
							itemprop="author"
							itemscope
							itemtype="http://schema.org/Person"
							[appSkeletonToggle]="postSkeletonToggle"
						>
							<a
								class="flex items-center justify-start gap-2 max-w-full"
								itemprop="url"
								[target]="postPreview ? '_blank' : '_self'"
								[routerLink]="['/', post.user.name]"
								[title]="'Go to ' + post.user.name"
								[attr.aria-label]="'Go to ' + post.user.name"
							>
								<div
									class="avatar"
									[routerLink]="['/', post.user.name]"
									[title]="post.user.name"
									[attr.aria-label]="post.user.name"
								>
									<figure
										class="h-5 w-5 rounded relative overflow-hidden"
										appUserAvatar
										[appUserAvatarPhotoUrl]="post.user.avatar"
										[appUserAvatarName]="post.user.name"
									></figure>
								</div>
								<span class="link link-hover block text-sm font-bold truncate" itemprop="name">
									{{ post.user.name }}
								</span>
							</a>
						</li>
						@switch (postType) {
							@case ("password") {
								<li class="block max-w-full">
									<a
										class="badge badge-success badge-outline badge-sm"
										title="Go to password protected posts"
										aria-label="Go to password protected posts"
										appSkeleton
										itemprop="url"
										target="_self"
										[routerLink]="['/', post.user.name, 'password']"
										[class.border-transparent]="postSkeletonToggle"
										[appSkeletonToggle]="postSkeletonToggle"
									>
										Protected by password
									</a>
								</li>
							}
							@case ("private") {
								<li class="block max-w-full">
									<a
										class="badge badge-error badge-outline badge-sm"
										title="Go to private posts"
										aria-label="Go to private posts"
										appSkeleton
										itemprop="url"
										target="_self"
										[routerLink]="['/', post.user.name, 'private']"
										[class.border-transparent]="postSkeletonToggle"
										[appSkeletonToggle]="postSkeletonToggle"
									>
										Private
									</a>
								</li>
							}
							@default {
								<li
									class="flex items-center justify-start gap-2 text-base-content max-w-full"
									appSkeleton
									[appSkeletonToggle]="postSkeletonToggle"
								>
									<!-- prettier-ignore -->
									<a
										class="flex items-center justify-start gap-2 max-w-full"
                    itemprop="url"
										[target]="postPreview ? '_blank' : '_self'"
										[routerLink]="post.category ? ['/', post.user.name, 'category', post.category.id] : ['/', post.user.name]"
										[title]="'Go to ' + (post.category?.name || 'category')"
										[attr.aria-label]="'Go to ' + (post.category?.name || 'category')"
									>
										<i
											class="block fill-current"
											appSvgIcon
											[appSvgIconIcon]="'folder'"
											[appSvgIconSquare]="'1.25em'"
										></i>
										<span class="link link-hover text-sm leading-4 truncate" itemprop="articleSection">
											{{ post.category?.name || "Category" }}
										</span>
									</a>
								</li>
							}
						}
						<li class="block max-w-full">
							<span
								class="block text-xs text-base-content"
								itemprop="timeRequired"
								appSkeleton
								[appSkeletonToggle]="postSkeletonToggle"
							>
								{{ post.markdown | markdownTimeToRead | i18nPlural: { "=1": "1 minute", other: "# minutes" } }} read
							</span>
						</li>
						<li class="block max-w-full">
							<time
								class="block text-xs text-base-content/50"
								appSkeleton
								itemprop="dateCreated"
								[appSkeletonToggle]="postSkeletonToggle"
								[attr.datetime]="post.createdAt | dayjs: 'format' : 'YYYY-M-D'"
							>
								Created {{ post.createdAt | dayjs: "fromNow" }}
							</time>
						</li>
					</ul>
				</div>
			</header>
			@if (!postPreview) {
				<nav class="border-y border-base-content/20 py-4">
					<ul class="flex items-start justify-start overflow-hidden gap-2">
						<li class="block" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
							<button
								class="btn-ghost btn-md btn-square btn bg-base-200"
								type="button"
								title="Download Screenshot"
								aria-label="Download Screenshot"
								(click)="onClickDomToCanvas()"
							>
								@if (domToCanvasIsLoading) {
									<span class="loading loading-spinner"></span>
								} @else {
									<i
										class="block fill-current"
										appSvgIcon
										[appSvgIconIcon]="'download'"
										[appSvgIconSquare]="'1.5em'"
									></i>
								}
							</button>
						</li>
						<li class="block" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
							<button
								class="btn-ghost btn-md btn-square btn bg-base-200 fill-current"
								type="button"
								title="Show QR Code"
								aria-label="Show QR Code"
								appSvgIcon
								[appSvgIconIcon]="'qr-code'"
								[appSvgIconSquare]="'1.5em'"
								(click)="onToggleQRCodeDialog()"
							></button>
						</li>
						@if (currentUser?.displayName === post.user.name) {
							<li class="block w-full" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
								<a
									class="btn-success btn-outline btn-md btn w-full"
									[class.border-transparent]="postSkeletonToggle"
									[title]="'Update: ' + post.name"
									[attr.aria-label]="'Update: ' + post.name"
									[routerLink]="['/update', post.id]"
									[queryParams]="{ postType }"
									[queryParamsHandling]="'merge'"
								>
									Update
								</a>
							</li>
						} @else {
							<li class="block" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
								<button
									class="btn-ghost btn-md btn-square btn bg-base-200"
									type="button"
									[title]="(postBookmark ? 'Remove from' : 'Add to') + ' bookmarks'"
									[attr.aria-label]="(postBookmark ? 'Remove from' : 'Add to') + ' bookmarks'"
									[ngClass]="postBookmark && !postBookmarkIsLoading ? 'text-success' : 'text-base-content'"
									(click)="onClickBookmark()"
								>
									@if (postBookmarkIsLoading) {
										<span class="loading loading-spinner"></span>
									} @else {
										<i
											class="block fill-current"
											appSvgIcon
											[appSvgIconIcon]="postBookmark ? 'bookmark-check-fill' : 'bookmark'"
											[appSvgIconSquare]="'1.5em'"
										></i>
									}
								</button>
							</li>
							<li class="block" appSkeleton [appSkeletonToggle]="postSkeletonToggle">
								<button
									class="btn-ghost btn-md btn-square btn bg-base-200 fill-current text-base-content"
									type="button"
									appSvgIcon
									[title]="'Report'"
									[attr.aria-label]="'Report'"
									[appSvgIconIcon]="'flag'"
									[appSvgIconSquare]="'1.5em'"
									(click)="onToggleReportDialog()"
								></button>
							</li>
						}
					</ul>
				</nav>
			}
			<div
				class="w-full"
				appSkeleton
				[ngClass]="{ 'border-t border-base-content/20 pt-4': postPreview }"
				[appSkeletonToggle]="postSkeletonToggle"
			>
				<article
					class="prose w-full max-w-full flex-1"
					appMarkdownRender
					itemprop="articleBody"
					[appMarkdownRenderPostType]="postType"
					[appMarkdownRenderValue]="post.markdown || 'Markdown'"
					(appMarkdownRenderClickExternalLink)="onTogglePostExternalLinkDialog($event)"
				></article>
			</div>
			<nav class="block empty:hidden">
				<ul
					class="flex items-center justify-start flex-wrap gap-2"
					itemscope
					itemtype="http://schema.org/SiteNavigationElement"
				>
					@for (postTag of post.markdown | markdownTags: 5; track $index) {
						<li class="block max-w-full">
							<a
								class="btn btn-sm max-w-full"
								appSkeleton
								target="_blank"
								itemprop="url"
								rel="nofollow tag"
								[appSkeletonToggle]="postSkeletonToggle"
								[appSkeletonClassListElementRef]="['border-0', 'shadow-none']"
								[title]="'Search: ' + postTag"
								[attr.aria-label]="'Search: ' + postTag"
								[routerLink]="['/', 'search', 'posts']"
								[queryParams]="{ query: postTag }"
							>
								<span class="block truncate" itemprop="name">{{ postTag }}</span>
							</a>
						</li>
					}
				</ul>
			</nav>
			<nav class="block empty:hidden border-y border-base-content/20 py-4">
				<ng-content select="[slot=share]"></ng-content>
			</nav>
			<footer class="block empty:hidden">
				<ng-content select="[slot=ad]"></ng-content>
			</footer>
		</section>
	}
</ng-container>
