<!-- @format -->

<ng-container>
	@if (currentUserIsPopulatedToggle && !currentUser && !currentUserIsAcceptedCookies) {
		<div class="fixed bottom-0 right-0 p-4 z-10" itemscope itemtype="http://schema.org/Action">
			<div class="alert !items-center rounded-box border border-base-300 bg-base-100 shadow-md" role="alert">
				<i
					class="fill-current text-info hidden sm:flex"
					appSvgIcon
					[appSvgIconIcon]="'cookie'"
					[appSvgIconSquare]="'1.5em'"
				></i>
				<!-- prettier-ignore -->
				<span class="block text-sm"> By using this website, you agree with <a class="link inline-block" rel="nofollow" target="_blank" itemprop="url" [routerLink]="['/terms/cookie-policy']"> cookie policy </a></span>
				<div class="w-full">
					<button class="btn btn-info btn-sm w-full" type="button" itemprop="target" (click)="onSubmit()">
						Yas, accept
					</button>
				</div>
			</div>
		</div>
	}
</ng-container>
