<!-- @format -->

<ng-container>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#abstractPostProseDialog
		(keydown.escape)="$event.preventDefault(); abstractPostProseDialog.close()"
		(close)="setAbstractPostProseDialogClose()"
		(click)="$event.target === $event.currentTarget ? abstractPostProseDialog.close() : $event"
	>
		<div
			class="w-full max-w-2xl"
			appWindow
			[appWindowTitle]="'View'"
			[appWindowButtons]="['close', 'fullscreen']"
			(appWindowClose)="setAbstractPostProseDialogClose()"
		>
			<main
				class="w-full h-full"
				appPostProse
				slot="content"
				[appPostProsePost]="abstractPost"
				[appPostProsePostSkeletonToggle]="abstractPostSkeletonToggle"
			></main>
			<nav
				class="flex bg-base-200 overflow-auto p-2"
				appShare
				slot="footer"
				[appShareSkeletonToggle]="abstractPostSkeletonToggle"
			></nav>
		</div>
	</dialog>
</ng-container>
