<!-- @format -->

<ng-container>
	<div class="grid gap-4 md:gap-8">
		<header
			class="rounded-box border border-base-content/20 bg-base-100 p-4 shadow-xl"
		>
			<form autocomplete="off" [formGroup]="searchForm">
				<fieldset class="form-control" *ngIf="searchForm.get('query') as query">
					<label class="label" for="searchFormSearch">
						<div class="indicator">
							<span
								class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
								*ngIf="query.touched && query.errors"
								[ngSwitch]="true"
							>
								<!-- prettier-ignore -->
								<ng-container *ngSwitchCase="!!query.errors.minlength">
                  Min length {{ query.errors.minlength["requiredLength"] }} characters
                </ng-container>
								<!-- prettier-ignore -->
								<ng-container *ngSwitchCase="!!query.errors.maxlength">
                  Max length {{ query.errors.maxlength["requiredLength"] }} characters
                </ng-container>
							</span>
							<span class="label-text mr-2">Search</span>
						</div>
					</label>
					<div class="relative">
						<input
							class="input input-bordered w-full truncate pr-12"
							id="searchFormSearch"
							type="text"
							aria-label="Search"
							formControlName="query"
							placeholder="Type keywords"
							[class.input-success]="query.touched && query.value"
							[class.input-error]="query.touched && query.invalid"
						/>
						<button
							class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
							type="button"
							title="Clear query"
							aria-label="Clear query"
							appSvgIcon
							*ngIf="query.value.length"
							[class.btn-success]="query.touched && query.value"
							[class.btn-error]="query.touched && query.invalid"
							[class.btn-ghost]="query.untouched"
							[appIcon]="'x'"
							[appSquare]="'1.75rem'"
							(click)="query.setValue('')"
						></button>
					</div>
				</fieldset>
			</form>
		</header>
		<div class="grid">
			<nav class="grid px-4">
				<ul class="tabs translate-y-px space-x-1" #scrollRoot>
					<!-- prettier-ignore -->
					<li
						class="tab tab-lifted tab-lg !px-0"
						*ngFor="let link of ['Posts', 'Categories', 'Users']"
						[ngClass]="routerLinkActive.isActive ? 'tab-active' : 'h-10 bg-base-200'"
					>
						<a
							class="block px-4"
							appScrollIntoView
							#routerLinkActive="routerLinkActive"
							[appRoot]="scrollRoot"
							[appActive]="routerLinkActive.isActive"
							[routerLink]="link.toLowerCase()"
							[routerLinkActive]="''"
							[queryParamsHandling]="'preserve'"
							[attr.aria-label]="link"
						>
							{{ link }}
						</a>
					</li>
				</ul>
			</nav>
			<section
				class="rounded-box border border-base-content/20 bg-base-100 p-4 shadow-xl"
			>
				<div class="rounded-box bg-base-200 p-4">
					<router-outlet></router-outlet>
				</div>
			</section>
		</div>
	</div>
</ng-container>
