<!-- @format -->

<ng-container>
	<div class="flex flex-col space-y-4 md:space-y-8">
		<div
			class="navbar rounded-box border border-base-content/20 bg-base-100 shadow-xl"
		>
			<div class="w-full flex-none">
				<form class="w-full" [formGroup]="searchForm" autocomplete="off">
					<fieldset
						class="form-control"
						*ngIf="searchForm.get('query') as query"
					>
						<label class="label" for="search">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="query.touched && query.errors"
									[ngSwitch]="true"
								>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!query.errors.minlength">
                    Min length {{ query.errors.minlength["requiredLength"] }} characters
                  </ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!query.errors.maxlength">
                    Max length {{ query.errors.maxlength["requiredLength"] }} characters
                  </ng-container>
								</span>
								<span class="label-text mr-2">Search</span>
							</div>
						</label>
						<label class="relative block" for="search">
							<input
								id="search"
								type="text"
								class="input input-bordered w-full truncate pr-12"
								[class.input-success]="query.touched && query.value"
								[class.input-error]="query.touched && query.invalid"
								formControlName="query"
								placeholder="Type keywords"
								aria-label="Search"
							/>
							<button
								class="btn btn-sm btn-circle absolute top-2 right-2 fill-current"
								[class.btn-success]="query.touched && query.value"
								[class.btn-error]="query.touched && query.invalid"
								[class.btn-ghost]="query.untouched"
								type="button"
								*ngIf="query.value.length"
								aria-label="Clear"
								title="Clear"
								appSvgIcon
								[appIcon]="'x'"
								[appSquare]="'1.75rem'"
								(click)="query.setValue('')"
							></button>
						</label>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="flex flex-col">
			<nav class="flex px-4">
				<ul class="tabs translate-y-px space-x-1" #scrollRoot>
					<!-- prettier-ignore -->
					<li
						class="tab tab-lg tab-lifted !px-0"
						[ngClass]="routerLinkActive.isActive ? 'tab-active' : 'bg-base-200 h-10'"
						*ngFor="let link of ['Posts', 'Categories', 'Users']"
					>
						<a
              class="block px-4"
							appScrollIntoView
							[appRoot]="scrollRoot"
							[appActive]="routerLinkActive.isActive"
							[routerLink]="link.toLowerCase()"
							[routerLinkActive]="''"
							[queryParamsHandling]="'preserve'"
							[attr.aria-label]="link"
							#routerLinkActive="routerLinkActive"
						>
							{{ link }}
						</a>
					</li>
				</ul>
			</nav>
			<div
				class="rounded-box border border-base-content/20 bg-base-100 p-4 shadow-xl"
			>
				<div class="rounded-box bg-base-200 p-4">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</ng-container>
