<!-- @format -->

<ng-container>
	<dialog
		class="modal"
		#postExternalLinkDialogElement
		(keydown.escape)="$event.preventDefault(); onTogglePostExternalLinkDialog(false)"
		(mousedown)="$event.target === $event.currentTarget ? onTogglePostExternalLinkDialog(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-sm"
			appWindow
			[appWindowTitle]="'Attention'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onTogglePostExternalLinkDialog(false)"
		>
			<div class="flex flex-col gap-4 p-4" slot="content">
				<p class="alert" role="alert">
					<i
						class="fill-current text-info"
						appSvgIcon
						[appSvgIconIcon]="'info-circle'"
						[appSvgIconSquare]="'1.5em'"
					></i>
					<span class="block"> You are about to leave the site. Do you want to continue? </span>
				</p>
				<button
					class="btn-success btn-outline btn-md btn"
					type="button"
					title="Continue"
					aria-label="Continue"
					(click)="onSubmitPostExternalLink()"
				>
					Continue
				</button>
			</div>
		</div>
	</dialog>
</ng-container>
