<!-- @format -->

<ng-container>
	<div class="rounded-box border border-base-content/20 bg-base-100 p-4 flex flex-col gap-4 shadow-xl">
		<div class="flex w-full items-center justify-between gap-4">
			<button
				class="btn-ghost btn-md btn-square btn bg-base-200 fill-current text-base-content"
				type="button"
				appSvgIcon
				appSkeleton
				[title]="searchFormToggle ? 'Hide' : 'Search'"
				[attr.aria-label]="searchFormToggle ? 'Hide' : 'Search'"
				[disabled]="postListSkeletonToggle"
				[appSkeletonToggle]="(categorySkeletonToggle || postListSkeletonToggle) && !searchFormToggle"
				[appSkeletonClassListElementRef]="['border-0']"
				[appSvgIconIcon]="searchFormToggle ? 'x-lg' : 'search'"
				[appSvgIconSquare]="'1.5em'"
				(click)="onToggleSearchForm(!searchFormToggle)"
			></button>
			@switch (searchFormToggle) {
				@case (true) {
					<div
						class="relative flex items-end justify-between gap-4 w-full"
						appSearchForm
						[appSearchFormDisabled]="postListSkeletonToggle"
					></div>
				}
				@case (false) {
					<div class="flex items-center justify-start gap-4 overflow-hidden w-full">
						<div class="flex flex-col gap-2 items-start overflow-hidden w-full">
							<h2
								class="block truncate text-xl leading-6 font-bold text-base-content max-w-full"
								appSkeleton
								[appSkeletonToggle]="categorySkeletonToggle || postListSkeletonToggle"
							>
								{{ category?.name }}
							</h2>
							<time
								class="text-sm text-base-content/50 leading-4 truncate max-w-full"
								appSkeleton
								[appSkeletonToggle]="categorySkeletonToggle || postListSkeletonToggle"
								[attr.datetime]="category?.updatedAt | dayjs: 'format' : 'YYYY-M-D'"
							>
								Created {{ category?.createdAt | dayjs: "fromNow" }}
							</time>
						</div>
						@if (currentUser?.id === user?.id) {
							<div
								class="flex p-0"
								appDropdown
								appSkeleton
								[appSkeletonToggle]="categorySkeletonToggle || currentUserSkeletonToggle || postListSkeletonToggle"
								[appDropdownPlacement]="'bottom-end'"
							>
								<button
									class="btn-ghost btn-md btn-square btn bg-base-200 fill-current text-base-content"
									type="button"
									title="Category menu"
									aria-label="Category menu"
									appSvgIcon
									slot="target"
									[appSvgIconIcon]="'three-dots-vertical'"
									[appSvgIconSquare]="'1.5em'"
								></button>
								<ul class="menu menu-vertical menu-md" slot="content">
									<li class="flex w-full snap-start scroll-my-2 menu-title text-right text-xs">Category</li>
									<li class="flex w-full snap-start scroll-my-2">
										<button
											class="rounded-btn block w-full truncate text-right"
											type="button"
											[title]="'Update: ' + category.name"
											[attr.aria-label]="'Update: ' + category.name"
											(click)="onToggleCategoryUpdateDialog()"
										>
											Update
										</button>
									</li>
									<li class="flex w-full snap-start scroll-my-2">
										<button
											class="rounded-btn block w-full truncate text-right"
											type="button"
											[title]="'Delete: ' + category.name"
											[attr.aria-label]="'Delete: ' + category.name"
											(click)="onToggleCategoryDeleteDialog()"
										>
											Delete
										</button>
									</li>
								</ul>
							</div>
						}
					</div>
				}
			}
		</div>
		@if (category?.description) {
			<div
				class="block w-full max-w-full"
				appSkeleton
				[appSkeletonToggle]="categorySkeletonToggle || postListSkeletonToggle"
				[appSkeletonClassListParent]="['!rounded-box']"
				[appSkeletonClassList]="['!rounded-box']"
			>
				<p class="rounded-box w-full max-w-full text-ellipsis overflow-hidden bg-base-200 p-4">
					{{ category?.description }}
				</p>
			</div>
		}
		<div class="grid gap-4">
			@if (postList.length) {
				<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
					@for (postColumn of masonryColumns; track $index) {
						<ul class="flex flex-1 flex-col gap-4">
							@for (post of postColumn; track post.id; let i = $index) {
								<li
									class="block"
									appCardPost
									[appCardPostPost]="post"
									[appCardPostSkeletonToggle]="postListSkeletonToggle"
									[appCardPostImagePriority]="i <= 1"
								></li>
							}
						</ul>
					}
				</div>
				@if (!postListSkeletonToggle) {
					<div
						class="block empty:hidden"
						appListLoadMore
						[appListLoadMoreIsLoading]="postListIsLoading"
						[appListLoadMoreSearchResponse]="searchResponse"
						(appLoadMoreToggle)="getPostList(true)"
					></div>
				}
			} @else {
				<div class="block" appListMock [appListMockTemplate]="'user-category-not-found'"></div>
			}
		</div>
	</div>
	<div class="block">
		<router-outlet></router-outlet>
	</div>
</ng-container>
