<!-- @format -->

<ng-container>
	@if (!searchResponseIsOnePage) {
		@if (!searchResponseIsEndPage) {
			@switch (windowScrollPageInfinite) {
				@case (true) {
					<div class="flex items-center justify-center w-full min-h-24">
						<span class="loading loading-spinner loading-md"></span>
					</div>
				}
				@case (false) {
					<button
						class="btn-md btn-success btn w-full"
						type="button"
						title="Load more"
						aria-label="Load more"
						[disabled]="searchResponseIsLoading"
						(click)="onLoadMore()"
					>
						@if (searchResponseIsLoading) {
							<span class="loading loading-spinner"></span>
						}
						Load more
					</button>
				}
			}
		} @else {
			<div class="flex flex-col items-center gap-4">
				<i
					class="fill-current text-base-content"
					appSvgIcon
					[appSvgIconIcon]="'check-circle'"
					[appSvgIconSquare]="'3em'"
				></i>
				<div class="text-center">
					<p class="text-xl font-bold text-base-content"><span class="text-success">Nothing more</span> to load</p>
					<a class="link text-sm" title="Create post" aria-label="Create post" [routerLink]="['/create']">
						Create post
					</a>
				</div>
			</div>
		}
	}
</ng-container>
