<!-- @format -->

<ng-container>
	<div class="rounded-box border border-base-content/20 bg-base-100 p-4 flex flex-col gap-4 shadow-xl">
		<div class="flex w-full items-center justify-between gap-4">
			<button
				class="btn-ghost btn-md btn-square btn bg-base-200 fill-current"
				type="button"
				appSvgIcon
				appSkeleton
				[title]="'Password'"
				[attr.aria-label]="'Password'"
				[disabled]="postPasswordListSkeletonToggle"
				[appSkeletonToggle]="postPasswordListSkeletonToggle"
				[appSkeletonClassListElementRef]="['border-0']"
				[appSvgIconIcon]="'shield-lock'"
				[appSvgIconSquare]="'1.5em'"
			></button>
			<div class="flex items-center justify-start gap-4 overflow-hidden w-full">
				<div class="flex flex-col gap-2 items-start overflow-hidden w-full">
					<h2
						class="block truncate text-xl leading-6 font-bold text-base-content max-w-full"
						appSkeleton
						[appSkeletonToggle]="postPasswordListSkeletonToggle"
					>
						Password posts
					</h2>
					<span
						class="text-sm text-base-content/50 leading-4 truncate max-w-full"
						appSkeleton
						[appSkeletonToggle]="postPasswordListSkeletonToggle"
					>
						Protected by password
					</span>
				</div>
			</div>
		</div>
		<div class="grid gap-4">
			@if (postPasswordList.length) {
				<ul class="grid grid-cols-2 grid-rows-none gap-4 sm:grid-cols-3 md:grid-cols-4">
					@for (postPassword of postPasswordList; track postPassword.id) {
						<li
							class="block"
							appCardPost
							[ngClass]="postPassword.image ? 'row-span-6' : 'row-span-3'"
							[appCardPostPost]="postPassword"
							[appCardPostSkeletonToggle]="postPasswordListSkeletonToggle"
						></li>
					}
				</ul>
				@if (!postPasswordListSkeletonToggle) {
					<!--
		      <div
						class="block empty:hidden"
						appListLoadMore
						[appListLoadMoreIsLoading]="postListIsLoading"
						[appListLoadMoreSearchResponse]=""
						(appLoadMoreToggle)="getPostList(true)"
					></div>
					-->
				}
			} @else {
				<div class="block" appListMock [appListMockTemplate]="'user-password-not-found'"></div>
			}
		</div>
	</div>
	<div class="block">
		<router-outlet></router-outlet>
	</div>
</ng-container>
