<!-- @format -->

<ng-container>
	<div class="flex flex-col space-y-4 md:space-y-8">
		<div
			class="rounded-box grid w-full grid-cols-12 gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
		>
			<div
				class="rounded-t-box col-span-12 -mx-4 -mt-4 flex flex-col items-start justify-center space-y-4 bg-base-200 p-4 sm:rounded-box sm:col-span-4 sm:m-0 sm:items-center md:col-span-3"
			>
				<h2 class="text-xl font-medium text-base-content">Login via</h2>
				<div class="inline text-left sm:text-center">
					<span class="block text-base-content">Don't have an account?</span>
					<a
						class="link link-primary"
						[routerLink]="['../registration']"
						aria-label="Join now"
					>
						Registration
					</a>
				</div>
			</div>
			<form
				class="col-span-12 flex flex-col rounded-none bg-base-100 sm:col-span-8 md:col-span-9"
				autocomplete="off"
				[formGroup]="postForm"
			>
				<h2 class="text-xl font-medium text-base-content">Write a post</h2>
				<hr class="my-2 border-base-content/20" />
				<fieldset
					class="grid grid-cols-12 gap-4"
					[disabled]="postFormIsSubmitted"
				>
					<fieldset
						class="form-control col-span-12 sm:col-span-7"
						*ngIf="postForm.get('title') as title"
					>
						<label class="label" for="title">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="title.touched && title.errors"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!title.errors.required">
										Required
									</ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!title.errors.minlength">
                    Min length {{ title.errors.minlength["requiredLength"] }} characters
                  </ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!title.errors.maxlength">
                    Max length {{ title.errors.maxlength["requiredLength"] }} characters
                  </ng-container>
								</span>
								<span class="label-text mr-2">Title</span>
							</div>
						</label>
						<label class="relative block" for="title">
							<input
								id="title"
								type="text"
								class="input input-bordered w-full truncate pr-12"
								placeholder="Type post title"
								[class.input-success]="title.touched && title.valid"
								[class.input-error]="title.touched && title.invalid"
								[class.input-disabled]="postFormIsSubmitted"
								formControlName="title"
								aria-label="Title"
							/>
							<button
								class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
								[class.btn-success]="title.touched && title.valid"
								[class.btn-error]="title.touched && title.invalid"
								[class.btn-ghost]="title.untouched"
								type="button"
								*ngIf="title.value.length"
								aria-label="Clear"
								title="Clear"
								appSvgIcon
								[appIcon]="'x'"
								[appSquare]="'1.75rem'"
								(click)="title.setValue('')"
							></button>
						</label>
					</fieldset>
					<fieldset
						class="form-control col-span-12 sm:col-span-5"
						*ngIf="postForm.get('categoryName') as categoryName"
					>
						<label class="label" for="categoryName">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="categoryName.touched && categoryName.errors"
									[ngSwitch]="true"
								>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!categoryName.errors.required">
                    Required
                  </ng-container>
								</span>
								<span class="label-text mr-2">Category</span>
							</div>
						</label>
						<div appDropdown (toggled)="onToggleCategory($event)">
							<!-- prettier-ignore -->
							<input
                #categoryNameInput
                id="categoryName"
                type="text"
                class="input input-bordered truncate w-full"
                placeholder="Select post category"
                [class.input-success]="categoryName.touched && categoryName.value"
                [class.input-error]="categoryName.touched && categoryName.invalid"
                [class.input-disabled]="postFormIsSubmitted"
                formControlName="categoryName"
                aria-label="Category"
                slot="target"
                readonly
              />
							<ul
								class="menu rounded-box mt-2 max-h-64 flex-nowrap overflow-y-auto border border-base-content/20 bg-base-100 p-2 shadow"
								slot="content"
							>
								<li
									class="flex w-full overflow-hidden"
									*ngFor="let category of categoryList"
								>
									<button
										class="block w-full truncate text-left"
										[class.active]="categoryName.value === category.name"
										type="button"
										(click)="onChangeCategory(category)"
										[attr.aria-label]="category.name"
									>
										{{ category.name }}
									</button>
								</li>
							</ul>
						</div>
					</fieldset>
					<fieldset
						class="form-control col-span-12 sm:col-span-12"
						*ngIf="postForm.get('description') as description"
					>
						<label class="label" for="description">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="description.touched && description.errors"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!description.errors.required">
										Required
									</ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!description.errors.minlength">
                    Min length {{ description.errors.minlength["requiredLength"] }} characters
                  </ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!description.errors.maxlength">
                    Max length {{ description.errors.maxlength["requiredLength"] }} characters
                  </ng-container>
								</span>
								<span class="label-text mr-2">Description</span>
							</div>
						</label>
						<label class="relative block" for="description">
							<!-- prettier-ignore -->
							<input
                id="description"
                type="text"
                class="input input-bordered truncate w-full pr-12"
                placeholder="Type post description"
                [class.input-success]="description.touched && description.valid"
                [class.input-error]="description.touched && description.invalid"
                [class.input-disabled]="postFormIsSubmitted"
                formControlName="description"
                aria-label="Description"
              />
							<button
								class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
								[class.btn-success]="description.touched && description.valid"
								[class.btn-error]="description.touched && description.invalid"
								[class.btn-ghost]="description.untouched"
								type="button"
								*ngIf="description.value.length"
								aria-label="Clear"
								title="Clear"
								appSvgIcon
								[appIcon]="'x'"
								[appSquare]="'1.75rem'"
								(click)="description.setValue('')"
							></button>
						</label>
					</fieldset>
				</fieldset>
			</form>
		</div>
		<div
			class="rounded-box flex flex-col space-y-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
		>
			<div class="rounded-box flex flex-col space-y-4 bg-base-200 p-4">
				<div
					appMarkdown
					[appTextareaId]="'textarea'"
					[appPreviewId]="'preview'"
				></div>
				<form class="block" autocomplete="off" [formGroup]="postForm">
					<fieldset class="form-control" *ngIf="postForm.get('body') as body">
						<label class="label" for="textarea">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="body.touched && body.errors"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!body.errors.required">
										Required
									</ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!body.errors.minlength">
                    Min length {{ body.errors.minlength["requiredLength"] }} characters
                  </ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!body.errors.maxlength">
                    Max length {{ body.errors.maxlength["requiredLength"] }} characters
                  </ng-container>
								</span>
								<span class="label-text mr-2">Body</span>
							</div>
							<span
								class="label-text-alt"
								[class.text-success]="body.touched && !body.errors"
								[class.text-error]="body.touched && body.errors"
							>
								{{ body.value.length }}/7200
							</span>
						</label>
						<textarea
							id="textarea"
							class="textarea textarea-bordered w-full"
							placeholder="Type post body"
							[rows]="8"
							[class.textarea-success]="body.touched && !body.errors"
							[class.textarea-error]="body.touched && body.errors"
							[class.textarea-disabled]="postFormIsSubmitted"
							formControlName="body"
							aria-label="Body"
						>
              {{ body.value }}
            </textarea>
					</fieldset>
				</form>
			</div>
			<div class="grid grid-cols-12 gap-4">
				<button
					class="btn btn-secondary col-span-12 sm:col-span-3"
					type="button"
					aria-label="Preview"
					(click)="onPreviewPost(true)"
				>
					Preview
				</button>
				<button
					class="btn btn-primary col-span-12 sm:col-span-9"
					type="button"
					aria-label="Submit"
					[disabled]="postForm.invalid"
					(click)="onSubmitPostForm()"
				>
					Submit
				</button>
			</div>
		</div>
	</div>
	<app-overlay [class.hidden]="!postPreview" (clicked)="onPreviewPost(false)">
		<app-window
			[appTitle]="'Preview'"
			(closed)="onPreviewPost(false)"
			slot="content"
		>
			<ng-container slot="content">
				<div
					class="my-4 grid grid-cols-12 gap-4 border-b border-base-content/20 pb-4"
					*ngIf="!!post"
				>
					<img
						class="rounded-box col-span-3 block h-full w-full object-cover"
						[src]="post.image"
						[alt]="post.title"
					/>
					<div class="col-span-9 flex flex-col">
						<h2 class="truncate text-2xl font-medium text-base-content">
							{{ post.title }}
						</h2>
						<span class="base-content mb-4 text-sm opacity-40">
							{{ post.category.name }}
						</span>
						<div class="rounded-box bg-base-200 p-4">
							{{ post.description }}
						</div>
					</div>
				</div>
				<article id="preview" class="prose max-w-none"></article>
				<div
					class="my-4 flex items-center justify-start space-x-4 border-t border-base-content/20 pt-4"
					*ngIf="!!post"
				>
					<a
						class="btn btn-link btn-circle"
						[routerLink]="['/@' + post.user.name]"
						[attr.aria-label]="post.user.name"
						[title]="post.user.name"
						[appUser]="post.user"
						appAvatar
					>
					</a>
					<div class="flex flex-col items-start justify-start">
						<a
							class="link link-primary"
							[routerLink]="['/@' + post.user.name]"
							[attr.aria-label]="post.user.name"
							[title]="post.user.name"
						>
							{{ post.user.name }}
						</a>
						<span class="base-content text-sm opacity-40">
							{{ post.user.biography }}
						</span>
					</div>
				</div>
			</ng-container>
			<ng-container slot="footer">
				<div class="pointer-events-none flex opacity-10" appShare></div>
			</ng-container>
		</app-window>
	</app-overlay>
</ng-container>
