<!-- @format -->

<ng-container>
	<div class="flex flex-col space-y-4 md:space-y-8">
		<div
			class="rounded-box grid w-full grid-cols-12 gap-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
		>
			<figure
				class="col-span-12 flex flex-col space-y-4 sm:col-span-4 md:col-span-3"
				*ngIf="postForm.get('image') as image"
			>
				<img
					class="rounded-box h-full max-h-[165px] w-full bg-base-200 object-cover"
					alt="Image"
					[src]="image.value"
				/>
				<button
					class="btn btn-primary btn-outline w-full"
					type="button"
					title="Image"
					aria-label="Image"
					(click)="postImage = true"
				>
					Image
				</button>
			</figure>
			<form
				class="col-span-12 flex flex-col rounded-none bg-base-100 sm:col-span-8 md:col-span-9"
				autocomplete="off"
				[formGroup]="postForm"
			>
				<h2 class="text-xl font-medium text-base-content">Write a post</h2>
				<hr class="my-2 border-base-content/20" />
				<fieldset
					class="grid grid-cols-12 gap-4"
					[disabled]="postFormIsSubmitted"
				>
					<fieldset
						class="form-control col-span-12 sm:col-span-7"
						*ngIf="postForm.get('name') as name"
					>
						<label class="label" for="postFormTitle">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="name.touched && !!name.errors"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!name.errors.required">
										Required
									</ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!name.errors.minlength">
                    Min length {{ name.errors.minlength["requiredLength"] }} characters
                  </ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!name.errors.maxlength">
                    Max length {{ name.errors.maxlength["requiredLength"] }} characters
                  </ng-container>
								</span>
								<span class="label-text mr-2">Name</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input input-bordered w-full truncate pr-12"
								id="postFormTitle"
								type="text"
								aria-label="Name"
								placeholder="Type post name"
								formControlName="name"
								[class.input-success]="name.touched && name.valid"
								[class.input-error]="name.touched && name.invalid"
								[class.input-disabled]="postFormIsSubmitted"
							/>
							<button
								class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
								type="button"
								title="Clear"
								aria-label="Clear"
								appSvgIcon
								*ngIf="!!name.value.length"
								[class.btn-success]="name.touched && name.valid"
								[class.btn-error]="name.touched && name.invalid"
								[class.btn-ghost]="name.untouched"
								[appIcon]="'x'"
								[appSquare]="'1.75rem'"
								(click)="name.setValue('')"
							></button>
						</div>
					</fieldset>
					<fieldset
						class="form-control col-span-12 sm:col-span-5"
						*ngIf="postForm.get('categoryName') as categoryName"
					>
						<label class="label" for="postFormCategoryName">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="categoryName.touched && !!categoryName.errors"
									[ngSwitch]="true"
								>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!categoryName.errors.required">
                    Required
                  </ng-container>
								</span>
								<span class="label-text mr-2">Category</span>
							</div>
						</label>
						<div appDropdown (toggled)="onToggleCategory($event)">
							<!-- prettier-ignore -->
							<input
								class="input input-bordered w-full cursor-pointer truncate"
								id="postFormCategoryName"
								type="text"
								aria-label="Category"
								placeholder="Select post category"
								formControlName="categoryName"
								slot="target"
								readonly
								[class.input-success]="categoryName.touched && categoryName.value"
								[class.input-error]="categoryName.touched && categoryName.invalid"
								[class.input-disabled]="postFormIsSubmitted"
							/>
							<ul
								class="menu rounded-box mt-2 max-h-64 flex-nowrap overflow-y-auto border border-base-content/20 bg-base-100 p-2 shadow"
								slot="content"
							>
								<li
									class="flex w-full overflow-hidden"
									*ngFor="let category of categoryList"
								>
									<button
										class="block w-full truncate text-left"
										type="button"
										[class.active]="categoryName.value === category.name"
										[attr.aria-label]="category.name"
										(click)="onChangeCategory(category)"
									>
										{{ category.name }}
									</button>
								</li>
							</ul>
						</div>
					</fieldset>
					<fieldset
						class="form-control col-span-12 sm:col-span-12"
						*ngIf="postForm.get('description') as description"
					>
						<label class="label" for="postFormDescription">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="description.touched && !!description.errors"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!description.errors.required">
										Required
									</ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!description.errors.minlength">
                    Min length {{ description.errors.minlength["requiredLength"] }} characters
                  </ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!description.errors.maxlength">
                    Max length {{ description.errors.maxlength["requiredLength"] }} characters
                  </ng-container>
								</span>
								<span class="label-text mr-2">Description</span>
							</div>
						</label>
						<div class="relative">
							<input
								class="input input-bordered w-full truncate pr-12"
								id="postFormDescription"
								type="text"
								aria-label="Description"
								placeholder="Type post description"
								formControlName="description"
								[class.input-success]="description.touched && description.valid"
								[class.input-error]="description.touched && description.invalid"
								[class.input-disabled]="postFormIsSubmitted"
							/>
							<button
								class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
								type="button"
								title="Clear"
								aria-label="Clear"
								appSvgIcon
								*ngIf="!!description.value.length"
								[class.btn-success]="description.touched && description.valid"
								[class.btn-error]="description.touched && description.invalid"
								[class.btn-ghost]="description.untouched"
								[appIcon]="'x'"
								[appSquare]="'1.75rem'"
								(click)="description.setValue('')"
							></button>
						</div>
					</fieldset>
				</fieldset>
			</form>
		</div>
		<div
			class="rounded-box flex flex-col space-y-4 border border-base-content/20 bg-base-100 p-4 shadow-xl"
		>
			<div class="rounded-box flex flex-col space-y-4 bg-base-200 p-4">
				<div
					appMarkdown
					[appTextareaId]="'postFormTextarea'"
					[appPreviewId]="'postFormPreview'"
				></div>
				<form class="block" autocomplete="off" [formGroup]="postForm">
					<fieldset
						class="form-control"
						*ngIf="postForm.get('markdown') as markdown"
					>
						<label class="label" for="postFormTextarea">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="markdown.touched && !!markdown.errors"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!markdown.errors.required">
										Required
									</ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!markdown.errors.minlength">
                    Min length {{ markdown.errors.minlength["requiredLength"] }} characters
                  </ng-container>
									<!-- prettier-ignore -->
									<ng-container *ngSwitchCase="!!markdown.errors.maxlength">
                    Max length {{ markdown.errors.maxlength["requiredLength"] }} characters
                  </ng-container>
								</span>
								<span class="label-text mr-2">Markdown</span>
							</div>
							<span
								class="label-text-alt"
								[class.text-success]="markdown.touched && !markdown.errors"
								[class.text-error]="markdown.touched && !!markdown.errors"
							>
								{{ markdown.value.length }}/7200
							</span>
						</label>
						<textarea
							class="textarea textarea-bordered w-full font-mono"
							id="postFormTextarea"
							aria-label="Markdown"
							placeholder="Type post markdown"
							formControlName="markdown"
							[rows]="8"
							[class.textarea-success]="markdown.touched && !markdown.errors"
							[class.textarea-error]="markdown.touched && !!markdown.errors"
							[class.textarea-disabled]="postFormIsSubmitted"
						>
              {{ markdown.value }}
            </textarea>
					</fieldset>
				</form>
			</div>
			<div class="grid grid-cols-12 gap-4">
				<button
					class="btn btn-secondary col-span-12 sm:col-span-3"
					type="button"
					aria-label="Preview"
					(click)="onPreviewPost(true)"
				>
					Preview
				</button>
				<button
					class="btn btn-primary col-span-12 sm:col-span-9"
					type="button"
					aria-label="Submit"
					[disabled]="postForm.invalid"
					(click)="onSubmitPostForm()"
				>
					Submit
				</button>
			</div>
		</div>
	</div>
	<app-overlay [class.hidden]="!postPreview" (clicked)="onPreviewPost(false)">
		<app-window
			slot="content"
			[appTitle]="'Preview'"
			(closed)="onPreviewPost(false)"
		>
			<app-post-detail
				slot="content"
				*ngIf="!!post"
				[appPost]="post"
			></app-post-detail>
			<app-share
				class="pointer-events-none flex opacity-10"
				slot="footer"
			></app-share>
		</app-window>
	</app-overlay>
	<app-overlay [class.hidden]="!postImage" (clicked)="postImage = false">
		<app-window
			slot="content"
			[appTitle]="'Image'"
			(closed)="postImage = false"
		>
			<app-cropper
				slot="content"
				(closed)="postImage = false"
				(submitted)="onSubmitCropper($event)"
			>
			</app-cropper>
		</app-window>
	</app-overlay>
	<article class="prose max-w-none" id="postFormPreview"></article>
</ng-container>
