<!-- @format -->

<ng-container>
	<div class="flex flex-col space-y-4 md:space-y-8">
		<div
			class="grid grid-cols-1 sm:grid-cols-12 gap-4 bg-base-100 border rounded-box shadow-xl w-full p-4"
		>
			<ul class="steps steps-vertical col-span-1 mx-auto w-10 overflow-hidden">
				<li class="step step-primary"></li>
				<li class="step step-primary"></li>
				<li class="step"></li>
				<li class="step"></li>
			</ul>
			<div
				class="flex flex-col items-start sm:items-center justify-center space-y-4 col-span-4 rounded-t-box sm:rounded-box bg-base-200 -mx-4 -mt-4 sm:m-0 p-4"
			>
				<h2 class="text-xl text-base-content font-medium">Login via</h2>
				<div class="inline text-left sm:text-center">
					<span class="block text-base-content">Don't have an account?</span>
					<a
						class="link link-primary"
						[routerLink]="['../registration']"
						aria-label="Join now"
					>
						Registration
					</a>
				</div>
			</div>
			<form
				class="flex flex-col col-span-7 rounded-none bg-base-100"
				autocomplete="off"
				[formGroup]="postForm"
			>
				<div class="flex flex-col">
					<h2 class="text-xl text-base-content font-medium">Write a post</h2>
					<div class="flex space-x-1 text-base-content">
						Enter the accompanying information
					</div>
				</div>
				<hr class="my-4" />
				<fieldset
					class="flex flex-col space-y-4"
					[disabled]="postFormIsSubmitted"
				>
					<fieldset class="form-control" *ngIf="postForm.get('title') as title">
						<label class="label" for="title">
							<span class="label-text">Title</span>
						</label>
						<input
							id="title"
							type="text"
							class="input input-bordered truncate w-full"
							placeholder="Type post title"
							[class.input-success]="title.touched && !title.errors"
							[class.input-error]="title.touched && title.errors"
							[class.input-disabled]="postFormIsSubmitted"
							formControlName="title"
							aria-label="Title"
						/>
						<label
							class="label"
							for="title"
							*ngIf="title.touched && title.errors"
						>
							<span class="label-text text-error" [ngSwitch]="true">
								<ng-container *ngSwitchCase="!!title.errors.required">
									Required
								</ng-container>
								<!-- prettier-ignore -->
								<ng-container *ngSwitchCase="!!title.errors.minlength">
                  Min length {{ title.errors.minlength["requiredLength"] }} characters
                </ng-container>
								<!-- prettier-ignore -->
								<ng-container *ngSwitchCase="!!title.errors.maxlength">
                  Max length {{ title.errors.maxlength["requiredLength"] }} characters
                </ng-container>
							</span>
						</label>
					</fieldset>
					<fieldset
						class="form-control"
						*ngIf="postForm.get('description') as description"
					>
						<label class="label" for="description">
							<span class="label-text">Description</span>
						</label>
						<!-- prettier-ignore -->
						<input
              id="description"
              type="text"
              class="input input-bordered truncate w-full"
              placeholder="Type post description"
              [class.input-success]="description.touched && !description.errors"
              [class.input-error]="description.touched && description.errors"
              [class.input-disabled]="postFormIsSubmitted"
              formControlName="description"
              aria-label="Description"
            />
						<label
							class="label"
							for="description"
							*ngIf="description.touched && description.errors"
						>
							<span class="label-text text-error" [ngSwitch]="true">
								<ng-container *ngSwitchCase="!!description.errors.required">
									Required
								</ng-container>
								<!-- prettier-ignore -->
								<ng-container *ngSwitchCase="!!description.errors.minlength">
                  Min length {{ description.errors.minlength["requiredLength"] }} characters
                </ng-container>
								<!-- prettier-ignore -->
								<ng-container *ngSwitchCase="!!description.errors.maxlength">
                  Max length {{ description.errors.maxlength["requiredLength"] }} characters
                </ng-container>
							</span>
						</label>
					</fieldset>
				</fieldset>
			</form>
		</div>
		<div class="bg-primary-content border rounded-box shadow-xl p-4">
			<div class="flex flex-col space-y-4 bg-base-200 rounded-box p-4">
				<div
					appMarkdown
					[appTextareaId]="'textarea'"
					[appPreviewId]="'preview'"
				></div>
				<form class="block" autocomplete="off" [formGroup]="postForm">
					<fieldset class="form-control" *ngIf="postForm.get('body') as body">
						<label class="label" for="textarea">
							<span class="label-text">Body</span>
						</label>
						<label class="flex">
							<textarea
								id="textarea"
								class="textarea textarea-bordered w-full"
								placeholder="Type post body"
								[rows]="10"
								[class.textarea-success]="body.touched && !body.errors"
								[class.textarea-error]="body.touched && body.errors"
								[class.textarea-disabled]="postFormIsSubmitted"
								formControlName="body"
								aria-label="Body"
							>
                {{ body.value }}
              </textarea>
						</label>
						<label
							class="label"
							for="textarea"
							*ngIf="body.touched && body.errors"
						>
							<span class="label-text text-error" [ngSwitch]="true">
								<ng-container *ngSwitchCase="!!body.errors.required">
									Required
								</ng-container>
								<!-- prettier-ignore -->
								<ng-container *ngSwitchCase="!!body.errors.minlength">
                  Min length {{ body.errors.minlength["requiredLength"] }} characters
                </ng-container>
								<!-- prettier-ignore -->
								<ng-container *ngSwitchCase="!!body.errors.maxlength">
                  Max length {{ body.errors.maxlength["requiredLength"] }} characters
                </ng-container>
							</span>
						</label>
					</fieldset>
				</form>
			</div>
			<!-- TODO: update preview -->
			<article
				id="preview"
				class="preview markdown-html bg-primary-3 border border-primary-4 rounded-md overflow-auto p-4"
			></article>
			<button
				class="btn btn-success md block w-full"
				type="button"
				aria-label="Next"
				[disabled]="postForm.invalid"
				(click)="onSubmitPostForm()"
			>
				Next
			</button>
			<router-outlet></router-outlet>
		</div>
	</div>
</ng-container>
