<!-- @format -->

<ng-container>
	<ng-container *ngIf="!!postList.length; else postListEmptyTemplate">
		<ul class="grid grid-cols-2 grid-rows-none gap-4 sm:grid-cols-3 md:grid-cols-4">
			<li
				class="block"
				appCardPost
				*ngFor="let post of postList"
				[ngClass]="post.image ? 'row-span-6' : 'row-span-3'"
				[appCardPostPost]="post"
				[appCardPostSkeletonToggle]="postListSkeletonToggle"
				[appPostUrl]="'post'"
			></li>
		</ul>
		<ng-container *ngIf="!abstractListPageScrollInfinite">
			<button
				class="btn-md btn-success btn mt-4 w-full"
				type="button"
				aria-label="Load more"
				*ngIf="abstractListIsHasMore"
				[disabled]="abstractListIsLoading$ | async"
				(click)="getAbstractListLoadMore()"
			>
				<span class="loading loading-spinner" *ngIf="abstractListIsLoading$ | async"></span>
				Load more
			</button>
		</ng-container>
	</ng-container>
	<ng-template #postListEmptyTemplate>
		<div class="flex flex-col items-center gap-4">
			<i
				class="fill-current text-base-content"
				appSvgIcon
				[appSvgIconIcon]="'exclamation-circle'"
				[appSvgIconSquare]="'3em'"
			></i>
			<div class="text-center">
				<p class="text-xl font-bold text-base-content">
					Posts <span class="text-error">not found</span>
				</p>
				<a
					class="link text-sm"
					title="Create post"
					aria-label="Create post"
					[routerLink]="['/create']"
				>
					Create post
				</a>
			</div>
		</div>
	</ng-template>
	<div class="block">
		<router-outlet></router-outlet>
	</div>
</ng-container>
