<ng-container>
  <a class="flex justify-start items-center" [routerLink]="['/']" aria-label="Draftnow">
    <app-svg-icon class="fill-current text-secondary-1 p-2" [appIcon]="'box-arrow-in-down'"></app-svg-icon>
    <span class="text-secondary-1">Draftnow</span>
  </a>
  <ng-container *appAuthed="false">
    <nav class="flex justify-end items-center space-x-4">
      <a class="btn btn-info" [routerLink]="['/auth/login']" aria-label="Login">Login</a>
    </nav>
  </ng-container>
  <ng-container *appAuthed="true">
    <nav class="flex justify-end items-center" *ngIf="user$ | async as user">
      <a
        class="fill-current text-secondary-1 hover:text-info-1 p-2"
        [routerLink]="['/posts/create']"
        [routerLinkActive]="['text-info-1']"
        [routerLinkActiveOptions]="{ exact: true }"
        aria-label="Post create"
        appSvgIcon
        [appIcon]="'file-earmark-plus'">
      </a>
      <a
        class="fill-current text-secondary-1 hover:text-info-1 p-2"
        [routerLink]="['/search']"
        [routerLinkActive]="['text-info-1']"
        aria-label="Search"
        appSvgIcon
        [appIcon]="'search'"
        [appSquare]="'1.15em'">
      </a>
      <ng-container>
        <a
          class="hidden md:block text-secondary-1 hover:text-info-1 hover:underline mx-2"
          [routerLink]="['/users/profile']"
          [routerLinkActive]="['text-info-1']"
          aria-label="Profile">{{user.name}}
        </a>
        <a
          class="block md:hidden fill-current text-secondary-1 hover:text-info-1 p-2"
          [routerLink]="['/users/profile']"
          [routerLinkActive]="['text-info-1']"
          aria-label="Profile"
          appSvgIcon
          [appIcon]="'person'">
        </a>
      </ng-container>
      <app-dropdown
        class="flex relative"
        *ngIf="{ value: false } as active"
        (toggle)="active.value = $event">
        <button
          class="block fill-current text-secondary-1 hover:text-info-1 cursor-pointer p-2"
          [ngClass]="{ 'text-info-1': active.value }"
          type="button"
          aria-label="Menu"
          appSvgIcon
          [appIcon]="'three-dots-vertical'"
          slot="toggle">
        </button>
        <div class="flex flex-col items-end -mt-1" slot="content">
          <div class="w-3 overflow-hidden inline-block mx-3">
            <div class="h-2 w-2 bg-primary-2 rotate-45 transform origin-bottom-left"></div>
          </div>
          <ul class="flex flex-col bg-primary-2 rounded-md shadow-lg py-2" slot="content">
            <li class="block">
              <a
                class="block text-secondary-1 hover:text-info-1 hover:underline hover:bg-primary-1 w-full py-2 px-4"
                [routerLink]="['/users/settings']"
                [routerLinkActive]="['text-info-1']"
                [routerLinkActiveOptions]="{ exact: true }"
                aria-label="Settings">Settings
              </a>
            </li>
            <li
              class="block text-secondary-1 hover:text-info-1 hover:underline hover:bg-primary-1 cursor-pointer w-full py-2 px-4"
              (click)="onLogout()">Logout
            </li>
          </ul>
        </div>
      </app-dropdown>
    </nav>
  </ng-container>
</ng-container>
