<!-- @format -->

<ng-container>
	<!-- prettier-ignore-attribute (click) -->
	<dialog
		class="modal"
		#cropperDialogElement
		(keydown.escape)="$event.preventDefault(); onToggleCropper(false)"
		(click)="$event.target === $event.currentTarget ? onToggleCropper(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-lg"
			appWindow
			[appWindowTitle]="'Cropper'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onToggleCropper(false)"
		>
			<div
				class="flex flex-col p-4"
				slot="content"
				[class.overflow-hidden]="!cropperIsReady"
				[class.gap-4]="cropperIsReady"
			>
				<!-- prettier-ignore -->
				<form
					class="flex flex-col gap-4"
					autocomplete="off"
					[formGroup]="imageForm"
					[ngClass]="{ 'hidden': cropperIsReady }"
				>
					<p class="alert" role="alert">
						<i
							class="fill-current text-info"
							appSvgIcon
							[appSvgIconIcon]="'info-circle'"
							[appSvgIconSquare]="'1.5em'"
						></i>
						<span class="block">
              https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg
              <br />
              <br />
              Browse file on your device or paste link from internet
            </span>
					</p>
					<fieldset class="form-control" *ngIf="imageForm.get('url') as url">
						<label class="label" for="imageFormUrl">
							<div class="indicator">
								<span
									class="badge indicator-item badge-error w-max translate-x-full translate-y-0 text-xs"
									*ngIf="url.dirty && !!url.errors && imageForm.enabled"
									[ngSwitch]="true"
								>
									<ng-container *ngSwitchCase="!!url.errors.required"> Required </ng-container>
									<ng-container *ngSwitchCase="!!url.errors.pattern">
										Url does not correct
									</ng-container>
								</span>
								<span class="label-text mr-2">Image</span>
							</div>
						</label>
						<div class="flex items-center justify-between gap-4">
							<div class="relative w-full">
								<input
									class="input input-bordered input-md w-full !pr-12"
									id="imageFormUrl"
									type="text"
									aria-label="Url"
									formControlName="url"
									placeholder="Paste image from clipboard or URL"
									appInputOnlyPaste
									appInputTrimWhitespace
									[class.input-success]="url.value && url.valid"
									[class.input-error]="url.dirty && url.invalid"
                  (input)="onGetFileFromInternet($event)"
                  (paste)="onGetFileFromDeviceClipboard($event)"
								/>
								<button
									class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
									type="button"
									aria-label="Clear"
									appSvgIcon
									*ngIf="!!url.value.length"
									[class.btn-success]="url.valid"
									[class.btn-error]="url.dirty && url.invalid"
									[class.btn-ghost]="url.pristine && url.invalid"
									[disabled]="imageForm.disabled"
									[appSvgIconIcon]="'x'"
									[appSvgIconSquare]="'2em'"
									(click)="url.setValue('')"
								></button>
							</div>
							<input
								class="hidden"
								type="file"
								#imageFormFile
								[accept]="imageFormMime"
								(change)="onGetFileFromDevice($event)"
							/>
							<button
								class="btn-success btn-square btn fill-current p-3"
								type="button"
								aria-label="Browse"
								[class.btn-outline]="imageForm.enabled"
								[disabled]="imageForm.disabled"
								[ngSwitch]="imageForm.disabled && !cropperFile"
								(click)="imageFormFile.click()"
							>
								<span class="loading loading-spinner" *ngSwitchCase="true"></span>
								<i
									class="block"
									appSvgIcon
									*ngSwitchDefault
									[appSvgIconIcon]="'folder'"
									[appSvgIconSquare]="'1.75em'"
								>
								</i>
							</button>
						</div>
						<label class="label" for="imageFormUrl">
							<span class="label-text-alt">Accept only <span class="inline font-bold">{{ imageFormMimeComputed() }}</span> files</span>
						</label>
					</fieldset>
				</form>
				<div class="flex flex-col gap-4" [ngClass]="{ 'invisible !m-0 !h-0': !cropperIsReady }">
					<div class="block -m-4" [class.cursor-not-allowed]="ipaOperationRequestIsBusy">
						<image-cropper
							class="ngx-cropper aspect-square !p-4"
							*appPlatform="'browser'"
							[(transform)]="cropperImageTransform"
							[class.ngx-cropper-disabled]="ipaOperationRequestIsBusy"
							[class.ngx-cropper-move-image]="cropperMoveImage"
							[imageFile]="cropperFile"
							[imageAltText]="'Image cropper'"
							[output]="'blob'"
							[format]="'png'"
							[aspectRatio]="cropperAspectRatio"
							[maintainAspectRatio]="true"
							[containWithinAspectRatio]="true"
							[resizeToWidth]="256"
							[resizeToHeight]="256"
							[cropper]="cropperPosition"
							[roundCropper]="false"
							[alignImage]="'center'"
							[allowMoveImage]="cropperMoveImage"
							(imageCropped)="onCropperCropped($event)"
							(cropperReady)="onCropperReady($event)"
							(loadImageFailed)="onCropperFailed()"
						>
						</image-cropper>
					</div>
					<form
						class="flex flex-col gap-4 bg-base-200 rounded-box p-4"
						autocomplete="off"
						*ngIf="cropperImageFormToggle"
						[formGroup]="cropperImageForm"
					>
						<fieldset class="form-control" *ngIf="cropperImageForm.get('scale') as scale">
							<label class="label w-full gap-4 p-0">
								<span class="label-text">Scale</span>
								<input
									class="range flex-1"
									type="range"
									aria-label="Scale"
									formControlName="scale"
									[min]="1"
									[max]="5"
									[step]="0.1"
									[value]="scale.value"
								/>
								<input
									class="input-bordered input input-sm w-14 text-center"
									type="number"
									aria-label="Scale"
									formControlName="scale"
									[class.input-success]="scale.valid"
									[class.input-error]="scale.invalid"
									[value]="scale.value"
								/>
							</label>
						</fieldset>
						<fieldset class="form-control" *ngIf="cropperImageForm.get('rotate') as rotate">
							<label class="label w-full gap-4 p-0">
								<span class="label-text">Rotate</span>
								<input
									class="range flex-1"
									type="range"
									aria-label="Rotate"
									formControlName="rotate"
									[min]="0"
									[max]="360"
									[step]="5"
									[value]="rotate.value"
								/>
								<input
									class="input-bordered input input-sm w-14 text-center"
									type="number"
									aria-label="Rotate"
									formControlName="rotate"
									[class.input-success]="rotate.valid"
									[class.input-error]="rotate.invalid"
									[value]="rotate.value"
								/>
							</label>
						</fieldset>
					</form>
					<div class="flex items-start justify-between gap-4">
						<!-- prettier-ignore -->
						<div
							class="flex overflow-auto rounded-btn border border-base-content/20"
							[ngClass]="{ 'border-transparent bg-base-200 cursor-not-allowed': ipaOperationRequestIsBusy }"
						>
							<ul
                class="menu rounded-btn menu-horizontal menu-md flex-nowrap border-none p-0"
                [ngClass]="{ 'pointer-events-none': ipaOperationRequestIsBusy }"
              >
                <li class="inline-block" [class.disabled]="ipaOperationRequestIsBusy">
                  <button
                    class="fill-current p-3"
                    type="button"
                    title="Move bounding box"
                    aria-label="Move bounding box"
                    appSvgIcon
                    [disabled]="ipaOperationRequestIsBusy"
                    [appSvgIconIcon]="'bounding-box-circles'"
                    [appSvgIconSquare]="'1.5725em'"
                    [ngClass]="{ 'active' : !cropperMoveImage && !ipaOperationRequestIsBusy }"
                    (click)="cropperMoveImage = false"
                  ></button>
                </li>
                <li class="inline-block" [class.disabled]="ipaOperationRequestIsBusy">
                  <button
                    class="fill-current p-3"
                    type="button"
                    title="Move image"
                    aria-label="Move image"
                    appSvgIcon
                    [disabled]="ipaOperationRequestIsBusy"
                    [appSvgIconIcon]="'arrows-move'"
                    [appSvgIconSquare]="'1.5725em'"
                    [ngClass]="{ 'active' : cropperMoveImage && !ipaOperationRequestIsBusy }"
                    (click)="cropperMoveImage = true"
                  ></button>
                </li>
                <li class="inline-block" [class.disabled]="ipaOperationRequestIsBusy">
                  <button
                    class="rotate-90 fill-current p-3"
                    type="button"
                    title="Flip horizontal"
                    aria-label="Flip horizontal"
                    appSvgIcon
                    [disabled]="ipaOperationRequestIsBusy"
                    [appSvgIconIcon]="'symmetry-vertical'"
                    [appSvgIconSquare]="'1.5725em'"
                    (click)="setCropperImageFlip(true)"
                  ></button>
                </li>
                <li class="inline-block" [class.disabled]="ipaOperationRequestIsBusy">
                  <button
                    class="fill-current p-3"
                    type="button"
                    title="Flip vertical"
                    aria-label="Flip vertical"
                    appSvgIcon
                    [disabled]="ipaOperationRequestIsBusy"
                    [appSvgIconIcon]="'symmetry-vertical'"
                    [appSvgIconSquare]="'1.5725em'"
                    (click)="setCropperImageFlip(false)"
                  ></button>
                </li>
                <li class="inline-block" [class.disabled]="ipaOperationRequestIsBusy">
                  <div
                    class="flex p-0"
                    appDropdown
                    #dropdownAspectRatio
                    *ngIf="{ value: false } as toggle"
                    [ngClass]="{ 'bg-base-content/10': toggle.value }"
                    [appDropdownPlacement]="'top-start'"
                    (appDropdownToggle)="toggle.value = $event"
                  >
                    <button
                      class="fill-current p-3"
                      type="button"
                      title="Aspect ratio"
                      aria-label="Aspect ratio"
                      appSvgIcon
                      slot="target"
                      [disabled]="ipaOperationRequestIsBusy"
                      [appSvgIconIcon]="'aspect-ratio'"
                      [appSvgIconSquare]="'1.5725em'"
                    ></button>
                    <ul class="menu menu-vertical menu-md m-0" slot="content">
                      <li class="flex w-full" *ngFor="let cropperAspectRatio of cropperAspectRatioList">
                        <button
                          class="w-full whitespace-nowrap text-base-content"
                          type="button"
                          [attr.aria-label]="cropperAspectRatio"
                          (click)="setCropperImageAspectRatio(cropperAspectRatio)"
                        >
                          <span class="block">
                            {{ cropperAspectRatio }}
                          </span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="inline-block" [class.disabled]="ipaOperationRequestIsBusy">
                  <button
                    class="fill-current p-3"
                    type="button"
                    title="Sliders"
                    aria-label="Sliders"
                    appSvgIcon
                    [disabled]="ipaOperationRequestIsBusy"
                    [appSvgIconIcon]="'sliders'"
                    [appSvgIconSquare]="'1.5725em'"
                    [ngClass]="{ 'active' : cropperImageFormToggle }"
                    (click)="cropperImageFormToggle = !cropperImageFormToggle"
                  ></button>
                </li>
              </ul>
						</div>
						<button
							class="btn-ghost w-12 h-12 btn-square btn bg-base-200 fill-current"
							type="button"
							title="Reset cropper"
							aria-label="Reset cropper"
							appSvgIcon
							[disabled]="ipaOperationRequestIsBusy"
							[appSvgIconIcon]="'arrow-repeat'"
							[appSvgIconSquare]="'1.5em'"
							(click)="onCropperReset()"
						></button>
					</div>
					<button
						class="btn btn-success w-full"
						type="button"
						aria-label="Submit"
						[disabled]="ipaOperationRequestIsBusy"
						(click)="onSubmitCropper()"
					>
						<span class="loading loading-spinner" *ngIf="ipaOperationRequestIsBusy"></span>
						Submit
					</button>
				</div>
			</div>
		</div>
	</dialog>
</ng-container>
