<!-- @format -->

<ng-container>
	<dialog
		class="modal"
		#cropperDialogElement
		(keydown.escape)="$event.preventDefault(); onToggleCropperDialog(false)"
		(click)="$event.target === $event.currentTarget ? onToggleCropperDialog(false) : $event"
	>
		<div
			class="flex items-center justify-center w-full max-w-md"
			appWindow
			[appWindowTitle]="'Cropper'"
			[appWindowButtons]="['close']"
			(appWindowClose)="onToggleCropperDialog(false)"
		>
			<div
				class="flex flex-col p-4"
				slot="content"
				[class.overflow-hidden]="!cropperIsReady"
				[class.gap-4]="cropperIsReady"
			>
				<form class="flex flex-col gap-4" autocomplete="off" [formGroup]="imageForm" [class.hidden]="cropperIsReady">
					<p class="alert" role="alert">
						<i
							class="fill-current text-info"
							appSvgIcon
							[appSvgIconIcon]="'info-circle'"
							[appSvgIconSquare]="'1.5em'"
						></i>
						<span class="block"> Browse file or paste it from clipboard or URL </span>
					</p>
					@if (imageForm.get("url"); as url) {
						<fieldset class="form-control">
							<label class="label" for="imageFormUrl">
								<div class="indicator">
									@if (url.dirty && !!url.errors && imageForm.enabled) {
										<div class="block" appBadgeError [appBadgeErrorAbstractControl]="url"></div>
									}
									<span class="label-text mr-2">Image</span>
								</div>
							</label>
							<div class="flex items-center justify-between gap-4">
								<div class="relative w-full">
									<input
										class="input input-bordered input-md w-full"
										id="imageFormUrl"
										type="text"
										title="Paste image"
										aria-label="Paste image"
										inputmode="none"
										formControlName="url"
										placeholder="Paste image from clipboard or URL"
										appInputOnlyPaste
										appInputTrimWhitespace
										[class.input-success]="url.value && url.valid"
										[class.input-error]="url.dirty && url.invalid"
										(paste)="onGetFileFromClipboard($event)"
									/>
									@if (url.value) {
										<button
											class="btn btn-circle btn-sm absolute top-2 right-2 fill-current"
											type="button"
											title="Clear input"
											aria-label="Clear input"
											appSvgIcon
											[class.btn-success]="url.valid"
											[class.btn-error]="url.dirty && url.invalid"
											[class.btn-ghost]="url.pristine && url.invalid"
											[disabled]="imageForm.disabled"
											[appSvgIconIcon]="'x'"
											[appSvgIconSquare]="'2em'"
											(click)="url.setValue('')"
										></button>
									}
								</div>
								<input
									class="hidden"
									type="file"
									#imageFormFile
									[accept]="imageFormMime"
									(change)="onGetFileFromDevice($event)"
								/>
								<button
									class="btn-success btn-outline btn-md btn-square btn fill-current p-3"
									type="button"
									title="Browse"
									aria-label="Browse"
									[disabled]="imageForm.disabled"
									(click)="imageFormFile.click()"
								>
									@switch (imageForm.disabled && !cropperFile) {
										@case (true) {
											<span class="loading loading-spinner"></span>
										}
										@default {
											<i class="block" appSvgIcon [appSvgIconIcon]="'folder'" [appSvgIconSquare]="'1.75em'"> </i>
										}
									}
								</button>
							</div>
							<!-- prettier-ignore -->
							<label class="label" for="imageFormUrl">
								<span class="label-text-alt"> Accept only <strong class="inline font-bold">{{ imageFormMimeComputed() }}</strong> files</span>
							</label>
						</fieldset>
					}
				</form>
				<div class="flex flex-col gap-4" [ngClass]="{ 'invisible opacity-0 !m-0 !h-0': !cropperIsReady }">
					<div class="block -m-4" [class.cursor-not-allowed]="cropperImageForm.disabled">
						<image-cropper
							class="ngx-cropper aspect-square !p-4"
							*appPlatform="'browser'"
							[(transform)]="cropperImageTransform"
							[class.ngx-cropper-disabled]="cropperImageForm.disabled"
							[class.ngx-cropper-move-image]="cropperMoveImage"
							[class.ngx-cropper-maintain-aspect-ratio]="!!cropperAspectRatioActive"
							[imageFile]="cropperFile"
							[imageAltText]="'Image cropper'"
							[output]="'blob'"
							[format]="'png'"
							[aspectRatio]="cropperAspectRatioActive || 1"
							[maintainAspectRatio]="!!cropperAspectRatioActive"
							[containWithinAspectRatio]="true"
							[resizeToWidth]="cropperResizeToWidth"
							[resizeToHeight]="cropperResizeToHeight"
							[cropperMinWidth]="cropperMinWidth"
							[cropperMinHeight]="cropperMinHeight"
							[cropper]="cropperPosition"
							[roundCropper]="false"
							[alignImage]="'center'"
							[allowMoveImage]="cropperMoveImage"
							(imageCropped)="onCropperCropped($event)"
							(cropperReady)="onCropperReady($event)"
							(loadImageFailed)="onCropperFailed()"
						>
						</image-cropper>
					</div>
					<div class="flex items-start justify-between gap-4">
						<div
							class="flex overflow-auto rounded-btn border border-base-content/20"
							[ngClass]="{ 'border-transparent bg-base-200 cursor-not-allowed': cropperImageForm.disabled }"
						>
							<ul
								class="menu rounded-btn menu-horizontal menu-md flex-nowrap border-none p-0"
								[class.pointer-events-none]="cropperImageForm.disabled"
							>
								<li class="inline-block" [class.disabled]="cropperImageForm.disabled">
									<button
										class="fill-current p-3"
										type="button"
										title="Move bounding box"
										aria-label="Move bounding box"
										appSvgIcon
										[disabled]="cropperImageForm.disabled"
										[appSvgIconIcon]="'bounding-box-circles'"
										[appSvgIconSquare]="'1.5725em'"
										[class.active]="!cropperMoveImage && !cropperImageForm.disabled"
										(click)="cropperMoveImage = false"
									></button>
								</li>
								<li class="inline-block" [class.disabled]="cropperImageForm.disabled">
									<button
										class="fill-current p-3"
										type="button"
										title="Move image"
										aria-label="Move image"
										appSvgIcon
										[disabled]="cropperImageForm.disabled"
										[appSvgIconIcon]="'arrows-move'"
										[appSvgIconSquare]="'1.5725em'"
										[class.active]="cropperMoveImage && !cropperImageForm.disabled"
										(click)="cropperMoveImage = true"
									></button>
								</li>
								<li class="inline-block" [class.disabled]="cropperImageForm.disabled">
									@if (cropperImageForm.get("flipV"); as flipV) {
										<button
											class="rotate-90 fill-current p-3"
											type="button"
											title="Mirror horizontal"
											aria-label="Mirror horizontal"
											appSvgIcon
											[disabled]="cropperImageForm.disabled"
											[appSvgIconIcon]="'symmetry-vertical'"
											[appSvgIconSquare]="'1.5725em'"
											(click)="flipV.setValue(!flipV.value)"
										></button>
									}
								</li>
								<li class="inline-block" [class.disabled]="cropperImageForm.disabled">
									@if (cropperImageForm.get("flipH"); as flipH) {
										<button
											class="fill-current p-3"
											type="button"
											title="Mirror vertical"
											aria-label="Mirror vertical"
											appSvgIcon
											[disabled]="cropperImageForm.disabled"
											[appSvgIconIcon]="'symmetry-vertical'"
											[appSvgIconSquare]="'1.5725em'"
											(click)="flipH.setValue(!flipH.value)"
										></button>
									}
								</li>
								@if (markdownItToggle) {
									<li class="inline-block" [class.disabled]="cropperImageForm.disabled">
										<div
											class="flex p-0"
											appDropdown
											[appDropdownPlacement]="'top-start'"
											[appDropdownActiveClassList]="['bg-base-content/10']"
										>
											<button
												class="fill-current p-3"
												type="button"
												title="Aspect ratio"
												aria-label="Aspect ratio"
												appSvgIcon
												slot="target"
												[disabled]="cropperImageForm.disabled"
												[appSvgIconIcon]="'aspect-ratio'"
												[appSvgIconSquare]="'1.5725em'"
											></button>
											<ul class="menu menu-vertical menu-md m-0" slot="content">
												@for (cropperAspectRatio of cropperAspectRatioList; track cropperAspectRatio.id) {
													<li class="flex w-full">
														<button
															class="w-full whitespace-nowrap text-base-content"
															type="button"
															[class.active]="cropperAspectRatioActive === cropperAspectRatio.value"
															[title]="cropperAspectRatio.label"
															[attr.aria-label]="cropperAspectRatio.label"
															(click)="cropperAspectRatioActive = cropperAspectRatio.value"
														>
															{{ cropperAspectRatio.label }}
														</button>
													</li>
												}
											</ul>
										</div>
									</li>
								}
								<li class="inline-block" [class.disabled]="cropperImageForm.disabled">
									<div
										class="flex p-0"
										appDropdown
										[appDropdownPlacement]="'top'"
										[appDropdownClose]="false"
										[appDropdownActiveClassList]="['bg-base-content/10']"
									>
										<button
											class="fill-current p-3"
											type="button"
											title="Rotate"
											aria-label="Rotate"
											appSvgIcon
											slot="target"
											[disabled]="cropperImageForm.disabled"
											[appSvgIconIcon]="'arrow-clockwise'"
											[appSvgIconSquare]="'1.5725em'"
										></button>
										<div class="min-w-80 sm:min-w-96 px-4" slot="content">
											<form
												class="flex rounded-box cursor-default border border-base-content/20 bg-base-100 shadow w-full p-4"
												autocomplete="off"
												[formGroup]="cropperImageForm"
											>
												@if (cropperImageForm.get("rotate"); as rotate) {
													<fieldset class="form-control w-full">
														<label class="label w-full gap-4 p-0">
															<span class="label-text">Rotate</span>
															<input
																class="range range-success range-md flex-1"
																type="range"
																title="Rotate range"
																aria-label="Rotate range"
																formControlName="rotate"
																[min]="0"
																[max]="360"
																[step]="5"
																[value]="rotate.value"
															/>
															<input
																class="input-bordered input input-sm w-14 text-center"
																type="number"
																title="Rotate value"
																aria-label="Rotate value"
																inputmode="numeric"
																formControlName="rotate"
																[class.input-success]="rotate.valid"
																[class.input-error]="rotate.invalid"
																[value]="rotate.value"
															/>
														</label>
													</fieldset>
												}
											</form>
										</div>
									</div>
								</li>
								<li class="inline-block" [class.disabled]="cropperImageForm.disabled">
									<div
										class="flex p-0"
										appDropdown
										[appDropdownPlacement]="'top'"
										[appDropdownClose]="false"
										[appDropdownActiveClassList]="['bg-base-content/10']"
									>
										<button
											class="fill-current p-3"
											type="button"
											title="Scale"
											aria-label="Scale"
											appSvgIcon
											slot="target"
											[disabled]="cropperImageForm.disabled"
											[appSvgIconIcon]="'zoom-in'"
											[appSvgIconSquare]="'1.5725em'"
										></button>
										<div class="min-w-80 sm:min-w-96 px-4" slot="content">
											<form
												class="flex rounded-box cursor-default border border-base-content/20 bg-base-100 shadow w-full p-4"
												autocomplete="off"
												[formGroup]="cropperImageForm"
											>
												@if (cropperImageForm.get("scale"); as scale) {
													<fieldset class="form-control w-full">
														<label class="label w-full gap-4 p-0">
															<span class="label-text">Scale</span>
															<input
																class="range range-success range-md flex-1"
																type="range"
																title="Scale range"
																aria-label="Scale range"
																formControlName="scale"
																[min]="1"
																[max]="5"
																[step]="0.1"
																[value]="scale.value"
															/>
															<input
																class="input-bordered input input-sm w-14 text-center"
																type="number"
																title="Scale value"
																aria-label="Scale value"
																inputmode="numeric"
																formControlName="scale"
																[class.input-success]="scale.valid"
																[class.input-error]="scale.invalid"
																[value]="scale.value"
															/>
														</label>
													</fieldset>
												}
											</form>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<button
							class="btn-ghost w-12 h-12 btn-square btn bg-base-200 fill-current text-base-content"
							type="button"
							title="Reset transform"
							aria-label="Reset transform"
							appSvgIcon
							[disabled]="cropperImageForm.disabled"
							[appSvgIconIcon]="'arrow-repeat'"
							[appSvgIconSquare]="'1.5em'"
							(click)="onCropperTransformReset()"
						></button>
					</div>
					<div class="flex flex-col gap-4">
						<button
							class="btn btn-success w-full"
							type="button"
							title="Submit crop"
							aria-label="Submit crop"
							[disabled]="cropperImageForm.disabled"
							(click)="onSubmitCropper()"
						>
							@if (cropperImageForm.disabled) {
								<span class="loading loading-spinner"></span>
							}
							Submit
						</button>
						<button
							class="btn btn-error btn-outline w-full"
							type="button"
							title="Cancel crop"
							aria-label="Cancel crop"
							[disabled]="cropperImageForm.disabled"
							(click)="onResetCropper()"
						>
							Cancel
						</button>
					</div>
				</div>
			</div>
		</div>
	</dialog>
</ng-container>
