<div class="bg-primary-3 text-secondary-1 border border-primary-4 rounded-md p-4">
	<h1 class="text-2xl text-secondary-1 font-medium">{{statusCode}}</h1>
	<span class="block text-secondary-2">{{message}}</span>
  <hr class="border-primary-4 w-full my-4">
  <p class="text-secondary-1">You faced with exception, if you want you can provide a <a class="text-info-1 hover:underline" [routerLink]="['/']" aria-label="issue">issue</a> or go <a class="text-info-1 hover:underline" [routerLink]="['/']" aria-label="home">home</a></p>
</div>
