<!-- @format -->

<ng-container>
	<div class="flex flex-col space-y-4 md:space-y-8">
		<div class="flex flex-col">
			<nav class="block px-4">
				<ul
					class="tabs w-full translate-y-px flex-nowrap space-x-1 overflow-auto rounded-t-lg"
					#scrollRoot
				>
					<li
						class="tab tab-lifted tab-lg !px-0"
						*ngFor="let link of ['Account', 'Interface', 'Security']"
						[ngClass]="routerLinkActive.isActive ? 'tab-active' : 'bg-base-200'"
					>
						<a
							class="block px-4"
							appScrollIntoView
							#routerLinkActive="routerLinkActive"
							[appRoot]="scrollRoot"
							[appActive]="routerLinkActive.isActive"
							[routerLink]="link.toLowerCase()"
							[routerLinkActive]="''"
							[queryParamsHandling]="'preserve'"
							[attr.aria-label]="link"
						>
							{{ link }}
						</a>
					</li>
				</ul>
			</nav>
			<section
				class="rounded-box border border-base-content/20 bg-base-100 p-4 shadow-xl"
			>
				<div class="rounded-box bg-base-200 p-4">
					<router-outlet></router-outlet>
				</div>
			</section>
		</div>
	</div>
</ng-container>
