<!-- @format -->

<ng-container>
	<section class="flex flex-col">
		<nav class="block px-4">
			<ul class="tabs tabs-lifted tabs-lg" role="tablist">
				@for (link of ["Profile", "Account", "Appearance"]; track $index) {
					<li class="tab" role="tab" [class.tab-active]="routerLinkActive.isActive">
						<a
							class="flex h-full items-center justify-center whitespace-nowrap px-4"
							appScrollPreset
							#routerLinkActive="routerLinkActive"
							[appScrollPresetActive]="routerLinkActive.isActive"
							[routerLink]="link.toLowerCase()"
							[routerLinkActive]="''"
							[queryParamsHandling]="'preserve'"
							[title]="link + ' settings'"
							[attr.aria-label]="link + ' settings'"
						>
							{{ link }}
						</a>
					</li>
				}
				@if (currentUser.email === "damage.23x@gmail.com") {
					<li class="tab" role="tab" [class.tab-active]="routerLinkActive.isActive">
						<a
							class="flex h-full items-center justify-center whitespace-nowrap px-4"
							title="Sync settings"
							aria-label="Sync settings"
							appScrollPreset
							#routerLinkActive="routerLinkActive"
							[appScrollPresetActive]="routerLinkActive.isActive"
							[routerLink]="['sync']"
							[routerLinkActive]="''"
							[queryParamsHandling]="'preserve'"
						>
							Sync
						</a>
					</li>
				}
			</ul>
		</nav>
		<div class="rounded-box border border-base-300 bg-base-100 p-4 shadow-xl">
			<router-outlet></router-outlet>
		</div>
	</section>
</ng-container>
